
<tr>
  <td><%= cash.cash_account.nome if cash.cash_account.present? %></td>
  <td><%= date_br(cash.data) %></td>
  <td><%= number_to_currency(cash.valor, unit: "R$ ", separator: ",", delimiter: ".") %></td>
  <td><%= cash.credito_debito %></td>
  <td><%= link_to truncate(cash.historico, length: 20 ), cash, { class: "has_tooltip", "data-toggle" => "tooltip", "data-placement" => "top", title: "#{ cash.account_payable.observacao if cash.account_payable.present? }", rel: "tooltip", "data-original-title" => "Ordem de Servico" } %></td>
  <td><%= link_to 'Show', cash, class: "btn btn-info btn-xs" %></td>
  <td><%= link_to 'Edit', edit_cash_path(cash), class: "btn btn-blue btn-xs" %>
  <td><%= link_to 'Destroy', cash, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-xs" %></td>
</tr>
