<%= form_for(@cash) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :cash_account_id, "Conta" %><br>
    <%= f.select(:cash_account_id, CashAccount.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :data %><br>
    <% if @cash.new_record? %>
      <%= f.text_field :data, class: "form-control data" %>
    <% else %>
      <%= f.text_field :data, class: "form-control data", value: date_br(@cash.data) %>
    <% end %>
  </div>  
  <div class="form-group">
    <%= f.label :valor %><br>
    <%= f.text_field :valor, class: "form-control money2" %>
  </div>
  <div class="form-group">
    <%= f.label :tipo  %>
    <%= f.select( :tipo, select_credito_debito, {include_blank: "Selecione Crédito/Débito"}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :historic_id %><br>
    <%= f.select(:historic_id, Historic.order(:descricao).collect {|c| [c.descricao, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>
    <div class="form-group">
    <%= f.label :payment_method_id %><br>
    <%= f.select(:payment_method_id, PaymentMethod.order(:descricao).collect {|c| [c.descricao, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :cost_center_id, "Centro de Custo" %>
    <%= f.select(:cost_center_id, CostCenter.order(:descricao).collect {|c| [c.descricao, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :sub_cost_center_id, "Sub Centro de Custo" %>
    <% if @cash.cost_center_id.present? %>
      <%= f.collection_select :sub_cost_center_id, sub_center(@cash.cost_center_id), :id, :descricao, {prompt: "SELECIONE SUB CENTRO DE CUSTO"}, {class: "form-control"} %>
    <% else %>
      <%= f.collection_select :sub_cost_center_id, [], :id, :descricao,  {prompt: "SELECT PRIMEIRO CENTRO DE CUSTO"}, {class: "form-control"}  %>
    <% end %>
  </div>

 <div class="form-group">
    <%= f.label :sub_cost_center_three_id, "Sub Centro de Custo Nivel 3" %>
    <% if @cash.cost_center_id.present? %>
      <%= f.collection_select :sub_cost_center_three_id, sub_center_there(@cash.cost_center_id, @cash.sub_cost_center_id), :id, :descricao, {prompt: "SELECIONE SUB CENTRO CUSTO NIVEL 3"}, {class: "form-control"} %>
    <% else %>
      <%= f.collection_select :sub_cost_center_three_id, [], :id, :descricao,  {prompt: "SELECT PRIMEIRO SUB CENTRO DE CUSTO"}, {class: "form-control"}  %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Exibir",  cash_path(@cash), class: "btn btn-info" if !@cash.new_record? %>
    <%= link_to "Listar Todos", cashes_path, class: "btn btn-default" %>
  </div>
<% end %>
<!-- 
<script type="text/javascript">
  $(document).ready(function() {
   $("#cash_cost_center_id").change(function() {
      getSubCostCenter("cost_center_id="+$("#cash_cost_center_id").val());
    });
  });
  function getSubCostCenter(cost_center_id) {
    $.getJSON("/sub_centro_custo_by_custo", cost_center_id, function(j) {
      var options = '<option value="">SELECT SUB COST CENTER</option>';
      $.each(j.sub, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
      });
      $("#cash_sub_cost_center_id").html(options);
    });
  }
</script>
 -->
<script type="text/javascript">
  $(function(){
    $("#cash_cost_center_id").change(function(){
      var cost_center = "cost_center_id="+$(this).val();
      console.log(cost_center);
      $.getJSON('/sub_centro_custo_by_custo', cost_center, function(data){
        var options = '<option value="">SELECIONE SUB CENTRO CUSTO</option>'; 
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#cash_sub_cost_center_id").html(options);
      });
    });
  });
</script>

<script type="text/javascript">
  $(function(){
    $("#cash_sub_cost_center_id").change(function(){
      var cost_center = $("#cash_cost_center_id").val();
      var sub_cost_center = $(this).val();
      var cost_and_sub_cost = {'cost_center_id': cost_center, 'sub_cost_center_id': sub_cost_center}
      //var myLoc = { 'lat': 35, 'lon': -110 };
      console.log(cost_and_sub_cost);
      $.getJSON('/sub_centro_custo_three_by_custo', cost_and_sub_cost, function(data){
        var options = '<option value="">SELECIONE SUB CENTRO CUSTO NIVEL 3</option>'; 
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#cash_sub_cost_center_three_id").html(options);
      });
    });
  });
</script>

