<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEleven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Pesquisar
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel-body">

      <%= render "form_search" %>

    </div>
  </div>

</div>


<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFour">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Saldo Caixa
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <%= render 'cash_accounts/header' %>
          </thead>

          <tbody>
            <% @cash_accounts.each do |cash_account| %>
              <%= render "cash_accounts/list", object: cash_account %>
            <% end %>
          </tbody>
        </table>
      </div>    
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Listagem do Caixa</div>
  <div class="panel-body">

    <%= link_to 'Novo Lançamento Caixa', new_cash_path, class: "btn btn-blue btn-sm btn-block" %>
    <div class="table-responsive">
      
        <div id="result_cash">

        <table class="table table-striped">
          <thead>
            <%= render 'cash_header' %>

          </thead>

          <tbody>
            <%= render @cashes %>
          </tbody>

        </table>
      </div>

    </div>    
  </div>
</div>

 <script type="text/javascript">
//   $(document).ready(function() {
//     $('.has_tooltip').tooltip();
//   });
 </script>

