
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Conta:</strong>
      <%= @cash.cash_account.nome %> - <strong>Saldo:</strong><%= @cash.cash_account.saldo %>
    </p>
    <p>
      <strong>Data:</strong>
      <%= date_br @cash.data %>
    </p>

    <p>
      <strong>Valor:</strong>
      <%= number_to_currency(@cash.valor, unit: "R$ ", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= @cash.credito_debito %>
    </p>

    <p>
      <strong>Payment method:</strong>
      <%= @cash.payment_method.descricao %>
    </p>

    <p>
      <strong>Cost center:</strong>
      <%= @cash.cost_center.descricao %>
    </p>

    <p>
      <strong>Sub cost center:</strong>
      <%= @cash.sub_cost_center.descricao %>
    </p>
    
    <p>
      <strong>Sub Centro de Custo Nivel 3:</strong>
      <%= @cash.sub_cost_center_three.descricao if @cash.sub_cost_center_three.present?%>
    </p>

    <p>
      <strong>Historic:</strong>
      <%= @cash.historico %>
    </p>
  </div>
</div>


<div class="form-group">
  <%= link_to 'Editar', edit_cash_path(@cash), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', cashes_path , class: "btn btn-default" %>
  <%= link_to 'Novo', new_cash_path, class: "btn btn-success" %>
</div>

