<div class="list">
  <%= show_line_build link_to("#{ object.nome }", object), "Nome" %>
  <%= show_line_build object.cnpj, "CPF/CNPJ" %>
  <%= show_line_build "#{object.endereco}, #{object.numero}", "Endereco" %>
  <%= show_line_build object.complemento, "Complemento" %>
  <%= show_line_build object.bairro, "Bairro" %>
  <%= show_line_build object.cidade, "Cidade" %>
</div>
	     
