<%= form_for(@carrier) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :cnpj %>
    <%= f.text_field :cnpj, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fantasia %>
    <%= f.text_field :fantasia, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :inscricao_estadual %>
    <%= f.text_field :inscricao_estadual, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :inscricao_municipal %>
    <%= f.text_field :inscricao_municipal, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :endereco %>
    <%= f.text_field :endereco, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :numero %>
    <%= f.text_field :numero, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :complemento %>
    <%= f.text_field :complemento, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bairro %>
    <%= f.text_field :bairro, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cidade %>
    <%= f.text_field :cidade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado  %>
    <%= f.select( :estado, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :cep %>
    <%= f.text_field :cep, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :obs, "Observação" %>
    <%= f.text_area :obs, class: "form-control"  %>
  </div>

  <h2>Contatos</h2>
  <div id="phones">
    <div class="items">
      <%= f.nested_fields_for :contacts do |f| 
        render 'shared/contact', f: f
      end -%>
    </div>
    <a href="#" class="add">add contact</a>
  </div>

  <h2>E-mail</h2>
  <div id="emails">
    <div class="items">
      <%= f.nested_fields_for :emails do |f| 
        render 'shared/email', f: f
      end -%>
    </div>
    <a href="#" class="add">add e-mail</a>
  </div>

  <h2>Contas Bancarias</h2>
  <div id="accounts">
    <div class="items">
      <%= f.nested_fields_for :account_banks do |f| %>
        <%= render "shared/form_account_bank", f: f %> 
      <% end %>
    </div>
    <a href="#" class="add">add account bank</a>
  </div>  

  <h2>Documentos</h2> 
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f| 
        render 'shared/asset', f: f
      end  -%>
    </div>
    <a href="#" class="add">add documento</a>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Exibir",  carriers_path(@carrier), class: "btn btn-info" if !@carrier.new_record? %>
    <%= link_to "Listar Todos", carriers_path, class: "btn btn-default" %>
  </div>
<% end %>
