<p>
  <strong>Cnpj:</strong>
  <%= @carrier.cnpj %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @carrier.nome %>
</p>

<p>
  <strong>Fantasia:</strong>
  <%= @carrier.fantasia %>
</p>

<p>
  <strong>Inscricao estadual:</strong>
  <%= @carrier.inscricao_estadual %>
</p>

<p>
  <strong>Instricao municipal:</strong>
  <%= @carrier.inscricao_municipal %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @carrier.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @carrier.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @carrier.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @carrier.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @carrier.cidade %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @carrier.cep %>
</p>

<p>
  <strong>ANTT - CRNTRC : </strong>
  <%= @carrier.antt %>
</p>

<p>
  <strong>ANTT - Categoria : </strong>
  <%= @carrier.antt_categoria %>
</p>

<p>
  <strong>Transportadora é cliente? : </strong>
  <%= extenso_boolean @carrier.partner %>
</p>

<p>
  <strong>Companhia é aérea? : </strong>
  <%= extenso_boolean @carrier.aereo %>
</p>


<p>
  <strong>Observação:</strong>
  <pre><%= @carrier.obs %></pre>
</p>

<%= render 'shared/show_contacts', object: @carrier %>

<%= render 'shared/show_emails', object: @carrier %>

<%= render 'shared/show_account_bank', object: @carrier %>

<%= render 'shared/document', object: @carrier %>

<div class="form-group">
  <%= link_to 'Editar', edit_carrier_path(@carrier), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', carriers_path, class: "btn btn-default" %>
  <%= link_to 'Credenciados', carrier_carrier_credentials_path(@carrier), class: "btn btn-default" %>

</div>
