<%= form_for ([ @micro_region, MicroRegionsCity.new ]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= label_tag :estado, "Estado" %>
    <%= select_tag :estado, options_from_collection_for_select(State.order(:name), :uf, :name, 'CE'), :prompt => "Selecione um estado", class: "form-control" %>

  </div>

  <div class="form-group">
    <%= f.label :city_id, "Cidade" %>
    <%= f.collection_select :city_id, city_of_state('CE'), :id, :name, {prompt: "SELECIONE CIDADE"}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
  </div>

<% end %>

<script type="text/javascript">
  $(function(){
    $("#estado").change(function(){
      var uf = "uf="+$(this).val();
      console.log(uf);
      $.getJSON('/get_city_by_uf', uf, function(data){
        var options = '<option value="">Selecione a cidade de origem</option>'; 
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#micro_regions_city_city_id").html(options);
      });
    });
  });
</script>
