<tr>
  <td><%= table_icms.state_source %></td>
  <td><%= table_icms.state_target %></td>
  <td><%= table_icms.aliquot %></td>
  <td><%= link_to 'Show', table_icms, class: "btn btn-info btn-xs" %></td>
  <td><%= link_to 'Edit', edit_table_icm_path(table_icms), class: "btn btn-blue btn-xs" %></td>
  <td><%= link_to 'Destroy', table_icms, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
</tr>
