<p id="notice"><%= notice %></p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Tabela ICMS
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="panel panel-default">

					<p>
					  <strong>State source:</strong>
					  <%= @table_icms.state_source %>
					</p>

					<p>
					  <strong>State target:</strong>
					  <%= @table_icms.state_target %>
					</p>

					<p>
					  <strong>Aliquot:</strong>
					  <%= @table_icms.aliquot %>
					</p>

        </div>
      </div>
    </div>
  </div>

</div>



<%= link_to 'Editar', edit_table_icm_path(@table_icms), class: "btn btn-primary" %>
<%= link_to 'Listar Todos', table_icms_path, class: "btn btn-default" %>
