
<p>
  <strong>Solicitante:</strong>
  <%= @task.requester.nome if @task.requester.present? %>
</p>
<p>
  <strong>Solicitado:</strong>
  <%= @task.employee.nome if @task.employee.present? %>
</p>

<p>
  <strong>Nome da Tarefa:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Detalhe da Tarefa:</strong>
  <pre><%= @task.body %></pre>
</p>

<p>
  <strong>Data Início:</strong>
  <%= @task.start_date.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Data Final:</strong>
  <%= @task.finish_date.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Data Termino:</strong>
  <%= @task.date_finalization.strftime('%d/%m/%Y') if @task.date_finalization.present? %>
</p>

<p>
  <strong>Horas alocadas no primeiro mês:</strong>
  <%= @task.time_first %>
</p>

<p>
  <strong>Está alocado em um só mês?:</strong>
  <%= @task.allocated_and_observation %>
</p>

<p>
  <strong>Second time:</strong>
  <%= @task.second_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status_name  %>
</p>

<p>
  <strong>Observation:</strong>
  <pre><%= @task.observation %></pre>
</p>