<p style="margin-bottom: 20px;"><%= icon_status_boarding(input_control.status) %> <i><%= date_br (input_control.date_scheduled) %> <%= time_br (input_control.time_scheduled) %> - <small><%= input_control.status_name %></small></i></p>

<%= render 'static_pages/oper_input_control', input_control: input_control %>


<p><strong>Container: </strong><%= input_control.container %></p>
<p><strong>Carga Palletizada: </strong><%= input_control.palletized_status %></p>
<p><strong>Entraga Palletizada: </strong><%= extenso_integer input_control.charge_type_delivery %></p>
<p><strong>Pgto Descarga: </strong><%= input_control.account_receivable.status_name if input_control.account_receivable.present? %></p>
