<div class="text-center">
	<h1>Calcular Frete</h1>
</div>



<%#= form_tag( :html => {id: "form_calculate_liquidy", class: "form_calculate_liquidy" }) do %>
<%= form_tag(nil, {class: 'form_calculate_liquidy'}) do %>

	<div class="panel panel-default">
	  <div class="panel-heading">Liquidez por tarifa</div>
	  <div class="panel-body">

    <div class="form-group">
      <%= label_tag :type_charge_id, "Tipo de Carga"  %>
      <%= select_tag :type_charge_id, options_for_select(select_type_charge_freight, TableFreight::TypeCharge::CARGA_GERAL), class: "form-control", onfocusout:"getFreightMinimum();" %>
    </div>      

    <div class="form-group">
      <%= label_tag :qtde_eixos, "Qtde de Eixos" %>
      <%= select_tag :qtde_eixos, options_for_select(select_eixos, 5), class: "form-control", onfocusout:"getFreightMinimum(); " %>
    </div>

    <div class="form-group">
      <%= label_tag :trecho_id, "Trecho" %>
      <%#= select_tag :trecho_id, options_from_collection_for_select(StretchRoute.all, :id, :stretch_source_and_target_short), :prompt => "Selecione o Trecho", class: "form-control" %>
      <%= select_tag :trecho_id, options_from_collection_for_select(StretchRoute.order(:id), :id, :stretch_source_and_target_short, StretchRoute.order(:id).first.id), class: "form-control", onfocusout:"getFreightMinimum();" %>
    </div>

    <div class="form-group">
      <%= label_tag :insurer_id, "Seguradora" %>
      <%= select_tag :insurer_id, options_from_collection_for_select(Insurer.order(:name), :id, :name, Insurer.order(:name).first.id), class: "form-control", onfocusout:"getFreightMinimum();" %>
    </div>

    <div class="form-group">
      <%= label_tag :type_insurance_id, "Tipo de Seguro"  %>
      <%= select_tag :type_insurance_id, options_for_select(select_type_policie, PolicieInsurance::TypePolicie::RCTRC), class: "form-control", onfocusout:"getFreightMinimum();" %>
    </div>      

    <div class="form-group">
      <%= label_tag :add_icms_value_frete, "Adição de ICMS ao valor do frete"  %>
      <%= select_tag :add_icms_value_frete, options_for_select(select_add_icms_value_frete, ClientTablePrice::AddIcmsValueFete::SIM), class: "form-control", onfocusout:"getFreightMinimum();" %>
    </div>      

	  <div class="form-group">
	    <%= label_tag :value_invoice, "Valor Nota Fiscal" %>
	    <%= text_field :value_invoice, nil, value: 0, class: "form-control money2", id: 'value_invoice', onfocusout:"getFreightMinimum();" %>
	  </div>

	  <div class="form-group">
	    <%= label_tag :weight, "Peso Bruto" %>
	    <%= text_field :weight, nil, value: 0, class: "form-control money3", id: 'weight', onfocusout:"getFreightMinimum(); " %>
	  </div>

	  <div class="form-group">
	    <%= label_tag :value_ton, "Valor por Tonelada" %>
	    <%= text_field :value_ton, nil, value: 0, class: "form-control money2", id: 'value_ton', onfocusout:"getFreightMinimum();" %>
	  </div>

	  <div class="form-group">
	    <%= label_tag :daily_rate, "Diaria" %>
	    <%= text_field :daily_rate, nil, value: 0, class: "form-control money2", id: 'daily_rate', onfocusout:"getFreightMinimum();" %>
	  </div>

    <div class="form-group">
      <%= label_tag :risk_manager, "GR" %>
      <%= text_field :risk_manager, nil, value: 0, class: "form-control money2", id: 'risk_manager', onfocusout:"getFreightMinimum();" %>
    </div>

    <div class="form-group">
      <%= label_tag :toll, "Pedagio" %>
      <%= text_field :toll, nil, value: 0, class: "form-control money2", id: 'toll', onfocusout:"getFreightMinimum();" %>
    </div>

    <div class="form-group">
      <%= label_tag :quantity_cars, "Qte de Carros para puxada" %>
      <%= text_field :quantity_cars, nil, value: 1, class: "form-control money2", id: 'quantity_cars', onfocusout:"getFreightMinimum();" %>
    </div>

    <div class="form-group">
      <%= label_tag :number_days, "Dias para o Emprestimo " %>
      <%= text_field :number_days, nil, value: 30, class: "form-control money2", id: 'qtde_dias', onfocusout:"getFreightMinimum();" %>
    </div>

    <div class="form-group">
      <%= label_tag :perc_advance, "Empréstimo %" %>
      <%= text_field :perc_advance, nil, value: 2, class: "form-control money2", id: 'perc_advance', onfocusout:"getFreightMinimum();" %>
    </div>

    <div class="form-group">
      <%= label_tag :select_seller_commission, "Calcular o valor da comissao"  %>
      <%= select_tag :select_seller_commission, options_for_select(select_seller_commission, TableFreight::TypeSellerCommission::FREIGHT), class: "form-control", onfocusout:"getFreightMinimum();" %>
    </div>      

    <div class="form-group">
      <%= label_tag :perc_seller_commission, "Comissão do Vendedor %" %>
      <%= text_field :perc_seller_commission, nil, value: to_real(1.50), class: "form-control money2", id: 'perc_seller_commission', onfocusout:"getFreightMinimum();" %>
    </div>

    <div class="form-group">
      <%= label_tag :lucre, "Lucro %" %>
      <%= text_field :lucre, nil, value: 0, class: "form-control money2", id: 'lucre', onfocusout:"getFreightMinimum();" %>
    </div>


	</div>

<% end %>

<div id="div_freight_minimal"></div>    


<script type="text/javascript">
  $(document).ready(function() {
   $("#trecho_id").change(function() {
      var id = $('#trecho_id').val();
      console.log(id);
      $.ajax({
        type: "GET",
        data: {id: id},
        dataType : 'html',
        url: '/stretch_routes/get_stretch_route_by_id',
        success: function(data){
          $('#div_result_trecho').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#trecho_id, #type_charge_id").change(function() {
      getFreightMinimum();
    });
  });
</script>

<script type="text/javascript">

  Number.prototype.formatMoney = function(c, d, t){
  var n = this, 
      c = isNaN(c = Math.abs(c)) ? 2 : c, 
      d = d == undefined ? "." : d, 
      t = t == undefined ? "," : t, 
      s = n < 0 ? "-" : "", 
      i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
      j = (j = i.length) > 3 ? j % 3 : 0;
     return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
   };

  function getFreightMinimum() {
    var value_nf   = $('#value_invoice').val();
    var weight     = $('#weight').val();
    var value_ton  = $('#value_ton').val();
    var eixos      = $('#qtde_eixos').val(); 
    var daily_rate = $('#daily_rate').val();
    var risk_manager   = $('#risk_manager').val();
    var lucre          = $('#lucre').val();
    var toll           = $('#toll').val();
    var trecho_id      = $('#trecho_id').val();
    var type_charge_id = $('#type_charge_id').val();
    var insurer_id     = $('#insurer_id').val();
    var add_icms_value_frete = $('#add_icms_value_frete').val();
    var quantity_cars = $('#quantity_cars').val();
    var qtde_dias = $('#number_days').val();
    var advance = $('#advance').val();

    if ((trecho_id != "") && (type_charge_id != "")) {
      $.ajax({
        type: "GET",
        //data: {value_nf: value_nf, weight: weight, value_ton: value_ton, trecho_id: trecho_id, type_charge_id: type_charge_id, daily_rate: daily_rate, eixos: eixos, insurer_id: insurer_id, daily_rate: daily_rate, risk_manager: risk_manager, toll: toll, lucre: lucre, add_icms_value_frete: add_icms_value_frete, quantity_cars: quantity_cars, qtde_dias: qtde_dias, advance: advance},
        data: $(".form_calculate_liquidy").serialize(),        
        dataType : 'html',
        url: '/table_freights/get_calc_freight_minimum',
        success: function(data){
          $('#div_freight_minimal').html(data);
        },
        error: function(data, jqXHR, textStatus, errorThrown){
          $('#div_freight_minimal').empty("");
          $('#div_freight_minimal').html("<div class='alert alert-error'>Erro ao calcular o calculo do frete.</div>");
        },

      });
    }
  }

// success: (data, text, jqXHR) ->
//           Materialize.toast('Membro removido', 4000, 'green')
//           $('#member_' + e.currentTarget.id).remove()
//         error: (jqXHR, textStatus, errorThrown) ->
//           Materialize.toast('Problema na remoção de membro', 4000, 'red')


  // function calculateFreight() {
  //   var valor_nf = $("#valor_nota_fiscal").val();
  //   var peso_bruto = $("#peso_bruto").val();
  //   var vr_tonelada = $("#valor_tonelada").val();
  //   var vr_descarga = $("#valor_descarga").val();
  //   var vr_ton = vr_tonelada / 1000;
  //   var value_service = peso_bruto * vr_ton + parseFloat(vr_descarga);
    
  //   //document.getElementById('valor_total').value = 'R$ ' + sum.formatMoney(2, ',', '.');
  //   $("#div_value_contract").html("<strong>Vr. Contrato:</strong> R$ " + value_service.formatMoney(2, ',', '.'));
  // }
</script>