<div class="text-center">
	<h1>Calcular Frete</h1>
</div>



<%= form_tag( id: "form_calculate_liquidoty", :html => { }) do %>

	<div class="panel panel-default">
	  <div class="panel-heading">Liquidez por tarifa</div>
	  <div class="panel-body">

	  <div class="form-group">
	    <%= label_tag :valor_nota_fiscal %>
	    <%= text_field :valor_nota_fiscal, nil, class: "form-control money2", id: 'valor_nota_fiscal' %>
	  </div>

	  <div class="form-group">
	    <%= label_tag :peso_bruto %>
	    <%= text_field :peso_bruto, nil, class: "form-control money2", id: 'peso_bruto' %>
	  </div>

	  <div class="form-group">
	    <%= label_tag :valor_tonelada, "Valor por Tonelada" %>
	    <%= text_field :valor_tonelada, nil, class: "form-control money2", id: 'valor_tonelada' %>
	  </div>

	  <div class="form-group">
	    <%= label_tag :type_charge_id, "Tipo de Carga"  %>
	    <%= select_tag :type_charge_id, options_for_select(select_type_charge_freight, nil), :prompt => "Selecione o Tipo de Carga", class: "form-control" %>
	  </div>  	  

	  <div class="form-group">
	    <%= label_tag :qtde_eixos, "Qtde de Eixos" %>
	    <%= text_field :qtde_eixos, nil, class: "form-control", id: 'qtde_eixos' %>
	  </div>

	  <div class="form-group">
	    <%= label_tag :valor_descarga, "Valor da Descarga" %>
	    <%= text_field :valor_descarga, nil, class: "form-control money2", id: 'valor_descarga' %>
	  </div>

	  <div class="form-group">
	    <%= label_tag :trecho_id, "Trecho" %>
	    <%= select_tag :trecho_id, options_from_collection_for_select(StretchRoute.all, :id, :stretch_source_and_target_short), :prompt => "Selecione o Trecho", class: "form-control" %>
	  </div>

	  <div id="div_result_trecho">

	  </div>

    <div id="div_freight_minimal">

    </div>    

    <div id="div_value_contract">

    </div>    

	</div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
   $("#trecho_id").change(function() {
      var id = $('#trecho_id').val();
      console.log(id);
      $.ajax({
        type: "GET",
        data: {id: id},
        dataType : 'html',
        url: '/stretch_routes/get_stretch_route_by_id',
        success: function(data){
          $('#div_result_trecho').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#trecho_id").change(function() {
      var trecho_id = $('#trecho_id').val();
      var type_charge_id = $('#type_charge_id').val();
      var eixos = $('#qtde_eixos').val();
      console.log(trecho_id);
      console.log(type_charge_id);
      console.log(eixos);
      $.ajax({
        type: "GET",
        data: {trecho_id: trecho_id, type_charge_id: type_charge_id, eixos: eixos},
        dataType : 'html',
        url: '/table_freights/get_calc_freight_minimum',
        success: function(data){
          $('#div_freight_minimal').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(function(){
    $("#valor_descarga").focusout(function(){
      var valor_nf = $("#valor_nota_fiscal").val();
      var peso_bruto = $("#peso_bruto").val();
      var valor_tonelada = $("#valor_tonelada").val();
      var vr_ton = valor_tonelada / 1000
      var value_service = peso_bruto * vr_ton;

      console.log("VrNf:" + valor_nf);
      console.log("Peso:" + peso_bruto);
      console.log("VrTon:" + vr_ton);
      console.log("ValueService:" + value_service);
      $("#div_value_contract").html("<strong>Vr. Contrato:</strong> " + value_service);

      });
    });
  //});
</script>