<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-b-15 ">
    <div style="color: rgba(0, 0, 0, 0.87); background-color: rgb(255, 255, 255); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; box-sizing: border-box; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; border-radius: 2px;">
      <span style="float: left; height: 90px; width: 90px; text-align: center; background-color: rgb(216, 27, 96);">
        <svg viewBox="0 0 24 24" style="display: inline-block; color: rgba(0, 0, 0, 0.87); fill: rgb(255, 255, 255); height: 48px; width: 48px; user-select: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; margin-top: 20px; max-width: 100%;">
          <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z">
          </path>
        </svg>
      </span>

      <div style="padding: 5px 10px; margin-left: 90px; height: 80px;">
        <span style="font-size: 20px; font-weight: 300 bold; color: rgb(66, 66, 66);">
          <%= link_to "Entradas", oper_input_controls_path %>
        </span>
        <span style="display: block; font-weight: 500; font-size: 30px; color: rgb(66, 66, 66);">

          <span class="green-text">
            <%= InputControl.received.count %>
          </span>
          |
          <span class="blue-text">
            <%= InputControl.received.count %>
          </span>
          |
          <span class="red-text">
            <%= InputControl.the_day.count %>
          </span>
          |
          <span class="deep-orange-text text-lighten-2">
            <%= InputControl.pending.count %>
          </span>

        </span>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-b-15 ">
    <div style="color: rgba(0, 0, 0, 0.87); background-color: rgb(255, 255, 255); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; box-sizing: border-box; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; border-radius: 2px;">
      <span style="float: left; height: 90px; width: 90px; text-align: center; background-color: rgb(142, 36, 170);">
        <svg viewBox="0 0 24 24" style="display: inline-block; color: rgba(0, 0, 0, 0.87); fill: rgb(255, 255, 255); height: 48px; width: 48px; user-select: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; margin-top: 20px; max-width: 100%;">
          <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4z">
          </path>
        </svg>
      </span>
      <div style="padding: 5px 10px; margin-left: 90px; height: 80px;">
        <span style="font-size: 20px; font-weight: 300 bold; color: rgb(66, 66, 66);">
          <%= link_to "Embarques", oper_boardings_path %>
        </span>
        <span style="display: block; font-weight: 500; font-size: 30px; color: rgb(66, 66, 66);">

          <span class="green-text">
            <%= Boarding.the_day.status_boarding.count %>
          </span>
          |
          <span class="red-text">
            <%= Boarding.the_day.count %>
          </span>

        </span>
      </div>
    </div>
  </div>
</div>

<%#= InputControl.received.count %>
<%#= InputControl.the_day.count %>
<%#= InputControl.pending.count %>

<%#= Boarding.the_day.status_boarding.count %>
<%#= Boarding.the_day.count %>              
