<!-- dashboard -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
<!--  Entradas -->
<div class="row dashboards">
  <div class="col-md-12">
    <%= render partial: 'static_pages/dashboard_sup/next_ordem_services' %>
  </div>
</div>
<div class="row dashboards" style="margin-top:15px;">
  <div class="col-md-6">
    <div class="card">
      <h3 class="text-center">Entradas</h3>
      <div id="input" class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h1 class="total"><span class="counter_number" data-init="0" data-end="<%= InputControl.available_supervisor.count %>"></span></h1>
            <canvas id="inputChart" width="400" height="400"></canvas>
          </div>

          <div class="col-md-6">
            <div class="legend">
              <p><%= image_tag "square.svg", size:"15x15" %><big><%= InputControl.opened.count %></big> abertos</p>
              <p><%= image_tag "triangle.svg", size:"15x15" %><big><%= InputControl.discharge.count %></big> descarregandos</p>
              <p><%= image_tag "circle.svg", size:"15x15" %><big><%= InputControl.received.count %></big> recebidos</p>
            </div>
            <%= link_to "Detalhes", sup_input_controls_path, class: "btn btn-info text-info" %>
          </div>
        </div>

      </div>
      <small>Atualizado hoje <%= date_br(Date.today) %> as <%= time_br(Time.now) %></small>
    </div>
  </div>

  <div class="col-md-6">
    <div id="boarding" class="card">
      <h3 class="text-center">Embarques</h3>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h1 class="total"><span class="counter_number" data-init="0" data-end="<%= Boarding.the_day.count %>"></span></h1>
            <canvas id="boardingChart" width="400" height="400"></canvas>
          </div>

          <div class="col-md-6">
            <div class="legend">
              <p><%= image_tag "square.svg", size:"15x15" %><big><%= Boarding.opened.count %></big> abertos</p>
              <p><%= image_tag "triangle.svg", size:"15x15" %><big><%= Boarding.loading.count %></big> iniciados</p>
              <p><%= image_tag "circle.svg", size:"15x15" %><big><%= Boarding.boarded.count %></big> embarcados</p>
            </div>
            <%= link_to "Detalhes", sup_boardings_path, class: "btn btn-info text-info" %>
          </div>
        </div>
      </div>
      <small>Atualizado hoje <%= date_br(Date.today) %> as <%= time_br(Time.now) %></small>
    </div>
  </div>
</div>


<div class="row dashboards" style="margin-top:15px;">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">Checkins de entrada</h3>
        <%= render 'checkins/sup_input_controls', checkins: @checkins_input_controls %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">Checkins de embarque</h3>
        <%= render 'checkins/sup_boardings', checkins: @checkins_boardings %>
      </div>
    </div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
// For a pie chart

  var inputChart = new Chart($('#inputChart'), {
    type: 'doughnut',
    options:{
      legend: {
        display: false
      }
    },
    data: {
        datasets: [{
            data: [<%= InputControl.opened.count %>,
                   <%= InputControl.discharge.count %>,
                   <%= InputControl.received.count %>],
            backgroundColor: ['#007bff', '#fd7e14', '#28a745']
        }],
        labels: ['Abertos', 'Iniciados', 'Recebidos'],
    }
  });

  var boardingChart = new Chart($('#boardingChart'), {
    type: 'doughnut',
    options:{
      legend: {
        display: false
      }
    },
    data: {
        datasets: [{
            data: [<%= Boarding.the_day.where(status: 0).count %>,
                   <%= Boarding.the_day.where(status: 4).count %>,
                   <%= Boarding.the_day.where(status: 1).count %>],
            backgroundColor: ['#007bff', '#fd7e14', '#28a745']
        }],
        labels: ['Aberto', 'Iniciado', 'Embarcado'],
    }
  });

$(document).ready(function(){
  counterNumber($("#boarding .counter_number"))
  counterNumber($("#input .counter_number"))
});
  // new CounterNumber("#checkins .boarding .counter_number")

</script>
