
<h3>
	<%= link_to "Embarques", dashboard_port_path %>
	<span class="badge badge-blue"><%= @boardings.count %></span>
</h3>

<ul class="list-group">
  <% @boardings.each do |boarding| %>
  <li>

    <%= render 'static_pages/oper_boarding', boarding: boarding %>
		<strong>Placas: </strong> <%= boarding.driver_checkin_palce_horse %> | 
		<%= boarding.driver_checkin_palce_cart_1 %> |
		<%= boarding.driver_checkin_palce_cart_2  %>
		
		<br />

    <%= link_to 'Inicar CheckIN', checkin_boarding_path(boarding), class: "btn btn-primary btn-xs" if !boarding.driver_checkin %>

  </li> <hr>

  <% end %>
</ul>