<ul class="list-group">
	<% @boardings.each do |boarding| %>
  <% if boarding.status == Boarding::TipoStatus::EMBARCADO %>
    <li class="list-group-item list-group-item-success">
  <% else %>
    <li class="list-group-item">
  <% end %>
    <span class="badge"><%= boarding.qtde_palets %></span>
    <strong>Embarque: </strong><%= boarding.id %><br />
    <strong>Data: </strong><%= date_br (boarding.date_boarding) %><br />
    <strong>Motorista: </strong><%= boarding.driver.nome %><br />
    <strong>Cidades: </strong> <%= boarding.get_cities %><br />
   	<%= link_to 'Confirmar Embarque', confirmed_boarding_path(boarding), class: "btn btn-primary btn-xs" if boarding.status == Boarding::TipoStatus::ABERTO %>
   	<%#= link_to 'Concluir', delivery_ordem_service_path, class: "btn btn-success" %>
  </li>
  <% end %>
</ul>
