<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
<div class="row dashboards">
  <div class="col-md-5">
    <a href="<%= oper_input_controls_path %>">
      <div class="card">
        <h2 class="text-center">ENTRADAS</h2>
        <div class="card-body">
          <h1 class="total"><%= InputControl.the_day.count %><br><small>entradas</small></h1>
          <canvas id="inputChart" width="400" height="400"></canvas>
        </div>
        <small>Atualizado hoje <%= date_br(Date.today) %></small>
      </div>
    </a>
  </div>

  <div class="col-md-5">
    <a href="<%= oper_boardings_path %>">
      <div class="card">
        <h2 class="text-center">EMBARQUES</h2>
        <div class="card-body">
          <h1 class="total"><%= Boarding.the_day.count %><br><small>embarques</small></h1>
          <canvas id="boardingChart" width="400" height="400"></canvas>
        </div>
        <small>Atualizado hoje <%= date_br(Date.today) %></small>
      </div>
    </a>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
// For a pie chart


  var ctx = $('#inputChart');
  var inputChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        datasets: [{
            data: [<%= InputControl.the_day.where({status: 0}).count %>, <%= InputControl.discharge.count %>, <%= InputControl.received.count %>],
            backgroundColor: ['#007bff', '#28a745', '#fd7e14']
        }],
        labels: ['Aberto', 'Descarregando', 'Recebido']
    }
  });

    var ctx = $('#boardingChart');
    var boardingChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          datasets: [{
              data: [<%= Boarding.the_day.where(status: 0).count %>, <%= Boarding.the_day.where(status: 4).count %>, <%= Boarding.the_day.where(status: 1).count %>],
              backgroundColor: ['#007bff', '#28a745', '#fd7e14']
          }],
          labels: ['Aberto', 'Iniciado', 'Embarcado']
      }
    });

</script>
