<div id="checkins" class="row dashboards" style="margin-bottom:15px;">
  <div class="col-md-5">
    <%= link_to sup_input_checkins_path do %>
    <div class="card input" style="background: blueviolet; color: white;">
      <div class="card-body">
        <h1>
          <big><span class="counter_number" data-init="0"  data-end="<%= Checkin.input_control.input.the_day.count %>"></span></big>
        </h1>
        <h4>Checkins de entradas</h4>
      </div>
      <small>Atualizado hoje <%= date_br(Date.today) %></small>
    </div>
    <% end %>
  </div>

  <div class="col-md-7">
    <%= link_to sup_boarding_checkins_path do %>
    <div class="card boarding" style="background: #657a94; color: white;">
      <div class="card-body">
        <h1>
          <big><span class="counter_number" data-init="0"  data-end="<%= Checkin.boarding.input.the_day.count %>"></span></big>
        </h1>
        <h4>Checkins de embarques</h4>
      </div>
      <small>Atualizado hoje <%= date_br(Date.today) %></small>
    </div>
    <% end %>
  </div>
</div>


<div id="input" class="row dashboards">
  <div class="col-md-3">
    <%= link_to sup_input_controls_path do %>
      <div class="card aberto" style="background-color: #007bff; color: white;">
        <div class="card-body">
          <h1><span class="counter_number" data-init="0"  data-end="<%= InputControl.opened.count %>"></span></h1>
          <h4>Entradas <br> abertas</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= link_to sup_input_controls_path do %>
      <div class="card descarregando" style="background-color: #fd7e14; color: white;">
        <div class="card-body">
          <h1><span class="counter_number" data-init="0"  data-end="<%= InputControl.discharge.count %>"></span></h1>
          <h4>Entradas <br>descarregando</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= link_to sup_input_controls_path do %>
      <div class="card recebido" style="background-color: #28a745; color: white;">
        <div class="card-body">
          <h1><span class="counter_number" data-init="0"  data-end="<%= InputControl.received.count %>"></span></h1>
          <h4>Entradas <br> Recebido</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>
<div id="boardings" class="row dashboards">
  <div class="col-md-3">
    <%= link_to sup_boardings_path do %>
      <div class="card aberto" style="background-color: #0051a9; color: white;">
        <div class="card-body">
          <h1><span class="counter_number" data-init="0"  data-end="<%= Boarding.opened.count %>"></span></h1>
          <h4>Embarques <br> abertas</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= link_to sup_boardings_path do %>
      <div class="card iniciado" style="background-color: #dc6909; color: white;">
        <div class="card-body">
          <h1><span class="counter_number" data-init="0"  data-end="<%= Boarding.loading.count %>"></span></h1>
          <h4>Embarques <br> Iniciado</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= link_to sup_boardings_path do %>
      <div class="card embarcado" style="background-color: #1a772f; color: white;">
        <div class="card-body">
          <h1><span class="counter_number" data-init="0"  data-end="<%= Boarding.boarded.count %>"></span></h1>
          <h4>Embarques <br> Embarcado</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>

</div>

<script>

$(document).ready(function() {

  animateNumber($("#checkins .input .counter_number"))
  animateNumber($("#checkins .boarding .counter_number"))

  animateNumber($("#input .aberto .counter_number"))
  animateNumber($("#input .descarregando .counter_number"))
  animateNumber($("#input .recebido .counter_number"))

  animateNumber($("#boardings .aberto .counter_number"))
  animateNumber($("#boardings .iniciado .counter_number"))
  animateNumber($("#boardings .embarcado .counter_number"))

});

</script>
