<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
<div class="row dashboards">
  <div class="col-md-12">
    <div class="card">
      <h3 class="text-center">Checkins</h3>
      <div id="checkin" class="card-body">
        <div class="row">
          <div class="col-md-4 col-md-offset-2">
            <h1 class="total"><span class="counter_number" data-init="0" data-end="<%= Checkin.input.the_day.count %>"></span></h1>
            <canvas id="checkinsChart" width="400" height="400"></canvas>
          </div>

          <div class="col-md-4">
            <div class="legend">
              <p>
                <%= link_to new_checkin_path(operation: Checkin.operation_types.keys.first) do %>
                  <i class="fas fa-door-open" style="color:#007bff" ></i>
                  <big><%= Checkin.input_control.input.the_day.count %></big> de entradas
                <% end %>
              </p>
              <p>
                <%= link_to new_checkin_path(operation: Checkin.operation_types.keys.second) do %>
                  <i class="fas fa-external-link-alt" style="color:#fd7e14"></i>
                  <big><%= Checkin.boarding.input.the_day.count %></big> de embaques
                <% end %>
              </p>
            </div>
            <div style="margin-top: 35px;">
              <%= link_to new_checkin_path(operation: Checkin.operation_types.keys.first), class: "btn btn-primary btn-block btn-lg" do %>
                <i class='fas fa-plus-circle'></i> nova entrada
              <% end %>
            </div>
            <div style="margin-top: 15px;">
              <%= link_to new_checkin_path(operation: Checkin.operation_types.keys.second), class: "btn btn-warning btn-block btn-lg" do %>
                <i class='fas fa-plus-circle'></i> novo embarque
              <% end %>
            </div>
          </div>
        </div>

      </div>
      <small>Atualizado hoje <%= date_br(Date.today) %></small>
    </div>
  </div>
</div>


  <div class="row dashboards">
    <div class="col-md-6">
      <div class="card" style="margin-top:15px">
        <div class="card-body">
          <h3 class="text-center">Checkins de entradas</h3>
          <%= render 'checkins/port_input_controls', checkins: @checkins_input_controls %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="margin-top:15px">
        <div class="card-body">
          <h3 class="text-center">Checkins de embarque</h3>
          <%= render 'checkins/port_boarding', checkins: @checkins_boardings %>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script>
  // For a pie chart

    var inputChart = new Chart($('#checkinsChart'), {
      type: 'doughnut',
      options: {
        legend: {
          display: false
        },
      },
      data: {
          datasets: [{
              data: [<%= Checkin.input_control.input.order(id: :asc).the_day.count %>,
                     <%= Checkin.boarding.input.order(id: :asc).the_day.count %>],
              backgroundColor: ['#007bff', '#fd7e14'],
          }],
          labels: ["de entradas", "de embarques"]
      }
    });



  $(document).ready(function(){
    counterNumber($("#checkin .counter_number"))
  });
    // new CounterNumber("#checkins .boarding .counter_number")

  </script>



















<%#= render "checkins/list_port.html.erb", checkins: @checkins %>
