<div class="row dashboards" style="margin-bottom:15px;">
  <div class="col-md-5">
    <%= link_to sup_input_checkins_path do %>
    <div class="card" style="background: blueviolet; color: white;">
      <div class="card-body">
        <h1>
          <big><%= Checkin.input_control.input.order(id: :asc).the_day.count %></big>
        </h1>
        <h4>Checkins de entradas</h4>
      </div>
      <small>Atualizado hoje <%= date_br(Date.today) %></small>
    </div>
    <% end %>
  </div>

  <div class="col-md-7">
    <%= link_to sup_input_checkins_path do %>
    <div class="card" style="background: #657a94; color: white;">
      <div class="card-body">
        <h1>
          <big><%= Checkin.boarding.input.order(id: :asc).the_day.count %></big>
        </h1>
        <h4>Checkins de embarques</h4>
      </div>
      <small>Atualizado hoje <%= date_br(Date.today) %></small>
    </div>
    <% end %>
  </div>
</div>


<div class="row dashboards">
  <div class="col-md-3">
    <%= link_to sup_input_controls_path do %>
      <div class="card" style="background-color: #007bff; color: white;">
        <div class="card-body">
          <h1><%= InputControl.opened.count %></h1>
          <h4>Entradas <br> abertas</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= link_to sup_input_controls_path do %>
      <div class="card" style="background-color: #fd7e14; color: white;">
        <div class="card-body">
          <h1><%= InputControl.discharge.count %></h1>
          <h4>Entradas <br>descarregando</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= link_to sup_input_controls_path do %>
      <div class="card" style="background-color: #28a745; color: white;">
        <div class="card-body">
          <h1><%= InputControl.received.count %></h1>
          <h4>Entradas <br> Recebido</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>
<div class="row dashboards">
  <div class="col-md-3">
    <%= link_to sup_boardings_path do %>
      <div class="card" style="background-color: #0051a9; color: white;">
        <div class="card-body">
          <h1><%= Boarding.the_day.where(status: 0).count %></h1>
          <h4>Embarques <br> abertas</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= link_to sup_boardings_path do %>
      <div class="card" style="background-color: #dc6909; color: white;">
        <div class="card-body">
          <h1><%= Boarding.the_day.where(status: 4).count %></h1>
          <h4>Embarques <br> Iniciado</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= link_to sup_boardings_path do %>
      <div class="card" style="background-color: #1a772f; color: white;">
        <div class="card-body">
          <h1><%= Boarding.the_day.where(status: 1).count %></h1>
          <h4>Embarques <br> Embarcado</h4>
          <small>Atualizado hoje <%= date_br(Date.today) %></small>
        </div>
      </div>
    <% end %>
  </div>

</div>
