<tr>
  <td><%= link_to nfe_key.ordem_service.input_control.id, nfe.ordem_service.input_control %></td>
  <td><%= link_to nfe_key.ordem_service.id, nfe.ordem_service %></td>
  <td><%= link_to nfe_key.ordem_service.client.cpf_cnpj, nfe.ordem_service.client %></td>
  <td><%= link_to nfe_key.ordem_service.client.nome, nfe.ordem_service.client %></td>
  <td><%= link_to nfe_key.nfe, nfe %></td>
  <td><%= nfe_key.action_inspector_number %></td>
</tr>