<tr>
	<td><%= action_inspector.input_control.id %></td>
	<td><%= action_inspector.carrier %></td>
	<td><%=  %></td>
	<td><%= action_inspector.number %></td>
	<td><%= action_inspector.asset.present? %></td>
	<td><%= link_to 'Baixar', "#", class: "btn btn-info btn-xs" %></td>
</tr>