<div class="panel panel-default">
  <div class="panel-heading">Dados do Motorista</div>
  <div class="panel-body">

    <p>
      <strong>Motorista:</strong>
      <%= @offer_driver.driver %>
    </p>
    <p>
      <strong>Tipo Veículo:</strong>
      <%= @offer_driver.type_vehicle %>
    </p>
    <p>
      <strong>Placa:</strong>
      <%= @offer_driver.place_horse %>
    </p>
    <p>
      <strong>Placa:</strong>
      <%= @offer_driver.place_cart_first %>
    </p>
    <p>
      <strong>Placa:</strong>
      <%= @offer_driver.place_cart_second %>
    </p>

    <p>
      <strong>Observation:</strong>
      <pre><%= @offer_driver.observation %></pre>
    </p>

  </div>
</div>

