<tr>
    <td><%= date_br offer_driver.date_incoming %></td>
    <td><%= time_br offer_driver.time_incoming %></td>
    <td><%= offer_driver.driver %></td>
    <td><%= offer_driver.type_vehicle %></td>
    <td><%= offer_driver.place_horse %></td>
    <td><%= offer_driver.place_cart_first %></td>
    <td><%= status_driver_color(offer_driver, offer_driver.status, offer_driver.status_name) %></td>
    <% if offer_driver.status == OfferCharge::TypeStatus::OPEN %>
      <td>
        <% if offer_driver.waiting_or_confirmed_status?  %>
    			<%= link_to confirmed_offer_driver_path(offer_driver) do %>
    			    <span title="Confirmar" class="fa fa-check fa-2x" style='color: LimeGreen' aria-hidden='true'></span> 
    			<% end %>    
        <% end %>
     	</td>
     	<td>
        <% if offer_driver.waiting_or_confirmed_status?  %>
    			<%= link_to reject_form_offer_driver_path(offer_driver) do %>
    			    <span title="Rejeitar" class="fa fa-times fa-2x" style='color: red' aria-hidden='true'></span> 
    			<% end %>    
        <% end %>    
     	</td>
     	<td>
        <% if offer_driver.waiting_or_confirmed_status?  %>
    			<%= link_to noshow_offer_driver_path(offer_driver) do %>
    			    <span title="NoShow" class="fa fa-square-o fa-2x" style='color: red' aria-hidden='true'></span> 
    			<% end %>    
        <% end %>    
     	</td>
    	<td>
        <% if offer_driver.waiting_or_confirmed_status?  %>
    			<%= link_to nonsuit_offer_driver_path(offer_driver) do %>
    			    <span title="Desistência" class="fa fa-minus-square fa-2x" style='color: orange' aria-hidden='true'></span> 
    			<% end %>  
        <% end %>  
     	</td>
    <% else %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    <% end %>  

</tr>
