<tr>
    <td><%= date_br offer_driver.date_incoming %></td>
    <td><%= time_br offer_driver.time_incoming %></td>
    <td><%= offer_driver.driver %></td>
    <td><%= offer_driver.type_vehicle %></td>
    <td><%= offer_driver.place_horse %></td>
    <td><%= offer_driver.place_cart_first %></td>
    <td><%= offer_driver.status_name %></td>
</tr>
