<%= link_to 'Imprimir iventário', print_inventory_path(@ordem_service), class: "btn btn-info" %>
<br />
<br />
<div class="panel panel-default">
  <div class="panel-heading">Itens do Inventário</div>
  <div class="panel-body">
    <%#= link_to 'Novo Link', new_link_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Descrição</th>
            <th>Qtde</th>
            <th>Estado Peça</th>
            <th>Valor Seg.</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @inventories.each do |inventory| %>
            <tr id="id_inventory_<%= inventory.id %>">
              <td><%= inventory.numero %></td>
              <td><%= inventory.descricao %></td>
              <td><%= inventory.qtde %></td>
              <td><%= inventory.estado %></td>
              <td><%= inventory.valor %></td>
              <td><%= link_to 'Delete', [@ordem_service, inventory], method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, class: "btn btn-danger btn-xs" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>


<style type="text/css">
@media print {

      * {
      
      top: 0;
      background: transparent !important ;
      border-color: #000 !important ;
      box-shadow: none !important ;
      color: #000 !important ;
      text-shadow: none !important ;
 
      }

      body { 
        font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
        margin: 20px 0 10px 0px; 
        text-align: left; 
        background-color: blue; 
      }      

      .img_not_printer {
        visibility: visible;   
        position: fixed;
        margin: 10px 10px 10px 1px;        
      }

      .img_not_printer_duplicate {
        visibility: visible;   
        position: fixed;
        margin: 490px 10px 10px 1px;        
      }

      .header_print {
        visibility: visible;   
        font-family: Arial, sans-serif;
        font-size: 16 pt;
        font-color: blue;
        color: red;
        content: normal;
        position: fixed;
        margin: 10px 10px 10px 190px;
      }     

      .header_print_duplicate {
        visibility: visible;   
        font-family: Arial, sans-serif;
        font-size: 16 pt;
        font-color: blue;
        color: red;
        content: normal;
        position: fixed;
        margin: 490px 10px 10px 190px;
      }     

      .notprinter {
        display: none;
      }

      .duplicate_view {
        visibility: visible;   
        margin: 140px 10px 10px 1px;        
      }

      .signature_not_printer {
        visibility: visible;   
      }

      .action {
        display: none;
      }

      .btn {
        display: none; 
      }

      .debug_dump {
        display: none; 
      }

}
</style>
