    <p>
      <strong><%= @cancellation.cancellation_type_name %>:</strong>
      <label class="fields"> 
        <%= link_to @cancellation.cancellation_id, @cancellation.cancellation_type_model %> 
      </label>
    </p>

    <p>
      <strong>Solicitante:</strong>
      <%= @cancellation.solicitation_user.email %>
    </p>

    <p>
      <strong>Autorizador:</strong>
      <%= @cancellation.authorization_user.email if @cancellation.authorization_user.present? %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @cancellation.status_name %>
    </p>

    <p>
      <strong>Motivo:</strong>
      <pre><%= @cancellation.observacao %></pre>
    </p>
