<style type="text/css">
  td div { width:76px; overflow: hidden; }
  th div {text-align:right}
</style>

<div class="panel panel-default">
  <div class="panel-heading">Items</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped" id="sortable_vehicle">
        <thead>
          <tr>
            <th>Placa</th>
            <th>Tipo</th>
            <th>Tipo veiculo</th>
            <th>No.Eixo</th>
            <th>Qtde Pallets</th>
            <th>Piso</th>
            <th>Motorista</th>
            <th>Proprietário</th>
          </tr>
        </thead>

        <tbody>
        <% @boarding.boarding_vehicles.order(:id).each do |item| %>
          <tr id="boarding_vehicle_id_<%= item.id %>" data-item-id=<%= "#{item.id}" %> class="item">
            <tr>
              <td><%= link_to item.vehicle.place_state, item.vehicle %></td>
              <td><%= link_to item.vehicle.tipo_nome, item.vehicle if item.vehicle.tipo.present? %></td>
              <td><%= link_to item.vehicle.tipo_veiculo_nome, item.vehicle if item.vehicle.tipo_veiculo.present? %></td>
              <td align="center"><%= link_to item.vehicle.numero_eixos, item.vehicle if item.vehicle.numero_eixos.present? %></td>
              <td><%= link_to "#{item.vehicle.qtde_paletes}", item.vehicle %></td>
              <td><%= link_to item.vehicle.tipo_piso_assoalho_nome, item.vehicle if item.vehicle.tipo_piso_assoalho.present? %></td>
              <td><%= link_to item.vehicle.drivers.first.nome, item.vehicle.drivers.first  if item.vehicle.drivers.present? %></td>
              <td><%= link_to item.vehicle.owners.first.fantasia, item.vehicle.owners.first  if item.vehicle.owners.present? %></td>
              <td><%#= link_to 'Destroy', [@boarding, item], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", :remote => true %></td>
              </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
