<%= form_for @employee, html: { multipart: true } do |f| %>
 
  <%= render 'shared/error_messages', object: f.object %>
 
  <div class="form-group">
    <label for="exampleInputFile">Escolha uma imagem 3x4 </label>
    <%= f.file_field :avatar %>
  </div>  

  <div class="form-group">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :apelido %><br>
    <%= f.text_field :apelido, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :numero %><br>
    <%= f.text_field :numero, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :complemento %><br>
    <%= f.text_field :complemento, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cidade %><br>
    <%= f.text_field :cidade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado  %>
    <%= f.select( :estado, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :cep %><br>
    <%= f.text_field :cep, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rg %>
    <%= f.text_field :rg, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :data_emissao_rg  %><br />
    <%= f.date_select :data_emissao_rg, class: "form-control", start_year: 1920  %>
  </div>
  <div class="form-group">
    <%= f.label :orgao_emissor %>
    <%= f.text_field :orgao_emissor, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :tipo  %>
    <%= f.select( :tipo, select_tipo_employee, {include_blank: :true}, {class: "form-control"} ) %>      
  </div>

  <div class="form-group">
    <%= f.label :obs, "Observação" %>
    <%= f.text_area :obs, class: "form-control"  %>
  </div>


<!--   <div class="checkbox">
      <%#= f.check_box :carrega, checked: false %> Carrega
  </div>  

  <div class="checkbox">
    <%#= f.check_box :embala, checked: false %> Embala
  </div>

  <div class="checkbox">
    <%#= f.check_box :desmonta, checked: false %> Monta/Desmonta Móveis
  </div>

  <div class="checkbox">
    <%#= f.check_box :icamento, checked: false %> Faz Içamento
  </div>

  <div class="checkbox">
    <%#= f.check_box :arruma, checked: false %> Arruma Caminhão
  </div>

  <div class="checkbox">
    <%#= f.check_box :iventarista, checked: false %> Iventarista
  </div>

  <div class="checkbox">
    <%#= f.check_box :confere_carga, checked: false %> Conferente de Carga
  </div>
 -->  


  <div id="phones">
    <fieldset>
      <legend>Contatos</legend>
        <div class="items">
          <%= f.nested_fields_for :contacts do |f| 
            render 'shared/contact', f: f
          end -%>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <br /> <a href="#" class="btn btn-success btn-sm add">[+] Contato</a>  
          </div>  
        </div>
    </fieldset>
  </div>

  <div id="prices">
    <fieldset>
      <legend>Tabela de Preços</legend>
      <div class="items">
        <%= f.nested_fields_for :table_prices do |f| %>
          <%= render "form_table_price", f: f %> 
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <a href="#" class="btn btn-success btn-sm add">[+] Tab. Preço</a>  
        </div>  
      </div>
    </fieldset>
  </div>

  <div id="prices">
    <fieldset>
      <legend>Tabela de Preços de Especialidades</legend>
      <div class="items">
        <%= f.nested_fields_for :specialty_employees do |f| %>
          <%= render "specialty_employees", f: f %> 
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <a href="#" class="btn btn-success btn-sm add">[+] Especialidade</a>  
        </div>  
      </div>
    </fieldset>
  </div>


  <div id="accounts">
    <fieldset>
      <legend>Contas Bancarias</legend>
      <div class="items">
        <%= f.nested_fields_for :account_banks do |f| %>
          <%= render "shared/form_account_bank", f: f %> 
        <% end %>
      </div>
      
      <div class="row">
        <div class="col-xs-2">
          <a href="#" class="btn btn-success btn-sm add">[+] Conta</a>  
        </div>  
      </div>
    
    </fieldset>
  </div>  
 
  <h2>Documentos</h2> 
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f| 
        render 'shared/asset', f: f
      end  -%>
    </div>
      <br /> <a href="#" class="btn btn-success btn-sm add">[+] Documento</a>  
  </div>

  <hr />

  <div class="form-actions">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Exibir",  employees_path(@client), class: "btn btn-info" if !@employee.new_record? %>
      <%= link_to "Listar Todos", employees_path, class: "btn btn-default" %>
  </div>
  
<% end %>
