<div class="container-fluid">
  <div class="row">
    <%= form_for @employee, html: { multipart: true } do |f| %>


    <div class="col-md-12">
      <div class="row">
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group col-md-12">
          <label for="exampleInputFile">Escolha uma imagem 3x4 </label>
          <%= f.file_field :avatar %>
        </div>
      </div>

      <fieldset>
          <legend>Informações pessoais</legend>
          <div class="row">
            <div class="form-group col-md-5">
              <%= f.label :cpf %><br>
              <%= f.text_field :cpf, class: "form-control cpf" %>
            </div>
          </div>
          <div class="row">
            <div class="form-groupm col-md-6">
              <%= f.label :nome %><br>
              <%= f.text_field :nome, class: "form-control" %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :apelido %><br>
              <%= f.text_field :apelido, class: "form-control" %>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <%= f.label :data_nascimento %><br>
              <%= f.date_field :data_nascimento, class: "form-control" %>
            </div>

            <div class="form-group col-md-4">
              <%= f.label :nacionalidade %><br>
              <%= f.text_field :nacionalidade, class: "form-control" %>
            </div>

            <div class="form-group col-md-4">
              <%= f.label :naturalidade %><br>
              <%= f.text_field :naturalidade, class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              <%= f.label :grau_de_instrucao %><br>
              <%= f.select :grau_de_instrucao, select_escolaridade_employee, {include_blank: "Escolha sua escolaridade"},{ class: "form-control" }%>

            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-10">
              <%= f.label :nome_da_mae %><br>
              <%= f.text_field :nome_da_mae, class: "form-control" %>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-10">
              <%= f.label :nome_do_pai %><br>
              <%= f.text_field :nome_do_pai, class: "form-control" %>
            </div>
          </div>
      <fieldset>


      <fieldset>
          <legend>Endereço</legend>
          <div class="row">
            <div class="form-group col-md-4">
              <%= f.label :cep %><br>
              <%= f.text_field :cep, class: "form-control" %>
            </div>
            <div class="form-group col-md-6">
              <%= f.label :endereco %><br>
              <%= f.text_field :endereco, class: "form-control" %>
            </div>
            <div class="form-group col-md-2">
              <%= f.label :numero %><br>
              <%= f.text_field :numero, class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-10">
              <%= f.label :complemento %><br>
              <%= f.text_field :complemento, class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              <%= f.label :bairro %><br>
              <%= f.text_field :bairro, class: "form-control" %>
            </div>
            <div class="form-group col-md-5">
              <%= f.label :cidade %><br>
              <%= f.text_field :cidade, class: "form-control" %>
            </div>
            <div class="form-group col-md-2">
              <%= f.label :estado  %>
              <%= f.select( :estado, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Documentação</legend>
          <div class="row">
            <div class="form-group col-md-5">
              <%= f.label :rg %>
              <%= f.text_field :rg, class: "form-control"  %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :data_emissao_rg  %><br />
              <%#= f.date_select :data_emissao_rg, class: "form-control", start_year: 1920  %>
              <%= f.text_field :data_emissao_rg , value: date_br(@employee.data_emissao_rg), class: "form-control data" %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :orgao_emissor %>
              <%= f.text_field :orgao_emissor, class: "form-control"  %>
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-3">
              <%= f.label :ctps  %>
              <%= f.text_field :ctps, class: "form-control"  %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :ctps_serie  %>
              <%= f.text_field :ctps_serie, class: "form-control"  %>
            </div>
            <div class="form-group col-md-2">
              <%= f.label :ctps_uf  %>
              <%= f.select( :ctps_uf, select_uf, {include_blank: true}, class: "form-control" ) %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :ctps_expedicao  %>
              <%= f.date_field :ctps_expedicao, class: "form-control"  %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              <%= f.label :pis  %>
              <%= f.text_field :pis, class: "form-control"  %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <%= f.label :cnh  %>
              <%= f.text_field :cnh, class: "form-control"  %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :registro_cnh  %>
              <%= f.text_field :registro_cnh, class: "form-control"  %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :validade_cnh  %>
              <%= f.date_field :validade_cnh, class: "form-control"  %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :categoria  %>
              <%= f.select :categoria, select_categoria, {include_blank: :false}, class: "form-control"  %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <%= f.label :titulo_eleitor  %>
              <%= f.text_field :titulo_eleitor, class: "form-control"  %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :zona_eleitor  %>
              <%= f.text_field :zona_eleitor, class: "form-control"  %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :secao_eleitor  %>
              <%= f.date_field :secao_eleitor, class: "form-control"  %>
            </div>
          </div>
        </fieldset>

      <div class="row">
        <div class="form-group col-md-5">
          <%= f.label :tipo  %>
          <%= f.select( :tipo, select_tipo_employee, {include_blank: :true}, {class: "form-control"} ) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :obs, "Observação" %>
        <%= f.text_area :obs, class: "form-control"  %>
      </div>

  <div id="phones">
    <fieldset>
      <legend>Contatos</legend>
      <div class="col-xs-1">
      </div>
      <div class="items col-xs-11">
        <%= f.nested_fields_for :contacts do |f|
        render 'shared/contact', f: f
        end -%>
      </div>
      <div class="row">
        <div class="col-xs-1" style="margin-top: -30px;">
          <a href="#" class="btn btn-success btn-sm add"><i class="fas fa-plus"></i></a>
        </div>
      </div>
    </fieldset>
  </div>

  <div id="emails">
    <fieldset>
      <legend>E-Mail</legend>
      <div class="col-xs-1">
      </div>
      <div class="items col-xs-11">
        <%= f.nested_fields_for :emails do |f|
        render 'shared/email', f: f
        end -%>
      </div>
      <div class="row">
        <div class="col-xs-2" style="margin-top: -30px;">
          <a href="#" class="btn btn-success btn-sm add"><i class="fas fa-plus"></i></a>
        </div>
      </div>
    </fieldset>
  </div>

  <div id="prices">
    <fieldset>
      <legend>Tabela de Preços</legend>
      <div class="col-xs-1">
      </div>
      <div class="items col-xs-11">
        <%= f.nested_fields_for :table_prices do |f| %>
        <%= render "form_table_price", f: f %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-2" style="margin-top: -30px;">
          <a href="#" class="btn btn-success btn-sm add"><i class="fas fa-plus"></i></a>
        </div>
      </div>
    </fieldset>
  </div>

  <div id="prices">
    <fieldset>
      <legend>Tabela de Preços de Especialidades</legend>
      <div class="col-xs-1">
      </div>
      <div class="items col-xs-11">
        <%= f.nested_fields_for :specialty_employees do |f| %>
        <%= render "specialty_employees", f: f %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-2" style="margin-top: -30px;">
          <a href="#" class="btn btn-success btn-sm add"><i class="fas fa-plus"></i></a>
        </div>
      </div>
    </fieldset>
  </div>


  <div id="accounts">
    <fieldset>
      <legend>Contas Bancarias</legend>
      <div class="col-xs-1"></div>
      <div class="items col-xs-11">
        <%= f.nested_fields_for :account_banks do |f| %>
        <%= render "shared/form_account_bank", f: f %>
        <% end %>
      </div>

      <div class="row">
        <div class="col-xs-2" style="margin-top: -30px;">
          <a href="#" class="btn btn-success btn-sm add"><i class="fas fa-plus"></i></a>
        </div>
      </div>

    </fieldset>
  </div>

  <h2>Documentos</h2>
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f|
      render 'shared/asset', f: f
      end  -%>
    </div>
     <a href="#" class="btn btn-success btn-sm add"><i class="fas fa-plus"></i></a>
  </div>

  <hr />

  <div class="form-actions">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  employees_path(@client), class: "btn btn-info" if !@employee.new_record? %>
    <%= link_to "Listar Todos", employees_path, class: "btn btn-default" %>
  </div>

  <% end %>


      </div>

    </div>
  </div>


<script type="text/javascript">
$(function(){
   $("#employee_cep").change(function(){
     var cep     = $(this).val().replace(/[^0-9]/, '');
     var boxes   = $("#boxCampos");
     var msgErro = $("#mensagemErro");
     console.log('CEP: ' + cep)
     boxes.addClass('ocultar');
     msgErro.addClass('ocultar');

    if(cep !== ""){
        $.getJSON('/get_address_by_cep', 'cep=' + cep, function(data){
           console.log(data)
           $("#employee_endereco").val(data.logradouro);
           $("#employee_bairro").val(data.bairro);
           $("#employee_cidade").val(data.localidade);
           $("#employee_estado").val(data.uf);
           $("#employee_numero").focus();
           boxes.removeClass('ocultar');
          }).fail(function(){
            //Não retornando um valor válido, ele mostra a mensagem
          msgErro.removeClass('ocultar').html('CEP inexistente')
       });
       }
   });
});
</script>
