<%= form_for(@employee) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :apelido %><br>
    <%= f.text_field :apelido, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :numero %><br>
    <%= f.text_field :numero, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :complemento %><br>
    <%= f.text_field :complemento, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cidade %><br>
    <%= f.text_field :cidade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado  %>
    <%= f.select( :estado, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :cep %><br>
    <%= f.text_field :cep, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tipo  %>
    <%= f.select( :tipo, select_tipo, {include_blank: :true}, {class: "form-control"} ) %>      
  </div>



<!--   <div class="checkbox">
      <%#= f.check_box :carrega, checked: false %> Carrega
  </div>  

  <div class="checkbox">
    <%#= f.check_box :embala, checked: false %> Embala
  </div>

  <div class="checkbox">
    <%#= f.check_box :desmonta, checked: false %> Monta/Desmonta Móveis
  </div>

  <div class="checkbox">
    <%#= f.check_box :icamento, checked: false %> Faz Içamento
  </div>

  <div class="checkbox">
    <%#= f.check_box :arruma, checked: false %> Arruma Caminhão
  </div>

  <div class="checkbox">
    <%#= f.check_box :iventarista, checked: false %> Iventarista
  </div>

  <div class="checkbox">
    <%#= f.check_box :confere_carga, checked: false %> Conferente de Carga
  </div>
 -->  


  <h2>Contatos</h2>
  <div id="phones">
    <div class="items">
      <%= f.nested_fields_for :contacts do |f| %>
        <fieldset class="item">
          <%= f.label :tipo %>
          <%= f.select :tipo, [['FIXO', '0'], ['CELULAR', '1'], ['E-MAIL', '2'], ['TWITTER', '3'], ['FACEBOOK', '4']]  %>

          <%= f.label :nome %>
          <%= f.text_field :nome %>

          <%= f.label :fone %>
          <%= f.text_field :fone %>

          <%= f.label :complemento %>
          <%= f.text_field :complemento %>

          <a href="#" class="remove">remove</a>

          <%= f.hidden_field :id %>
          <%= f.hidden_field :_destroy %>
        </fieldset>
      <% end %>
    </div>
    <a href="#" class="add">add phone</a>
  </div>

  <h2>Tabela de Preços</h2>
  <div id="prices">
    <div class="items">
      <%= f.nested_fields_for :table_prices do |f| %>
        <fieldset class="item">
          <%= f.label :uf_tipo %>
          <%= f.select :uf_tipo, [['Dentro Do Estado', '0'], ['Fora do Estado', '1']]  %>

          <%= f.label :tipo %>
          <%= f.select :tipo, [['p/ KM', '0'], ['p/ Hora', '1'], ['p/ Diária', '2']] %>

          <%= f.label :valor %>
          <%= f.text_field :valor %>

          <a href="#" class="remove">remove</a>

          <%= f.hidden_field :id %>
          <%= f.hidden_field :_destroy %>
        </fieldset>
      <% end %>
    </div>
    <a href="#" class="add">add price</a>
  </div>

  <h2>Documentos</h2> 
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f| %>
        <% if f.object.new_record? %>
          <fieldset class="item">
           
            <%= f.file_field :asset %>

            <a href="#" class="remove">remove</a>

            <%= f.hidden_field :id %>
            <%= f.hidden_field :_destroy %>
          </fieldset>
        <% end %>
      <% end  %>

      <%= f.nested_fields_for :assets do |f| %>
        <% unless f.object.new_record? %>
          <fieldset class="item">
             
             <%= link_to image_tag(f.object.asset.url(:thumb)), "#modalcar", data: {:toggle=>"modal"} %> 
             
             <a href="#" class="remove">remove</a>

             <%= f.hidden_field :id %>
             <%= f.hidden_field :_destroy %>
             
             <%#= f.check_box :_destroy, :label => "Delete"  %>
          </fieldset>

        <% end %>
      <% end %>
    </div>
    <a href="#" class="add">add document</a>
  </div>

  <div class="form-actions">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Exibir",  employees_path(@client), class: "btn btn-info" if !@employee.new_record? %>
      <%= link_to "Listar Todos", employees_path, class: "btn btn-default" %>
  </div>
  
<% end %>
