<%= form_for @employee, html: { multipart: true } do |f| %>
 
  <%= render 'shared/error_messages', object: f.object %>

 
  <div class="form-group">
    <label for="exampleInputFile">Escolha uma imagem 3x4 </label>
    <%= f.file_field :avatar %>
  </div>  

  <div class="form-group">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :apelido %><br>
    <%= f.text_field :apelido, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :numero %><br>
    <%= f.text_field :numero, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :complemento %><br>
    <%= f.text_field :complemento, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cidade %><br>
    <%= f.text_field :cidade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado  %>
    <%= f.select( :estado, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :cep %><br>
    <%= f.text_field :cep, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rg %>
    <%= f.text_field :rg, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :data_emissao_rg  %><br />
    <%= f.date_select :data_emissao_rg, class: "form-control", start_year: 1920  %>
  </div>
  <div class="form-group">
    <%= f.label :orgao_emissor %>
    <%= f.text_field :orgao_emissor, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :tipo  %>
    <%= f.select( :tipo, select_tipo, {include_blank: :true}, {class: "form-control"} ) %>      
  </div>



<!--   <div class="checkbox">
      <%#= f.check_box :carrega, checked: false %> Carrega
  </div>  

  <div class="checkbox">
    <%#= f.check_box :embala, checked: false %> Embala
  </div>

  <div class="checkbox">
    <%#= f.check_box :desmonta, checked: false %> Monta/Desmonta Móveis
  </div>

  <div class="checkbox">
    <%#= f.check_box :icamento, checked: false %> Faz Içamento
  </div>

  <div class="checkbox">
    <%#= f.check_box :arruma, checked: false %> Arruma Caminhão
  </div>

  <div class="checkbox">
    <%#= f.check_box :iventarista, checked: false %> Iventarista
  </div>

  <div class="checkbox">
    <%#= f.check_box :confere_carga, checked: false %> Conferente de Carga
  </div>
 -->  


  <h2>Contatos</h2>
  <div id="phones">
    <div class="items">
      <%= f.nested_fields_for :contacts do |f| %>
        <fieldset class="item">
          <%= f.label :tipo %>
          <%= f.select :tipo, [['FIXO', '0'], ['CELULAR', '1'], ['E-MAIL', '2'], ['TWITTER', '3'], ['FACEBOOK', '4']]  %>

          <%= f.label :nome %>
          <%= f.text_field :nome %>

          <%= f.label :fone %>
          <%= f.text_field :fone %>

          <%= f.label :complemento %>
          <%= f.text_field :complemento %>

          <a href="#" class="remove">remove</a>

          <%= f.hidden_field :id %>
          <%= f.hidden_field :_destroy %>
        </fieldset>
      <% end %>
    </div>
    <a href="#" class="add">add phone</a>
  </div>

  <h2>Tabela de Preços</h2>
  <div id="prices">
    <div class="items">
      <%= f.nested_fields_for :table_prices do |f| %>
        <fieldset class="item">
          <%= f.label :uf_tipo %>
          <%= f.select :uf_tipo, [['Dentro Do Estado', '0'], ['Fora do Estado', '1']]  %>

          <%= f.label :tipo %>
          <%= f.select :tipo, [['p/ KM', '0'], ['p/ Hora', '1'], ['p/ Diária', '2']] %>

          <%= f.label :valor %>
          <%= f.text_field :valor %>

          <a href="#" class="remove">remove</a>

          <%= f.hidden_field :id %>
          <%= f.hidden_field :_destroy %>
        </fieldset>
      <% end %>
    </div>
    <a href="#" class="add">add price</a>
  </div>

  <h2>Tabela de Preços de Especialidades</h2>
  <div id="prices">
    <div class="items">
      <%= f.nested_fields_for :specialty_employees do |f| %>
        <fieldset class="item">
          <%= f.label :specialty %>
          <%#= f.select :specialty_id, Specialty.order(:descricao).collection  %>
          <%= f.select(:specialty_id, Specialty.order(:descricao).collect {|s| [s.descricao, s.id]}, include_blank: true)  %>
          

          <%= f.label :valor %>
          <%= f.text_field :valor %>

          <a href="#" class="remove">remove</a>

          <%= f.hidden_field :id %>
          <%= f.hidden_field :_destroy %>
        </fieldset>
      <% end %>
    </div>
    <a href="#" class="add">add price</a>
  </div>

  <h2>Documentos</h2> 
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f| 
        render 'shared/asset', f: f
      end  -%>
    </div>
    <a href="#" class="add">add documento</a>
  </div>

  <div class="form-actions">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Exibir",  employees_path(@client), class: "btn btn-info" if !@employee.new_record? %>
      <%= link_to "Listar Todos", employees_path, class: "btn btn-default" %>
  </div>
  
<% end %>
