<div class="panel panel-default">
  <div class="panel-heading">Listagem de Funcionário</div>
  <div class="panel-body">
    <%= link_to 'Novo Funcionário', new_employee_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Cpf cnpj</th>
            <th>Nome</th>
            <th>Apelido</th>
            <th>Tipo</th>
            <th colspan="3">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <% image_avatar = employee.avatar.present? ? employee.avatar.url(:mini) : "image_not_found.jpg"  %>
              <td><%= image_tag image_avatar, size: "144x90"    %> </td>
              <td><%= employee.cpf %></td>
              <td><%= employee.nome %></td>
              <td><%= employee.apelido %></td>
              <td><%= employee.tipo_funcionario %></td>
              <td><%= link_to 'Show', employee, class: "btn btn-info btn-sm" %></td>
              <td><%= link_to 'Edit', edit_employee_path(employee), class: "btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
