<p>
  <% image_avatar = @employee.avatar.present? ? @employee.avatar.url(:mini) : "image_not_found.jpg"  %>
  <%= image_tag image_avatar, size: "144x90"  %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @employee.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @employee.nome %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @employee.apelido %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @employee.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @employee.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @employee.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @employee.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @employee.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @employee.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @employee.cep %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @employee.rg %>
</p>

<p>
  <strong>Data emissao:</strong>
  <%= @employee.data_emissao_rg %>
</p>

<p>
  <strong>Orgao emissor:</strong>
  <%= @employee.orgao_emissor %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @employee.tipo_funcionario %>
</p>

<p>
  <strong>Observação:</strong>
  <pre><%= @employee.obs %></pre>
</p>



<!-- <p>
  <strong>Carrega:</strong>
  <%#= extenso_boolean(@employee.carrega) %>
</p>

<p>
  <strong>Embala:</strong>
  <%#= extenso_boolean(@employee.embala) %>
</p>

<p>
  <strong>Monta/Desmonta Móveis:</strong>
  <%#= extenso_boolean(@employee.desmonta) %>
</p>

<p>
  <strong>Faz Içamento:</strong>
  <%#= extenso_boolean(@employee.icamento) %>
</p>

<p>
  <strong>Arruma Caminhão:</strong>
  <%#= extenso_boolean(@employee.arruma) %>
</p>

<p>
  <strong>Iventarista:</strong>
  <%#= extenso_boolean(@employee.iventarista) %>
</p>

<p>
  <strong>Conferente de Carga:</strong>
  <%#= extenso_boolean(@employee.confere_carga) %>
</p>
 -->

 
<%= render 'shared/show_contacts', object: @employee %>

<%= render 'shared/show_emails', object: @employee %>

<h2>Tabela de Preços</h2>
<% if @employee.table_prices.any? %>
  <table class="table table-striped">
    <tbody>
      <% @employee.table_prices.each do |price| %>
        <tr>
          <td><%= price.uf_tipo_nome %></td>
          <td><%= price.tipo_nome %></td>
          <td><%= price.valor.to_f %></td>
      
        </tr>
      <% end %>

    </tbody>

  </table>
<% else %>
  <p>This person has no table price yet.</p>
<% end %>

<h2>Tabela de Preços Especialidades</h2>
<% if @employee.specialty_employees.any? %>
  <table class="table table-striped">
    <tbody>
      <% @employee.specialty_employees.each do |price| %>
        <tr>
          <td><%= price.specialty.descricao if !price.specialty.nil? %></td>
          <td><%= price.valor.to_f %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This person has no table price yet.</p>
<% end %>

<%= render 'shared/show_account_bank', object: @employee %>

<%= render 'shared/document', object: @employee %>

<div class="form-group">
  <%= link_to 'Editar', edit_employee_path(@employee), class: "btn btn-blue" %>
  <%= link_to 'Listar Todos', employees_path, class: "btn btn-default" %>
</div>
