<p>
  <strong>Cpf:</strong>
  <%= @employee.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @employee.nome %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @employee.apelido %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @employee.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @employee.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @employee.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @employee.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @employee.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @employee.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @employee.cep %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @employee.tipo_funcionario %>
</p>

<p>
  <strong>Carrega:</strong>
  <%= extenso_boolean(@employee.carrega) %>
</p>

<p>
  <strong>Embala:</strong>
  <%= extenso_boolean(@employee.embala) %>
</p>

<p>
  <strong>Monta/Desmonta Móveis:</strong>
  <%= extenso_boolean(@employee.desmonta) %>
</p>

<p>
  <strong>Faz Içamento:</strong>
  <%= extenso_boolean(@employee.icamento) %>
</p>

<p>
  <strong>Arruma Caminhão:</strong>
  <%= extenso_boolean(@employee.arruma) %>
</p>

<p>
  <strong>Iventarista:</strong>
  <%= extenso_boolean(@employee.iventarista) %>
</p>

<p>
  <strong>Conferente de Carga:</strong>
  <%= extenso_boolean(@employee.confere_carga) %>
</p>

<%= render 'shared/show_contacts', object: @employee %>

<h2>Documentos</h2>
  <% @employee.assets.each do |asset| %>
    <p> <%= image_tag asset.asset.url(:thumb) if asset.present? %> </p>
  <% end %>


<div class="form-group">
  <%= link_to 'Editar', edit_employee_path(@employee), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', employees_path, class: "btn btn-default" %>
</div>
