	<p>
		<strong>Data Embarque:</strong>
		<%= date_br notfis.file_edi.date_boarding %>
	</p>

  <p>
  	<strong>Cliente:</strong>
  	<%= link_to notfis.client.nome, notfis.client %>	- 
  	<%= link_to notfis.client.cpf_cnpj, notfis.client %>
  </p>

	<p>
	  <strong>Cliente é credenciado junto a sefaz? : </strong>
	  <%= extenso_boolean notfis.client.client_credential_sefaz %>
	</p>

  <p>
  	<strong>Cidade:</strong>
  	<%= notfis.client.cidade %> /  	<%= notfis.client.estado %>
  </p>

  <p>
  	<strong>Peso Total: </strong>
  	<%= number_with_precision(notfis.weight, precision: 3, separator: ',', delimiter: '.') %>
  </p>
	
	<p>
		<strong>Volume Total:</strong>
		<%= number_with_precision(notfis.volume, precision: 2, separator: ',', delimiter: '.') %>
	</p>
	
	<p>
		<strong>Qtde NF-e:</strong>
		<%= notfis.qtde_nfe %>
	</p>
	
	
	
	
