</tr>
	<td><%= date_br notfis.file_edi.date_boarding %></td>
	<td><%= notfis.client.cpf_cnpj %></td>
	<td><%= notfis.client.nome %></td>
	<td><%= notfis.client.cidade %></td>
	<td><%= notfis.client.estado %></td>
	<td><%= notfis.weight %></td>
	<td><%= notfis.volume %></td>
	<td><%= notfis.qtde_nfe %></td>
	<td><%= link_to "Show", notfis_path(notfis), class: 'btn btn-primary btn-xs' %></td>
</tr>