</tr>
	<td><%= date_br notfis.file_edi.date_boarding %></td>
	<td><%= notfis.client.cpf_cnpj %></td>
	<td><%= notfis.client.nome %></td>
	<td><%= extenso_boolean notfis.client.client_credential_sefaz %></td>
	<td><%= notfis.client.cidade %></td>
	<td><%= notfis.client.estado %></td>
	<td><%= number_with_precision(notfis.weight, precision: 3, separator: ',', delimiter: '.') %></td>
	<td><%= number_with_precision(notfis.volume, precision: 2, separator: ',', delimiter: '.') %></td>
	<td><%= notfis.qtde_nfe %></td>
	<td><%= link_to "Show", notfis_path(notfis), class: 'btn btn-primary btn-xs' %></td>
</tr>
<tr>
	<td colspan="10"><%= notfis.get_nfe_xmls %></td>
</tr>