<div class='nested-fields'>
  <div class="form-group">
    <%= f.select(:banco, Bank.order("banco").collect {|b| ["#{b.banco} - ""#{b.nome}", b.id ] }, {include_blank: "Selecione o Banco"}, {class: "form-control input-sm" }) %>
  </div>
  <div class="form-group">
    <%= f.select( :tipo_operacao, [['Conta Corrente', 0], ['Conta Poupança', 1],["Conta Salário", 2]], {include_blank: "Selecione o Operação"}, {class: "form-control input-sm"} ) %>      
  </div>

  <div class="row">
    <div class="col-xs-1">
      <%= f.label :agencia %>
      <%= f.text_field :agencia, size: 5, class: "form-control input-sm", placeholder: "Agencia"  %>
    </div>
    <div class="col-xs-1">
      <%= f.label :conta_corrente, "C.Corrente" %>
      <%= f.text_field :conta_corrente, size: 5, class: "form-control input-sm", placeholder: "Conta Corrente"  %>
    </div>
    <div class="col-xs-3">
      <%= f.label :cpf_cnpj %>
      <%= f.text_field :cpf_cnpj, class: "form-control input-sm", placeholder: "Cnpj ou CPF" %>
    </div>
    <div class="col-xs-4">
      <%= f.label :favorecido %>
      <%= f.text_field :favorecido, class: "form-control input-sm", placeholder: "Favorecido" %>
    </div>
    <div class="col-xs-2">
      <%= f.label :valor %>
      <%= f.text_field :valor, class: "form-control input-sm money2", placeholder: "Valor" %>
    </div>
    <br >
    <%= link_to_remove_association "[-] Apagar", f, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
  </div>
</div>
