  <div class="form-group">
    <%= f.label :solicitation_user_id, "Usuario Solicitante" %><br>
    <%= f.text_field :solicitation_user_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :authorization_user_id, "Usuario Autorizador" %><br>
    <%= f.text_field :authorization_user_id, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :status, "Status" %><br>
    <%= f.text_field :status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :observacao, "Observacao" %><br>
    <%= f.text_area :observacao, class: "form-control" %>
  </div>
