<p>
  <strong>Endereco:</strong>
  <%= @ordem_service.ordem_service_change.source_endereco %>,
  <%= @ordem_service.ordem_service_change.source_numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @ordem_service.ordem_service_change.source_complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @ordem_service.ordem_service_change.source_bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @ordem_service.ordem_service_change.source_cidade %> -
  <%= @ordem_service.ordem_service_change.source_estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @ordem_service.ordem_service_change.source_cep %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @ordem_service.ordem_service_change.source_contato %>
</p>

