<p>
  <strong>Endereco:</strong>
  <%= @ordem_service.ordem_service_change.target_endereco %>,
  <%= @ordem_service.ordem_service_change.target_numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @ordem_service.ordem_service_change.target_complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @ordem_service.ordem_service_change.target_bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @ordem_service.ordem_service_change.target_cidade %> -
  <%= @ordem_service.ordem_service_change.target_estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @ordem_service.ordem_service_change.target_cep %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @ordem_service.ordem_service_change.target_contato %>
</p>
