<%= form_for(@ordem_service) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
 
  <div id="ordem_service_nfe">
    <fieldset>
      <legend>Dados da Nfe</legend>
      <div class="items">
        <%= f.nested_fields_for :nfe_keys do |f| 
          render 'nfe_keys', f: f
        end  -%>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <a href="#" class="btn btn-success btn-sm add">[+] Conta</a>  
        </div>  
      </div>
    </fieldset>

  </div>

  <div id="ordem_service_type_service">
    <fieldset>
      <legend>Serviços</legend>
      <div class="items">
        <%= f.nested_fields_for :ordem_service_type_service do |f| 
          render 'ordem_service_type_services_agent', f: f
        end  -%>
      </div>
   
    </fieldset>
  </div>

  <h2>Documentos</h2> 
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f| 
        render 'shared/asset', f: f
      end  -%>
    </div>
      <br /> <a href="#" class="btn btn-success btn-sm add">[+] Documento</a>  
  </div>
  <hr />
  
  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>  

<% end %>
