
<%= form_for(@ordem_service) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :driver_id, "Motorista" %><br>
    <%= f.select(:driver_id, Driver.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :client_id, "Cliente" %><br>
    <%= f.select(:client_id, Client.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :data, "Data da Agendamento" %><br>
    <%= f.date_select :data, start_year: year_now, :include_blank => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :data_entrega_servico, "Data da Entrega do Serviço" %><br>
    <%= f.date_select :data_entrega_servico, start_year: year_now, :include_blank => true,  class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :placa %><br>
    <%= f.text_field :placa, class: "form-control placa" %>
  </div>
  <div class="form-group">
    <%= f.label :senha_sefaz %><br>
    <%= f.text_field :senha_sefaz, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado %><br>
    <%= f.select( :estado, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :cidade %><br>
    <%= f.text_field :cidade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cte %><br>
    <%= f.text_field :cte, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :danfe_cte, "Chave CTE" %><br>
    <%= f.text_field :danfe_cte, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :qtde_volume %><br>
    <%= f.text_field :qtde_volume, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :peso %><br>
    <%= f.text_field :peso, class: "form-control money3"  %>
  </div>
  <div class="form-group">
    <%= f.label :observacao %><br>
    <%= f.text_area :observacao, class: "form-control" %>
  </div>

  <div id="ordem_service_nfe">
    <fieldset>
      <legend>Dados da Nfe</legend>
      <div class="items">
        <%= f.nested_fields_for :nfe_keys do |f| 
          render 'nfe_keys', f: f
        end  -%>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <br /> <a href="#" class="btn btn-success btn-sm add">[+] Conta</a>  
        </div>  
      </div>
    
    </fieldset>
  </div>

  <div id="ordem_service_type_service">
    <fieldset>
      <legend>Serviços</legend>
      <div class="items">
        <%= f.nested_fields_for :ordem_service_type_service do |f| 
          render 'ordem_service_type_services', f: f
        end  -%>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <br /> <a href="#" class="btn btn-success btn-sm add">[+] Conta</a>  
        </div>  
      </div>
    
    </fieldset>
  </div>

  <h2>Documentos</h2> 
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f| 
        render 'shared/asset', f: f
      end  -%>
    </div>
      <br /> <a href="#" class="btn btn-success btn-sm add">[+] Documento</a>  
  </div>

  <hr />
  
  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Exibir",  ordem_service_path(@ordem_service), class: "btn btn-info" if !@ordem_service.new_record? %>
    <%= link_to "Listar Todos", ordem_services_path, class: "btn btn-default" %>
  </div>  

<% end %>
