  <div class="panel-body">
    <%= will_paginate @ordem_services, renderer: BootstrapPagination::Rails %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No O.S.</th>
            <th>Placa</th>
            <th>Motorista</th>
            <th>Cliente</th>
            <th>Data</th>
            <th>CT-e</th>
            <th>NFS-e</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Status</th>
            <th>Alerta</th>
            <th colspan="2">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @ordem_services.each do |ordem_service| %>
            <tr>
              <td><%= link_to ordem_service.id, ordem_service %></td>
              <td><%= link_to ordem_service.ordem_service_logistic.placa, ordem_service if ordem_service.ordem_service_logistic.placa.present? %></td>
              <td><%= link_to truncate(ordem_service.ordem_service_logistic.delivery_driver.nome, length: 16), ordem_service if ordem_service.ordem_service_logistic.delivery_driver.present? %></td>
              <td><%= link_to truncate(ordem_service.client.nome, length: 16), ordem_service %></td>
              <td><%= link_to date_br(ordem_service.data), ordem_service %></td>
              <td><%= link_to ordem_service.cte_keys.first.cte, ordem_service if ordem_service.cte_keys.present? %></td>
              <td><%= link_to ordem_service.nfs_keys.first.nfs, ordem_service if ordem_service.nfs_keys.present? %></td>
              <td><%= ordem_service.estado %></td>
              <td><%= truncate(ordem_service.client.cidade, length: 10) %></td>
              <td><%= ordem_service.status_name %></td>
              <td><%= alert_color(ordem_service, ordem_service.alert) %></td>
              <td><%= link_to 'Show', ordem_service, class: "btn btn-info btn-xs" %></td>
              <td><%= link_to 'Edit', edit_ordem_service_path(ordem_service), class: "btn btn-primary btn-xs" %></td>
            </tr>
            <% if ordem_service.ordem_service_type_service.present? %>
               <% ordem_service.ordem_service_type_service.each do |item| %>
                 <tr>
                   <td colspan="13">Type Service: <%= item.type_service.descricao %> - Valor: <%= item.valor %></td>
                 </tr>
               <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%#= will_paginate class: "pagination"%>
      <%= will_paginate @ordem_services, renderer: BootstrapPagination::Rails %>
    </div>    
  </div>
