<fieldset class="item">
  <%= f.label :nfe %>
  <%= f.text_field :nfe %>

  <%= f.label :chave %>
  <%= f.text_field :chave, maxlength: 44, size: 100 %>

  <a href="#" class="remove" data-confirm="Are you sure?">remove</a>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
</fieldset>

