<fieldset class="item">
  <div class="row">
    <div class="col-xs-2">
      <%= f.text_field :qtde, size: 5, class: "form-control input-sm numericOnly", placeholder: "Qtde" %>
    </div>

    <div class="col-xs-2">
      <%= f.text_field :nfe, class: "form-control input-sm numericOnly", placeholder: "Nfe"  %>
    </div>

    <div class="col-xs-4">
      <%= f.text_field :chave, maxlength: 44, class: "form-control input-sm", placeholder: "Chave"  %>
    </div>
    <a href="#" class="btn btn-danger btn-sm remove" data-confirm="Are you sure?">[-] Apagar</a>
  </div>

  <br />

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
</fieldset>

<script type="text/javascript">
  $(document).ready(function() {
    $(".numericOnly").keyup(function() {
    var jThis=$(this);
    var notNumber=new RegExp("[^0-9]","g");
    var val=jThis.val();

    //Math before replacing to prevent losing keyboard selection 
    if(val.match(notNumber))
    { jThis.val(val.replace(notNumber,"")); }
  }).keyup();
});
</script>
