    <p>
      <strong>Faturamento No.:</strong>
      <%= link_to @ordem_service.billing_id, @ordem_service.billing if @ordem_service.billing.present? %>
    </p>

    <p>
      <strong>Remessa Entrada.:</strong>
      <%= link_to @ordem_service.input_control_id, @ordem_service.input_control if @ordem_service.input_control.present? %>
    </p>

    <p>
      <strong>Embarque No.:</strong>
      <%= link_to @ordem_service.boarding_item.boarding_id, @ordem_service.boarding_item.boarding if @ordem_service.boarding_item.present? %>

    </p>

    <p>
      <strong>Data Entrada:</strong>
      <%= date_br @ordem_service.date_entry if @ordem_service.date_entry.present? %>
    </p>

    <p>
      <strong>Data da Agendamento:</strong>
      <%= date_br @ordem_service.data %>
    </p>

    <p>
      <strong>Data Expedição:</strong>
      <%= date_br @ordem_service.date_shipping if @ordem_service.date_shipping.present? %>
    </p>

    <p>
      <strong>Data da Entrega do Serviço:</strong>
      <%= date_br @ordem_service.data_entrega_servico %>
    </p>

    <p>
      <strong>Criada em:</strong>
      <%= date_hora_br @ordem_service.created_at %>
    </p>

    <p>
      <strong>Data OTIF:</strong>
      <%= date_br @ordem_service.date_otif if @ordem_service.date_otif.present? %>
    </p>

    <p>
      <strong>Lead Time:</strong>
      <%= date_br @ordem_service.lead_time if @ordem_service.lead_time.present? %>
    </p>

    <p>
      <strong>Data Fechamento da OS:</strong>
      <%= date_br @ordem_service.data_fechamento if @ordem_service.data_fechamento.present? %>
    </p>

    <p>
      <strong>Qtde Palets:</strong>
      <%= @ordem_service.ordem_service_logistic.qtde_palets if @ordem_service.ordem_service_logistic.present? %>
    </p>

    <p>
      <strong>Municipio:</strong>
      <%= @ordem_service.cidade %> - 
      <strong>Estado:</strong>
      <%= @ordem_service.estado %>
    </p>

    <p>
      <strong>Valor NF-e:</strong>
      <%= number_to_currency(@ordem_service.valor_nota_fiscal, unit: "R$ ", separator: ",", delimiter: ".")  %>
    </p>

    <p>
      <strong>Informação sobre a carga:</strong>
      <pre><%= @ordem_service.observacao %></pre>
    </p>

