  <div class="form-group">
    <%= f.label :driver_id, "Motorista" %><br>
    <%= f.select(:driver_id, Driver.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :delivery_driver_id, "Motorista para Entrega" %><br>
    <%= f.select(:delivery_driver_id, Driver.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :placa %><br>
    <%= f.text_field :placa, class: "form-control placa" %>
  </div>
  <div class="form-group">
    <%= f.label :senha_sefaz %><br>
    <%= f.text_field :senha_sefaz, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :qtde_volume %><br>
    <%= f.text_field :qtde_volume, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :peso %><br>
    <%= f.text_field :peso, class: "form-control money3", value: to_decimal(f.object.peso) %>
    <%#= f.text_field :valor_pago, class: "form-control input-sm money2", value: to_real(f.object.valor_pago), placeholder: "Valor Pago" %>
  </div>

