    <p>
      <strong>Criada em:</strong>
      <%#= Time.zone.parse(@ordem_service.created_at.strftime('%Y-%m-%dT%H:%M:%S%z')) %>
      <%#= Time.zone.parse(@ordem_service.created_at.strftime('%d')) %>
      <%= date_hora_br @ordem_service.created_at %>

    </p>

    <p>
      <strong>Data da Agendamento:</strong>
      <%= date_br @ordem_service.data %>
    </p>

    <p>
      <strong>Data da Entrega do Serviço:</strong>
      <%= date_br @ordem_service.data_entrega_servico %>
    </p>

    <p>
      <strong>Data Fechamento da OS:</strong>
      <%= date_br @ordem_service.data_fechamento if @ordem_service.data_fechamento.present? %>
    </p>

    <p>
      <strong>Data Expedição:</strong>
      <%= date_br @ordem_service.date_shipping if @ordem_service.date_shipping.present? %>
    </p>

    <p>
      <strong>Data Entrada:</strong>
      <%= date_br @ordem_service.date_entry if @ordem_service.date_entry.present? %>
    </p>

    <p>
      <strong>Municipio:</strong>
      <%= @ordem_service.cidade %> - 
      <strong>Estado:</strong>
      <%= @ordem_service.estado %>
    </p>

    <p>
      <strong>Informação sobre a carga:</strong>
      <pre><%= @ordem_service.observacao %></pre>
    </p>

