<fieldset class="item">
  <%= f.label :type_service %>
  <%= f.select( :type_service_id, TypeService.logistica.collect {|p| [ p.descricao, p.id ] }, {include_blank: true} ) %>

  <%= f.label :qtde %>
  <%= f.text_field :qtde, size: 5 %>

  <%= f.label :qtde_recebida %>
  <%= f.text_field :qtde_recebida, size: 5 %>

  <%= f.label :valor %>
  <%= f.text_field :valor %>

  <a href="#" class="remove" data-confirm="Are you sure?">remove</a>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
</fieldset>
