<div class="panel panel-default">
  <div class="panel-heading">Itens Ordem de Serviço</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NF-e</th>
            <th>Cod.Prod.</th>
            <th>Produto</th>
            <th>Cubagem</th>
            <th>Qtde</th>
            <th>Qtde Trib.</th>
            <th>Valor</th>
            <th>Un.Med.</th>
            <th>Vl. Unit.</th>
         </tr>
        </thead>

        <tbody>
          <% @ordem_service.item_ordem_services.joins(:product).order("products.cod_prod").each do |item| %>
            <tr>
              <td><%= item.number %></td>
              <td><%= item.product.cod_prod %></td>
              <td><%= item.product.descricao %></td>
              <td><%= number_with_precision(item.product.calculation_cubing, precision: 2, separator: ',', delimiter: '.') %></td> 
              <td><%= number_with_precision(item.qtde, precision: 2, separator: ',', delimiter: '.') %></td> 
              <td><%= number_with_precision(item.qtde_trib, precision: 2, separator: ',', delimiter: '.') %></td> 
              <td><%= number_with_precision(item.valor, precision: 2, separator: ',', delimiter: '.') %></td> 
              <td><%= item.unid_medida %></td> 
              <td><%= number_with_precision(item.product.valor_unitario, precision: 2, separator: ',', delimiter: '.') %></td> 
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
