<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Ordem de Serviço No: <%= @ordem_service.id %> - <%= @ordem_service.status_name %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse off" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="panel panel-default">

	        <div class="panel-heading">
	          <h2 class="panel-title">Dados motorista da entrega</h2>
	        </div>

	        <div class="panel-body"> 
					  <%= render 'drivers/driver_data', object: @ordem_service.ordem_service_logistic.delivery_driver if @ordem_service.ordem_service_logistic.delivery_driver.present? %>
					</div>
				
	        <div class="panel-heading">
	          <h2 class="panel-title">Dados Agente</h2>
	        </div>

	        <div class="panel-body"> 
					  <%= render 'carriers/carrier_data', object: @ordem_service.carrier if @ordem_service.carrier.present? %>
					</div>

	        <div class="panel-heading">
	          <h2 class="panel-title">Dados Ordem de Serviço</h2>
	        </div>

	        <div class="panel-body"> 
					  <%= render 'ordem_service_data' %>
					</div>
				
				</div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dados do Cliente
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= render 'clients/client_data', object: @ordem_service.client %>

        <p>
          <strong>Horário para descarregar:</strong>
          <label class="fields"><%= @ordem_service.client.hora_descarga %></label>
        </p>

        <p>
          <strong>Condições para descarregar:</strong>
          <pre><%= @ordem_service.client.condicao_recebimento %></pre>
        </p>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Dados Fiscais
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Dados do motorista</h2>
          </div>

          <div class="panel-body"> 
            <p>
              <strong>Placa:</strong>
              <%= @ordem_service.ordem_service_logistic.placa %>
            </p>
            <%= render 'drivers/driver_data', object: @ordem_service.ordem_service_logistic.driver %>
          </div>

          <div class="panel-heading">
            <h2 class="panel-title">Dados CT-e</h2>
          </div>

          <div class="panel-body"> 
            <%= render 'show_cte_keys', object: @ordem_service %>
          </div>

          <div class="panel-heading">
            <h2 class="panel-title">Dados NF-e</h2>
          </div>

          <div class="panel-body"> 
            <%= render 'show_nfe_keys', object: @ordem_service %>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Serviços
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
  			<%= render 'value_services', object: @ordem_service %>
  			<%= render 'show_services', object: @ordem_service %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Contas Bancarias
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <%= render 'show_account_bank', object: @ordem_service %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Contas a Pagar
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <%= render 'account_payables/account_header' %>
            </thead>

            <tbody>
              <%= render @ordem_service.account_payables %>
            </tbody>
          </table>
        </div>    
        
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Faturamento
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        <%= render 'billings/show', object: @ordem_service.billing if @ordem_service.billing.present? %>  
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Documentos
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">

      <%= render 'shared/document', object: @ordem_service %>
      
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Comentarios
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">

      <%= render 'comments/feed', comments: @ordem_service.feed %>

      <%= render 'comments/form_comment_ordem_service' %>
      
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          Comentarios Internos 
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body">

      <%= render 'internal_comments/feed', comments: @ordem_service.feed_internal_comments %>

      <%= render 'internal_comments/form_comment' %>
      
      </div>
    </div>
  </div>

</div>

<div class="form-group">
  <%= link_to 'Editar', edit_ordem_service_path(@ordem_service), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', ordem_services_path, class: "btn btn-default" %>
  <%= link_to 'Fechar OS', close_os_ordem_service_path, class: "btn btn-default" %>
  <%= link_to 'Etiqueta', tag_ordem_service_path(@ordem_service), class: "btn btn-default" %>
</div>
