<% if object.ordem_service_type_service.present? %>

<p>
  <strong>Tabela de Preço:</strong>
  <%#= object.client_table_price.stretch_route.stretch_source_and_target_short %>
</p>

<table class="table table-striped">
  <thead>
    <th>Type Service</th>
    <th>Qtde </th>
    <th>Qtde Rec.</th>
    <th>Valor</th>
    <th>Vr. Pago</th>
    <th>No: Adiant.</th>
    <th>Status</th>
    <th>C. Pagar</th>
  </thead>

  <tbody>
    <% object.ordem_service_type_service.each do |item| %>
      <tr>
        <td><%= item.type_service.descricao if !item.type_service.nil? %></td>
        <td><%= item.qtde  if !item.type_service.nil?%></td>
        <td><%= item.qtde_recebida if !item.type_service.nil? %></td>
        <td><%= number_to_currency(item.valor, unit: "R$ ", separator: ",", delimiter: ".") if item.type_service.present? %> </td>
        <td><%= number_to_currency(item.valor_pago, unit: "R$ ", separator: ",", delimiter: ".") if item.type_service.present? %> </td>
        <td>
          <%= item.advance_money.present? ? (link_to item.advance_money_number, item.advance_money) : item.advance_money %> 
        </td>
        <td><%= item.status_name %></td>
        <td><%= link_to "#{ item.account_payable.id }", account_payable_path(item.account_payable.id) if item.account_payable.present? %> </td>
      </tr>
    <% end %>
    <td colspan="3"> <strong>Total</strong> </td>
    <td><strong><%= number_to_currency( object.ordem_service_type_service.sum(:valor), unit: "R$ ", separator: ",", delimiter: ".")  %></strong> </td>
    <td><strong><%= number_to_currency( object.ordem_service_type_service.sum(:valor_pago), unit: "R$ ", separator: ",", delimiter: ".")  %></strong> </td>
    <td colspan="3"> </td>

  </tbody>

</table>
<% else %>
  <h2 class="panel-title"> ---- </h2>
<% end %>
