<% if object.ordem_service_type_service.present? %>

<table class="table table-striped">
  <thead>
    <th>Type Service</th>
    <th>Qtde </th>
    <th>Qtde Rec.</th>
    <th>Valor</th>
    <th>Vr. Pago</th>
    <th>Status</th>
  </thead>

  <tbody>
    <% object.ordem_service_type_service.each do |item| %>
      <tr>
        <td><%= item.type_service.descricao if !item.type_service.nil? %></td>
        <td><%= item.qtde  if !item.type_service.nil?%></td>
        <td><%= item.qtde_recebida if !item.type_service.nil? %></td>
        <td><%= number_to_currency(item.valor, unit: "R$ ", separator: ",", delimiter: ".") if !item.type_service.nil? %> </td>
        <td><%= number_to_currency(item.valor_pago, unit: "R$ ", separator: ",", delimiter: ".") if !item.type_service.nil? %> </td>
        <td><%= item.status_name %></td>
      </tr>
    <% end %>
    <td colspan="3"> <strong>Total</strong> </td>
    <td><strong><%= number_to_currency( object.ordem_service_type_service.sum(:valor), unit: "R$ ", separator: ",", delimiter: ".")  %></strong> </td>
    <td><strong><%= number_to_currency( object.ordem_service_type_service.sum(:valor_pago), unit: "R$ ", separator: ",", delimiter: ".")  %></strong> </td>
    <td> </td>

  </tbody>

</table>
<% else %>
  <h2 class="panel-title"> ---- </h2>
<% end %>
