<div id="ordem_service_type_service_id">
  <%= form_tag({:controller => "ordem_services", :action => "request_payment"}, :method => "post", :name => "dischargeForm") do %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Tipo Unidade</th>
            <th>Tipo Carga</th>
            <th>Tipo Calculo</th>
            <th>Valor da Descarga</th>
          </tr>
        </thead>

        <tbody>
          <% ClientDischarge.where(client_id: object.client, client_source_id: object.source_client).order(:type_unit, :type_charge, :type_calc).each do |discharge| %>
            <tr>
              <% value_discharge = calc_value_discharge({discharge: discharge, weight: object.peso, unit: object.qtde_palets, volume: object.qtde_volume}) %>
              <td>
                <%#= radio_button_tag "discharges", discharge.id, false, value: {"discharge": "#{discharge.id}", "value_discharge": "#{value_discharge.to_f}" } , onchange:"checkTotal();", class: "escolha" %>
                <%= radio_button_tag "discharges", discharge.id, false, value: {discharge: discharge.id, value_discharge: value_discharge.to_f } , onchange:"checkTotal();", class: "escolha" %>
              </td>              
              <td><%= discharge.type_unit_name %></td>
              <td><%= discharge.type_charge_name %></td>
              <td><%= discharge.type_calc_name %></td>
              <td><%= number_to_currency(value_discharge, precision: 2, unit: "R$ ", separator: ",", delimiter: ".") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  
    <br />
    <% object.boarding.present? %>
      <% if object.boarding.driver_checkin or object.status == OrdemService::TipoStatus::EMBARCADO %>
        <%= submit_tag("Solicitar Pagamento Descarga", class: "btn btn-success") %>   
      <% end %>
    <% end %>
  <% end %>
</div>