
<% if object.account_banks.any? %>
  <table class="table table-striped">
    
    <thead>
      <th>Banco</th>
      <th>Nome Banco</th>
      <th>Tipo Op.</th>
      <th>Agencia</th>
      <th>Conta Corrente</th>
      <th>Favorecido</th>
      <th>CPF/CNPJ</th>
      <th>Valor Pg.</th>
    </thead>

    <tbody>
      <% object.account_banks.each do |account| %>
        <tr>
          <td><%= account.cod_banco %></td>
          <td><%= account.nome_banco %></td>
          <td><%= account.nome_tipo_operacao %></td>
          <td><%= account.agencia %></td>
          <td><%= account.conta_corrente %></td>
          <td><%= account.favorecido %></td>
          <td><%= account.cpf_cnpj %></td>
          <td><%= number_to_currency(account.valor, unit: "R$ ", separator: ",", delimiter: ".") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This person has no account bank yet.</p>
<% end %>
