<% if object.nfs_keys.present? %>
  <%#= link_to 'Solicitar Cancelamento', '#request_cancelation', id: item.id, 'data-toggle' => 'modal', class: "btn btn-warning btn-sm" if item.cancellations.first.status == Cancellation::TipoStatus::PEDENDENTE%>
  
  <ul class="list-group">
    <% object.nfs_keys.each do |item| %>
      <li class="list-group-item" > 
        <strong>ID:</strong> <%= item.id %> |
        <strong>NFS-e:</strong> <%= item.nfs %> |
        <strong>Chave:</strong> <%= item.chave %> | 
        <strong>Status Cancelamento:</strong> <%= item.cancellations.first.status_name if item.cancellations.present? %> 
				<%= link_to "Solicitar Cancelamento", ordem_service_nfs_key_request_cancelation_path(@ordem_service, item), class: "btn btn-warning btn-sm", data: {toggle: "modal"} unless item.cancellations.present? %>
      </li>
    <% end %>
  </ul>
<% else %>  
  <h2 class="panel-title"> is not exist nfe association </h2>
<% end %>