<div id="tab_ordemservices">
  <div id="typeserv_id">
    <div class="form-group"></div>
    <%#= label_tag "type_service_id", "Tipo de Serviço" %> <br>
    <%= select_tag "type_service_id", options_from_collection_for_select(@type_services, "id", "descricao"), :prompt => "Selecione um Tipo de Servico", class: "form-control" %>
  </div>
  <br>
</div>

<div id="ordem_service_type_service_id">
  <%= form_tag({:controller => "ordem_services", :action => "invoice"}, :method => "post", :name => "billingForm") do %>

  <div class="panel panel-default">
    <div class="panel-heading">Selecione as OS para Faturamento</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>No O.S.</th>
              <th>Placa</th>
              <th>Driver</th>
              <th>Client</th>
              <th>Data</th>
              <th>Cte</th>
              <th>Estado</th>
              <th>Cidade</th>
              <th style= "text-align: Right">ValorOS</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <% i = 1 %>
            <% @ordem_services.each do |ordem_service| %>
              <tr>
                <td>
                  <%#= check_box_tag "choise", ordem_service.id, false, value: 10, onchange:"checkTotal()", class: "escolha" %>
                  <%= check_box_tag "os[ids][#{ordem_service.id}]", ordem_service.id, false, value: ordem_service.valor_ordem_service, onchange:"checkTotal()", class: "escolha" %>
                  <!-- <input type="checkbox" name="choice" value="2" onchange="checkTotal()"/> -->
                </td>
                <td><%= link_to ordem_service.id, ordem_service %></td>
                <% if ordem_service.tipo == OrdemService::TipoOS::LOGISTICA %>
                <td><%= link_to ordem_service.ordem_service_logistic.placa, ordem_service if ordem_service.ordem_service_logistic.placa.present? %></td>
                <td><%= link_to truncate(ordem_service.ordem_service_logistic.driver.nome, length: 16), ordem_service if ordem_service.ordem_service_logistic.driver.present? %></td>
                <% end %>
                <td><%= link_to truncate(ordem_service.client.nome, length: 16), ordem_service %></td>
                <td><%= link_to date_br(ordem_service.data), ordem_service %></td>
                <td><%= link_to ordem_service.cte_keys.first.cte, ordem_service if ordem_service.cte_keys.present? %></td>
                <td><%= link_to ordem_service.estado, ordem_service %></td>
                <td><%= link_to ordem_service.cidade, ordem_service %></td>
                <td style="text-align: Right"><%= ordem_service.valor_ordem_service %></td>
                <td><%= ordem_service.status_name %></td>
                <td><%#= link_to 'Show', ordem_service, class: "btn btn-info btn-xs" %></td>
              </tr>
              <% i = i +1 %>
            <% end %>
   
            <tr>
              <td colspan="8"><strong>Total Selecionado</strong></td>
              <td><%= text_field_tag :valor_total, "", value: 0, disabled: true, size: 10, style: "text-align: Right"  %></td>
              <td colspan="2"><strong></strong></td>
            </tr>
   
        </table>
      </div>    
    </div>
  </div>

  <%= submit_tag("Faturar", class: "btn btn-blue") %> 

  <% end %>
</div>

<hr>

<script type="text/javascript">
Number.prototype.formatMoney = function(c, d, t){
var n = this, 
    c = isNaN(c = Math.abs(c)) ? 2 : c, 
    d = d == undefined ? "." : d, 
    t = t == undefined ? "," : t, 
    s = n < 0 ? "-" : "", 
    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
    j = (j = i.length) > 3 ? j % 3 : 0;
   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
 };



  function checkTotal() {
    var elements = document.getElementsByClassName('escolha');
    var label = document.getElementById('valor_total');
    var sum = 0;
    // console.log(elements[i].value);
    for (i=0;i< elements.length;i++) {
      if (elements[i].checked) {
        sum = sum + parseFloat(elements[i].value);
        console.log(elements[i].value);
      }
    }
    document.getElementById('valor_total').value = 'R$ ' + sum.formatMoney(2, ',', '.');

  }
</script>

<script type="text/javascript">
jQuery(function($) {
  // when the #country field changes
  $("#type_service_id").change(function() {
    // make a POST call and replace the content
    var conta = $('select#type_service_id :selected').val();
    if(conta == "") conta="0";
    jQuery.get('/ordem_service_to_type_service/' + conta, function(data){
        $("#ordem_service_type_service_id").html(data);
    })
    return false;
  });
})
</script>
