<script type="text/javascript">
  // function checkTotal() {
  //   var elements = document.getElementsByName('choise');
  //   var sum = 0;
  //   for (i=0;i< elements.length;i++) {
  //     if (elements[i].checked) {
  //       sum = sum + parseInt(elements[i].value);
  //     }
  //   }
  //   document.getElementById('valor_total').value = sum;
  // }
</script>

<script type="text/javascript">
  function checkTotal() {
    document.billingForm.valor_total.value = '';
    var sum = 0;
    for (i=0;i<document.getElementsByClassName('escolha').length;i++) {
      if (document.getElementsByClassName('escolha')[i].checked) {
        sum = sum + parseInt(document.getElementsByClassName('escolha')[i].value);
      }
    }
    document.billingForm.valor_total.value = sum;
  }
</script>

<%= form_tag({:controller => "ordem_services", :action => "billing"}, :method => "post", :name => "billingForm") do %>

<div class="panel panel-default">
  <div class="panel-heading">Selecione as OS para Faturamento</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Placa</th>
            <th>Driver</th>
            <th>Client</th>
            <th>Data</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Cte</th>
            <th>Status</th>
            <th>Opções</th>
          </tr>
        </thead>

        <tbody>
          <% i = 1 %>
          <% @ordem_services.each do |ordem_service| %>
            <tr>
              <td>
                <%#= check_box_tag "choise", ordem_service.id, false, value: 10, onchange:"checkTotal()", class: "escolha" %>
                <%= check_box_tag "os[ids][#{ordem_service.id}]", ordem_service.id, false, value: ordem_service.valor_os, onchange:"checkTotal()", class: "escolha" %>
                <!-- <input type="checkbox" name="choice" value="2" onchange="checkTotal()"/> -->
              </td>
              <td><%= ordem_service.placa %></td>
              <td><%= ordem_service.driver.nome %></td>
              <td><%= ordem_service.client.nome %></td>
              <td><%= ordem_service.data %></td>
              <td><%= ordem_service.estado %></td>
              <td><%= ordem_service.cidade %></td>
              <td><%= ordem_service.cte %></td>
              <td><%= ordem_service.status_name %></td>
              <td><%= link_to 'Show', ordem_service, class: "btn btn-info btn-sm" %></td>
            </tr>
            <% i = i +1 %>
          <% end %>
 
          <tr>
            <td colspan="9"><strong>Total Selecionado</strong></td>
            <td><%= text_field_tag :valor_total, "", value: 0 %></td>
          </tr>
 
      </table>
    </div>    
  </div>
</div>

<%= submit_tag("Faturar", class: "btn btn-primary") %> 

<% end %>

<hr>