<%= form_for(@ordem_service, :url => update_left_handed_ordem_service_path, :html => { :multipart => true } ) do |f| %> 
	<h1>Anexar Canhotos da NF-es.</h1>
	<%= render 'shared/error_messages', object: f.object %>

	<h3>Dados NF-e</h3>
  <div class="nfe_items">
	    <%= f.fields_for :nfe_keys do |ff| %>
     	<div class='nested-fields'>
			  <div class="row">
			    <div class="col-xs-2">
			      <%= ff.text_field :nfe, class: "form-control input-sm numericOnly", placeholder: "Nfe", disabled: true  %>
			    </div>

			    <div class="col-xs-4">
			      <%= ff.text_field :chave, maxlength: 44, class: "form-control input-sm", placeholder: "Chave", disabled: true  %>
			    </div>

			    <div class="col-xs-4">
			      <%= ff.file_field :asset  %>
			    </div>
			</div>
	   <% end -%> 
	 	<br />
  </div>  

  <div class="form-group">
    <%= link_to 'Voltar', ordem_service_path(@ordem_service), class: "btn btn-default" %>
    <%= f.submit "Salvar Canhotos", class: "btn btn-blue" %>
  </div>  

<% end %>
