
<%= form_tag({:controller => "ordem_services", :action => "invoice"}, :method => "post", :name => "billingForm") do %>
  <%#= hidden_field_tag 'id_service', @type_service.id %>

  <div class="panel panel-default">
    <div class="panel-heading">Selecione as OS para Faturamento</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Placa</th>
              <th>Driver</th>
              <th>Client</th>
              <th>Data</th>
              <th>Estado</th>
              <th>Cidade</th>
              <th>Cte</th>
              <th style= "text-align: Right">ValorOS</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            
            <% @ordem_services.each do |os_type_service| %>
              <tr>
                <td>
                  <%#= check_box_tag "choise", ordem_service.id, false, value: 10, onchange:"checkTotal()", class: "escolha" %>
                  <%= check_box_tag "os[ids][#{os_type_service.ordem_service.id}]", os_type_service.ordem_service.id, false, value: os_type_service.ordem_service.valor_ordem_service, onchange:"checkTotal()", class: "escolha" %>
                  <!-- <input type="checkbox" name="choice" value="2" onchange="checkTotal()"/> -->
                </td>
                <td><%= link_to os_type_service.ordem_service.placa, os_type_service.ordem_service %></td>
                <td><%= link_to truncate(os_type_service.ordem_service.driver.nome, length: 18), os_type_service.ordem_service, { :title => os_type_service.ordem_service.driver.nome } %></td>
                <td><%= link_to truncate(os_type_service.ordem_service.client.nome, length: 25), os_type_service.ordem_service, { :title => os_type_service.ordem_service.client.nome } %></td>
                <td><%= link_to os_type_service.ordem_service.data,   os_type_service.ordem_service %></td>
                <td><%= link_to os_type_service.ordem_service.estado, os_type_service.ordem_service %></td>
                <td><%= link_to os_type_service.ordem_service.cidade, os_type_service.ordem_service %></td>
                <td><%= link_to os_type_service.ordem_service.cte,    os_type_service.ordem_service %></td>
                <td style="text-align: Right"><%=os_type_service.ordem_service.valor_ordem_service %></td>
                <td><%= os_type_service.ordem_service.status_name %></td>
                <td><%#= link_to 'Show', ordem_service, class: "btn btn-info btn-xs" %></td>
              </tr>
              
            <% end %>
   
            <tr>
              <td colspan="8"><strong>Total Selecionado</strong></td>
              <td><%= text_field_tag :valor_total, "", value: 0, disabled: true, size: 10, style: "text-align: Right"  %></td>
              <td colspan="2"><strong></strong></td>
            </tr>
   
        </table>
      </div>    
    </div>
  </div>

<%= submit_tag("Faturar", class: "btn btn-primary") %> 

<% end %>

<hr>

<script type="text/javascript">
Number.prototype.formatMoney = function(c, d, t){
var n = this, 
    c = isNaN(c = Math.abs(c)) ? 2 : c, 
    d = d == undefined ? "." : d, 
    t = t == undefined ? "," : t, 
    s = n < 0 ? "-" : "", 
    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
    j = (j = i.length) > 3 ? j % 3 : 0;
   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
 };



  function checkTotal() {
    var elements = document.getElementsByClassName('escolha');
    var label = document.getElementById('valor_total');
    var sum = 0;
    for (i=0;i< elements.length;i++) {
      if (elements[i].checked) {
        sum = sum + parseInt(elements[i].value);
      }
    }
    document.getElementById('valor_total').value = 'R$ ' + sum.formatMoney(2, ',', '.');

  }
</script>

<script type="text/javascript">
  // function checkTotal() {
  //   document.billingForm.valor_total.value = '';
  //   var sum = 0;
  //   for (i=0;i<document.getElementsByClassName('escolha').length;i++) {
  //     if (document.getElementsByClassName('escolha')[i].checked) {
  //       sum = sum + parseInt(document.getElementsByClassName('escolha')[i].value);
  //     }
  //   }
  //   document.billingForm.valor_total.value = sum;
  // }
</script>
