<div class="panel panel-default">
  <div class="panel-heading">Solicitação de Pagamento</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>Type Service</th>
          <th>OS No. </th>
          <th>CTE </th>
          <th>Placa </th>
          <th>Dt. Agen </th>
          <th>Qtde </th>
          <th>Qtde Rec.</th>
          <th>Valor</th>
          <th>Dt. Pgto </th>
          <th>Vr. Pgto</th>
          <th>Status</th>
          <th></th>
        </thead>

        <tbody>
          <% @ordem_service_type_service.each do |item| %>
            <tr>
              <td><%= item.type_service.descricao if !item.type_service.nil? %></td>
              <td><%= link_to item.ordem_service.id, item.ordem_service  %></td>
              <td><%= link_to item.ordem_service.cte, item.ordem_service if item.ordem_service.present? && item.ordem_service.cte.present?%></td>
              <td><%= link_to item.ordem_service.placa, item.ordem_service %></td>
              <td><%= date_br (item.ordem_service.data)   %></td>
              <td><%= item.qtde  if !item.type_service.nil?%></td>
              <td><%= item.qtde_recebida if !item.type_service.nil? %></td>
              <td><%= number_to_currency(item.valor, unit: "R$ ", separator: ",", delimiter: ".") if !item.type_service.nil? %> </td>
              <td><%=    %></td>
              <td><%= number_to_currency(item.valor_pago, unit: "R$ ", separator: ",", delimiter: ".") if !item.type_service.nil? %> </td>
              <td><%= item.status_name %></td>
              <td><%= link_to 'Gerar Pgto', create_payables_ordem_service_path(id: item.ordem_service, item_id: item), class: "btn btn-warning btn-xs" if item.opened? %></td>

            </tr>
          <% end %>

        </tbody>

      </table>
    </div>    
  </div>
</div>


