<style type="text/css">
@media print {

      * {
      
      top: 0;
      background: transparent !important ;
      border-color: #000 !important ;
      box-shadow: none !important ;
      color: #000 !important ;
      text-shadow: none !important ;
 
      }

      body { 
        font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
        margin: 20px 0 10px 0px; 
        text-align: left; 
        background-color: blue; 
      }      

      .img_not_printer {
        visibility: visible;   
        position: fixed;
        margin: 10px 10px 10px 1px;        
      }

      .img_not_printer_duplicate {
        visibility: visible;   
        position: fixed;
        margin: 430px 10px 10px 1px;        
      }

      .header_print {
        visibility: visible;   
        font-family: Arial, sans-serif;
        font-size: 16 pt;
        font-color: blue;
        color: red;
        content: normal;
        position: fixed;
        margin: 10px 10px 10px 190px;
      }     

      .header_print_duplicate {
        visibility: visible;   
        font-family: Arial, sans-serif;
        font-size: 16 pt;
        font-color: blue;
        color: red;
        content: normal;
        position: fixed;
        margin: 430px 10px 10px 190px;
      }     

      .duplicate_view {
        visibility: visible;   
        margin: 140px 10px 10px 1px;        
      }

      .signature_not_printer {
        visibility: visible;   
      }

      .action {
        display: none;
      }

      .btn {
        display: none; 
      }

      .debug_dump {
        display: none; 
      }

}
</style>


<% @ordem_services.each do |ordem_service| %>

<%= render partial: "show_agent", locals: {ordem_service: ordem_service} %>

<div class="form-group">
  <%#= link_to 'Editar', edit_ordem_service_path(ordem_service), class: "btn btn-primary" %>
  <%#= link_to 'Listar Todos', index_agent_ordem_services_path, class: "btn btn-default" %>
  <%#= link_to 'Fechar OS', close_os_agent_ordem_service_path(ordem_service), class: "btn btn-success" %>
  <%= link_to 'Fechar OS', edit_ordem_service_path(ordem_service), class: "btn btn-success" %>
</div>


  <p class="signature_not_printer">
    <strong>ASSINATURA DO CLIENTE:</strong>______________________________________________
  </p>

  <p class="signature_not_printer">
    <strong>Data:</strong> ___/___/_______
  </p>

<div class="duplicate_view">
  <%= render partial: "show_agent", locals: {ordem_service: ordem_service} %>
<div>

<% end %>

  <p class="signature_not_printer">
    <strong>ASSINATURA DO CLIENTE:</strong>______________________________________________
  </p>

  <p class="signature_not_printer">
    <strong>Data:</strong> ___/___/_______
  </p>

  <p class="img_not_printer">
    <%= image_tag("l7-logo.png", title: "L7 Logistica", alt:"logo da L7 Logistica", width: 150) %>
  </p>

  <p class="header_print">

    <strong>L7 Logistica</strong> <br />
    <strong>Razão social:</strong> A. MOURA DO NASCIMENTO - ME <br />
    <strong>Endereço:</strong>  Av. Alberto craveiro, 536 Bairro: Dias macedo <br />
            Cidade: FORTALEZA  Cep: 60.860-012
    <strong>Contato: </strong> 085 30656041   

  </p>

  <p class="img_not_printer_duplicate">
    <%= image_tag("l7-logo.png", title: "L7 Logistica", alt:"logo da L7 Logistica", width: 150) %>
  </p>

  <p class="header_print_duplicate">

    <strong>L7 Logistica</strong> <br />
    <strong>Razão social:</strong> A. MOURA DO NASCIMENTO - ME <br />
    <strong>Endereço:</strong>  Av. Alberto craveiro, 536 Bairro: Dias macedo <br />
            Cidade: FORTALEZA  Cep: 60.860-012
    <strong>Contato: </strong> 085 30656041   

  </p>
