<p>
  <strong>Driver:</strong>
  <%= @ordem_service.driver.nome %>
</p>

<p>
  <strong>Client:</strong>
  <%= @ordem_service.client.nome %>
</p>

<p>
  <strong>Data:</strong>
  <%= @ordem_service.data %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @ordem_service.placa %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ordem_service.estado %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @ordem_service.cidade %>
</p>

<p>
  <strong>Cte:</strong>
  <%= @ordem_service.cte %>
</p>

<p>
  <strong>Danfe cte:</strong>
  <%= @ordem_service.danfe_cte %>
</p>

<p>
  <strong>Nfe:</strong>
  <%= @ordem_service.nfe %>
</p>

<p>
  <strong>Danfe nfe:</strong>
  <%= @ordem_service.danfe_nfe %>
</p>

<p>
  <strong>Valor receita:</strong>
  <%= @ordem_service.valor_receita %>
</p>

<p>
  <strong>Valor despesas:</strong>
  <%= @ordem_service.valor_despesas %>
</p>

<p>
  <strong>Valor liquido:</strong>
  <%= @ordem_service.valor_liquido %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @ordem_service.observacao %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ordem_service.status_name %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Services </h2>
  </div>

  <div class="panel-body">  
    <%= render 'show_services', object: @ordem_service %>
  </div>
</div>


<div class="form-group">
  <%= link_to 'Editar', edit_ordem_service_path(@ordem_service), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', ordem_services_path, class: "btn btn-default" %>
</div>
