<style>
	@page {
  size: landscape;
	}

	.tag_header_left {
		margin: 30px 0 30px 0;
		padding: 0 0 0 0;
		font-size: 40px;
    
	}
	.tag_header {
		text-align: center;
    font-size: 70px;
    font-style: 
  }
	.tag_content {
		text-align: center;
	}
	.tag_footer {
		text-align: center;
    font-size: 50px;
  }
	
</style>
<% @ordem_service.nfe_keys.each do |nfe_key| %>  
	<div class="tag_header_left"><strong>CT-e: <%= @ordem_service.cte %></strong></div>
	<div class="tag_header"><strong><%= @ordem_service.cidade %>/<%= @ordem_service.estado %></strong></div>
	
	<div class="tag_content" style="font-size: 180px">
		<%= nfe_key.nfe %>  
	</div>
	
	<div class="tag_footer"><strong><%= @ordem_service.client.fantasia %></strong> </div>

<% end %>
