<style>
	@page {
  size: landscape;
	}
	.tag_header {
		text-align: center;
    font-size: 80px;
  }
	.tag_footer {
		text-align: center;
    font-size: 50px;
  }
</style>

<div class="tag_header"><%= @ordem_service.cidade %>/<%= @ordem_service.estado %></div>
<div class="tag_content" style="font-size: <%= tamanho_letra(@ordem_service.nfe_keys.size) %>px"><%=  @ordem_service.nfe_keys.map(&:nfe) %>  </div>
<div class="tag_footer"><%= @ordem_service.client.fantasia %></div>
