<%= form_for ([ @client, @client_discharge ]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= render 'client' %>

  <div class="form-group">
    <%= label_tag :client_source_cnpj, "CPF/CNPJ Remetente" %><br>
    <% if @client_discharge.new_record? %>
      <%= text_field_tag :client_source_cnpj, nil, class: "form-control cnpj" %>
    <% else %>
      <%= text_field_tag :client_source_cnpj, @client_discharge.client_source.cpf_cnpj, class: "form-control cnpj", disabled: true %>
      <%= render partial: "clients/result_client", locals: { client: @client_discharge.client_source } %>
    <% end %>
  </div>

  <div id="client_cnpj_result">

  </div>

  <div class="form-group">
    <%= f.label :type_operation, "Tipo de Operacao" %>
    <% if f.object.new_record? %>
      <%= f.select :type_operation, options_for_select(select_checkin_operation.map {|k, v| [v, k]}), {include_blank: true}, {class: "form-control"} %>
    <% else %>
      <%= f.object.type_operation %>
      <%= f.select :type_operation, options_for_select(select_checkin_operation.map {|k, v| [v, k]}), {}, {class: "form-control"} %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :type_unit, "Tipo de Unidade" %>
    <%= f.select :type_unit, select_type_unit, {include_blank: true}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :type_charge, "Tipo de Carga" %>
    <%= f.select :type_charge, select_type_charge, {include_blank: true}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :type_calc, "Tipo de Calculo" %>
    <%= f.select :type_calc, select_type_calc_charge, {include_blank: true}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :price, "Valor" %>
    <%= f.text_field :price, class: "form-control money2"  %>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  client_client_discharge_path(@client, @client_discharge), class: "btn btn-info" if !@client_discharge.new_record? %>
    <%= link_to "Listar Todos", client_client_discharges_path(@client) , class: "btn btn-default" %>
  </div>

<% end %>


<script type="text/javascript">
  $(document).ready(function() {
   $("#client_source_cnpj").focusout(function() {
      var cnpj = $('#client_source_cnpj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cnpj},
        dataType : 'html',
        url: '/clients/get_client_by_cnpj',
        success: function(data){
            $('#client_cnpj_result').html(data);
        },
      });
    });
  });
</script>
