<%= render 'client' %>
<p>
	<strong>Remetente</strong>
	<%= @client_discharge.client_source.nome %> - 
	<%= @client_discharge.client_source.cpf_cnpj %>
</p>

<p>
	<strong>Tipo de Unidade</strong>
	<%= @client_discharge.type_unit_name %>
</p>

<p>
	<strong>Tipo de Carga</strong>
	<%= @client_discharge.type_charge_name %>
</p>

<p>
	<strong>Tipo de Calculo</strong>
	<%= @client_discharge.type_calc_name %>
</p>

<p>
	<strong>Valor:</strong>
	<%= number_to_currency(@client_discharge.price, unit: "R$ ", separator: ",", delimiter: ".") %> por TON
</p>

<p>
  <strong>Criado em:</strong> <%= date_br @client_discharge.created_at %> as <%= time_br @client_discharge.created_at %> 
  <strong>por</strong> <%= @client_discharge.created_user.email if @client_discharge.created_user.present? %>
</p>

<p>
  <strong>Última atualização:</strong> <%= date_br @client_discharge.updated_at %> as <%= time_br @client_discharge.updated_at %> 
  <strong>por</strong> <%= @client_discharge.updated_user.email if @client_discharge.updated_user.present? %>
</p>

<%= link_to "Editar", edit_client_client_discharge_path(@client, @client_discharge), class: "btn btn-primary" %>
<%= link_to "Listar Todos", client_client_discharges_path(@client) , class: "btn btn-default" %>