<div class="panel panel-default">
  <div class="panel-heading">Listagem de Motoristas</div>
  <div class="panel-body">
    <%= link_to 'Nova Conta Corrente', new_current_account_path, class: "btn btn-blue btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Conta</th>
            <th>Data</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th>Historico</th>
            <th colspan="3">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @current_accounts.each do |current_account| %>
            <tr>
              <td><%= current_account.cash_account.nome %></td>
              <td><%= date_br(current_account.data) %></td>
              <td><%= number_to_currency(current_account.valor, unit: "R$ ", separator: ",", delimiter: ".") %></td>
              <td><%= current_account.credito_debito %></td>
              <td><%= truncate(current_account.historico, length: 20 )  %></td>
              <td><%= link_to 'Show', current_account, class: "btn btn-info btn-sm" %></td>
              <td><%= link_to 'Edit', edit_current_account_path(current_account), class: "btn btn-blue btn-sm" %>
              <td><%= link_to 'Destroy', current_account, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
