
<p>
  <strong>Conta:</strong>
  <%= @current_account.cash_account.nome %> | 
  <strong>Saldo:</strong>
  <%= number_to_currency(@current_account.cash_account.saldo, unit: "R$ ", separator: ",", delimiter: ".") %> 
</p>

<p>
  <strong>Data:</strong>
  <%= date_br(@current_account.data) %>
</p>

<p>
  <strong>Valor:</strong>
  <%= number_to_currency(@current_account.valor, unit: "R$ ", separator: ",", delimiter: ".") %> 
</p>

<p>
  <strong>Tipo:</strong>
  <%= @current_account.credito_debito %>
</p>

<p>
  <strong>Historico:</strong>
  <%= @current_account.historico %>
</p>

<div class="form-actions">
  <%= link_to 'Edit', edit_current_account_path(@current_account), class: "btn btn-primary" %>
  <%= link_to 'Back', current_accounts_path, class: "btn btn-default" %>
</div>
