	  	<p>
	  		<strong>Dt.Embarque</strong>
	  		<%= date_br @file_edi.date_boarding  %>
	  	</p>

	  	<p>
	  		<strong>Placa</strong>
	  		<%= @file_edi.place %>
	  	</p>

	  	<p>
	  		<strong>Embarcador</strong>
	  		<%= @file_edi.shipper.cnpj_name if @file_edi.shipper.present? %>
	  	</p>

	  	<p>
	  		<strong>Transportadora</strong>
	  		<%=  %>
	  	</p>

	  	<p>
	  		<strong>Peso Total</strong>
	  		<%= @file_edi.weight %>
	  	</p>

	  	<p>
	  		<strong>Volume Total</strong>
	  		<%= @file_edi.volume %>
	  	</p>

	  	<p>
	  		<strong>Valor Total</strong>
	  		<%= @file_edi.value_total %>
	  	</p>

	  	<p>
	  		<strong>Qtde. NF-e</strong>
	  		<%= @file_edi.qtde %>
	  	</p>

	  	<hr>

	  	<h2>Dados do Arquivo</h2>
	  	<p>
	  		<strong>Data Arquivo</strong>
	  		<%= date_br @file_edi.date_file %>
	  	</p>
	  	<p>
	  		<strong>Tipo Arquivo</strong>
	  		<%= @file_edi.type_file %>
	  	</p>
	  	<p>
	  		<strong>Nome do Arquivo</strong>
	  		<%= @file_edi.name_file %>
	  	</p>	  	