<tr>
	<td><%= date_br file_edi.date_boarding %></td>
	<td><%= file_edi.place %></td>
	<td><%= file_edi.shipper.cnpj_name if file_edi.shipper.present? %></td>
	<td><%=  %></td>
	<td><%= number_with_precision(file_edi.weight, precision: 3, separator: ',', delimiter: '.') %></td>
	<td><%= number_with_precision(file_edi.volume, precision: 2, separator: ',', delimiter: '.') %></td>
	<td><%= number_to_currency(file_edi.value_total, precision: 3, unit: "R$ ", separator: ",", delimiter: ".") %></td>
	<td><%= file_edi.qtde %></td>
	<td><%= link_to "Show", file_edi_path(file_edi), class: "btn btn-primary btn-xs" %></td>
</tr>