<%= form_for(@owner) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :cpf_cnpj %>
    <%= f.text_field :cpf_cnpj, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :fantasia %>
    <%= f.text_field :fantasia, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :inscricao_estadual %>
    <%= f.text_field :inscricao_estadual, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :inscricao_municipal %>
    <%= f.text_field :inscricao_municipal, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :endereco %>
    <%= f.text_field :endereco, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :numero %>
    <%= f.text_field :numero, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :complemento %>
    <%= f.text_field :complemento, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :bairro %>
    <%= f.text_field :bairro, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :cidade %>
    <%= f.text_field :cidade, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :estado  %>
    <%= f.select( :estado, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :cep %>
    <%= f.text_field :cep, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :rg %>
    <%= f.text_field :rg, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :data_emissao_rg  %><br />
    <%= f.date_select :data_emissao_rg, class: "form-control", start_year: 1920  %>
  </div>
  <div class="form-group">
    <%= f.label :orgao_emissor %>
    <%= f.text_field :orgao_emissor, class: "form-control"  %>
  </div>

  <h2>Contatos</h2>
  <div id="phones">
    <div class="items">
      <%= f.nested_fields_for :contacts do |f| %>
        <fieldset class="item">
          <%= f.label :tipo %>
          <%= f.select :tipo, [['FIXO', '0'], ['CELULAR', '1'], ['E-MAIL', '2'], ['TWITTER', '3'], ['FACEBOOK', '4']]  %>

          <%= f.label :nome %>
          <%= f.text_field :nome %>

          <%= f.label :fone %>
          <%= f.text_field :fone %>

          <%= f.label :complemento %>
          <%= f.text_field :complemento %>

          <a href="#" class="remove">remove</a>

          <%= f.hidden_field :id %>
          <%= f.hidden_field :_destroy %>
        </fieldset>
      <% end %>
    </div>
    <a href="#" class="add">add phone</a>
  </div>


  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Exibir",  owners_path(@owner), class: "btn btn-info" if !@owner.new_record? %>
    <%= link_to "Listar Todos", owners_path, class: "btn btn-default" %>
  </div>
<% end %>
