<%= show_line_build @input_control.id, "Remessa de entrada" %>
<%= show_line_build date_br(@input_control.date_receipt), "Recebimento" %>
<%= show_line_build "#{date_br(@palletizing.created_at)} #{time_br(@palletizing.created_at)}", "Criado em" %>
<%= show_line_build @palletizing.user.email, "Usuário" %>
<%= show_line_build @pallet.number, "Number" %>
<%= show_line_build @pallet.qtde_sku, "Qtde SKU" %>
<%= show_line_build @pallet.qtde_items, "Qtde Produtos" %>
<%= show_line_build number_with_precision(@pallet.weight_liquid, precision: 3, separator: ',', delimiter: '.'), "Peso liquido" %>
<%= show_line_build number_with_precision(@pallet.weight_gross, precision: 3, separator: ',', delimiter: '.'), "Peso bruto" %>
<%= show_line_build translate("activerecord.attributes.enums.palletizing_pallet.type_pallet.#{@pallet.type_pallet}"), "Type" %>
<%= show_line_build @pallet.target_client.first, "Cliente" %>
<% if @pallet.type_pallet != "leftover" and @pallet.palletizing.view_mode != "single" %>
  <%= show_line_build @pallet.nfes.join("<br>").html_safe, "NFEs" %>
<% end %>

<div class='row'>
  <div class='col-md-3'><strong> Produtos :</strong></div>
  <div class='col-md-8'>
    <% @products.each do |p| %>
    <%= p[:cod_prod] %> <%= p[:descricao] %> (<%= p[:qtde] %>) <br>
    <% end %>
  </div>
</div>
