<h1>Paletes</h1>
<%= render 'static_pages/oper_input_control', input_control: @input_control %>


<%= link_to "Novo palete", new_palletizing_palletizing_pallet_path(@palletizing), class: "btn btn-primary" %>
<br><br>

<div class="panel panel-default">
  <div class="panel-body">
    Lista de paletes
  </div
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Palete</th>
          <th>Tipo</th>
          <th>Qtde SKU</th>
          <th>Qtde ítens</th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>#</th>
          <th>Palete</th>
          <th>Tipo</th>
          <th>Qtde SKU</th>
          <th>Qtde ítens</th>
          <th></th>
        </tr>
      </tfoot>
      <tbody>
        <% if @pallets.present? %>
        <% i = 1 %>
          <% @pallets.each do |pallet| %>
            <tr>
              <td><%= i %></td>
              <td><%= pallet.number %></td>
              <td><%= pallet.type_pallet %></td>
              <td><%= pallet.qtde_sku %></td>
              <td><%= pallet.qtde_items %></td>
              <td><%= link_to raw("<i class=\"fas fa-times\"></i>"), palletizing_palletizing_pallet_path(@palletizing, pallet), class: "btn btn-sm btn-danger delete", data: { method: "delete", confirm: 'Deseja apagar este registro?'} %></td>
            </tr>
            <% i += 1 %>
          <% end %>
        <% else %>
        <tr>
          <td colspan="4">
            Nenhum palete registrado
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
