<div class="container-fluid list">

  <%= show_line_build @pallet.number, "Number" %>
  <%= show_line_build @pallet.qtde_sku, "Qtde SKU" %>
  <%= show_line_build @pallet.qtde_items, "Qtde Produtos" %>
  <%= show_line_build number_with_precision(@pallet.weight_liquid, precision: 3, separator: ',', delimiter: '.'), "Peso liquido" %>
  <%= show_line_build number_with_precision(@pallet.weight_gross, precision: 3, separator: ',', delimiter: '.'), "Peso bruto" %>
  <%= show_line_build @pallet.type_pallet, "Type" %>
  <div class='row'>
    <div class='col-md-3'><strong> Produtos :</strong></div>
    <div class='col-md-8'>
      <% @products.each do |p| %>
        <%= p[:cod_prod] %> <%= p[:descricao] %> (<%= p[:qtde] %>) <br>
      <% end %>
    </div>
  </div>

  <% if @nfes.present? %>
    <div class='row'>
      <div class='col-md-3'><strong> NFEs :</strong></div>
      <div class='col-md-8'>
        <% @nfes.each do |n| %>
          <%= n %> <br>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= link_to 'Voltar', palletizing_palletizing_pallets_path(@palletizing), class: "btn btn-default" %>
</div>
