<p>
  <strong>Solicitante:</strong>
  <%= @task.requester.name if @task.requester.present? %>
</p>

<p>
  <strong>Primeiro Solicitado:</strong>
  <%= @task.employee.name if @task.employee.present? %>
</p>

<p>
  <strong>Segundo Solicitado:</strong>
  <%= @task.second_employee.name if @task.second_employee.present? %>
</p>

<p>
  <strong>Nome da Tarefa:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Detalhe da Tarefa:</strong>
  <pre><%= @task.body %></pre>
</p>

<p>
  <strong>Data Início:</strong>
  <%= date_br @task.start_date %>
</p>

<p>
  <strong>Data Final:</strong>
  <%= date_br @task.finish_date %>
</p>

<p>
  <strong>Data Termino:</strong>
  <%= date_br @task.date_finalization %>
</p>

<p>
  <strong>Horas alocadas no primeiro mês:</strong>
  <%= @task.time_first %>
</p>

<p>
  <strong>Está alocado em um só mês?:</strong>
  <%= @task.allocated_and_observation %>
</p>

<p>
  <strong>Second time:</strong>
  <%= @task.second_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status_name  %>
</p>

<p>
  <strong>Observation:</strong>
  <pre><%= @task.observation %></pre>
</p>
