<div class="panel-body">
  <%= search_form_for @q, remote: true, url: search_tasks_path, :method => :get do |f| %>
    <div class="form-group">
      <%= f.label :employee_id_eq, "Funcionário" %>
      <%= f.collection_select :employee_id_eq, Employee.order(:nome).collect, :id, :nome, {include_blank: true}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :requester_id_eq, "Solicitante" %>
      <%= f.collection_select :requester_id_eq, Employee.order(:nome).collect, :id, :nome, {include_blank: true}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :name_eq, "Nome da Tarefa" %>
      <%= f.search_field :name_eq, class: "form-control" %>  
    </div>
    <div class="form-group">
      <%= f.label :body_cont, "Detalhe da Tarefa" %>
      <%= f.search_field :body_cont, class: "form-control" %>  
    </div>

    <div class="form-group">
      <%= f.label :start_date_eq, "Data Início" %>
      <%= f.search_field :start_date_eq, class: "form-control data", placeholder: "Informe a Data ex: 05-12-2014" %>  
    </div>
    
    <div class="form-group">
      <%= f.label :finish_date_eq, "Data Final" %>
      <%= f.search_field :finish_date_eq, class: "form-control data", placeholder: "Informe a Data ex: 05-12-2014" %>  
    </div>

    <div class="form-group">
      <%= f.label :status_eq, "Status" %>
      <%= f.select( :status_eq, select_status, {include_blank: true}, {class: "form-control"} ) %> 
    </div>

    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>