<div class="panel panel-default">
  <div class="panel-heading">Dados da Tarefa</div>
  <div class="panel-body">
    <p>
      <strong>Funcionário:</strong>
      <%= @task.employee.nome if @task.employee.present? %>
    </p>

    <p>
      <strong>Nome da Tarefa:</strong>
      <%= @task.name %>
    </p>

    <p>
      <strong>Detalhe da Tarefa:</strong>
      <%= @task.body %>
    </p>

    <p>
      <strong>Data Início:</strong>
      <%= date_br @task.start_date %>
    </p>

    <p>
      <strong>Data Final:</strong>
      <%= date_br @task.finish_date %>
    </p>

    <p>
      <strong>Data Termino:</strong>
      <%= date_br @task.date_finalization %>
    </p>

    <p>
      <strong>Horas alocadas no primeiro mês:</strong>
      <%= @task.time_first %>
    </p>

    <p>
      <strong>Está alocado em um só mês?:</strong>
      <%= @task.allocated_and_observation %>
    </p>

    <p>
      <strong>Second time:</strong>
      <%= @task.second_time %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @task.status_name  %>
   </p>

    <p>
      <strong>Observation:</strong>
      <pre><%= @task.observation %></pre>
    </p>
    <%= link_to 'Editar', edit_task_path(@task), class: "btn btn-primary" %>
    <%= link_to 'Listar Todos', tasks_path, class: "btn btn-default" %>  
    <%= link_to 'Iniciar Tarefa', start_task_path(@task), class: "btn btn-success" if !@task.started? %>
    <%= link_to 'Finalizar Tarefa', finish_task_path(@task), class: "btn btn-warning" if !@task.finished? %>
    <%#= if @input_control.status == InputControl::TypeStatus::OPEN %>
  </div>
</div>