<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css">
<script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"> </script>
<style media="screen">
  .bootstrap-tagsinput .tag [data-role="remove"]:after {
      content: "x";
      padding: 0px 2px;
   }
</style>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Task: <%= @task.id %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse off" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="panel panel-default">
          <%= render 'data_task' %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          Feedback
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body">

      <%= render 'internal_comments/feed', comments: @task.feed_internal_comments %>

      <%= render 'internal_comments/form_task' %>

      </div>
    </div>
  </div>

  <div class="panel panel-default"  style="overflow: initial">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Usuários envolvidos
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">

        <div class="col-md-5">
          <!-- <input id="involved" name="users" type="text" data-role="tagsinput"> -->
          <!-- <input type="text" value="<%#= User.all.pluck(:email) %>" data-role="tagsinput"/> -->
          <!-- <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput"/> -->

          <input type="text" id="users" data-role="tagsinput" />

        </div>


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Documentos
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

      <%= render 'shared/document', object: @task %>

      </div>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_task_path(@task), class: "btn btn-blue" %>
<%= link_to 'Listar Todos', tasks_path, class: "btn btn-default" %>
<%= link_to 'Iniciar Tarefa', start_task_path(@task), class: "btn btn-success" if @task.started? %>
<%= link_to 'Finalizar Tarefa', finish_task_path(@task), class: "btn btn-warning" if @task.finished? %>


<script>
// var users = new Bloodhound({
//   datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
//   queryTokenizer: Bloodhound.tokenizers.whitespace,
//   prefetch: {
//     url: '/users_email.json',
//     filter: function(list) {
//       return $.map(list, function(user) {
//         return { name: user }; });
//     }
//   }
// });
// users.initialize();
//
// $('#users').tagsinput({
//   typeaheadjs: {
//     name: 'users',
//     displayKey: 'name',
//     valueKey: 'name',
//     source: users.ttAdapter()
//   }
// });
</script>


<script>
  var users = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: 'teste_user.json'
  });
  users.initialize();

$('#users').tagsinput({
  itemValue: 'value',
  itemText: 'text',
  typeaheadjs: {
    name: 'users',
    displayKey: 'text',
    source: users.ttAdapter()
  },
});
</script>
