<%= link_to "Voltar", oper_input_controls_path, class: "btn btn-default " %>
<% if @input_control.conferences.second.present? %>
  <%= link_to "Enviar e terminar", analize_and_finish_input_control_path, class: "btn btn-primary " if @input_control.conferences.count == 2 %>
<% end %>


<br><br>
<!-- Items -->
<table class="table table-responsive">
  <thead>
    <tr style="background:#666; color:white">
      <td colspan="2" class="text-center">Itens: </td>
      <!-- <td><%= @count_items %></td> -->
      <td class="<%= @count_items_1 != @count_items ? "bg-red" : "" %>">
        <%= @count_items_1 %>
      </td>
      <% if @conference_item_2.present? %>
        <td class="<%= @count_items_2 != @count_items ? "bg-red" : "" %>">
          <%= @count_items_2 %>
        </td>
        <td></td>
      <% end %>
    </tr>


    <!-- Totais -->
    <tr style="background:#888; color:white">
      <td colspan="2" class="text-center">Total: </td>
      <!-- <td><%= @total_qtde %></td> -->
      <td class="<%= @total_qtde_1 != @total_qtde ? "bg-red" : "" %>">
        <%= @total_qtde_1 %>
      </td>
      <% if @conference_item_2.present? %>
        <td class="<%= @total_qtde_2 != @total_qtde ? "bg-red" : "" %>">
          <%= @total_qtde_2 %>
        </td>
        <td></td>
      <% end %>
    </tr>

    <tr>
      <th>Cod Produto</th>
      <th>Produto</th>
      <!-- <th>QTDE NFE</th> -->
      <th>QTDE oper</th>
      <% if @conference_item_2.present? %>
        <td>QTDE oper</td>
        <td></td>
      <% end %>
    </tr>

  </thead>

  <tbody>
    <% @item_input_controls.each do |cod, qtde| %>
      <% product = Product.where(id: cod).first %>
      <% item_2 = @conference_2.conference_items.where(product_id: product.id).first %>
      <tr>
        <td><%= product.cod_prod %></td>
        <td><%= product.descricao %></td>
        <!-- <td><%= qtde.to_f %></td> -->
        <td class="<%= qtde.to_f != @conference_item_1[cod].to_f ? "text-danger" : "text-primary" %>"><%= @conference_item_1[cod].to_f %></td>
        <% if @conference_item_2.present? %>
          <%
          if qtde.to_f != @conference_item_2[cod].to_f && item_2.qtde_sup.nil?
            class_css = {text: "text-danger", btn: "btn-warning"}
          elsif item_2.qtde_sup.present?
            class_css = {text: "text-default", btn: "btn-default"}
          else
            class_css = {text: "text-primary"}
          end
           %>
          <td class="<%= class_css[:text] %>"><%= @conference_item_2[cod].to_f %></td>
            <td>
              <% if @conference_2.approved != "yes" %>
                <% item = location_item_conference( @conference_2.id, cod) %>
                <% if item.present? %>
                  <% conference_item_2 = @conference_2.conference_items.where(product_id: cod).first %>
                  <%= link_to raw(conference_item_2[:qtde_sup].nil? ? "corrigir" : "corrigir <i class=\"fas fa-check\"></i>"), edit_input_control_conference_conference_item_path(@input_control.id, @conference_2.id,  cod ), class: "btn #{class_css[:btn]} btn-xs" if qtde.to_f != @conference_item_2[cod].to_f || item_2.qtde_sup.present? %>
                <% else %>
                  <%= link_to "add item", "#{items_input_control_path(@input_control)}?ean=#{product.cod_prod}", class: "btn btn-success btn-xs" %>
                <% end %>
              <% end %>
            </td>
            <td></td>
        <% end %>
      </tr>
    <% end %>
    <% if @count_items_1 > @count_items || @count_items_2 > @count_items || @count_items_3 > @count_items %>
      <% if @sobras.present? %>
        <% @sobras[:data].each do |sobra| %>
          <% product = Product.where(id: sobra[:product_id]).first %>
          <tr>
            <td><%= product.cod_prod %></td>
            <td><%= product.descricao %></td>
            <!-- <td>0.0</td> -->
            <td class="<%= sobra[:qtde_oper_1].nil? ? "" : "text-danger" %>"><%= sobra[:qtde_oper_1].nil? ? "0.0" : sobra[:qtde_oper_1].to_f %></td>
            <% if @conference_item_2.present? %>
              <td class="<%= sobra[:qtde_oper_2].nil? ? "" : "text-danger" %>"><%= sobra[:qtde_oper_2].nil? ? "0.0" : sobra[:qtde_oper_2].to_f %></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
