<style type="text/css">
	
	table, th, td {
    border: 1px solid black;
}

	th {
    text-align: center;
}

</style>

<table width="70%">
	<tr>
		<td>OS:</td>
		<td><%= @ordem_service.id %></td>
		<td width="90%"><img src="http://www.l7logistica.com.br/assets/logo-l7-120.png" border="0" alt="1" align="right" /></td>
	</tr>
</table>

<br />

<table width="70%">	

	<tr>
		<th colspan="6"><strong>MOTORISTA</strong></th>
	</tr>

	<tr>
		<td style="text-align: center;" colspan="6"><%= @ordem_service.ordem_service_logistic.driver.nome %></td>
	</tr>

	<tr>
		<td>Placa:</td>
		<td colspan="5"><%= @ordem_service.ordem_service_logistic.placa %></td>
	</tr>

	<tr>
		<th colspan="6"><strong>REMETENTE</strong></th>
	</tr>

	<tr>
		<td style="text-align: center;" colspan="6"><%= @ordem_service.source_client.nome %></td>
	</tr>

	<tr>
		<td>CNPJ:</td>
		<td><%= @ordem_service.source_client.cpf_cnpj %></td>
		<td>Cidade:</td>
		<td><%= @ordem_service.source_client.cidade %></td>
		<td>Estado:</td>
		<td><%= @ordem_service.source_client.estado %></td>	
	</tr>
	
	<tr>
		
	</tr>

	<tr>
		<td style="text-align: center;" colspan="6"><strong>DESTINATÁRIO</strong></td>
	</tr>

	<tr>
		<td style="text-align: center;" colspan="6"><%= @ordem_service.client.nome %></td>
	</tr>

	<tr>
		<td>CNPJ:</td>
		<td><%= @ordem_service.client.cpf_cnpj %></td>
		<td>Cidade:</td>
		<td><%= @ordem_service.cidade %></td>
		<td>Estado:</td>
		<td><%= @ordem_service.estado %></td>	
	</tr>

	<tr>
		
	</tr>

	<tr>
		<th colspan="6"><strong>PRODUTO</strong></th>
	</tr>

	<tr>
		<td>PESO:</td>
		<td><%= @ordem_service.ordem_service_logistic.peso %> </td>
		<td>QUANTIDADE:</td>
		<td><%= @ordem_service.ordem_service_logistic.qtde_volume %></td>
	</tr>

	<tr>
		
	</tr>

	<tr>
		<th colspan="6"><strong>DADOS FISCAIS</strong></th>
	</tr>

	<tr>
		<td>CT-e:</td>
		<td><%= @ordem_service.cte_keys.first.cte if @ordem_service.cte_keys.present? %></td>
		<td>DANFE:</td>
		<td><%= @ordem_service.danfes %></td>
	</tr>

</table>
<br />
<h3>Comentários</h3>
<%= render 'comments/feed', comments: @ordem_service.feed %>
