<div class="panel panel-default">
  <div class="panel-heading">Listagem de Produtos com Sobras/Faltas/Avarias</div>
  <div class="panel-body">
    <%#= link_to 'Novo Link', new_link_path, class: "btn btn-blue btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Type Breakdown</th>
            <th>NF-e</th>
            <th>Cod.Prod</th>
            <th>Descrição</th>
            <th>Sobras</th>
            <th>Faltas</th>
            <th>Avarias</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% i = 0 %>
          <% @breakdowns.each do |breakdown| %>
            <tr id="id_breakdown_<%= breakdown.id %>">
              <td><%= breakdown.type_breakdown_name %></td>
              <td><%= breakdown.nfe_xml.numero if breakdown.nfe_xml.present? %></td>
              <td><%= breakdown.product.cod_prod %></td>
              <td><%= breakdown.product.descricao %></td>
              <td><%= breakdown.sobras %></td>
              <td><%= breakdown.faltas %></td>
              <td><%= breakdown.avarias %></td>
              <td><%= link_to image_tag( breakdown.assets.first.asset.url(:mini)), "#" ,  data: {:toggle=>"modal", :target=> "#assets#{i}"} %></td>
              <%# image_avatar = breakdown.assets.present? ? breakdown.assets.first.url(:mini) : ""  %>
              <td><%#= image_tag(image_avatar) %></td>
            </tr>

            <div id="assets<%= i %>" class="modal fade" tabindex="9" role="dialog" aria-labelledby="assets">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        <% breakdown.assets.each do |asset| %>
                          <%= link_to image_tag( asset.asset.url(:thumb)), asset.asset.url, {"data-lightbox" => "image-#{i}"} %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <% i += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
.modal-open .modal {
    z-index: 9000;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js" type="text/javascript"></script>
