<div class="panel panel-default">
  <div class="panel-heading">Formulário para avarias da remessa de entrada</div>
  <div class="panel-body">
    <%= form_for([@input_control, @breakdown], :url => input_control_breakdowns_path, :remote => true) do |f| %>
      <div id="inventories_errors">
         <%= render 'shared/error_messages', object: f.object %>
      </div>
      
      <div id="inventories_success"> </div>
          
          <%= render 'breakdowns/fields', f: f %>
                    
          <div class="form-actions">
            <br /> 
            <%= f.submit "[+] Add Item", class: "btn btn-success btn-sm" %>
          </div>
        </div>
      
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
   $("#breakdown_product_id").focusout(function() {
      var product = $('#breakdown_product_id').val();
      var input_control = <%= @input_control.id %>
      console.log(product);
      console.log(input_control);
      $.ajax({
        type: "GET",
        data: {input_control_id: input_control, product_id: product},
        dataType : 'html',
        url: '/get_product_by_cod_prod',
        error: function(data){
            $('#result_product').html("<div class='alert alert-error'>Error location product.</div>");
        },
        success: function(data){
            $('#result_product').html(data);
        },
      });
    });
  });
</script>
