    <p>
      <strong>Oferta de carga:</strong>
      <%= link_to @direct_charge.offer_charge_id, @direct_charge.offer_charge if @direct_charge.offer_charge.present? %>
    </p>

    <p>
      <strong>Motorista:</strong>
      <%= link_to @direct_charge.driver.nome, @direct_charge.driver %> | 
      <strong>CPF:</strong>
      <%= @direct_charge.driver.cpf %>      
    </p>
    
    <p> <!-- Primeira Placa -->
      <strong>Placa:</strong>
      <%= link_to @direct_charge.vehicle_horse.placa, @direct_charge.vehicle_horse if @direct_charge.vehicle_horse.present? %> |
      <strong>Capacidade:</strong> <span style="color: red; font-weight: bold;"><%= @direct_charge.vehicle_horse.capacity if @direct_charge.vehicle_horse.present? %></span>
    </p>

    <p> <!-- Segunda Placa -->
      <strong>Placa:</strong>
      <%= link_to @direct_charge.vehicle_cart_first.placa, @direct_charge.vehicle_cart_first if @direct_charge.vehicle_cart_first.present? %> |
      <strong>Capacidade:</strong> <span style="color: red; font-weight: bold;"><%= @direct_charge.vehicle_cart_first.capacity if @direct_charge.vehicle_cart_first.present? %></span>
    </p>

    <p> <!-- Terceira Placa -->
      <strong>Placa:</strong>
      <%= link_to @direct_charge.vehicle_cart_second.placa, @direct_charge.vehicle_cart_second if @direct_charge.vehicle_cart_second.present? %> |
      <strong>Capacidade:</strong> <span style="color: red; font-weight: bold;"><%= @direct_charge.vehicle_cart_second.capacity if @direct_charge.vehicle_cart_second.present? %></span>
    </p>

    <p>
      <strong>No Remessa do Cliente:</strong>
      <%= @direct_charge.shipment %> 
    </p>

    <p>
      <strong>Data Carregamento:</strong>
      <%= date_br @direct_charge.date_charge %>
    </p>

    <p>
      <strong>Cobrar Descarga:</strong>
      <%#= @direct_charge.charge_discharge_status %>
    </p>

    <p>
      <strong>Carga Peletizada:</strong>
      <%= @direct_charge.palletized_status %>
    </p>

    <p>
      <strong>Qtde Paletes:</strong>
      <%= @direct_charge.quantity_pallets %>
    </p>
    
    <hr>
    
    <p>
      <strong>Trecho:</strong>
      <%= @direct_charge.stretch_route.stretch_source_and_target_long %>
    </p>

    <p>
      <strong>Tipo de Serviço:</strong>
      <%= @direct_charge.type_service.descricao %>
    </p>

    <p>
      <strong>Origem:</strong>
      <%= @direct_charge.source_city %>/<%= @direct_charge.source_state %>
    </p>
        
    <p>
      <strong>Destino:</strong>
      <%= @direct_charge.target_city %>/<%= @direct_charge.target_state %>
    </p>

    <hr>
    
    <p>
      <strong>Peso:</strong>
      <%= number_to_currency(@direct_charge.weight, precision: 3, unit: "", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Volume:</strong>
      <%= number_to_currency(@direct_charge.volume, precision: 3, unit: "", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Valor Tonelada:</strong>
      <%= number_to_currency(@direct_charge.value_ton, unit: "R$ ", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Value p/ kg:</strong>
      <%= number_to_currency(@direct_charge.value_kg, precision: 3, unit: "R$ ", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Valor Descarga:</strong>
      <%= number_to_currency(@direct_charge.value_total, unit: "R$ ", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Contas a Receber:</strong>
      <%= link_to @direct_charge.account_receivable.id, @direct_charge.account_receivable if @direct_charge.account_receivable.present? %>
      <strong>Status:</strong>
      <%= @direct_charge.account_receivable.status_name if @direct_charge.account_receivable.present? %>    
    </p>
    
    <hr>

    <p>
      <strong>Criado por:</strong>
      <%= @direct_charge.user.email if @direct_charge.user.present? %>
    </p>

    <p>
      <strong>Observation:</strong>
      <pre><%= @direct_charge.observation %></pre>
    </p>

