<%= form_for(@direct_charge) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= label_tag :carrier_id, "Transportadora" %><br>
    <% if @direct_charge.new_record? %>
      <%= text_field_tag :carrier_cnpj, nil, class: "form-control cnpj" %>
    <% else %>
      <%= text_field_tag :carrier_cnpj, @direct_charge.carrier.cnpj, class: "form-control cnpj", disabled: true %>
      <%= render partial: "carriers/result_carrier", locals: { carrier: @direct_charge.carrier } %>
    <% end %>
  </div>

  <div id="carrier_cnpj_result">

  </div>

  <div class="form-group">
    <%= label_tag :driver_id, "Motorista" %><br>
    <% if @direct_charge.new_record? %>
      <%= text_field_tag :driver_cpf, nil, class: "form-control cpf" %>
    <% else %>
      <%= text_field_tag :driver_cpf, @direct_charge.driver.cpf, class: "form-control cpf", disabled: true %>
      <%= render partial: "drivers/result_driver", locals: { driver: @direct_charge.driver } %>
    <% end %>
  </div>

  <div id="driver_cpf_result">

  </div>

  <div class="form-group">
    <%= label_tag :billing_client_cpf_cpnj, "CPF/CNPJ Tomador do Serviço" %><br>
    <% if @direct_charge.new_record? %>
      <%= text_field_tag :billing_client_cpf_cpnj, nil, class: "form-control cnpj" %>
    <% else %>
      <% if @direct_charge.billing_client.present? %>
        <%= text_field_tag :billing_client_cpf_cpnj, @direct_charge.billing_client.cpf_cnpj, class: "form-control cnpj", disabled: true %>
        <%= render partial: "clients/result_client", locals: { client: @direct_charge.billing_client } %>
      <% else %>
        <%= text_field_tag :billing_client_cpf_cpnj, nil, class: "form-control cnpj" %>
      <% end %>
    <% end %>
  </div>

  <div id="billing_client_cnpj_result">

  </div>

  <div class="form-group">
    <%= f.label :stretch_route_id, "Trecho" %>
    <% if @direct_charge.stretch_route_id.present? %>
      <%= f.collection_select :stretch_route_id, input_stretch_route(@direct_charge.billing_client_id), :id, :stretch_source_and_target_long, {prompt: "SELECIONE TRECHO ORIGEM"}, {class: "form-control input-sm"} %>
    <% else %>
      <%= f.collection_select :stretch_route_id, [], :name, :name, {prompt: "SELECIONE TRECHO"}, {class: "form-control input-sm"}  %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :type_service_id, "Tipo de Servico" %>
    <% if @direct_charge.type_service_id.present? %>
      <%= f.collection_select :type_service_id, input_type_service(@direct_charge.billing_client_id, @direct_charge.stretch_route_id ), :id, :descricao, {prompt: "SELECIONE TRECHO ORIGEM"}, {class: "form-control input-sm"} %>
    <% else %>
      <%= f.collection_select :type_service_id, [], :id, :name, {prompt: "SELECIONE O SERVICO"}, {class: "form-control input-sm"}  %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :place, "Placa" %>
    <%= f.text_field :place, class: "form-control", style: 'text-transform:uppercase' %>
  </div>

  <div class="form-group">
    <%= f.label :place_cart, "Placa Carreta" %>
    <%= f.text_field :place_cart, class: "form-control", style: 'text-transform:uppercase' %>
  </div>

  <div class="form-group">
    <%= f.label :place_cart_2, "Placa Carreta 2" %>
    <%= f.text_field :place_cart_2, class: "form-control", style: 'text-transform:uppercase' %>
  </div>

  <div class="form-group">
    <%= f.label :shipment, "No Remessa do Cliente" %>
    <%= f.text_field :shipment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date_charge, "Data Carregamento" %>
    <%= f.text_field :date_charge, class: "form-control data", value: date_br(@direct_charge.date_charge) %>
  </div>

  <div class="form-group">
    <%= f.check_box :palletized %> Carga Paletizada?
  </div>

  <div class="form-group">
    <%= f.label :quantity_pallets, "Qtde Paletes" %>
    <%= f.text_field :quantity_pallets, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :source_state, "Estado de Origem" %>
    <%= f.select(:source_state, State.order(:name).collect {|c| [c.name, c.uf]}, {prompt: "SELECT STATE"}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :source_city, "Cidade de Origem" %>
    <% if @direct_charge.source_state.present? %>
      <%= f.collection_select :source_city, city_of_state(@direct_charge.source_state), :name, :name, {prompt: "SELECIONE CIDADE ORIGEM"}, {class: "form-control"} %>
    <% else %>
      <%= f.collection_select :source_city, [], :name, :name, {prompt: "SELECIONE CIDADE ORIGEM"}, {class: "form-control"}  %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :target_state, "Estado de Destino" %>
    <%= f.select(:target_state, State.order(:name).collect {|c| [c.name, c.uf]}, {prompt: "SELECT STATE"}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :target_city, "Cidade de Destino" %>
    <% if @direct_charge.target_city.present? %>
      <%= f.collection_select :target_city, city_of_state(@direct_charge.target_state), :name, :name, {prompt: "SELECIONE CIDADE DESTINO"}, {class: "form-control"} %>
    <% else %>
      <%= f.collection_select :target_city, [], :name, :name, {prompt: "SELECIONE CIDADE DESTINO"}, {class: "form-control"}  %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :observation, "Observação" %>
    <%= f.text_area :observation, class: "form-control" %>
  </div>

  <h3>NF-e</h3>
  <div class="documents_itens">
    <%= f.nested_fields_for :nfe_xmls do |f|
      render 'nfe_xml_fields', f: f
    end -%> <br />
    <%= link_to_add_association '[+] NF-e', f, :nfe_xmls, class: "btn btn-success btn-sm"  %> <br />
    <%#= if @direct_charge.status == InputControl::TypeStatus::OPEN %>
  </div> <br />

  <h3>Documentos</h3>
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f|
        render 'shared/asset', f: f
      end  -%>
    </div>
       <br /> <a href="#" class="btn btn-success btn-sm add">[+] Documento</a>
  </div>

  <hr />

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  direct_charge_path(@direct_charge), class: "btn btn-info" if !@direct_charge.new_record? %>
    <%= link_to "Listar Todos", direct_charges_path, class: "btn btn-default" %>
  </div>

<% end %>

<script type="text/javascript">
  $(function(){
    $("#direct_charge_source_state").change(function(){
      var uf = "uf="+$(this).val();
      console.log(uf);
      $.getJSON('/get_city_by_uf', uf, function(data){
        var options = '<option value="">Selecione a cidade de origem</option>';
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#direct_charge_source_city").html(options);
      });
    });
  });
</script>

<script type="text/javascript">
  $(function(){
    $("#direct_charge_target_state").change(function(){
      var uf = "uf="+$(this).val();
      console.log(uf);
      $.getJSON('/get_city_by_uf', uf, function(data){
        var options = '<option value="">Selecione a cidade de destino</option>';
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#direct_charge_target_city").html(options);
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#carrier_cnpj").focusout(function() {
      var cnpj = $('#carrier_cnpj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cnpj: cnpj},
        dataType : 'html',
        url: '/carriers/get_carrier_by_cnpj',
        success: function(data){
            $('#carrier_cnpj_result').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#driver_cpf").focusout(function() {
      var cpf = $('#driver_cpf').val();
      console.log(cpf);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cpf},
        dataType : 'html',
        url: '/drivers/get_driver_by_cpf',
        success: function(data){
            $('#driver_cpf_result').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(function() {
   $("#billing_client_cpf_cpnj").focusout(function() {
      var cnpj = $('#billing_client_cpf_cpnj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cnpj},
        dataType : 'html',
        url: '/clients/get_client_by_cnpj',
        success: function(data){
            $('#billing_client_cnpj_result').html(data);
        },
      });
    });
</script>

<script type="text/javascript">
  $(function(){
    $("#billing_client_cpf_cpnj").change(function(){
      var client_id = "cpf_cnpj="+$(this).val();
      console.log(client_id);
      $.getJSON('/get_stretch_routes_from_client_cnpj', client_id, function(data){
        var options = '<option value="">SELECIONE O TRECHO</option>';
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#direct_charge_stretch_route_id").html(options);
      });
    });
  });
</script>

<script type="text/javascript">
  $(function(){
    $("#direct_charge_stretch_route_id").change(function(){
      var cpf_cnpj = $("#billing_client_cpf_cpnj").val();
      var stretch_route_id = $(this).val();
      var client_and_stretch_route = {'cpf_cnpj': cpf_cnpj, 'stretch_route_id': stretch_route_id}
      console.log(client_and_stretch_route);
      $.getJSON('/get_client_table_price_of_by_client_cnpj_and_stretch_route', client_and_stretch_route, function(data){
        var options = '<option value="">SELECIONE O TIPO DE SERVICO</option>';
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#direct_charge_type_service_id").html(options);
      });
    });
  });
</script>
