<%= form_for(@control_pallet) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :responsible_type, "Tipo" %><br>
    <%#= f.select( :type_select_responsible, select_select_responsible, {include_blank: true}, {class: "form-control", id: "controlPalletTypeResponsible"} )%>
    <%= f.select :responsible_type, ControlPallet.responsible_types, {prompt: 'SELECIONE UM TIPO DE RESPONSAVEL'}, {class: "form-control", id: "controlPalletTypeResponsible"} %>
  </div>

  <div class="form-group">
    <%= f.label :supplier_id, "Responsável" %>
    <% if @control_pallet.type_select_responsible.present? %>
      <%= f.collection_select :responsible_id, type_account_select(@control_pallet.responsible_type  ), :id, :nome, {prompt: "SELECIONE SUB CENTRO DE CUSTO"}, {class: "form-control"} %>
    <% else %>
      <%= f.collection_select :responsible_id, [], :id, :nome,  {prompt: "SELECT O FORNECEDOR"}, {class: "form-control"}  %>
    <% end %>
  </div>

  <div id="div_result_person">

  </div>

  <div class="form-group">
    <%= f.label :data  %><br />
    <%= f.text_field :data, class: "form-control data", value: date_br(@control_pallet.data)  %>
  </div>

  <div class="form-group">
    <%= f.label :type_product, "Tipo de Produto" %><br>
    <%= f.select( :tipo, ControlPallet.type_products.keys.to_a, {include_blank: false}, {class: "form-control"} )%>
  </div>

  <div class="form-group">
    <%= f.label :qte %><br>
    <%= f.number_field :qte, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tipo %><br>
    <%= f.select( :tipo, ControlPallet.tipos.keys.to_a, {include_blank: false}, {class: "form-control"} )%>
  </div>

  <div class="form-group">
    <%= f.label :historico %><br>
    <%= f.text_field :historico, class: "form-control" %>
  </div>
<!--
  <div class="form-group">
    <%#= f.label :nfe %><br>
    <%#= f.text_field :nfe, class: "form-control" %>
  </div>

   <div class="form-group">
    <%#= f.label :nfe_original, "Chave NF-e" %><br>
    <%#= f.text_field :nfe_original, class: "form-control" %>
  </div>
-->
  <div class="row">
    <div class="col-xs-2">
      <%#= f.label :nfe %><br>
      <%#= f.text_field :nfe, class: "form-control input-sm numericOnly", placeholder: "Nfe"  %>
    </div>

    <div class="col-xs-4">
      <%#= f.label :nfe, "Chave NF-e" %><br>
      <%#= f.text_field :nfe_original, maxlength: 44, class: "form-control input-sm", placeholder: "Chave NF-e"  %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <%#= f.label :nfd %><br>
      <%#= f.text_field :nfd, class: "form-control input-sm numericOnly", placeholder: "Nfe"  %>
    </div>

    <div class="col-xs-4">
      <%#= f.label :nfd_original, "Chave NFd" %><br>
      <%#= f.text_field :nfd_original, class: "form-control input-sm", placeholder: "Chave NFd"   %>
    </div>
  </div>

  <br />

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  control_pallet_path(@control_pallet), class: "btn btn-info" if !@control_pallet.new_record? %>
    <%= link_to "Listar Todos", control_pallets_path, class: "btn btn-default" %>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
   $("#source_client_cpf_cpnj").focusout(function() {
      var cnpj = $('#source_client_cpf_cpnj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cnpj},
        dataType : 'html',
        url: '/clients/get_client_by_cnpj',
        success: function(data){
            $('#source_client_cnpj_result').html(data);
        },
      });
    });
  });
</script>
