<%= form_for(@control_pallet) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%#= f.label :client_id %><br>
    <%#= f.select(:client_id, Client.order(:nome).collect {|g| [g.nome, g.id]}, {include_blank: "Informe o Cliente"}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= label_tag :source_client_cpf_cpnj, "CNPJ Remetente" %><br>
    <% if @control_pallet.new_record? %>
      <%= text_field_tag :source_client_cpf_cpnj, nil, class: "form-control cnpj" %>
    <% else %>
      <%= text_field_tag :source_client_cpf_cpnj, @control_pallet.client.cpf_cnpj, class: "form-control cnpj", disabled: true %>
      <%= render partial: "clients/result_client", locals: { client: @control_pallet.client } %>
    <% end %>
  </div>
  
  
  <div id="source_client_cnpj_result">

  </div>    
  
  <div class="form-group">
    <%= f.label :data  %><br />
    <%= f.text_field :data, class: "form-control data", value: date_br(@control_pallet.data)  %>
  </div>
  
  <div class="form-group">
    <%= f.label :carrier_id, "Transportador" %><br>
    <%= f.select(:carrier_id, Carrier.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :qte %><br>
    <%= f.number_field :qte, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :tipo %><br>
    <%= f.select( :tipo, select_credito_debito_pallets, {include_blank: false}, {class: "form-control"} )%>
  </div>
  
  <div class="form-group">
    <%= f.label :historico %><br>
    <%= f.text_field :historico, class: "form-control" %>
  </div>
<!--
  <div class="form-group">
    <%#= f.label :nfe %><br>
    <%#= f.text_field :nfe, class: "form-control" %>
  </div>

   <div class="form-group">
    <%#= f.label :nfe_original, "Chave NF-e" %><br>
    <%#= f.text_field :nfe_original, class: "form-control" %>
  </div>
-->
  <div class="row">
    <div class="col-xs-2">
      <%= f.label :nfe %><br>
      <%= f.text_field :nfe, class: "form-control input-sm numericOnly", placeholder: "Nfe"  %>
    </div>

    <div class="col-xs-4">
      <%= f.label :nfe, "Chave NF-e" %><br>
      <%= f.text_field :nfe_original, maxlength: 44, class: "form-control input-sm", placeholder: "Chave NF-e"  %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <%= f.label :nfd %><br>
      <%= f.text_field :nfd, class: "form-control input-sm numericOnly", placeholder: "Nfe"  %>
    </div>

    <div class="col-xs-4">
      <%= f.label :nfd_original, "Chave NFd" %><br>
      <%= f.text_field :nfd_original, class: "form-control input-sm", placeholder: "Chave NFd"   %>
    </div>
  </div>

  <br />

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  control_pallet_path(@control_pallet), class: "btn btn-info" if !@control_pallet.new_record? %>
    <%= link_to "Listar Todos", control_pallets_path, class: "btn btn-default" %>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
   $("#source_client_cpf_cpnj").focusout(function() {
      var cnpj = $('#source_client_cpf_cpnj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cnpj},
        dataType : 'html',
        url: '/clients/get_client_by_cnpj',
        success: function(data){
            $('#source_client_cnpj_result').html(data);
        },
      });
    });
  });
</script>
