<div class="panel panel-default">
  <div class="panel-heading">Listagem de Controle de Pallets</div>
  <div class="panel-body">
    <strong> Saldo: <%= ControlPallet.saldo %> </strong>
    <%#= link_to 'Novo Pallets', new_control_pallet_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Client</th>
            <th>Data</th>
            <th>Qte</th>
            <th>Tipo</th>
            <th>Transp.</th>
            <th>Historico</th>
            <th>NF-e</th>
            <th>NF-d</th>
            <th>Status</th>
            <th colspan="3">Opções</th>
          </tr>
        </thead>
 
        <tbody>
          <% @control_pallets.each do |pallet| %>
            <tr>
              <td><%= pallet.client.nome %></td>
              <td><%= date_br pallet.data %></td>
              <td><%= pallet.qte %></td>
              <td><%= pallet.credito_debito %></td>
              <td><%= pallet.carrier.nome if pallet.carrier.present? %></td>
              <td><%= pallet.historico %></td>
              <td><%= pallet.nfe %></td>
              <td><%= pallet.nfd %></td>
              <td><%= link_to 'Show', pallet, class: "btn btn-info btn-xs" %></td>
              <td><%= link_to 'Edit', edit_control_pallet_path(pallet), class: "btn btn-primary btn-xs" %></td>
              <td><%= link_to 'Destroy', pallet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
