<%= form_for(@budget) do |f| %>


  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :data %>
    <%= f.date_select :data, {:class => 'date-select'}  %>
    
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fone %>
    <%= f.text_field :fone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado_origem %>
    <%= f.select( :estado_origem, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :municipio_origem %>
    <%= f.text_field :municipio_origem, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado_destino %>
   <%= f.select( :estado_destino, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :municipio_destino %>
    <%= f.text_field :municipio_destino, class: "form-control" %>
  </div>

  <h2>Items</h2>
  <% if @budget.new_record? %>
   
    <table width="40%">
      <thead>
        <th >Produto</th>
        <th >Qtde</th>
      </thead>

      <tbody>
        <% Product.order(:descricao).each do |p| %>
          <tr>
            <td ><%= p.descricao %></td>
            <td ><%#= text_field_tag "budget_items[qtde][#{p.id}]", "", maxlength: 5, size: 5 %>
               <div data-trigger="spinner" id="spinner">
                <a href="javascript:;" data-spin="down">-</a>
                <%= text_field_tag "budget_items[qtde][#{p.id}]", "", maxlength: 5, size: 5, :data => {:rule => 'quantity' } %>
                <a href="javascript:;" data-spin="up">+</a>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>

  <% else %>

    <table width="40%">
      <thead>
        <th >Produto</th>
        <th >Qtde</th>
      </thead>

      <tbody>
        <% Product.order(:descricao).each do |p| %>
          <tr>
            <% item = @budget.budget_items.find_by_product_id (p.id) %>
            <% if item.nil? %>
              <td ><%= p.descricao %>  <%#= p.cubagem %> </td>
              <td ><%#= text_field_tag "budget_items[qtde][#{p.id}]", "", maxlength: 5, size: 5 %>
                <div data-trigger="spinner" id="spinner">
                  <a href="javascript:;" data-spin="down">-</a>
                  <%= text_field_tag "budget_items[qtde][#{p.id}]", "", maxlength: 5, size: 5, :data => {:rule => 'quantity' } %>
                  <a href="javascript:;" data-spin="up">+</a>
                </div>
              </td>
            <% else %>
              <td ><%= p.descricao %></td>
              <td ><%#= text_field_tag "budget_items[qtde][#{p.id}]", "", maxlength: 5, size: 5 %>
                <div data-trigger="spinner" id="spinner">
                  <a href="javascript:;" data-spin="down">-</a>
                  <%= text_field_tag "budget_items[qtde][#{item.product_id}]", item.qtde, maxlength: 5, size: 5, :data => {:rule => 'quantity' } %>
                  <a href="javascript:;" data-spin="up">+</a>
                </div>
              </td>

            <% end %>
          </tr>
        <% end %>
      </tbody>

    </table>

  <% end %>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Exibir",  budget_path(@budget), class: "btn btn-info" if !@budget.new_record? %>
    <%= link_to "Listar Todos", budgets_path, class: "btn btn-default" %>
  </div>
<% end %>

