<tr>
  <td><%= truncate(account_receivable.client.nome, length: 35 ) %></td>
  <td><%= account_receivable.billing_id %></td>
  <td><%= date_br(account_receivable.data_vencimento )%></td>
  <td><%= account_receivable.documento %></td>
  <td><%= number_to_currency(account_receivable.valor, unit: "R$ ", separator: ",", delimiter: ".")  %></td>
  <td><%= truncate(account_receivable.observacao, length: 20) %></td>
  <td><%= account_receivable.status_name %></td>
  <td><%= link_to 'Show', account_receivable, class: "btn btn-info btn-xs" %></td>
</tr>

