<div class="panel panel-default">
  <div class="panel-heading">Dados da NF-e: <%= @nfe_key.nfe %></div>
  <div class="panel-body">
    <p>
    	<strong>Chave:</strong>
    	<%= @nfe_key.chave %>
    </p>

    <p>
    	<strong>Remessa de entrada:</strong>
    	<%= link_to @nfe_key.ordem_service.input_control.id, @nfe_key.ordem_service.input_control if  @nfe_key.ordem_service.input_control.present? %>
    </p>

    <p>
    	<strong>O.S:</strong>
    	<%= link_to @nfe_key.ordem_service.id, @nfe_key.ordem_service %>
    </p>
 
    <p>
    	<strong>Embarque:</strong>
    	<%= link_to @nfe_key.ordem_service.boarding.id, @nfe_key.ordem_service.boarding if @nfe_key.ordem_service.boarding.present? %>
    </p>

    <p>
    	<strong>Remetente:</strong>
    	<%= link_to "#{@nfe_key.ordem_service.source_client.cpf_cnpj} - #{@nfe_key.ordem_service.source_client.nome}", @nfe_key.ordem_service.source_client if @nfe_key.ordem_service.source_client %>
    </p>

    <p>
    	<strong>Destinatario:</strong>
    	<%= link_to "#{@nfe_key.ordem_service.client.cpf_cnpj} - #{@nfe_key.ordem_service.client.nome}", @nfe_key.ordem_service.client if @nfe_key.ordem_service.client %>
    </p>

    <p>
    	<strong>Tomador do Servico:</strong>
    	<%= link_to "#{@nfe_key.ordem_service.billing_client.cpf_cnpj} - #{@nfe_key.ordem_service.billing_client.nome}", @nfe_key.ordem_service.billing_client if @nfe_key.ordem_service.billing_client%>
    </p>

    <p>
    	<strong>Peso:</strong>
    	<%= @nfe_key.peso %>
    </p>

    <p>
    	<strong>Volume:</strong>
    	<%= @nfe_key.volume %>
    </p>

    <% if @nfe_key.take_dae? %>
      <p>
      	<strong>Cobrar DAE:</strong>
      	<%= extenso_boolean @nfe_key.take_dae %>
      </p>

      <p>
      	<strong>Acao Fiscal:</strong>
      	<%= @nfe_key.action_inspector_number %>
      </p>

      <p>
        <strong>Situação:</strong>
        <%= @nfe_key.action_inspector_status_name %>
      </p>

      <p>
        <strong>Baixado por :</strong>
        <% if @nfe_key.user_action_inspector_confirmed.present?  %>
          <% @nfe_key.user_action_inspector_confirmed.email %> 
          <strong>no dia</strong> <%= date_br @nfe_key.action_inspector_updated_confirmed %> 
          <strong>as</strong> <%= time_br @nfe_key.action_inspector_updated_confirmed %>
        <% end %>
      </p>

    <% end %>

    <p>
    	<strong>Retido:</strong>
    	<%= @nfe_key.retained_name %>
    </p>

    <% if @nfe_key.is_retained? %>  
	    <p>
	    	<strong>Motivo:</strong>
	    	<%= @nfe_key.motive_name %>
	    </p>    
	    <p>
	    	<strong>Motivo:</strong>
	    	<pre><%= @nfe_key.motive_observation %></pre>
	    </p>    
    <%end %>


  </div>
</div>

<div class="form-group">
  <%= link_to 'Listar Todos', nfe_keys_path, class: "btn btn-default" %>
  
  <% if !@nfe_key.take_dae? %>
    <%= link_to take_dae_nfe_key_path(@nfe_key), class: "btn btn-success" do %>
      <i class="fa fa-check fa-1x" aria-hidden="true">Cobrar DAE</i> 
    <% end %>
  <% end %>

  <% if @nfe_key.take_dae? && !@nfe_key.action_inspector_status_pay %>
    <%= link_to request_payment_dae_nfe_key_path(@nfe_key), class: "btn btn-primary" do %>
      <i class="fa fa-envelope-square fa-1x" aria-hidden="true">Enviar Boleto DAE</i> 
    <% end %>
    <%= link_to "[-] Baixar Acao Fiscal", edit_action_inspector_nfe_key_path(@nfe_key), class: "btn btn-info" %>
  <% end %>
  
  
  <%= link_to '[+] Canhoto', edit_nfe_key_path(@nfe_key), class: "btn btn-primary" %>
  <%= link_to '[+] Pendencia', pending_nfe_key_path(@nfe_key), class: "btn btn-warning"  %>

  <%= link_to request_receipt_nfe_key_path(@nfe_key), class: "btn btn-success" do %>
    <i class="fa fa-envelope-square fa-1x" aria-hidden="true">Solicitar Declaracao</i> 
  <% end %>


</div>

