<!-- marcação HTML do documento -->
<div class="minha-classe">

    <style rel="stylesheet" type="text/css" scoped="scoped">
        {background: #lightgray; }
    </style>


<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Controle Individual por CT-e No: <%= @operating.id %> - <%= @operating.status_name %></h2>
  </div>
  <div class="panel-body">
    <p>
      <strong>Driver:</strong>
      <%= link_to "#{ @operating.driver.nome }", @operating.driver %> 
      <strong>CPF:</strong>
       <%= @operating.driver.cpf %>
    </p>

    <p>
      <strong>Contatos:</strong>
      <%= @operating.driver.telefone_completo %>
    </p>

    <p>
      <strong>Data chegada:</strong>
      <%= @operating.data_chegada %>
    </p>

    <p>
      <strong>Placa:</strong>
      <%= @operating.placa %>
    </p>

    <p>
      <strong>Cte:</strong>
      <%= @operating.cte %>
      <strong>Danfe:</strong>
      <%= @operating.danfe %>
    </p>

    <p>
      <strong>Qtde volume:</strong>
      <%= @operating.qtde_volume %>
      <strong>Peso:</strong>
      <%= @operating.peso %>
    </p>

    <p>
      <strong>Chave cte:</strong>
      <%= @operating.chave_cte %>
    </p>

    <p>
      <strong>Chave Nfe:</strong>
      <%= @operating.chave_nfe %>
    </p>

    <p>
      <strong>Informação sobre a carga:</strong>
      <pre><%= @operating.observacao %></pre>
    </p>
  </div>
</div>

  
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Dados do Destinatário </h2>
  </div>
  <div class="panel-body">

  <div class="operatings-client-show">
        
        <p>
          <strong>Nome:</strong>
          <label class="fields"> 
            <%= link_to "#{ @operating.client.nome }", @operating.client %> 
          </label>
          <strong>CPF/CNPJ:</strong>
          <label class="fields"><%= @operating.client.cpf_cnpj %></label>
        </p>
        
        <p>
          <strong>Endereco:</strong>
          <label class="fields"><%= @operating.client.endereco %>, <%= @operating.client.numero %></label>
        </p>

        <p>
          <strong>Complemento:</strong>
          <label class="fields"><%= @operating.client.complemento %></label>
        </p>

        <p>
          <strong>Bairro:</strong>
          <label class="fields"><%= @operating.client.bairro %></label> - 
          <strong>Municipio:</strong>
          <label class="fields"><%= @operating.client.cidade %></label>
        </p>

        <p>
          <strong>Responsavel recebimento:</strong>
          <label class="fields"><%= @operating.client.telefone_completo  %></label>
        </p>

        <p>
          <strong>Responsavel palete:</strong>
          <label class="fields"><%= @operating.client.telefone_completo_palete  %></label>
        </p>

        <p>
          <strong>Horário para descarregar:</strong>
          <label class="fields"><%= @operating.client.hora_descarga %></label>
        </p>

        <p>
          <strong>Condições para descarregar:</strong>
          <pre><%= @operating.client.condicao_recebimento %></pre>
        </p>

  </div>
    
    <p>
      <strong>Informacao agendamento:</strong>
      <pre> <%= @operating.informacao_agendamento %> </pre>
    </p>

    <p>
      <strong>Informacao operacional:</strong>
      <pre><%= @operating.informacao_operacional %></pre>
    </p>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Operacional </h2>
  </div>
  <div class="panel-body">

  <p>
    <strong>Responsavel descarga:</strong>
    <%= @operating.responsavel_descarga %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= @operating.valor %>
  </p>

  <p>
    <strong>Fpgto:</strong>
    <%= @operating.fpgto_nome %>
  </p>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><strong>Avaria:&nbsp;</strong><%= extenso_boolean @operating.avaria %></h2>
  </div>
  <div class="panel-body">


  <p>
    <strong>Data devolucao:</strong>
    <%= @operating.data_devolucao %>
  </p>

  <p>
    <strong>Danfe devolucao:</strong>
    <%= @operating.danfe_devolucao %>
  </p>

  <p>
    <strong>Chave devolucao:</strong>
    <%= @operating.chave_danfe_devolucao %>
  </p>

  <p>
    <strong>Motivo devolucao:</strong>
    <pre><%= @operating.motivo_devolucao %></pre> 
  </p>

  <p>
    <strong>Observacao edvolucao:</strong>
    <pre><%= @operating.observacao_edvolucao %></pre>
  </p>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Items </h2>
  </div>

  <div class="panel-body">  
    <%= render 'show_itens', object: @operating %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Funcionarios </h2>
  </div>

  <div class="panel-body">  
    <%= render 'show_employees', object: @operating %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Services </h2>
  </div>

  <div class="panel-body">  
    <%= render 'show_services', object: @operating %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Documentos</h2>
  </div>
  <div class="panel-body">

    <%= render 'shared/document', object: @operating %>

  </div>
</div>


<div class="form-group">
  <%#= link_to 'Editar', edit_operating_path(@operating), class: "btn btn-primary" %> 
  <%= link_to 'Voltar', operatings_path, class: "btn btn-default" %>
</div>
