<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@client_representative, remote: true, html: {role: :form, 'data-model' => 'client_representative'}) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

	<%= hidden_field_tag "client_representative[representative_id]", @representative.id %>  

  <div class="form-group">
    <%= label_tag :billing_client_cpf_cpnj, "CNPJ Tomador do Servico/Embarcador" %><br>
    <% if @client_representative.new_record? %>
      <%= text_field_tag :billing_client_cpf_cpnj, nil, class: "form-control cnpj" %>
    <% else %>
      <%= text_field_tag :billing_client_cpf_cpnj, @client_representative.source_client.cpf_cnpj, class: "form-control cnpj", disabled: true %>
      <%= render partial: "clients/result_client", locals: { client: @client_representative.source_client } %>
    <% end %>
  </div>

  <div id="billing_client_cnpj_result">

  </div>  

  <div class="form-group">
    <%= label_tag :client_cpf_cpnj, "CNPJ Client" %><br>
    <% if @client_representative.new_record? %>
      <%= text_field_tag :client_cpf_cpnj, nil, class: "form-control cnpj" %>
    <% else %>
      <%= text_field_tag :client_cpf_cpnj, @client_representative.source_client.cpf_cnpj, class: "form-control cnpj", disabled: true %>
      <%= render partial: "clients/result_client", locals: { client: @client_representative.source_client } %>
    <% end %>
  </div>

  <div id="source_client_cnpj_result">

  </div>  

  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
   $("#client_cpf_cpnj").focusout(function() {
      var cnpj = $('#client_cpf_cpnj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cnpj},
        dataType : 'html',
        url: '/clients/get_client_by_cnpj',
        success: function(data){
            $('#source_client_cnpj_result').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#billing_client_cpf_cpnj").focusout(function() {
      var cnpj = $('#billing_client_cpf_cpnj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cnpj},
        dataType : 'html',
        url: '/clients/get_client_by_cnpj',
        success: function(data){
            $('#billing_client_cnpj_result').html(data);
        },
      });
    });
  });
</script>


