<style>
  .floors{
    display: flex;
    width:100%;
  }
  .streets{
    margin-top: 80px;
  }
  .houses {
    width: 100px;
    height: 50px;
    border: 2px white solid;
    background: #4CAF50;
    padding: 0 5px;
  }

  .houses:first-child {
      background: #CCC;
  }
  .houses.occupied{
    background: #880000;
    color: white;
  }
  .bar{
    background: #CCC;
    width:500px
  }
  .progress{
    background: #880000;
    padding-right:5px;
    min-width: 25px;
    height:20px;
    color: white;
    font-size: bold;
    text-align: right;
  }
</style>
<h1>Houses</h1>

<div class="bar">
  <div class="progress" style="width:<%= @occupied_percent %>%"><%= @occupied_percent %>%</div>
</div>
<% @street.each do |s| %>
  <div id="street-<%= s.name %>" class="streets">
    <h2>Street <%= s.name %></h2>

    <% floor = s.floors.all %>
    <% floor.each do |f| %>
    <div id="floor-<%= f.name %>" class="floors">
      <div class="houses">
        <h3>Floor <%= f.name %></h3>
      </div>

      <% house = f.houses.order(:id).active %>
      <% house.each do |h| %>
      <div id="house-<%= h.name %>" class="houses<%= (h.occupied) ? " occupied" : "" %>">
        <h4><%= h.id %></h4><br>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>
