<p style="margin-bottom: 20px;"><%= icon_status_boarding(boarding.status) %> <%= date_br(boarding.date_boarding) %> - <%= boarding.status_name  %> </p>
<p><strong>Embarque: </strong><span><%= boarding.id %></span></p>
<!-- <p><strong>Motorista: </strong><span><%= boarding.driver.nome %> <small><%#= !boarding.driver_checkin? ? "(Não verificado)" : "" %></small></span></p> -->
<p><strong>Motorista: <%= boarding.driver.nome %> <big style="font-size:2em"><%= boarding.driver_checkin?.present? ? raw('<i class="fas fa-check text-success"></i>') : raw('<i class="fas fa-times text-danger"></i>') %></big></strong><span></span></p>
<p><strong>Lacres:</strong><span><%= boarding.sealings.pluck(:number) %></span></p>
<p><strong>Cidades: </strong> <span><%= boarding.get_cities %></span></p>
<p><strong>Equipe: </strong> <span><%= boarding.team_name %></span> <strong style="display:inline">Doca: </strong> <span><%= boarding.dock %></span></p>
