<ol class="breadcrumb">
  <% if current_user.has_role? :visit %>
    <li><%= link_to "Home", dashboard_visit_path %></li>
  <% else %>
    <li><%= link_to "Home", dashboard_agent_path %></li>
  <% end %>
  <li class="active">User change password</li>
</ol>

<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :autocomplete => "off", class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control" %>
    <span class="help-block">(we need your current password to confirm your changes)</span>
  </div>
  <div class="form-action">
    <%= f.submit "Update User", class: "btn btn-lg btn-primary" %>
    <% if current_user.has_role? :visit %>
      <%= link_to "Back", dashboard_visit_path, class: "btn btn-lg btn-default" %>
    <% else %>
      <%= link_to "Back", dashboard_agent_path, class: "btn btn-lg btn-default" %>
    <% end %>
  </div>
<% end %>
