<main class="content-login">
  <div class="info col">
    <%= image_tag("logo_yohan.png", alt: "Yohan WMS") %>
    <h1>Sistema WMS</h1>
  </div>
  <div class="login col">
    <h2>Esqueci minha senha</h2>
    <div class="error"><%= devise_error_messages! %></div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="form-item">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email", required: true, autofocus: true, autocomplete:"off" %>
        <small>Digite um email válido.</small>
      </div>


      <div class="form-item">
        <%= link_to "Voltar", new_session_path(resource_name), class: "btn btn-default" if controller_name != 'sessions' %>
        <%= f.submit "Enviar email para troca de senha", class: "btn btn-success" %>
      </div>

    <% end %>
  </div>
</main>

<%#= render "devise/shared/links" %>
