<%= form_for(@boarding) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :date_boarding, "Data do Embarque" %>
    <%= f.text_field :date_boarding, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :carrier_id, "Agente" %><br>
    <%= f.select(:carrier_id, Carrier.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :driver_id, "Motorista" %><br>
    <%= f.select(:driver_id, Driver.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%#= link_to "Exibir",  boardings_path(@boarding), class: "btn btn-info" if !@boarding.new_record? %>
    <%#= link_to "Listar Todos", boardings_path, class: "btn btn-default" %>
  </div>
<% end %>


