<%= form_for @boarding, html: {id: "form_boarding"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :date_boarding, "Data da Embarque" %><br>
    <%= f.text_field :date_boarding, class: "form-control data", value: date_br(@boarding.date_boarding) %>
  </div>

  <div class="form-group">
    <%= f.label :carrier_id, "Agente" %><br>
    <%= f.select(:carrier_id, Carrier.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :driver_id, "Motorista" %><br>
    <%= f.select(:driver_id, Driver.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>
  <div id="div_result_person">

  </div>
  <div class="form-group">
    <%= f.label :value_boarding, "Valor Embarque" %><br>
    <%= f.text_field :value_boarding, class: "form-control money2", value: to_real(f.object.value_boarding) %>
  </div>
  <div class="form-group">
    <%= f.label :safe_rctr_c, "Seguro RCTR-C" %><br>
    <%= f.text_field :safe_rctr_c, class: "form-control money2", value: to_real(f.object.safe_rctr_c) %>
  </div>
  <div class="form-group">
    <%= f.label :safe_optional, "Seguro (opc.)" %><br>
    <%= f.text_field :safe_optional, class: "form-control money2", value: to_real(f.object.safe_optional) %>
  </div>
  <div class="form-group">
    <%= f.label :number_tranking, "Numero Rastreador Correios" %><br>
    <%= f.text_field :number_tranking, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :local_embarque  %>
    <%= f.select( :local_embarque, select_local_embarque, {include_blank: "Selecione o Local do Embarque"}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :manifesto, "Manifesto No:" %><br>
    <%= f.text_field :manifesto, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :chave_manifesto, "Chave Manifesto: " %><br>
    <%= f.text_field :chave_manifesto, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :action_inspector, "No. Ação Fiscal: " %><br>
    <%= f.text_field :action_inspector, class: "form-control" %>
  </div>

  <div class="form-group">
    <%#= f.label :sealing, "No. primeiro Lacre:" %><br>
    <%#= f.text_field :sealing, class: "form-control" %>
  </div>

  <div class="form-group">
    <%#= f.label :sealing_two, "No. segundo Lacre:" %><br>
    <%#= f.text_field :sealing_two, class: "form-control" %>
  </div>

  <div class="form-group">
    <%#= f.label :sealing_three, "No. terceiro Lacre:" %><br>
    <%#= f.text_field :sealing_three, class: "form-control" %>
  </div>
<!--
  <div id="sealing">
    <fieldset>
      <legend>Informe os lacres</legend>
      <div class="items">
        <%#= f.nested_fields_for :sealingwaxes do |f| %>
          <%#= render "form_table_price", f: f %>
        <%# end %>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <a href="#" class="btn btn-success btn-sm add">[+] Tab. Preço</a>
        </div>
      </div>
    </fieldset>
  </div>
-->
  <%= f.fields_for :sealings do |f|
      render 'sealing_fields', f: f
  end -%>

  <div class="form-group">
    <%= f.label :obs, "Observação" %>
    <%= f.text_area :obs, class: "form-control" %>
  </div>

  <h3>Dados Veiculos</h3>
  <div class="cte_items">
    <%= f.fields_for :boarding_vehicles do |f|
      render 'boarding_vehicle_fields', :f => f, driver: 999
      #render 'boarding_vehicle_fields', :f => f, driver: 999
    end -%> <br />
    <%= link_to_add_association 'Add Veiculo', f, :boarding_vehicles, class: "btn btn-success btn-sm" %> <br />
  </div>

  <hr />

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  boarding_path(@boarding), class: "btn btn-info" if !@boarding.new_record? %>
    <%= link_to "Listar Todos", boardings_path, class: "btn btn-default" %>
  </div>
<% end %>

<script type="text/javascript">
jQuery(function($) {
  // when the #country field changes
  var type = -1;

  $("#boarding_driver_id").change(function() {
    // make a POST call and replace the content
    var url_name = "";
    var id = $('select#boarding_driver_id :selected').val();
    console.log("type:" + type);
    url_name = "/drivers/get_driver_by_id";
     //"\""+url_name+"\""
    console.log("url: " + url_name);
    $.ajax({
      type: "GET",
      data: {id: id},
      url: url_name
    });
    return false;
  });
})
</script>
