<%= breadcrumbs({"Dashboard": dashboard_oper_path, "Embarques": ""}) %>
<%= link_to 'voltar', dashboard_oper_path, class: "btn btn-default" %>
<h2>Embarques</h2>
<ul class="list-group dashlist">
  <% @boardings.each do |boarding| %>
  <li class="<%= boarding.status_name.downcase %>">
    <div class="content-list">
      <%= render 'static_pages/oper_boarding', boarding: boarding %>
    </div>
    <%= link_to 'Iniciar', start_boarding_path(boarding), class: "btn btn-default btn-xs" if boarding.status == Boarding::TipoStatus::ABERTO %>
    <%= link_to 'Confirmar Embarque', confirmed_boarding_path(boarding)+"?ajax=true", {class: "btn btn-success btn-xs", "data-toggle": "modal", "data-target": "#myModal"} if boarding.status == Boarding::TipoStatus::INICIADO %>
    <%= link_to 'Detalhes', detail_boarding_path(boarding), class: "btn btn-info btn-xs" %>
  </li>
  <% end %>
</ul>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
