<style type="text/css">
	td div { width:76px; overflow: hidden; }
</style>
<h1>Gerar Embarque</h1>

<%#= form_tag(selection_shipment_search_boardings_url, :method => :get, remote: true) do %>
<%= search_form_for @q, remote: true, url: selection_shipment_search_boardings_path, :method => :get do |f| %>
  
  <div class="panel panel-default">
    <div class="panel-heading">Pesquisar por</div>
    <div class="panel-body">
      
      <div class="form-group">
        <%= label_tag :estado, "Estado" %>
        <%= select_tag :estado, options_from_collection_for_select(State.order(:name), :uf, :name, 'CE'), :prompt => "Selecione um estado", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :cidade_cont_all, "Cidade" %>
        <%#= f.collection_select :cidade_cont, city_of_state('CE'), :name, :name, {prompt: "SELECIONE CIDADE"}, {class: "form-control"} %>
        <%= f.text_field :cidade_cont_all, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= label_tag :region, "Regiao" %>
        <%= select_tag :region, options_from_collection_for_select(MicroRegion.order(:name), :id, :name), :prompt => "Selecione um estado", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= submit_tag("Search") %> 
      </div>

    </div>

  </div>

<% end %>



<div id="ordem_service_type_service_id">
  <%= form_tag({:controller => "boardings", :action => "create"}, :method => "post", :name => "boardingForm") do %>

  <div class="panel panel-default">
    <div class="panel-heading">Selecione as OS para Embarque</div>
    <div class="panel-body">

      <div id="result_input">

        <%= render(partial: 'ordem_services', locals: {f: @ordem_services}) %>

      </div>    
    </div>
  </div>

  <%= submit_tag("Gerar Embarque", class: "btn btn-primary") %> 

  <% end %>
</div>

<hr>

<script type="text/javascript">
Number.prototype.formatMoney = function(c, d, t){
var n = this, 
    c = isNaN(c = Math.abs(c)) ? 2 : c, 
    d = d == undefined ? "." : d, 
    t = t == undefined ? "," : t, 
    s = n < 0 ? "-" : "", 
    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
    j = (j = i.length) > 3 ? j % 3 : 0;
   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
 };



  // function checkTotal() {
  //   var elements = document.getElementsByClassName('escolha');
  //   var label = document.getElementById('valor_total');
  //   var sum = 0;
  //   // console.log(elements[i].value);
  //   for (i=0;i< elements.length;i++) {
  //     if (elements[i].checked) {
  //       sum = sum + parseFloat(elements[i].value);
  //       console.log(elements[i].value);
  //     }
  //   }
  //   document.getElementById('valor_total').value = 'R$ ' + sum.formatMoney(2, ',', '.');

  // }

  function checkPesoTotal() {
    var elements = document.getElementsByClassName('escolha');
    var label = document.getElementById('peso_total');
    var sum = 0;
    // console.log(elements[i].value);
    for (i=0;i< elements.length;i++) {
      if (elements[i].checked) {
        sum = sum + parseFloat(elements[i].value);
        console.log(elements[i].value);
      }
    }
    document.getElementById('peso_total').value = sum.formatMoney(3, ',', '.');

  }

</script>

<script type="text/javascript">
jQuery(function($) {
  // when the #country field changes
  $("#type_service_id").change(function() {
    // make a POST call and replace the content
    var conta = $('select#type_service_id :selected').val();
    if(conta == "") conta="0";
    jQuery.get('/ordem_service_to_type_service/' + conta, function(data){
        $("#ordem_service_type_service_id").html(data);
    })
    return false;
  });
})
</script>

<script type="text/javascript">
  $(function(){
    $("#estado").change(function(){
      var uf = "uf="+$(this).val();
      console.log(uf);
      $.getJSON('/get_city_by_uf', uf, function(data){
        var options = '<option value="">Selecione a cidade de origem</option>'; 
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#query_cidade_cont").html(options);
      });
    });
  });
</script>