
<%= render 'notices' %>

<div class="panel panel-default">
  <div class="panel-heading">Dados do Embarque - No: <%= @boarding.id %></div>
  <div class="panel-body">
		
		<p>
		  <strong>Data:</strong>
		  <%= date_br(@boarding.date_boarding) %>
		</p>
		<p>
		  <strong>Agente:</strong>
		  <%= link_to @boarding.carrier.nome, @boarding.carrier %>
		</p>

		<p>
		  <strong>Motorista:</strong>
		  <%= link_to @boarding.driver.nome, @boarding.driver %>
      <% if @boarding.driver_checkin %>
         <i class="fa fa-check fa-2x" style="color: LimeGreen" aria-hidden="true"></i> 
      <% else %>   
         <i class="fa fa-times fa-2x" style="color: red" aria-hidden="true"></i>
      <% end %>
		</p>

		<p>
		  <strong>Valor Frete:</strong>
		  <%= number_to_currency(@boarding.value_boarding, unit: "R$ ", separator: ",", delimiter: ".") %> 
		</p>

    <p>
      <strong>Seguro RCTR-C:</strong>
      <%= number_to_currency(@boarding.safe_rctr_c, unit: "", separator: ",", delimiter: ".") %> 
    </p>

    <p>
      <strong>Seguro (opc.):</strong>
      <%= number_to_currency(@boarding.safe_optional, unit: "", separator: ",", delimiter: ".") %> 
    </p>

    <p>
      <strong>Numero Rastreador Correios</strong>
      <%= @boarding.number_tranking %> 
    </p>

    <p>
      <strong>Local Embarque:</strong>
      <%= @boarding.local_embarque_name %> 
    </p>

    <p>
      <strong>Manifesto No:</strong>
      <%= @boarding.manifesto %> 
    </p>

    <p>
      <strong>Chave Manifesto:</strong>
      <%= @boarding.chave_manifesto %> 
    </p>

    <p>
      <strong>No. Ação Fiscal:</strong>
      <%= @boarding.action_inspector %> 
    </p>

		<p>
		  <strong>Status:</strong>
		  <%= @boarding.status_name %>
		</p>
    
    <p>
      <strong>Qtde paletes:</strong>
      <%= @boarding.qtde_palets %>
    </p>

    <p>
      <strong>Qtde Palete do veículo:</strong>
      <%= @boarding.capacidade_paletes %>
    </p>

    <p>
      <strong>Valor Carga:</strong>
      <%= number_to_currency(@boarding.valor_nota_fiscal, unit: "R$ ", separator: ",", delimiter: ".") %> 
    </p>
    <p>
      <strong>Peso Carga:</strong>
      <%= number_with_precision(@boarding.peso_bruto, precision: 3, separator: ',', delimiter: '.') %>
    </p>

    <p>
      <strong>Volume Carga:</strong>
      <%= number_with_precision(@boarding.volume_total, precision: 2, separator: ',', delimiter: '.') %>
    </p>          

    <p>
      <strong>Numero do Lacre:</strong>
      <%= @boarding.sealing %>
    </p>

		<p>
		  <strong>Observação:</strong>
		  <pre><%= @boarding.obs %></pre>
		</p>
  </div>
</div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dados da Confirmação de Embarque
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

        <p>
          <strong>Placa:</strong>
          <%= @boarding.place %>
        </p>

        <p>
          <strong>Qtde Paletes Informado:</strong>
          <%= @boarding.qtde_pallets_shipped %>
        </p>

        <p>
          <strong>Equipe:</strong>
          <%= @boarding.team_name %>
        </p>

        <p>
          <strong>Galpão:</strong>
          <%= @boarding.hangar %> /
          <strong>Doca:</strong>
          <%= @boarding.dock %>
        </p>

        <p>
          <strong>Usuario </strong> <%= @boarding.started_user.email if @boarding.started_user.present? %> <strong>iniciou o embarque dia</strong> 
          <%= date_br (@boarding.start_time_boarding) %> <strong>as</strong> 
          <%= time_br (@boarding.start_time_boarding) %>
        </p>

        <p>
          <strong>Usuario </strong> <%= @boarding.confirmed_user.email if @boarding.confirmed_user.present? %> <strong>terminou o embarque dia</strong> 
          <%= date_br (@boarding.finish_time_boarding) %> <strong>as</strong> 
          <%= time_br (@boarding.finish_time_boarding) %>
        </p>

        <p>
          <strong>Tempo do carregamento:</strong>
          <%= raw_date = TimeDifference.between(@boarding.start_time_boarding, @boarding.finish_time_boarding).humanize if @boarding.finish_time_boarding.present? %>
        </p>

        <p>
          <strong>Observação:</strong>
          <pre><%= @boarding.oper_observation %></pre>
        </p>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Equipamentos Solicitados
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">

        <% @boarding.control_pallet_internals.credit.each do |control_pallet_internal| %>
          <%= render 'control_pallet_internals/summary', control_pallet_internal: control_pallet_internal %>
        <% end %>         

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Contas a Pagar
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">

       <%#= render 'show_account_payables', account_payables: @ordem_service.account_payables %>
       <%= render 'show_account_payables', account_payables: @boarding.account_payables %>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Ocorrencias
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">

      <%= render 'comments/feed', comments: @boarding.feed %>

      <%#= render 'comments/form_comment_ordem_service' %>
      
      </div>
    </div>
  </div>



<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEleven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Dados do Cancelamento
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel-body">


      <%= render 'cancellations/feed', cancellations: @boarding.feed_cancellations %>

      <%= render 'cancellations/form_cancellation_boarding' %>
      
      </div>
    </div>
  </div>

</div>



<div class="form-group">
  <%= link_to 'Editar', edit_boarding_path(@boarding), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', boardings_path, class: "btn btn-default" %>
  <%= link_to 'Imprimir Embarque', print_boarding_path(@boarding, format: 'pdf'), class: "btn btn-primary" %>
  <%= link_to 'Imprimir Frete', letter_freight_boarding_path(@boarding, format: 'pdf'), class: "btn btn-primary" %>
  <%= link_to 'Gerar Ocorrência', comments_boarding_path(@boarding), class: "btn btn-warning" %>
  <%= link_to 'Solictar Equipamento', request_pallet_boarding_path(@boarding), class: "btn btn-yellow" %>
  <%= link_to 'Informar Avarias', boarding_breakdown_boardings_path(@boarding), class: "btn btn-primary" %>

</div>

<div class="panel panel-default">
 
  <div class="panel-heading">
    <h3 class="panel-title">Entregas</h3>
  </div>

  <div id="messages"></div>

  <div class="panel-body">
    <div id="boardings_items_form"><%= render "/boarding_items/form" %></div>
    <div id="boardings_items_list"><%= render "/boarding_items/boarding_item", boarding_items: @boarding_items %></div>
  </div>

</div>

<%#= render 'show_vehicle', object: @boarding  %>
<%= render 'shared/show_vehicle_compact', object: @boarding %>