
<div class="panel panel-default">
  <div class="panel-heading">Dados do Embarque - No: <%= @boarding.id %></div>
  <div class="panel-body">
		
		<p>
		  <strong>Data:</strong>
		  <%= date_br(@boarding.date_boarding) %>
		</p>
		<p>
		  <strong>Agente:</strong>
		  <%= link_to @boarding.carrier.nome, @boarding.carrier %>
		</p>

		<p>
		  <strong>Motorista:</strong>
		  <%= link_to @boarding.driver.nome, @boarding.driver %>
		</p>

		<p>
		  <strong>Valor:</strong>
		  <%= number_to_currency(@boarding.value_boarding, unit: "R$ ", separator: ",", delimiter: ".") %> 
		</p>

    <p>
      <strong>Seguro RCTR-C:</strong>
      <%= number_to_currency(@boarding.safe_rctr_c, unit: "", separator: ",", delimiter: ".") %> 
    </p>

    <p>
      <strong>Seguro (opc.):</strong>
      <%= number_to_currency(@boarding.safe_optional, unit: "", separator: ",", delimiter: ".") %> 
    </p>
		<p>
		  <strong>Status:</strong>
		  <%= @boarding.status_name %>
		</p>

		<p>
		  <strong>Observação:</strong>
		  <pre><%= @boarding.obs %></pre>
		</p>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Contas a Pagar
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">

       <%#= render 'show_account_payables', account_payables: @ordem_service.account_payables %>
       <%= render 'show_account_payables', account_payables: @boarding.account_payables %>

      </div>
    </div>
  </div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEleven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Dados do Cancelamento
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel-body">


      <%= render 'cancellations/feed', cancellations: @boarding.feed_cancellations %>

      <%= render 'cancellations/form_cancellation_boarding' %>
      
      </div>
    </div>
  </div>

</div>

<div class="form-group">
  <%= link_to 'Editar', edit_boarding_path(@boarding), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', boardings_path, class: "btn btn-default" %>
  <%= link_to 'Imprimir Embarque', print_boarding_path, class: "btn btn-primary" %>
</div>

<div class="panel panel-default">
 
  <div class="panel-heading">
    <h3 class="panel-title">Entregas</h3>
  </div>

  <div id="messages"></div>

  <div class="panel-body">
    <div id="boardings_items_form"><%= render "/boarding_items/form" %></div>
    <div id="boardings_items_list"><%= render "/boarding_items/boarding_item", boarding_items: @boarding_items %></div>
  </div>

</div>

<%#= render 'show_vehicle', object: @boarding  %>
<%= render 'shared/show_vehicle_compact', object: @boarding %>
