<h1>Iniciar Embarque: <%= @boarding.id %></h1>
<%= form_for @boarding, url: update_start_boarding_path, method: :patch, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="panel panel-default">
    <div class="panel-heading">Dados do Embarque - No: <%= @boarding.id %></div>
    <div class="panel-body">

<<<<<<< HEAD
    <%= render "single_info", boarding: @boarding %>
=======
    <%= render "boardings/info/single", boarding: @boarding %>
>>>>>>> operator

    </div>
  </div>


  <div class="form-group">
    <%= f.label :place, "Placa" %><br>
    <%= f.text_field :place, class: "form-control", style: 'text-transform:uppercase' %>
  </div>

  <!-- <div class="form-group">
    <%#= f.label :team, "Equipe" %>
    <%#= f.select( :team, select_team, {include_blank: "Selecione uma Equipe"}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%#= f.label :hangar, "Galpao" %>
    <%#= f.select( :hangar, select_hangar, {include_blank: "Selecione um Hangar"}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%#= f.label :dock, "Doca" %>
    <%#= f.select( :dock, select_dock, {include_blank: "Selecione uma doca"}, {class: "form-control"} ) %>
  </div> -->


	<%= f.submit "Iniciar Embarque", class: "btn btn-blue" %>
<% end %>
