<div class="panel panel-default">
  <div class="panel-heading">Listing client table prices</div>
  <div class="panel-body">

    <div id="client">
      <%= render 'client_discharges/client' %>
     
    </div>

    <% if @client.class.to_s == "Client" %>
      <%= link_to 'New Client table price', new_client_client_table_price_path(@client), class: "btn btn-blue btn-lg btn-block" %>
    <% else %>
      <%= link_to 'New Carrier table price', new_carrier_client_table_price_path(@client), class: "btn btn-blue btn-lg btn-block" %>
    <% end %>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Type service</th>
            <th>Trecho</th>
            <th>Fret Peso</th>
            <th>Fret Valor</th>
            <th>Volume</th>
            <th colspan="3">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @client.client_table_prices.includes(:type_service).order("type_services.descricao").each do |client_table_price| %>
            <tr>
              <td><%= client_table_price.type_service.descricao if client_table_price.type_service.present? %></td>
              <td><%= client_table_price.stretch_route.stretch_source_and_target_short %></td>
              <td><%= client_table_price.freight_weight %></td>
              <td><%= client_table_price.freight_value %></td>
              <td><%= client_table_price.freight_volume %></td>

              <% if @client.class.to_s == "Client" %>
                <td><%= link_to 'Show', client_client_table_price_path( @client, client_table_price ), class: "btn btn-info btn-xs" %></td>
                <td><%= link_to 'Edit', edit_client_client_table_price_path( @client, client_table_price ), class: "btn btn-blue btn-xs" %></td>
              <% else %>
                <td><%= link_to 'Show', carrier_client_table_price_path( @client, client_table_price ), class: "btn btn-info btn-xs" %></td>
                <td><%= link_to 'Edit', edit_carrier_client_table_price_path(@client, client_table_price), class: "btn btn-blue btn-xs" %></td>
                
              <% end %>  
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
