<% if f.object.new_record? %>

	<fieldset class="item">

	  <%= f.file_field :asset %>

	  <a href="#" class="remove" data-confirm="Are you sure?">remove</a>

	  <%= f.hidden_field :id %>
	  <%= f.hidden_field :_destroy %>
	</fieldset>

<% end %>

       
<% unless f.object.new_record? %>
  <fieldset class="item">
     
    <%= link_to image_tag(f.object.asset.url(:thumb)), "#modalcar", data: {:toggle=>"modal"} %> 
     
 	  <a href="#" class="remove" data-confirm="Are you sure?">remove</a>

    <%= f.hidden_field :id %>
    <%= f.hidden_field :_destroy %>
     
    <%#= f.check_box :_destroy, :label => "Delete"  %>
  </fieldset>

<% end %>
  
