<% if f.object.new_record? %>

	<fieldset class="item">
    <div class="form-group">
	    <%= f.file_field :asset %>
    </div>

    <a href="#" class="btn btn-danger btn-sm remove" data-confirm="Are you sure?">[-] Apagar</a>

	  <%= f.hidden_field :id %>
	  <%= f.hidden_field :_destroy %>
	</fieldset>

<% end %>

       
<% unless f.object.new_record? %>
  <fieldset class="item">
     
    <% if f.object.is_image? %>
      <%= link_to image_tag(f.object.asset.url(:thumb)), "#modalcar", data: {:toggle=>"modal"} %> 
    <% else %>
      <%= link_to image_tag("image_pdf.png", size: "120x90"), f.object.asset.url(:thumb, false) %>
    <% end  %>

    <a href="#" class="btn btn-danger btn-sm remove" data-confirm="Are you sure?">[-] Apagar</a>
     

    <%= f.hidden_field :id %>
    <%= f.hidden_field :_destroy %>
     
  </fieldset>

<% end %>
  
