<fieldset class="item">

  <div class="row">
    <div class="col-xs-3">
      <%= f.collection_select :sector_id, Sector.order(:name), :id, :name, {include_blank: "Selecione o Setor"}, {class: "form-control input-sm"} %>
    </div>  

    <div class="col-xs-2">
      <%= f.text_field :contato, class: "form-control input-sm", placeholder: "Contato" %>
    </div>
    
    <div class="col-xs-3">
      <%= f.text_field :email, class: "form-control input-sm", placeholder: "e-mail" %>
    </div>

    <div class="col-xs-2">
      <%= f.text_field :setor, class: "form-control input-sm", placeholder: "Historico" %>
    </div>


    <a href="#" class="btn btn-danger btn-sm remove" data-confirm="Are you sure?">[-] Apagar</a>
  </div> 

  <div class="row">
    <div class="col-xs-3">
      <%= f.label "", class: "checkbox-inline" do %>
        <%= f.check_box :responsavel_carga, checked: f.object.responsavel_carga %> Responsavel pela carga
      <% end %>
    </div>

    <div class="col-xs-3">  
      <%= f.label "", class: "checkbox-inline" do %>
        <%= f.check_box :comprovante, checked: f.object.comprovante %> Recebe comprovante
      <% end %>
    </div>

  </div>

  <hr />

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
  
</fieldset>
