<h2>Veiculos</h2>
<% if object.vehicles.any? %>
  <table class="table table-striped">
     <thead>
      <tr>
        <th>Tp.Reb</th>
        <th>Tp.Carroceria</th>
        <th>Tp.Veiculo</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Placa</th>
        <th>Qtd Palets</th>
      </tr>
    </thead>
    <tbody>
   <% object.vehicles.each do |vehicle| %>
        <tr>
          <td><%= link_to "#{vehicle.tipo_nome}", vehicle %></td>
          <td><%= link_to "#{vehicle.tipo_carroceria_name}", vehicle %></td>
          <td><%= link_to "#{vehicle.tipo_veiculo_nome}", vehicle %></td>
          <td><%= link_to "#{vehicle.marca}", vehicle %></td>
          <td><%= link_to "#{vehicle.modelo}", vehicle %></td>
          <td><%= link_to "#{vehicle.placa}/#{vehicle.estado}", vehicle %></td>
          <td><%= link_to "#{vehicle.qtde_paletes}", vehicle %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This person has no vehicle yet.</p>
<% end %>
