<tr>
	<td><%= link_to client.cpf_cnpj, client %></td>
	<td><%= link_to truncate(client.nome, length: 25), client, title: client.nome %></td>
	<td><%= link_to truncate(client.fantasia, length: 25), client, title: client.fantasia %></td>
	<td><%= client.estado %></td>
	<td><%= client.cidade %></td>
	<td><%= link_to 'Show', client, class: "btn btn-info btn-xs" %></td>
	<td><%= link_to 'Edit', edit_client_path(client), class: "btn btn-primary btn-xs" %></td>
</tr>