<div class="list">
  <%= show_line_build link_to("#{ object.nome }", object), "Nome" %>
  <%= show_line_build object.cpf_cnpj, "CPF/CNPJ" %>
  <%= show_line_build "#{object.endereco}, #{object.numero}", "Endereco" %>
  <%= show_line_build object.complemento, "Complemento" %>
  <%= show_line_build object.bairro, "Bairro" %>
  <%= show_line_build object.cidade, "Municipio" %>
  <%= show_line_build object.estado, "Estado" %>
  <%= show_line_build object.contatos, "Contatos" %>
  <%= show_line_build object.telefone_completo, "Responsavel recebimento" %>
  <%= show_line_build object.type_height_maximum_pallet_name, "Calculo da Altura Máxima do Pallet" %>
  <%= show_line_build object.default_height_maximum_pallet, "Altura Máxima do Pallet" %>
  <%= show_line_build object.telefone_completo_palete, "Responsavel palete" %>
  <%= show_line_build object.hora_descarga, "Horário para descarregar" %>
  <%= show_line_build object.condicao_recebimento, "Condições para descarregar" %>
</div>
