<div class="panel-body">
  <%= search_form_for @q, remote: true, url: search_clients_path, :method => :get do |f| %>
    <div class="form-group">
      <%= f.label :tipo_pessoa %> <br />
      <div class="radio-inline">
        <%= radio_button_tag :tipo_pessoa, "0"%>CPF
      </div>

      <div class="radio-inline">
        <%= radio_button_tag :tipo_pessoa, "1"%>CNPJ
      </div>
    </div>

    <div class="form-group" id="group_cpf_cnpj">
      <%= f.label :cpf_cnpj_eq, "CPF/CNPJ" %>
      <%= f.search_field :cpf_cnpj_eq, class: "form-control", placeholder: "" %>
    </div>

    <div class="form-group">
      <%= f.label :nome_cont, "Cliente" %>
      <%= f.search_field :nome_cont, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :fantasia_cont, "Fantasia" %>
      <%= f.search_field :fantasia_cont, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :estado_eq, "Estado" %>
      <%= f.select(:estado_eq, State.order(:name).collect {|c| [c.name, c.uf]}, {prompt: "SELECT STATE"}, {class: "form-control"} ) %>
    </div>

    <div class="form-group">
      <%= f.label :cidade_eq, "Cidade" %>
      <%#= f.select(:cidade_eq, State.order(:name).collect {|c| [c.name, c.uf]}, {prompt: "SELECT STATE"}, {class: "form-control"} ) %>
      <%= f.collection_select :cidade_eq, city_of_state('AA'), :name, :name, {prompt: "SELECIONE CIDADE"}, {class: "form-control"} %>
    </div>

    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>


<script type="text/javascript">
    $(document).ready(function() {
      $('input[name="tipo_pessoa"]').change(function() {
        var tipo = $(this).val();
        console.log(tipo);
        $('#query_cpf_cnpj_eq').empty();
        if (tipo === '0') {
          console.log(tipo + ' CPF');
          $('#query_cpf_cnpj_eq').replaceWith("<input class='form-control cpf' id='query_cpf_cnpj_eq' name='query[cpf_cnpj_eq]' type='text'>");
        } else {
          console.log(tipo + ' CNPJ');
          $('#query_cpf_cnpj_eq').replaceWith("<input class='form-control cnpj' id='query_cpf_cnpj_eq' name='query[cpf_cnpj_eq]' type='text'>");
        }
       // document.getElementById("cpf_cnpj_eq").setAttribute('value', cpf_ou_cnpj);

      });
    });

</script>

<script type="text/javascript">
  $(function(){
    $("#query_estado_eq").change(function(){
      var uf = "uf="+$(this).val();
      console.log(uf);
      $.getJSON('/get_city_by_uf', uf, function(data){
        var options = '<option value="">Selecione a cidade de origem</option>';
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#query_cidade_eq").html(options);
      });
    });
  });
</script>
