<%= form_for @client, html: {multipart: true, role: "form" } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :tipo_pessoa %> <br />
    <div class="radio-inline">
      <%= f.radio_button :tipo_pessoa, "0"%>CPF
    </div>

    <div class="radio-inline">
      <%= f.radio_button :tipo_pessoa, "1"%>CNPJ
    </div>
  </div>

  <div id="client_cpf_cpnj" class="form-group">

  </div>

  <div class="form-group">
    <%= f.label :group_client_id, "Grupo de Cliente" %><br>
    <%= f.select(:group_client_id, GroupClient.order(:descricao).collect {|g| [g.descricao, g.id]}, {include_blank: "Informe o Grupo"}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :tipo_cliente %>
    <%= f.select :tipo_cliente, select_tipo_cliente, {include_blank: true}, {class: "form-control"} %>      
  </div>

  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fantasia %>
    <%= f.text_field :fantasia, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :inscricao_estadual %>
    <%= f.text_field :inscricao_estadual, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :inscricao_municipal %>
    <%= f.text_field :inscricao_municipal, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cep %>
    <%= f.text_field :cep, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :endereco %>
    <%= f.text_field :endereco, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :numero %>
    <%= f.text_field :numero, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :complemento %>
    <%= f.text_field :complemento, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bairro %>
    <%= f.text_field :bairro, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cidade %>
    <%= f.text_field :cidade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado  %>
    <%= f.select( :estado, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :rg %>
    <%= f.text_field :rg, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :data_emissao_rg  %><br />
    <%#= f.date_select :data_emissao_rg, class: "form-control"  %>
    <%= f.text_field :data_emissao_rg, class: "form-control data", value: date_br(@client.data_emissao_rg) %>
  </div>
  <div class="form-group">
    <%= f.label :orgao_emissor %>
    <%= f.text_field :orgao_emissor, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :valor_volume %>
    <%= f.text_field :valor_volume, value: to_decimal(f.object.valor_volume), class: "form-control money3"  %>
  </div>
  <div class="form-group">
    <%= f.label :valor_peso, "Valor p/KG" %>
    <%= f.text_field :valor_peso, value: to_decimal(f.object.valor_peso), class: "form-control money3"  %>
  </div>
  <div class="form-group">
    <%= f.label :valor_peso_1500, "Valor Serviço Ype" %>
    <%= f.text_field :valor_peso_1500, value: to_decimal(f.object.valor_peso_1500), class: "form-control money3"  %>
  </div>
  <div class="form-group">
    <%= f.label :obs, "Observação" %>
    <%= f.text_area :obs, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :hora_descarga, "Horário para descarregar" %>
    <%= f.text_field :hora_descarga, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :condicao_recebimento, "Condições para descarregar" %>
    <%= f.text_area :condicao_recebimento, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label "", class: "checkbox-inline" do %>
      <%= f.check_box :capital %> Este cliente é da capital ou região metropolitana?
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label "", class: "checkbox-inline" do %>
      <%= f.check_box :faturar %> Pode faturar para este cliente?
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :faturar_cada, "Faturar a cada:" %>
    <%= f.text_field :faturar_cada, class: "form-control" %> 
  </div>
  <div class="form-group">
    <%= f.label :vencimento_para, "Vencimento para:" %>
    <%= f.text_field :vencimento_para, class: "form-control" %> 
  </div>
  <div class="form-group">
    <%= f.label :qtde_parcela %>
    <%= f.text_field :qtde_parcela, class: "form-control" %> 
  </div>
  <div class="form-group">
    <%= f.label :suframa %>
    <%= f.text_field :suframa, class: "form-control" %> 
  </div>
  <div class="form-group">
    <%= f.label "", class: "checkbox-inline" do %>
      <%= f.check_box :orgao_publico %> Orgao Público?
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label "", class: "checkbox-inline" do %>
      <%= f.check_box :icms_contribuinte %> Contribuinte ICMS
    <% end %>
  </div>

  <h2>Representantes</h2> 
  <div id="representatives">
    <div class="items">
      <%= f.nested_fields_for :client_representatives do |f| 
        render 'client_representatives', f: f
      end  -%>
    </div>
    <a href="#" class="btn btn-success btn-sm add">Add Representantes</a>
  </div>

  <div id="phones">
    <fieldset>
      <legend>Contatos</legend>
        <div class="items">
          <%= f.nested_fields_for :contacts do |f| 
            render 'shared/contact', f: f
          end -%>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <br /> <a href="#" class="btn btn-success btn-sm add">[+] Contato</a>  
          </div>  
        </div>
    </fieldset>

  </div>

  <div id="emails">
    <fieldset>
      <legend>E-Mail</legend>

      <div class="items">
        <%= f.nested_fields_for :emails do |f| 
          render 'shared/email', f: f
        end -%>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <br /> <a href="#" class="btn btn-success btn-sm add">[+] E-Mail</a>  
        </div>  
      </div>

    </fieldset>

  </div>

  <div id="accounts">
    <fieldset>
      <legend>Contas Bancarias</legend>
      <div class="items">
        <%= f.nested_fields_for :account_banks do |f| %>
          <%= render "shared/form_account_bank", f: f %> 
        <% end %>
      </div>
      
      <div class="row">
        <div class="col-xs-2">
          <br /> <a href="#" class="btn btn-success btn-sm add">[+] Conta</a>  
        </div>  
      </div>
    
    </fieldset>
  </div>  

  <h2>Documentos</h2> 
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f| 
        render 'shared/asset', f: f
      end  -%>
    </div>
      <br /> <a href="#" class="btn btn-success btn-sm add">[+] Documento</a>  
  </div>

  <hr />

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Exibir",  client_path(@client), class: "btn btn-info" if !@client.new_record? %>
    <%= link_to "Listar Todos", clients_path, class: "btn btn-default" %>
  </div>

<% end %>

<script type="text/javascript">
  <% if @client.new_record? %>
    $(document).ready(function() {
      $('input[name="client[tipo_pessoa]"]').change(function() {
        var tipo = $(this).val();
        var cpf_ou_cnpj = '<%= @client.cpf_cnpj %>'
        $('#client_cpf_cpnj').empty(); 
        if (tipo === '0') {
          $('#client_cpf_cpnj').append("<div class='form-group'> <label for='client_cpf_cnpj'>CPF</label> <input class='form-control cpf' id='client_cpf_cnpj' name='client[cpf_cnpj]' type='text'> </div>");
        } else {
          $('#client_cpf_cpnj').append("<div class='form-group'> <label for='client_cpf_cnpj'>CNPJ</label> <input class='form-control cnpj' id='client_cpf_cnpj' name='client[cpf_cnpj]' type='text'> </div>");
        }
       document.getElementById("client_cpf_cnpj").setAttribute('value', cpf_ou_cnpj);

      });
    });
  <% else %>
    var tipo = '<%= @client.tipo_pessoa %>'
    var cpf_ou_cnpj = '<%= @client.cpf_cnpj %>'
    console.log(tipo);
   if (tipo === '0') {
      $('#client_cpf_cpnj').append("<div class='form-group'> <label for='client_cpf_cnpj'>CPF</label> <input class='form-control cpf' id='client_cpf_cnpj' name='client[cpf_cnpj]' type='text'> </div>");
    } else {
      $('#client_cpf_cpnj').append("<div class='form-group'> <label for='client_cpf_cnpj'>CNPJ</label> <input class='form-control cnpj' id='client_cpf_cnpj' name='client[cpf_cnpj]' type='text'> </div>");
    }
    document.getElementById("client_cpf_cnpj").setAttribute('value', cpf_ou_cnpj);

    $(document).ready(function() {
      $('input[name="client[tipo_pessoa]"]').change(function() {
        var tipo = $(this).val();
        var cpf_ou_cnpj = '<%= @client.cpf_cnpj %>'
        console.log(cpf_ou_cnpj);
        $('#client_cpf_cpnj').empty(); 
        if (tipo === '0') {
          $('#client_cpf_cpnj').append("<div class='form-group'> <label for='client_cpf_cnpj'>CPF</label> <input class='form-control cpf' id='client_cpf_cnpj' name='client[cpf_cnpj]' type='text'> </div>");
        } else {
          $('#client_cpf_cpnj').append("<div class='form-group'> <label for='client_cpf_cnpj'>CNPJ</label> <input class='form-control cnpj' id='client_cpf_cnpj' name='client[cpf_cnpj]' type='text'> </div>");
        }
       document.getElementById("client_cpf_cnpj").setAttribute('value', cpf_ou_cnpj);

      });
    });

  <% end %>
</script>

<script type="text/javascript">
$(function(){
   $("#client_cep").change(function(){
     var cep     = $(this).val().replace(/[^0-9]/, ''); 
     var boxes   = $("#boxCampos");
     var msgErro = $("#mensagemErro");
     console.log('CEP: ' + cep)
     boxes.addClass('ocultar');
     msgErro.addClass('ocultar');

    if(cep !== ""){
        $.getJSON('/get_address_by_cep', 'cep=' + cep, function(data){
           console.log(data)
           $("#client_endereco").val(data.logradouro);
           $("#client_bairro").val(data.bairro);
           $("#client_cidade").val(data.localidade);
           $("#client_estado").val(data.uf);
           $("#client_numero").focus();
           boxes.removeClass('ocultar');
          }).fail(function(){
            //Não retornando um valor válido, ele mostra a mensagem
          msgErro.removeClass('ocultar').html('CEP inexistente')
       });
       }
   });
});  
</script>