<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEleven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Pesquisar
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel-body">

      <%= render "form_search" %>

    </div>
  </div>

</div>


<div class="panel panel-default">
  <div class="panel-heading">Listagem de Cliente</div>
  <div class="panel-body">
    <%= link_to 'Novo Cliente', new_client_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">

      <div id="result_client">

      <table class="table table-striped">
        <thead>
          <tr>
            <%= render 'header' %>
            <th colspan="3">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <%= render "client", client: client %>
              <td><%= link_to 'Exibir', client, class: "btn btn-info btn-xs" %></td>
              <td><%= link_to 'Editar', edit_client_path(client), class: "btn btn-primary btn-xs" %></td>
              <td><%= link_to 'Deletar', client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.has_tooltip').tooltip();
  });
</script>
