<div class="panel panel-default">
  <div class="panel-heading">Listagem de Cliente</div>
  <div class="panel-body">
    <%= link_to 'Novo Cliente', new_client_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cpf cnpj</th>
            <th>Nome</th>
            <th>Fantasia</th>
            <th colspan="3">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <td><%= link_to client.cpf_cnpj, client %></td>
              <td><%= link_to truncate(client.nome, length: 25), client, title: client.nome %></td>
              <td><%= link_to truncate(client.fantasia, length: 25), client, title: client.fantasia %></td>
              <td><%= client.estado %></td>
              <td><%= client.cidade %></td>
              <td><%= link_to 'Exibir', client, class: "btn btn-info btn-xs" %></td>
              <td><%= link_to 'Editar', edit_client_path(client), class: "btn btn-primary btn-xs" %></td>
              <td><%= link_to 'Deletar', client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
