<p>
  <strong>Tipo pessoa:</strong>
  <%= @client.tipo_pessoa %>
</p>

<p>
  <strong>Cpf cnpj:</strong>
  <%= @client.cpf_cnpj %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @client.nome %>
</p>

<p>
  <strong>Fantasia:</strong>
  <%= @client.fantasia %>
</p>

<p>
  <strong>Inscricao estadual:</strong>
  <%= @client.inscricao_estadual %>
</p>

<p>
  <strong>Inscricao municipal:</strong>
  <%= @client.inscricao_municipal %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @client.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @client.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @client.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @client.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @client.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @client.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @client.cep %>
</p>

<h2>Contatos</h2>
<% if @client.contacts.any? %>
  <table class="table table-striped">
    <thead>
      <th>Tipo</th>
      <th>Nome</th>
      <th>Fone</th>
      <th>Complemento</th>
    </thead>

    <tbody>
      <% @client.contacts.each do |contact| %>
        <tr>
          <td><%= contact.tipo_contato %></td>
          <td><%= contact.nome %></td>
          <td><%= contact.fone %></td>
          <td><%= contact.complemento %></td>
      
        </tr>
      <% end %>

    </tbody>

  </table>
<% else %>
  <p>This person has no phones yet.</p>
<% end %>

<h2>Documentos</h2>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
  <% @client.assets.each do |asset| %>
    <%= link_to image_tag(asset.asset.url(:thumb)), data: {:toggle=>"modal", :gallery => "gallery"} if asset.present? %>
  <% end %>
</div>


<div class="form-group">
  <%= link_to 'Editar', edit_client_path(@client), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos',  clients_path, class: "btn btn-default" %>
</div>
