<p>
  <strong>Tipo pessoa:</strong>
  <%= @client.tipo_pessoa %>
</p>

<p>
  <strong>Grupo de Cliente:</strong>
  <%= @client.group_client.descricao if !@client.group_client.nil? %>
</p>

<p>
  <strong>Tipo Cliente:</strong>
  <%= @client.tipo_cliente_nome %>
</p>


<p>
  <strong>Cpf cnpj:</strong>
  <%= @client.cpf_cnpj %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @client.nome %>
</p>

<p>
  <strong>Fantasia:</strong>
  <%= @client.fantasia %>
</p>

<p>
  <strong>Inscricao estadual:</strong>
  <%= @client.inscricao_estadual %>
</p>

<p>
  <strong>Inscricao municipal:</strong>
  <%= @client.inscricao_municipal %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @client.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @client.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @client.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @client.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @client.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @client.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @client.cep %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @client.rg %>
</p>

<p>
  <strong>Data emissao:</strong>
  <%= @client.data_emissao_rg %>
</p>

<p>
  <strong>Orgao emissor:</strong>
  <%= @client.orgao_emissor %>
</p>

<p>
  <strong>Valor por Volume:</strong>
  <%= number_to_currency(@client.valor_volume, precision: 3, unit: "R$ ", separator: ",", delimiter: ".")  %>
</p>

<p>
  <strong>Valor por KG:</strong>
  <%= number_to_currency(@client.valor_peso, precision: 3, unit: "R$ ", separator: ",", delimiter: ".")  %>
</p>

<p>
  <strong>Valor Serviço Ype:</strong>
  <%= number_to_currency(@client.valor_peso_1500, precision: 3, unit: "R$ ", separator: ",", delimiter: ".")  %>

</p>

<p>
  <strong>Este cliente é da capital ou região metropolitana? : </strong>
  <%= extenso_boolean @client.capital %>
</p>

<p>
  <strong>Pode faturar para este cliente? : </strong>
  <%= extenso_boolean @client.faturar %>
</p>

<p>
  <strong>Faturar a cada:</strong> 
  <%= @client.faturar_cada %> dias.
</p>

<p>
  <strong>Vencimento para:</strong> 
  <%= @client.vencimento_para %> dias.
</p>

<p>
  <strong>Qtde Parcela:</strong> 
  <%= @client.qtde_parcela %> 
</p>

<p>
  <strong>Suframa:</strong> 
  <%= @client.suframa %>
</p>

<p>
  <strong>Orgão Público:</strong>
  <%= extenso_boolean @client.orgao_publico %>
</p>

<p>
  <strong>Contribuinte ICMS:</strong>
  <%= extenso_boolean @client.icms_contribuinte %>
</p>

<p>
  <strong>Horário para descarregar:</strong>
  <%= @client.hora_descarga %>
</p>

<p>
  <strong>Condições para descarregar:</strong>
  <pre><%= @client.condicao_recebimento %></pre>
</p>

<p>
  <strong>Criado em:</strong> <%= date_br @client.created_at %> as <%= time_br @client.created_at %> 
  <strong>por</strong> <%= @client.user_created.email if @client.user_created.present? %>
</p>

<p>
  <strong>Última atualização:</strong> <%= date_br @client.updated_at %> as <%= time_br @client.updated_at %> 
  <strong>por</strong> <%= @client.user_updated.email if @client.user_updated.present? %>
</p>

<p>
  <strong>Observação:</strong>
  <pre><%= @client.obs %></pre>
</p>

<%#= render 'representatives/representative', locals: {representative: @client.representatives}  %>

<div class="panel panel-default">
  <div class="panel-heading">Listagem de Representantes</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <%= render 'representatives/header' %>
        </thead>

        <tbody>
          <% @client.client_representatives.each do |rep| %>
            <%= render partial: 'representatives/representative', locals: {representative: rep.representative} %>
          <% end %>  
       </tbody>
      </table>
    </div>    
  </div>
</div>

<%= render 'shared/show_contacts', object: @client %>

<%= render 'shared/show_emails', object: @client %>

<%= render 'shared/show_account_bank', object: @client %>

<%= render 'shared/document', object: @client %>

<div class="form-group">
  <%= link_to 'Editar', edit_client_path(@client), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos',  clients_path, class: "btn btn-default" %>
</div>
