<%= link_to "Upload notfis", select_edi_notfis_index_path %>

<% if @file_edi.present? %>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Dados Leitura Arquivo Notfis</h3>
	  </div>
	  
	  <div class="panel-body">
	  	<table class="table table-striped">
	  		<thead>
	  			<th>Dt.Embarque</th>
	  			<th>Placa</th>
	  			<th>Embarcador</th>
	  			<th>Transportadora</th>
	  			<th>Peso Total</th>
	  			<th>Volume Total</th>
	  			<th>Valor Total</th>
	  			<th>Qtde. NF-e</th>
	  			<th>Options</th>
	  		</thead>

	  		<tbody>
	  			<% @file_edi.each do |edi| %>
	  			<tr>
		  				<td><%= date_br edi.date_boarding %></td>
		  				<td><%= edi.place %></td>
		  				<td><%= edi.shipper.cnpj_name if edi.shipper.present? %></td>
		  				<td><%=  %></td>
		  				<td><%= edi.weight %></td>
		  				<td><%= edi.volume %></td>
		  				<td><%= edi.value_total %></td>
							<td><%= edi.qtde %></td>
							<td><%= link_to "Show", edi_notfis_path(edi), class: "btn btn-primary btn-xs" %></td>
	  			</tr>
	  			<% end %>
	  		</tbody>
	  	</table>
	  </div>

	</div>
<% end %>