<%= link_to "Upload notfis", select_edi_notfis_index_path %>

<% if @file_edi.present? %>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Dados Leitura Arquivo Notfis</h3>
	  </div>
	  
	  <div class="panel-body">
	  	<table class="table table-striped">
	  		<thead>
	  			<th>Dt.Embarque</th>
	  			<th>Placa</th>
	  			<th>Embarcador</th>
	  			<th>Transportadora</th>
	  			<th>Peso Total</th>
	  			<th>Volume Total</th>
	  			<th>Valor Total</th>
	  			<th>Qtde. NF-e</th>
	  		</thead>

	  		<tbody>
	  			<tr>
		  				<td><%= date_br @file_edi.date_boarding %></td>
		  				<td><%= @file_edi.place %></td>
		  				<td><%= @file_edi.shipper.cnpj_name if @file_edi.shipper.present? %></td>
		  				<td><%=  %></td>
		  				<td><%= @file_edi.weight %></td>
		  				<td><%= @file_edi.volume %></td>
		  				<td><%= @file_edi.value_total %></td>
							<td><%= @file_edi.qtde %></td>
	  			</tr>
	  		</tbody>
	  	</table>
	  </div>

	</div>
<% end %>


<% if @notfis.present? %>
	<% @notfis.each do |item| %>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= item.id %>" aria-expanded="true" aria-controls="collapse_<%= item.id %>">
		        	
		        <table class="table table-striped">
							<thead>
								<!-- <th>Data</th> -->
								<th>CNPJ</th>
								<th>Cliente</th>
								<th>Cidade</th>
								<th>Estado</th>
							</thead>

			        <tbody>
								<tr>
									<!-- <td><%#= date_br item.date_notfis %></td> -->
									<td><%= item.client.cpf_cnpj %></td>
									<td><%= item.client.nome %></td>
									<td><%= item.client.cidade %></td>
									<td><%= item.client.estado %></td>
								</tr>
			        </tbody>

		        </table>


		        </a>
		      </h4>
		    </div>
		    <div id="collapse_<%= item.id %>" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading_<%= item.id %>">
		      <div class="panel-body">
		        <div class="panel panel-default">

		          <div class="panel panel-default">

		            <div class="panel-body"> 

					        <table class="table table-striped">
										<thead>
											<th>NF-e</th>
											<th>Valor</th>
											<th>Peso</th>
											<th>Volume</th>
										</thead>

										<tbody>
					            <% item.nfe_xmls.each do |nfe| %>
												<tr>
													<td><%= nfe.numero %></td>
													<td><%= nfe.valor_nota %></td>
													<td><%= nfe.peso %></td>
													<td><%= nfe.volume %></td>
												</tr>
					            <% end %>

										</tbody>

  				        </table>


		            </div>
		          </div>
		        
		        </div>
		      </div>
		    </div>
		  </div>

	<!-- Fim collapse  --> 
	</div>

	<% end %>
<% end %>