<% if @notfis.present? %>
		<p>
			<strong>Placa:</strong>
			<%= @notfis[:data_nfe].first.placa %>
		</p>


		<table class="table table-striped">
			<thead>
				<th>IDRegistro</th>
				<th>CNPJ</th>
				<th>Cliente</th>
				<th>Cidade</th>
				<th>Estado</th>
			</thead>

			<tbody>

				<% @notfis[:target_client].each do |client| %>
					<tr>
						<td><%= client.idregistro %></td>
						<td><%= client.cnpj %></td>
						<td><%= client.razaosocial %></td>
						<td><%= client.cidade %></td>
						<td><%= client.subentidade %></td>
					</tr>

					<table class="table table-striped" >
						<thead>
							<th>NotaFiscal</th>
							<th>Valor</th>
							<th>Peso</th>
							<th>Volume</th>
						</thead>

						<tbody>
							<% @notfis[:data_nfe].each do |nfe| %>
								<% if nfe.target_cnpj == client.cnpj %>
									<tr>
										<td><%= nfe.numeronota %></td>
										<td><%= nfe.valortotalnota %></td>
										<td><%= nfe.pesototal %></td>
										<td><%= nfe.qtdevolumes %></td>
									</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>

				<% end %>

			</tbody>

		</table>

<% end %>