<div class="panel panel-default">
  <div class="panel-heading">Listagem de Grupo de Clientes</div>
  <div class="panel-body">
    <%= link_to 'Novo Grupo', new_group_client_path, class: "btn btn-blue btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Descrição</th>
            <th colspan="3">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @group_clients.each do |group_client| %>
            <tr>
              <td><%= group_client.descricao %></td>
              <td><%= link_to 'Show', group_client, class: "btn btn-info btn-sm" %></td>
              <td><%= link_to 'Edit', edit_group_client_path(group_client), class: "btn btn-blue btn-sm" %></td>
              <td><%= link_to 'Destroy', group_client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
