<div class="panel panel-default">
  <div class="panel-heading">Exigências do Cliente</div>
  <div class="panel-body">
  	<div id="client">
  		<%= render 'client_discharges/client' %>
  	</div>

    <%= link_to 'New Requirement', new_client_client_requirement_path, class: "btn btn-primary btn-sm btn-block" %>
    <div class="table-responsive">
    	<table class="table table-striped">
        <div id="result_client">

        <thead>
          <tr>
            <tr>
              <th>CNPJ Rem.</th>
              <th>Remetente</th>
              <th>Tipo Veiculos</th>
              <th>Tipo Carroceria</th>
              <th>Tipo Assoalho</th>
              <th colspan="3">Opções</th>
            </tr>
          </tr>
        </thead>

        <tbody>
          <% @client.client_requirements.each do |requirement| %>
            <tr>
              <td><%= requirement.client_source.cpf_cnpj if requirement.client_source.present? %></td>
              <td><%= requirement.client_source.nome if requirement.client_source.present? %></td>
              <td><%= requirement.type_vehicle_name %></td>
              <td><%= requirement.type_body_name %></td>
              <td><%= requirement.type_floor_name %></td>
              <td><%= link_to 'Show', client_client_requirement_path(@client, requirement), class: "btn btn-info btn-xs" %></td>
              <td><%= link_to 'Edit', edit_client_client_requirement_path(@client, requirement), class: "btn btn-primary btn-xs" %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    </div>    
  </div>
</div>