<%= render 'static_pages/oper_input_control', input_control: @palletizing.input_control %>
<div class="list">
  <%= show_line_build @palletizing.view_mode, "Modo de visualização" %>
  <%= show_line_build @palletizing.status, "Status" %>
  <%= show_line_build @palletizing.user.present? ? @palletizing.user.email : "", "Criado por" %>
  <%= show_line_build "#{date_br(@palletizing.created_at)} às #{time_br(@palletizing.created_at)}", "Criado em" %>

  <%= show_line_build @palletizing.user.present? ? @palletizing.user.email : "", "Iniciado por" %>
  <%= show_line_build "#{date_br(@palletizing.start)} às #{time_br(@palletizing.start)}", "Iniciado às" %>
  <%= show_line_build @palletizing.user_finished.present? ? @palletizing.user_finished.email : "", "Finalizado por" %>
  <% time_string = @palletizing.finish.nil? ? nil : @palletizing.finish %>
  <%= show_line_build time_string, "Finalizado em"  %>

  <% time_finish = @palletizing.finish.nil? ? Time.now : @palletizing.finish %>
  <%= show_line_build @palletizing.start.present? ? TimeDifference.between(@palletizing.start, time_finish).humanize : "", "Tempo de paletização" %>

  <%= show_line_build @palletizing.palletizing_pallets.count, "Nº de palete" %>
  <%= link_to "Voltar", palletizings_path, class: "btn btn-default"%>
  <%= link_to "Ver paletes", palletizing_palletizing_pallets_path(@palletizing), class: "btn btn-primary" %>
</div>
