<style type="text/css">
  td div { width:76px; overflow: hidden; }
  th div {text-align:right}
</style>

<div class="panel panel-default">
  <div class="panel-heading">Items</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped" id="sortable_embarque">
        <thead>
          <tr>
            <th width:"3px">No. Ent.</th>
            <th>O.S.</th>
            <th>Dt. Agen.</th>
            <th>Cliente</th>
            <th>Cidade</th>
            <th>UF</th>
            <th width:"10px">NF-e</th>
            <th width:"10px">CT-e</th>
            <th> <div>Valor Serv.</div></th>
            <th> <div>Peso</div></th>
            <th> <div>Vol</div></th>
            <th> <div>Status</div></th>
            <th colspan="1">  Opções</th>
          </tr>
        </thead>

        <tbody>
        <% @boarding.boarding_items.order(:delivery_number).each do |item| %>
          <tr id="boarding_items_id_<%= item.id %>" data-item-id=<%= "#{item.id}" %> class="item">
            <td align="center"><%= item.delivery_number %></td>
            <td><%= link_to item.ordem_service.id, item.ordem_service %></td>
            <td><%= link_to date_br(item.ordem_service.data), item.ordem_service %></td>
            <td><%= link_to truncate(item.ordem_service.client.nome, length: 20), item.ordem_service, title: item.ordem_service.client.nome %></td>
            <td><%= link_to truncate(item.ordem_service.client.cidade, length: 10), item.ordem_service, title: item.ordem_service.client.cidade %></td>
            <td><%= item.ordem_service.client.estado %></td>
            <td><div><%= item.ordem_service.get_number_nfe %></div></td>
            <td><div><%= item.ordem_service.get_number_cte %></div></td>
            <td align="right"><%= number_to_currency(item.ordem_service.valor_ordem_service, precision: 2, unit: "R$ ", separator: ",", delimiter: ".") %></td>
            <td align="right"><%= number_to_currency(item.ordem_service.peso, precision: 3, unit: "", separator: ",", delimiter: ".") if !item.ordem_service.peso.blank? %></td>
            <td align="right"><%= number_to_currency(item.ordem_service.qtde_volume, precision: 3, unit: "", separator: ",", delimiter: ".") if !item.ordem_service.peso.blank? %></td>
            <% if item.ordem_service.status == OrdemService::TipoStatus::AGUARDANDO_EMBARQUE %>
              <td><%= link_to item.ordem_service.status_name, boarding_item_update_status_path(item.id), class: "btn btn-primary btn-xs" %></td>
            <% else %>
              <td><%= item.ordem_service.status_name %></td>
            <% end %>
            <td><%= link_to 'Destroy', [@boarding, item], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", :remote => true %></td>
        <% end %>
          <tr>
            <td colspan="08">Total:</td>
            <th align="right"><%= number_to_currency(@boarding.valor_total, precision: 2, unit: "R$ ", separator: ",", delimiter: ".") %></th>
            <th align="right"><%= number_to_currency(@boarding.peso_bruto, precision: 3, unit: "", separator: ",", delimiter: ".") %></th>
            <th align="right"><%= number_to_currency(@boarding.volume_total, precision: 3, unit: "", separator: ",", delimiter: ".") %></th>
            <th ></th>
          </tr>
        </tbody>
      </table>
    </div>    
  </div>
</div>
