<%= form_for(@historic) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao, class: "form-control"  %>
  </div>
  
  <div class="form-group">
    <%= f.label :tipo %><br>
    <%= f.number_field :tipo, class: "form-control"  %>
  </div>
  
  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Exibir",  historic_path(@historic), class: "btn btn-info" if !@historic.new_record? %>
    <%= link_to "Listar Todos", historics_path, class: "btn btn-default" %>
  </div>

<% end %>
