<div class="panel-body">
  <%= search_form_for @q, remote: true, url: search_nfe_xmls_path, :method => :get do |f| %>
    <div class="form-group">
      <%= f.label :source_client_cpf_cnpj_eq, "CNPJ Embarcador" %><br>
      <%= f.search_field :source_client_cpf_cnpj_eq, class: "form-control cnpj" %>
      <%= render partial: "clients/result_client", locals: { client: nil } %>
    </div>

    <div class="form-group">
      <%= f.label :target_client_cpf_cnpj_eq, "CNPJ Destinatario" %><br>
      <%= f.search_field :target_client_cpf_cnpj_eq, class: "form-control cnpj" %>
      <%= render partial: "clients/result_client", locals: { client: nil } %>
    </div>

    <div class="row form-group">
      <div class="col-xs-6">
        <%= f.label :issue_date_gteq, "Data emissao" %>
        <%= f.search_field :issue_date_gteq, class: "form-control data", placeholder: "Informe a data emissao ex: 05-12-2014" %>
      </div>

      <div class="col-xs-6">
        <%= f.label :issue_date_lteq, "até" %>
        <%= f.search_field :issue_date_lteq, class: "form-control data", placeholder: "Informe a data emissao ex: 05-12-2014" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :numero_eq, "NF-e" %>
      <%= f.search_field :numero_eq, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :estado, "Estado" %>
      <%= select_tag :estado, options_from_collection_for_select(State.order(:name), :uf, :name, 'CE'), :prompt => "Selecione um estado", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :target_client_cidade_cont_all, "Cidade" %>
      <%#= f.collection_select :cidade_cont, city_of_state('CE'), :name, :name, {prompt: "SELECIONE CIDADE"}, {class: "form-control"} %>
      <%= f.text_field :target_client_cidade_cont_all, class: "form-control"  %>
    </div>


    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>
