<td><%= nfe_xml.status_name %></td>
<td><%= nfe_xml.equipamento_name %></td>
<td><%= nfe_xml.chave %></td>
<td><%= link_to_ordem_service(nfe_xml.numero)  %></td>
<td><%= nfe_xml.target_client.cidade if nfe_xml.target_client.present? %></td>
<td><%= nfe_xml.target_client.estado if nfe_xml.target_client.present? %></td>
<td><%= link_to nfe_xml.ordem_service.id, nfe_xml.ordem_service if nfe_xml.ordem_service.present? %></td>
<td><%= nfe_xml.ordem_service.status_name if nfe_xml.ordem_service.present? %></td>
