<td><%= nfe_xml.status_name %></td>
<td><%= nfe_xml.equipamento_name %></td>
<td><%= nfe_xml.chave %></td>
<td><%= link_to_ordem_service(nfe_xml.numero)  %></td>
<td><%= nfe_xml.nfe_id %></td>
<td><%= nfe_xml.nfe_type %></td>
