<div class="panel panel-default">
  <div class="panel-heading">Listagem de XML de NF-e</div>
  <div class="panel-body">
    <%= link_to 'Novo Upload', new_nfe_xml_path, class: "btn btn-blue btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Dt. Emissão</th>
            <th>Placa</th>
            <th>NF-e</th>
            <th>Estado</th>
            <th>Embarcador</th>
            <th>Peso</th>
            <th>Volume</th>
            <th>Status</th>
            <th>Rem. Ent.</th>
            <th>Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @nfe_xmls.each do |nfe_xml| %>
            <tr>
              <td><%= date_br nfe_xml.issue_date %></td>
              <td><%= nfe_xml.place %></td>
              <td><%= nfe_xml.numero %></td>
              <td><%= nfe_xml.source_client.estado if nfe_xml.source_client.present? %></td>
              <td><%= nfe_xml.source_client.nome if nfe_xml.source_client.present? %></td>
              <td><%= nfe_xml.peso %></td>
              <td><%= nfe_xml.volume %></td>
              <td><%= link_to nfe_xml.status, nfe_xml %></td>
              <td><%= nfe_xml.has_input_control %></td>
              <td><%= link_to "Process", xml_process_nfe_xml_path(nfe_xml), method: :post %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
