<%= form_for @link, html: {multipart: true, role: "form" } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control"  %>
  </div>
  
  <div class="form-group">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao, class: "form-control"  %>
  </div>
  
  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Exibir",  link_path(@link), class: "btn btn-info" if !@link.new_record? %>
    <%= link_to "Listar Todos", links_path, class: "btn btn-default" %>
  </div>

<% end %>
