<p>
  <strong>Url:</strong> 
  <a href="<%= @link.url %>" target="_blank"> <%= @link.url  %> </a> 
</p>	

<p>
  <strong>Descricao:</strong>
  <%= @link.descricao %>
</p>

<div class="form-group">
  <%= link_to 'Editar', edit_link_path(@link), class: "btn btn-blue" %>
  <%= link_to 'Listar Todos', links_path, class: "btn btn-default" %>
</div>
