<%= render 'products/result_product', product: @breakdown.product %>

<%#= form_for(@breakdown) do |f| %>
<%= form_for([@input_control, @breakdown], method: :put, :url => update_product_input_control_breakdown_input_controls_path, :remote => true) do |f| %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<%= hidden_field_tag :breakdown_id, @breakdown.id %>
  <h2>Imagens</h2> 
	  <div id="documents">
	    <div class="items">
	    	<div class="form-group">
		      <%= f.nested_fields_for :assets do |f| 
		        render 'shared/asset', f: f
		      end  -%>
	      </div>
	    </div>
	      <br /> <a href="#" class="btn btn-success btn-sm add">[+] Documento</a>  
	  </div>
  
	<br />
	<div class="form-group">
  	<%= f.submit "Salvar", class: "btn btn-primary"  %>
  </div>	

<% end %>

