<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @floor.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @floor.street %>
</p>

<%= link_to 'Edit', edit_floor_path(@floor) %> |
<%= link_to 'Back', floors_path %>
