
	<%= hidden_field_tag "ordem_service_type_service[ordem_service_id]", @ordem_service.id if !@ordem_service.nil? %>  
	<%= render 'shared/error_messages', object: f.object %>
  
<!--     
    <div class="col-xs-1">
      <%# value_qtde_recebida = @ordem_service.new_record? ? nil : f.object.qtde_recebida %>
      <%#= f.text_field :qtde_recebida, value: value_qtde_recebida, class: "form-control input-sm", placeholder: "Qtde Recebida" %>
    </div>
 -->
  <div class="form-group">
    <div class="row">
      <div class="col-xs-2">
        <%= label_tag :client_id, "Cliente" %>
        <%= text_field_tag :client_id, @ordem_service.billing_client.id, disabled: true, class: "form-control input-sm" if @ordem_service.billing_client.present? %>
      </div>
      <div class="col-xs-4">
        <%= label_tag :billing_cpf_cpnj, "CNPJ" %>
        <%= text_field_tag :billing_cpf_cpnj, @ordem_service.billing_client.cpf_cnpj, disabled: true, class: "form-control input-sm" if @ordem_service.billing_client.present?  %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :client_name, "Nome" %>
    <%= text_field_tag :client_name, @ordem_service.billing_client.nome, disabled: true, class: "form-control input-sm" if @ordem_service.billing_client.present?  %>
  </div>

  <div class="form-group">
    <%= f.label :stretch_route_id, "Trecho" %>
    <% if @ordem_service_type_service.stretch_route_id.present? %>
      <%= f.collection_select :stretch_route_id, ordem_service_stretch_route(@ordem_service.billing_client_id), :id, :stretch_source_and_target_long, {prompt: "SELECIONE TRECHO ORIGEM"}, {autofocus: true, class: "form-control input-sm", id:"routesSelect"} %>
    <% else %>
      <%= f.collection_select :stretch_route_id, [], :name, :name, {prompt: "SELECIONE TRECHO"}, {autofocus: true, class: "form-control input-sm", id:"routesSelect"}  %>
    <% end %>
  </div> 

  <div class="form-group">
    <%= f.label :type_service_id, "Tipo de Servico" %>
    <% if @ordem_service_type_service.type_service_id.present? %>
      <%= f.collection_select :type_service_id, ordem_service_type_service(@ordem_service_type_service.billing_client_id, @ordem_service_type_service.stretch_route_id ), :id, :descricao, {prompt: "SELECIONE TRECHO ORIGEM"}, {class: "form-control input-sm"} %>
    <% else %>
      <%= f.collection_select :type_service_id, [], :id, :name, {prompt: "SELECIONE O SERVICO"}, {class: "form-control input-sm"}  %>
    <% end %>
  </div> 
    
  <div class="form-group">
  	<%= f.label :advance_money_number, "No. Adiantamento" %>
    <%= f.text_field :advance_money_number, class: "form-control input-sm", placeholder: "Nº 000000/2018" %>
  </div>

  <div class="form-group">
  	<%= f.label :valor, "Valor do Serviço" %>
    <%= f.text_field :valor, class: "form-control input-sm money2", value: to_real(f.object.valor), placeholder: "Valor do Serviço" %>
  </div>
  
