<%= search_form_for @q, :remote=>"true", url: search_ordem_service_type_services_path, :method => :get do |f| %>
<fieldset>
  <legend>Localizar Pagamentos de Tipo de Serviço</legend>	

  <div class="form-group">
    <%= f.label :status_eq, "Status" %>
    <%= f.select( :status_eq, select_status_ordem_service_type_services, {prompt: "Todos"}, {class: "form-control"} ) %> 
  </div>
  <div class="form-group">
    <%= f.label :ordem_service_data_gteq, "Data Inicio" %>
    <%= f.text_field :ordem_service_data_gteq, class: "form-control data" %>
  </div>
  <div class="form-group">
    <%= f.label :ordem_service_data_lteq, "Data Final" %>
    <%= f.text_field :ordem_service_data_lteq , class: "form-control data" %>
  </div>
  <div class="form-group">
    <%= f.label :type_service_id_eq, "Tipo de Serviço" %>
    <%= f.collection_select :type_service_id_eq, TypeService.logistica.order('descricao'), :id, :descricao, {prompt: "Todos os Serviços"}, {class: "form-control"} %>
  </div>

 	<div class="actions">
    <%= f.submit "Search", class: "btn btn-default" %>
    <%#= link_to "Limpar Dados do Formulario", "#", class: "btn btn-info btn-xs" %>
  </div>

</fieldset>

<% end %>
<br />
<div class="rows">
  <div id="results">
  <%= render :partial => 'search' %>
  </div>
</div>


