<div class="panel panel-default">
  <div class="panel-heading">Listagem de Nature Freights</div>
  <div class="panel-body">
    <%= link_to 'New Micro region', new_micro_region_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @micro_regions.each do |micro_region| %>
            <tr>
              <td><%= micro_region.name %></td>
              <td><%= link_to 'Show', micro_region, class: "btn btn-info btn-sm" %></td>
              <td><%= link_to 'Edit', edit_micro_region_path(micro_region), class: "btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Destroy', micro_region, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>