
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Micro Região: <%= @micro_region.name %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        
           <div class="panel-body"> 

           	<ul>
           		<% @micro_region.micro_regions_cities.each do |micro_region|  %>
           	    <li><%= micro_region.city.name %></li>
           	  <% end %>
           	</ul>

        </div>
      </div>
    </div>
  </div>

<!-- Fim collapse  --> 
</div>

<div class="form-group">
  <%= link_to 'Editar', edit_micro_region_path(@micro_region), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', micro_regions_path, class: "btn btn-default" %>
  <%= link_to 'Adicionar Cidade', micro_regions_path, class: "btn btn-success" %>
</div>
