	<div class="panel panel-default">
	  <div class="panel-heading">Tabela de Frete Mínimo Calculado</div>
	  <div class="panel-body">

	    <div class="table-responsive">

	        <div id="result_tasks">

	        <table class="table table-striped">
	          <thead>
	            <%#= render 'header' %>
	            <th><strong>Trecho</strong></th>
	            <th><strong>Distancia</strong></th>
	            <th><strong>Vr.NFe</strong></th>
	            <th><strong>Peso</strong></th>
	            <th><strong>Frete</strong></th>
	            <th><strong>Diaria</strong></th>
	            <th><strong>Descarga</strong></th>
	            <th><strong>Seguro</strong></th>
	            <th><strong>GR</strong></th>
	            <th><strong>Pedagio</strong></th>
	            <th><strong>ICMS</strong></th>
	            <th><strong>PIS/Cofins</strong></th>
	            <th><strong>Custos</strong></th>
	            <th><strong>Lucro</strong></th>
	            <th><strong>Oper</strong></th>
	            <th><strong>Juros Emp</strong></th>
	            <th><strong>VrEmpres</strong></th>
	            <th><strong>Comissao</strong></th>
	            <th><strong>VrTon</strong></th>
	            <th><strong>VrKG</strong></th>
	            <th><strong>Total</strong></th>
	            <th><strong>Options</strong></th>
	          </thead>
	          <tbody>
	          	<% input = freight_minimums[:input] %>
	          	<% input["type_calc"] = CalculateLiquidityService::TypeCalc::ROUTE  %>
	            <% freight_minimums[:output].each do |freight_minimum| %>
	            	<% input["trecho_id"] = freight_minimum[:route_id] %>
	              <tr>
	                <td><%= freight_minimum[:stretch_short] %></td>
	                <td><%= number_with_precision(freight_minimum[:distance], precision: 2, separator: ',', delimiter: '.') %></td>
	                <td><%= number_to_currency(freight_minimum[:value_nf], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_with_precision(freight_minimum[:weight], precision: 3, separator: ',', delimiter: '.') %></td>
	                <td><%= number_to_currency(freight_minimum[:freight], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:daily_rate], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:discharge], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:secure], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:risk_manager], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:toll], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:total_icms], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:total_pis_cofins], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:total_cost], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:lucre_gross], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:total_operation], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:late_payment_interest], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:advance], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:seller_commission], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:value_ton], unit: "R$ ", separator: ",", delimiter: ".") %></td>
	                <td><%= number_to_currency(freight_minimum[:value_kg], unit: "R$ ", separator: ",", delimiter: ".", precision: 4) %></td>
	                <td><strong><%= number_to_currency(freight_minimum[:total_freight], unit: "R$ ", separator: ",", delimiter: ".") %></strong></td>
	                <td>
	                	<%= link_to "Show", calculate_liquidity_table_freights_path(
											{ value: input.to_unsafe_h }

										), class: 'btn btn-blue btn-xs show_calculate_liquidity' %>
	                </td>
	              </tr>
	            <% end %>

	          </tbody>

	        </table>
	      </div>

	    </div>
	  </div>
	</div>
