<div class="panel panel-success">
  <div class="panel-body">
  	<p>
	  	<strong>
		    Total Frete: 
		    <%= number_to_currency(freight_minimum[:total_freight], unit: "R$ ", separator: ",", delimiter: ".") %>
  			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:total_freight].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
	  	</strong>
  	</p>
  	
  	<p>
  		<strong>Vr p/ KG:</strong>
  		<%= number_to_currency(freight_minimum[:value_kg], unit: "R$ ", separator: ",", delimiter: ".", precision: 3) %>
  	</p>
  </div>
</div>	

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Calculo do Frete</h3>
  </div>
  <div class="panel-body">
		<p>
			<strong>Trecho:</strong>
			<%= number_to_currency(freight_minimum[:stretch], unit: "R$ ", separator: ",", delimiter: ".") %>
		</p>

		<p>
			<strong>Valor NF:</strong>
			<%= number_to_currency(freight_minimum[:value_nf], unit: "R$ ", separator: ",", delimiter: ".") %>
		</p>

		<p>
			<strong>Peso:</strong>
			<%= number_with_precision(freight_minimum[:weight], precision: 3, separator: ',', delimiter: '.') %>
		</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Custos/despesas</h3>
  </div>
  <div class="panel-body">
		<p>
			<strong>Frete Carreteiro: </strong>
			<%= number_to_currency(freight_minimum[:freight], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:freight].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>

		<p>
			<strong>Diária Carreteiro: </strong>
			<%= number_to_currency(freight_minimum[:daily_rate], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:daily_rate].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>

		<p>
			<strong>Descarga: </strong>
			<%= number_to_currency(freight_minimum[:discharge], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:discharge].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>	

		<p>
			<strong>Seguro: </strong>
			<%= number_to_currency(freight_minimum[:secure], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:secure].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>
			
		<p>
			<strong>Consulta GR:</strong>
			<%= number_to_currency(freight_minimum[:risk_manager], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:risk_manager].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>

		<p>
			<strong>Pedágios:</strong>
			<%= number_to_currency(freight_minimum[:toll], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:toll].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Impostos</h3>
  </div>
  <div class="panel-body">
		<p>
			<strong>ICMS:</strong>
			<%= number_to_currency(freight_minimum[:total_icms], unit: "R$ ", separator: ",", delimiter: ".") %><br />
 			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:total_icms].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
	  	<span style="font-style: italic;font-size: 12px;" >
	  		<%= freight_minimum[:add_icms_value_frete] %>
	  	</span>
		</p>

		<p>
			<strong>Pis/Cofins:</strong>
			<%= number_to_currency(freight_minimum[:total_pis_cofins], unit: "R$ ", separator: ",", delimiter: ".") %>
 			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:total_pis_cofins].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Totais</h3>
  </div>
  <div class="panel-body">
		<p>
			<strong>Total Custos:</strong>
			<%= number_to_currency(freight_minimum[:total_cost], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:total_cost].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>

		<p>
			<strong>Lucro Bruto:</strong>
			<%= number_to_currency(freight_minimum[:lucre_gross], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:lucre_gross].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>

		<p>
			<strong>Total Operacional:</strong>
			<%= number_to_currency(freight_minimum[:total_operation], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:total_operation].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>

		<p>
			<strong>Juros Emprestimo:</strong>
			<%= number_to_currency(freight_minimum[:late_payment_interest], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:late_payment_interest].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>

		<p>
			<strong>Valor do Emprestimo:</strong>
			<%= number_to_currency(freight_minimum[:advance], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:advance].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
			<br />			
	  	<span style="font-style: italic;font-size: 12px;" >
	  		Total Custos + ICMS + PIS/Cofins
	  	</span>

		</p>

		<p>
			<strong>Lucro Liquido:</strong>
			<%= number_to_currency(freight_minimum[:lucre_liquidy], unit: "R$ ", separator: ",", delimiter: ".") %>
			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:lucre_liquidy].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
		</p>


  </div>
</div>

<div class="panel panel-success">
  <div class="panel-body">
  	<strong>
	    Total Frete: 
	    <%= number_to_currency(freight_minimum[:total_freight], unit: "R$ ", separator: ",", delimiter: ".") %>
 			<%= " * #{freight_minimum[:quantity_cars].to_i } = " + number_to_currency(freight_minimum[:total_freight].to_f * freight_minimum[:quantity_cars].to_i, unit: "R$ ", separator: ",", delimiter: ".") if freight_minimum[:quantity_cars].to_i > 1%>
  	</strong>
  </div>
</div>