<%= form_for ([ @meeting, @subject ]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :title, "Assunto" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time_meeting, "Duração" %>
    <%= f.text_field :time_meeting, class: "form-control time" %>
  </div>

  <div class="form-group">
    <%= f.label :responsible, "Responsavel" %>
    <%= f.text_field :responsible, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  meeting_subject_path(@meeting, @subject), class: "btn btn-info" if !@subject.new_record? %>
    <%= link_to 'Listagem', meeting_path(@meeting), class: "btn btn-default" %>
  </div>

<% end %>