<!DOCTYPE html>
<html>
<head>
  <title>Yohan WMS</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="shortcut icon" href="favicon.ico" />
  <!-- <link rel="stylesheet" href="login.css"> -->
</head>

<body>

<main class="content">
  <div class="info col">
    <%= image_tag("logo_yohan.png", alt: "Yohan WMS") %>
    <h1>Sistema WMS</h1>
  </div>
  <div class="login col">
    <h2>Acesse aqui!</h2>
    <div class="error">Seu email ou senha estão incorretos.</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin", id: "new_user", role: "form"}) do |f| %>

      <div class="form-item">
        <%= f.email_field :email, class: "form-control", placeholder: "Email address", required: true, autofocus: true %>
      </div>

      <div class="form-item">
        <%= f.password_field :password, class: "form-control", placeholder: "Senha", required: true, autocomplete: false %>
      </div>

      <small class="msg">Para continuar, efetue login ou registre-se.</small>
      <div class="form-item">
         <%= f.submit "Efetuar Login", class: "submit", data: { disable_with: false }  %>
      </div>


    <% end %>
  </div>
</main>




</body>
</html>
