
<%= form_for(@pallet) do |f| %>
 
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= label_tag :client_cpf_cpnj, "CNPJ Remetente" %><br>
    <% if @pallet.new_record? %>
      <%= text_field_tag :client_cpf_cpnj, nil, class: "form-control cnpj" %>
    <% else %>
      <%= text_field_tag :client_cpf_cpnj, @pallet.client.cpf_cnpj, class: "form-control cnpj", disabled: true %>
      <%= render partial: "clients/result_client", locals: { client: @pallet.client } %>
    <% end %>
  </div>
  
  <div id="source_client_cnpj_result">

  </div>  


  <div id="client_cnpj_result">

  </div>

  <div class="form-group">
    <%= f.label :billing_client_id, "Tomador do serviço" %><br>
    <%= f.select(:billing_client_id, Client.billing.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :carrier_id, "Transportadora" %><br>
    <%= f.select(:carrier_id, Carrier.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :data_informada, "Data Agenda Ype" %><br>
    <% if @pallet.new_record? %>
      <%= f.text_field :data_informada, class: "form-control data" %>
    <% else %>
      <%= f.text_field :data_informada, class: "form-control data", value: date_br(@pallet.data_informada) %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :qtde_informada, "Qtde Ype" %><br>
    <%= f.number_field :qtde_informada, class: "form-control" %>
  </div>
  <% if current_user.has_role? :admin %>
    <div class="form-group">
      <%= f.label :data_agendamento %><br>
      <% if @pallet.new_record? %>
        <%= f.text_field :data_agendamento, class: "form-control data" %>
      <% else %>
        <%= f.text_field :data_agendamento, class: "form-control data", value: date_br(@pallet.data_agendamento) %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :qtde %><br>
      <%= f.number_field :qtde, class: "form-control" %>
    </div>
  <% end %>

  <h3>Dados NF-e</h3>
  <div class="nfe_items">
    <%= f.fields_for :nfe_keys do |f| 
      render 'nfe_key_fields', f: f
    end  -%> <br />
    <%= link_to_add_association 'Add NF-e', f, :nfe_keys, class: "btn btn-success btn-sm" %> <br />
  </div>


  <hr />
  <% if current_user.has_role? :admin %>
  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  pallet_path(@pallet), class: "btn btn-info" if !@pallet.new_record? %>
    <%= link_to "Listar Todos", pallets_path, class: "btn btn-default" %>
  </div>  
  <% else %>
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to 'Listar Todos', visit_all_pallets_path, class: "btn btn-default" %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
   $("#client_cpf_cpnj").focusout(function() {
      var cnpj = $('#client_cpf_cpnj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cnpj},
        dataType : 'html',
        url: '/clients/get_client_by_cnpj',
        success: function(data){
            $('#source_client_cnpj_result').html(data);
        },
      });
    });
  });
</script>
