

  <% if object.nfe_keys.present? %>
    <ul class="list-group">
      <% object.nfe_keys.each do |item| %>
        <li class="list-group-item" > 
          <strong> Qtde:</strong> <%= item.qtde %> - 
          <strong> NF-e:</strong> <%= item.nfe %> - 
          <strong>Chave:</strong> <%= item.chave %> 
          <br />
          <strong> Remessa Ype:</strong> <%= item.remessa_ype %> - 
          <strong> Peso:</strong> <%= number_to_currency( item.peso, unit: "", separator: ",", delimiter: ".", precision: 3)  %> - 
          <strong> Volume:</strong> <%= number_to_currency( item.volume, unit: "", separator: ",", delimiter: ".", precision: 2) %>
        </li>
      <% end %>
    </ul>
  <% else %>  
    <h2 class="panel-title"> is not exist nfe association </h2>
  <% end %>
  
