
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Controle Palete No: <%= @pallet.id %></h2>
  </div>
  <div class="panel-body">

		<p>
		  <strong>Data Solicitada Ype:</strong>
		  <%= date_br(object.data_informada) %>
		</p>

		<p>
		  <strong>Qtde Solicitada Ype:</strong>
		  <%= object.qtde_informada %>
		</p>

		<p>
		  <strong>Data agendada:</strong>
		  <%= date_br(object.data_agendamento) %>
		</p>

		<p>
		  <strong>Qtde:</strong>
		  <%= object.qtde %>
		</p>

		<p>
		  <strong>Status:</strong>
		  <%= object.status_name %>
		</p>
	</div>
</div>
