<ol class="breadcrumb">
  <li><%= link_to "Home", dashboard_visit_path %></li>
  <li><%= link_to "Pallet", pallets_path %></li>
  <li class="active">Create OS</li>
</ol>

<h1>Criar Ordem de Serviço</h1>
<div class="alert alert-info" role="info">
  Para que possa gerar a ordem de serviço é nescessário informar alguns dados
</div>

<%= form_tag({:controller => "pallets", :action => "create_os"}, :method => "post") do |f| %>
  <%= hidden_field_tag "ordem_services[pallet_id]", @pallet.id %>

  <div class="form-group">
    <%= label_tag "ordem_services[carrier_id]", "Agente" %>
    <%= select_tag "ordem_services[carrier_id]", options_from_collection_for_select(@carriers, "id", "nome"), :prompt => "Selecione uma Transportadora", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "ordem_services[driver_id]", "Motorista" %>
    <%= select_tag "ordem_services[driver_id]", options_from_collection_for_select(@drivers, "id", "nome"), :prompt => "Selecione um Motorista", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "ordem_services[placa]", "Placa" %>
    <%= text_field_tag "ordem_services[placa]", nil, class: "form-control", style: 'text-transform:uppercase' %>
  </div>
  <div class="form-group">
    <%= label_tag "ordem_services[estado]", "Estado" %>
    <%#= select_tag "Estado", options_for_select(select_uf), :name=>"estado", :id=>"estado", prompt: "Selecione um Estado", class: "form-control", disabled: true %>
    <%= text_field_tag "ordem_services[estado]", @pallet.client.estado, class: "form-control", disabled: true %>
    <%= hidden_field_tag "ordem_services[estado]", @pallet.client.estado %>
  </div>
  <div class="form-group">
    <%= label_tag "ordem_services[cidade]", "Cidade" %>
    <%= text_field_tag "ordem_services[cidade]", @pallet.client.cidade, class: "form-control", disabled: true %>
    <%= hidden_field_tag "ordem_services[cidade]", @pallet.client.cidade %>
  </div>

  <%= submit_tag("Criar OS", class: "btn btn-blue") %>

  <br/>
  <br/>

<% end %>
