<ol class="breadcrumb">
  <li><%= link_to "Home", dashboard_visit_path %></li>
  <li><%= link_to "Pallet", pallets_path %></li>
  <li class="active">Show</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Controle Palete No: <%= @pallet.id %></h2>
  </div>

  <div class="panel-body">
	  <p>
	    <strong>Cnpj:</strong>
	    <%= link_to "#{@pallet.client.cpf_cnpj}", @pallet.client %>
	  </p>

		<p>
		  <strong>Client:</strong>
		  <%= link_to "#{@pallet.client.nome}", @pallet.client %>
		</p>

    <p>
      <strong>Endereço:</strong>
      <%= @pallet.client.endereco %>
    </p>

    <p>
      <strong>Complemento:</strong>
      <%= @pallet.client.complemento %>
    </p>

		<p>
		  <strong>Data Agenda Ype:</strong>
		  <%= date_br(@pallet.data_informada) %>
		</p>

		<p>
		  <strong>Qtde Ype:</strong>
		  <%= @pallet.qtde_informada %>
		</p>

		<p>
		  <strong>Data agendada:</strong>
		  <%= date_br(@pallet.data_agendamento) %>
		</p>

		<p>
		  <strong>Qtde:</strong>
		  <%= @pallet.qtde %>
		</p>

		<p>
		  <strong>Status:</strong>
		  <%= @pallet.status_name %>
		</p>
	</div>
</div>

<div class="form-group">
  <% if current_user.has_role? :admin %>
    <%= link_to 'Editar', edit_pallet_path(@pallet), class: "btn btn-primary" %>
    <%= link_to 'Listar Todos', pallets_path, class: "btn btn-default" %>
    <%= link_to 'Gerar Ordem Servico', driver_select_pallet_path, class: "btn btn-success" if current_user.has_role? :admin %>
  <% else %>
    <%= link_to 'Listar Todos', visit_all_pallets_path, class: "btn btn-default" %>
  <% end %>
  
</div>
