<ol class="breadcrumb">
  <li><%= link_to "Home", dashboard_visit_path %></li>
  <li><%= link_to "Pallet", pallets_path %></li>
  <li class="active">Show</li>
</ol>

<%= render 'show', object: @pallet %>

<div class="form-group">
  <% if current_user.has_role? :admin %>
    <%= link_to 'Editar', edit_pallet_path(@pallet), class: "btn btn-primary" %>
    <%= link_to 'Listar Todos', pallets_path, class: "btn btn-default" %>
    <%= link_to 'Gerar Ordem Servico', driver_select_pallet_path, class: "btn btn-success" if current_user.has_role? :admin %>
  <% else %>
    <%= link_to 'Listar Todos', visit_all_pallets_path, class: "btn btn-default" %>
  <% end %>
  
</div>
