  <p>
    <strong>Faturamento No: </strong> 
    <%= link_to object.id, object %>
  </p>

  <p>
    <strong>Data Emissao:</strong>
    <%= date_br object.data %>
  </p>

  <p>
    <strong>Data Vencto:</strong>
    <%= date_br object.data_vencimento %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= object.valor %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= object.status_name %>
  </p >

  <p>
    <strong>Obs:</strong>
    <%= JSON.parse(object.obs).sort %>
  </p>
