<div class="panel panel-default">
  <div class="panel-heading">Listagem de Faturamento</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data Emissao</th>
            <th>Data Vencto</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Options</th>
          </tr>
        </thead>

        <tbody>
            <% @billings.each do |billing| %>
            <tr>
              <td><%= link_to billing.id, billing %></td>
              <td><%= link_to date_br(billing.data), billing %></td>
              <td><%= link_to date_br(billing.data_vencimento), billing if billing.data_vencimento.present? %></td>
              <td><%= link_to number_with_precision(billing.valor, precision: 2, separator: '.'), billing %></td>
              <td><%= link_to billing.status_name, billing %></td>
              <td><%= link_to 'Show', billing_path(billing), class: "btn btn-info btn-xs" %></td>
              <td><%= link_to 'Edit', edit_billing_path(billing), class: "btn btn-blue btn-xs" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
