<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">No Fatura: <%= @billing.id %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Cte</Data></Cell>
        <Cell><Data ss:Type="String">Placa</Data></Cell>
        <Cell><Data ss:Type="String">Motorista  </Data></Cell>
        <Cell><Data ss:Type="String">Danfe</Data></Cell>
        <Cell><Data ss:Type="String">Valor</Data></Cell>
        <Cell><Data ss:Type="String">Serviços</Data></Cell>
      </Row>
    <% @billing.ordem_services.each do |ordem_service| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= ordem_service.cte %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ordem_service.placa %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ordem_service.driver.nome %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ordem_service.danfes %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= number_with_precision(ordem_service.valor_ordem_service, precision: 2, separator: '.') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ordem_service.type_services %></Data></Cell>
      </Row>
    <% end %>
      <Row>
        <Cell><Data ss:Type="String">Total</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="Number"><%= number_with_precision(@billing.valor, precision: 2, separator: '.') %></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>