<style type="text/css">
  
</style>

<style type="text/css">

@media print {

      * {
      
      top: 0;
      background: transparent !important ;
      border-color: #000 !important ;
      box-shadow: none !important ;
      color: #000 !important ;
      text-shadow: none !important ;
 
      }

      body { 
        font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
        margin: 100px 0 10px 0px; 
        text-align: center; 
        background-color: blue; 
      }      
/*
      table { page-break-after:always; }
      table { page-break-after:auto }
      tr    { page-break-inside:avoid; 
              page-break-after:auto;
            }
      td    { page-break-inside:avoid; 
              page-break-after:auto;
            }
      thead { display:table-header-group; }
      tfoot { display:table-footer-group; }
*/      
      .img_not_printer {
       /* visibility: visible;   
        position: fixed; 
        margin: 70px 10px 10px 1px;
        position: fixed; top: 0; left: 0; width: 100%; height: 2em;
        */
        visibility: visible;   
        position: fixed;
        margin: 10px 10px 10px 1px;        
        
      }

      .header_print {
        /*
        visibility: visible;   
        font-family: Arial, sans-serif;
        font-size: 16 pt;
        font-color: blue;
        color: red;
        content: normal;
        position: fixed; 
        margin: 70px 10px 10px 190px; 
        */
        visibility: visible;   
        font-family: Arial, sans-serif;
        font-size: 16 pt;
        font-color: blue;
        color: red;
        content: normal;
        position: fixed;
        margin: 10px 10px 10px 190px;
      }     

      .panel {
        position: absolute;
        margin: 90px 10px 10px 10px;
        width: 100%;
      }      

      .table {
        page-break-inside: avoid;
        
      }


      .notprinter {
        display: none;
      }

      .action {
        display: none;
      }

      .btn {
        display: none; 
      }


      .nfe {
        margin-left: 30px;
      }

      .placa {
        width: 100px;
      }
      
      .total {
        font-weight: 20px;
      }
      

      #demo-table > caption {
         background-color: yellow;
         font-size: 30px;
      }

      #demo-table {
        border: 30px;
      }

      #demo-table > thead > tr:first-child > th {
      text-align: center;
      color: red;
      height: 10px;
      width: 10px;
      }

      .debug_dump {
        display: none; 
      }

}
</style>

<div class="notprinter">
  <%= render 'show', object: @billing %>  
</div>

<div class="form-group">
  <%= link_to 'Listar Todos',  billings_path, class: "btn btn-default" %>
  <%= link_to "Download Excel", billing_path(@billing, format: :xls), class: "btn btn-default" %>
</div>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">
       <h3 class="panel-title" style="text-align:center;">Faturamento No: <%= @billing.id %></h3>
  </div>

  <!-- Table -->
    <div class="table-responsive">
      <table id="demo-tables" class="table table-striped">

        <thead>
          <tr>
            <th>Placa</th>
            <th>Motorista</th>
            <th>Cliente</th>
            <th>Cte</th>
            <th>Valor</th>
            <th colspan="3" class="action">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @billing.ordem_services.order(:placa).each do |ordem_service| %>
            <tr>
              <td ><%= ordem_service.placa %></td>
              <td ><%= truncate(ordem_service.driver.nome, length: 25) %></td>
              <td ><%= truncate(ordem_service.client.nome, length: 25) %></td>
              <td ><%= ordem_service.cte %></td>
              <td ><%= ordem_service.valor_ordem_service %></td>
              <td class="action"><%= link_to 'Show', ordem_service, class: "btn btn-info btn-sm" %></td>
              <td class="action"><%= link_to 'Edit', edit_ordem_service_path(ordem_service), class: "btn btn-primary btn-sm" %></td>
              <td class="action"><%= link_to 'Destroy', ordem_service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
              <tr>
                
                <td class="nfe" colspan="8"> Nfe [
                <% i = 1 %>
                <% x = ordem_service.nfe_keys.count  %>
                <% ordem_service.nfe_keys.each do |key| %>
                  <%= key.nfe %>
                  <% if (i < x) %>
                    -
                    <% i += 1 %>
                  <% end %>
                <% end %>
                ]
                </td>
                <% ordem_service.ordem_service_type_service.each do |os_type_service| %>
                  <tr>
                    <td class="type_service" colspan="8"> 
                    <%= os_type_service.type_service.descricao %> - <%= os_type_service.valor %>
                    </td>
                  </tr>
                <% end %>
                <td>
              </td>
              </tr>
            </tr>
          <% end %>
          <tr class="total">
            <td colspan="4">Total</td>
            <td><%= @billing.valor %></td>
            <td colspan="3"></td>
            
          </tr>

        </tbody>
      </table>
    </div>    
</div>

<p class="img_not_printer">
  <%= image_tag("l7-logo.png", title: "L7 Logistica", alt:"logo da L7 Logistica", width: 150) %>
</p>

<p class="header_print">

  <strong>L7 Logistica</strong> <br />
  <strong>Razão social:</strong> A. MOURA DO NASCIMENTO - ME <br />
  <strong>Endereço:</strong>  Av. Alberto craveiro, 536 Bairro: Dias macedo <br />
          Cidade: FORTALEZA  Cep: 60.860-012
  <strong>Contato: </strong> 085 30656041   

</p>
