<div class="notprinter">
  <%= render 'show', object: @billing %>  
</div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Documentos
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">

      <%= render 'shared/document', object: @billing %>
      
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingEleven">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            Dados do Cancelamento
          </a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
        <div class="panel-body">


        <%= render 'cancellations/feed', cancellations: @billing.feed_cancellations %>

        <%= render 'cancellations/form_cancellation_billing' %>
        
        </div>
      </div>
    </div>
  </div>

<div class="form-group">
  <%= link_to 'Listar Todos',  billings_path, class: "btn btn-default" %>
  <%= link_to "Download Excel", billing_path(@billing, format: :xls), class: "btn btn-default" %>
  <%= link_to 'Imprimir Fatura', print_billing_path(@billing), class: "btn btn-info" %> --------
</div>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">
       <h3 class="panel-title" style="text-align:center;">Faturamento No: <%= @billing.id %></h3>
  </div>

  <!-- Table -->
    <div class="table-responsive">
      <table id="demo-tables" class="table table-striped">

        <thead>
          <tr>
            <th>Placa</th>
            <th>Motorista</th>
            <th>Cliente</th>
            <th>Cte</th>
            <th>Valor</th>
            <th colspan="1" class="action">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @billing.ordem_services.order(:placa).each do |ordem_service| %>
            <tr>
              <td ><%= ordem_service.ordem_service_logistic.placa %></td>
              <td ><%= truncate(ordem_service.ordem_service_logistic.driver.nome, length: 25) %></td>
              <td ><%= truncate(ordem_service.client.nome, length: 25) %></td>
              <td ><%= ordem_service.cte_keys.first.cte if ordem_service.cte_keys.present? %></td>
              <td ><%= ordem_service.valor_ordem_service %></td>
              <td class="action"><%= link_to 'Show', ordem_service, class: "btn btn-info btn-sm" %></td>
              <tr>
                
                <td class="nfe" colspan="8"> Nfe [
                <% i = 1 %>
                <% x = ordem_service.nfe_keys.count  %>
                <% ordem_service.nfe_keys.each do |key| %>
                  <%= key.nfe %>
                  <% if (i < x) %>
                    -
                    <% i += 1 %>
                  <% end %>
                <% end %>
                ]
                </td>
                <% ordem_service.ordem_service_type_service.each do |os_type_service| %>
                  <tr>
                    <td class="type_service" colspan="8"> 
                    <%= os_type_service.type_service.descricao %> - <%= os_type_service.valor %>
                    </td>
                  </tr>
                <% end %>
                <td>
              </td>
              </tr>
            </tr>
          <% end %>
          <tr class="total">
            <td colspan="4">Total</td>
            <td><%= @billing.valor %></td>
            <td colspan="3"></td>
            
          </tr>

        </tbody>
      </table>
    </div>    
</div>

<p class="img_not_printer">
  <%= image_tag("l7-logo.png", title: "L7 Logistica", alt:"logo da L7 Logistica", width: 150) %>
</p>

<p class="header_print">

  <strong>L7 Logistica</strong> <br />
  <strong>Razão social:</strong> A. MOURA DO NASCIMENTO - ME <br />
  <strong>Endereço:</strong>  Av. Alberto craveiro, 536 Bairro: Dias macedo <br />
          Cidade: FORTALEZA  Cep: 60.860-012
  <strong>Contato: </strong> 085 30656041   

</p>
