<%= render 'form', conference_breakdown: @conference_breakdown %>
<% if @conference_breakdowns.present? %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>CodProd</th>
          <th>EAN</th>
          <th>Descrição</th>
          <th>Avarias</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @conference_breakdowns.each do |breakdown| %>
        <tr>
          <td><%= breakdown.product.cod_prod %></td>
          <td><%= breakdown.product.ean_box %></td>
          <td><%= breakdown.product.descricao %></td>
          <td><%= breakdown.qtde %></td>
          <td><%= link_to("x", conference_breakdown_path(breakdown), {class: "btn btn-danger", 'data-confirm': "Deseja deletar o item #{breakdown.product.descricao} ?", 'data-method': "delete"}) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>


<div class="row">
  <div class="col-md-5">
    <%= link_to("Finalizar avaria", finish_conference_breakdown_path(@input_control), {class: "btn btn-primary", 'data-confirm': "Deseja Finalizar esta avaria?"}) %>
  </div>
</div>
