<h1>Upload XML CT-e</h1>

<%= form_for @cte_xml, :url => cte_xmls_path, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
  <%= f.label :asset, "File input" %>
    <%= f.file_field :asset %>
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <%= f.submit "Salvar", class: "btn btn-primary" %>
  
<% end %>
