<div class="panel panel-default">
  <div class="panel-heading">Listagem Contas Correntes</div>
  <div class="panel-body">
    <%= link_to 'Novo Conta', new_cash_account_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Banco</th>
            <th>Agencia</th>
            <th>Conta corrente</th>
            <th>Ted doc</th>
            <th colspan="3">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% @cash_accounts.each do |cash_account| %>
            <tr>
              <td><%= cash_account.nome %></td>
              <td><%= cash_account.bank.banco if cash_account.bank.present? %></td>
              <td><%= cash_account.agencia %></td>
              <td><%= cash_account.conta_corrente %></td>
              <td><%= cash_account.ted_doc %></td>
              <td><%= link_to 'Show', cash_account, class: "btn btn-info btn-sm" %></td>
              <td><%= link_to 'Edit', edit_cash_account_path(cash_account), class: "btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Destroy', cash_account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
