<div class="panel panel-default">
  <div class="panel-heading">Listing occurrences</div>
  <div class="panel-body">
    <%= link_to 'Nova Ocorrencia', new_occurrence_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Driver</th>
            <th>Placa</th>
            <th>Cte</th>
            <th>Data</th>
            <th colspan="3">Opões</th>
          </tr>
        </thead>

        <tbody>
          <% @occurrences.each do |occurrence| %>
            <tr>
              <td><%= occurrence.driver.nome %></td>
              <td><%= occurrence.placa %></td>
              <td><%= occurrence.cte %></td>
              <td><%= occurrence.data %></td>
              <td><%= link_to 'Show', occurrence, class: "btn btn-info btn-xs" %></td>
              <td><%= link_to 'Edit', edit_occurrence_path(occurrence), class: "btn btn-primary btn-xs" %></td>
              <td><%= link_to 'Destroy', occurrence, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
