<td><%= control_pallet_internal.id %></td>
<td><%= control_pallet_internal.type_account_name %></td>
<td><%= control_pallet_internal.responsable.nome %></td>
<td><%= control_pallet_internal.equipament_name %></td>
<td><%= control_pallet_internal.credito_debito %></td>
<td><%= date_br(control_pallet_internal.date_launche) %></td>
<td><%= control_pallet_internal.qtde %></td>
<td><%= control_pallet_internal.historic %></td>
