<%= form_for(@devolution) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<!--   <div class="form-group">
    <%#= f.label :carrier_id, "Transportadora" %>
    <%#= f.select(:carrier_id, Carrier.order(:nome).collect {|c| [c.name_state, c.id]}, {include_blank: true}, {class: "#{input_class}"} ) %>
  </div>
 -->
  <%= row do form_group small: (@devolution.new_record?) ? 6 : 12 do %>
    <%= label_tag :carrier_id, "Transportadora" %><br>
    <% if @devolution.new_record? %>
      <%= text_field_tag :carrier_cnpj, nil, class: "#{input_class} cnpj" %>
    <% else %>
      <%= text_field_tag :carrier_cnpj, @devolution.carrier.cnpj, class: "#{input_class} cnpj", disabled: true %>
      <%= render partial: "carriers/result_carrier", locals: { carrier: @devolution.carrier } %>
    </div>
    <% end %>
  <% end end %>
  <div id="carrier_cnpj_result"></div>


  <%= row do form_group small: (@devolution.new_record?) ? 6 : 12 do %>
    <%= label_tag :driver_id, "Motorista" %><br>
    <% if @devolution.new_record? %>
      <%= text_field_tag :driver_cpf, nil, class: "#{input_class} cpf" %>
    <% else %>
      <%= text_field_tag :driver_cpf, @devolution.driver.cpf, class: "#{input_class} cpf", disabled: true %>
      <%= render partial: "drivers/result_driver", locals: { driver: @devolution.driver } %>
      </div>
    <% end %>
  <% end end %>
  <div id="driver_cpf_result"></div>

  <%= row do form_group small: (@devolution.new_record?) ? 6 : 12 do %>
    <%= label_tag :billing_client_cpf_cpnj, "CPF/CNPJ Tomador do Serviço" %><br>
    <% if @devolution.new_record? %>
      <%= text_field_tag :billing_client_cpf_cpnj, nil, class: "#{input_class} cnpj" %>
    <% else %>
      <%= text_field_tag :billing_client_cpf_cpnj, @devolution.billing_client.cpf_cnpj, class: "#{input_class} cnpj", disabled: true %>
      <%= render partial: "clients/result_client", locals: { client: @devolution.billing_client } %>
      </div>
    <% end %>
  <% end end %>

  <div id="billing_client_cnpj_result">

  </div>

<!--
  <div class="form-group">
    <%#= f.label :stretch_route_id, "Trecho" %>
    <%#= f.select(:stretch_route_id, StretchRoute.all.collect {|c| [c.stretch_source_and_target_long, c.id]}, {include_blank: true}, {class: "#{input_class}"} ) %>
  </div>
-->


<%= row do %>
  <%= form_group small: 3 do %>
    <%= f.label :place, "Placa NF-e" %>
    <%= f.text_field :place, class: "#{input_class} " %>
  <% end %>

  <%= form_group small: 3 do %>
    <%= f.label :place_horse, "Placa Cavalo" %>
    <%= f.text_field :place_horse, class: "#{input_class} " %>
  <% end %>

  <%= form_group small: 3 do %>
    <%= f.label :place_cart_1, "Placa Carreta" %>
    <%= f.text_field :place_cart_1, class: "#{input_class} " %>
  <% end %>

<% end %>

<%= row do %>
  <%= form_group small: 4 do %>
    <%= f.label :shipment, "No Remessa do Cliente" %>
    <%= f.text_field :shipment, class: "#{input_class}" %>
  <% end %>

  <%= form_group small: 4 do %>
    <%= f.label :container, "No Container" %>
    <%= f.text_field :container, class: "#{input_class}" %>
  <% end %>
<% end %>

<%= row do %>
  <%= form_group small: 4 do %>
    <%= f.label :date_entry, "Data Entrada NF-e" %>
    <%= f.text_field :date_entry, class: "#{input_class} data", value: date_br(@devolution.date_entry) %>
  <% end %>
  <%= form_group small: 4 do %>
    <%= f.label :time_entry, "Hora Entrada NF-e" %>
    <%= f.text_field :time_entry, class: "#{input_class} time", value: time_br(@devolution.time_entry) %>
  <% end %>
  <%= form_group small: 4 do %>
    <%= f.label :date_receipt, "Data Recebimento" %>
    <%= f.text_field :date_receipt, class: "#{input_class} data", value: date_br(@devolution.date_receipt), disabled: true %>
  <% end %>
<% end %>

<%= row do %>
  <%= form_group small: 4 do %>
    <% if @devolution.new_record? %>
      <%= f.check_box :charge_discharge, checked: true %> Cobrar descarga?
    <% else %>
      <%= f.check_box :charge_discharge %> Cobrar descarga?
    <% end %>
  <% end %>
  <%= form_group small: 4 do %>
    <%= f.check_box :palletized %> Carga Paletizada?
  <% end %>
  <%= form_group small: 4 do %>
    <% if @devolution.new_record? %>
      <%= f.check_box :charge_type_delivery, checked: true %> Entrega é Paletizada?
    <% else %>
      <%= f.check_box :charge_type_delivery %> Entrega é Paletizada?
    <% end %>
  <% end %>
<% end %>


<%= row do %>
  <%= form_group small: 3 do %>
    <%= f.label :quantity_pallets, "Qtde Paletes" %>
    <%= f.text_field :quantity_pallets, class: "#{input_class}" %>
  <% end %>

<% end %>

<%= row do %>
  <%= form_group small: 12 do %>
    <%= f.label :observation, "Observação" %>
    <%= f.text_area :observation, class: "#{input_class}" %>
  <% end %>
<% end %>

  <hr />

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  input_control_path(@devolution), class: "btn btn-info" if !@devolution.new_record? %>
    <%= link_to "Listar Todos", input_controls_path, class: "btn btn-default" %>
  </div>

<% end %>


<script type="text/javascript">
  $(document).ready(function() {
   $("#carrier_cnpj").focusout(function() {
      var cnpj = $('#carrier_cnpj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cnpj: cnpj},
        dataType : 'html',
        url: '/carriers/get_carrier_by_cnpj',
        success: function(data){
            $('#carrier_cnpj_result').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#driver_cpf").focusout(function() {
      var cpf = $('#driver_cpf').val();
      console.log(cpf);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cpf},
        dataType : 'html',
        url: '/drivers/get_driver_by_cpf',
        success: function(data){
            $('#driver_cpf_result').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#billing_client_cpf_cpnj").focusout(function() {
      var cnpj = $('#billing_client_cpf_cpnj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cnpj},
        dataType : 'html',
        url: '/clients/get_client_by_cnpj',
        success: function(data){
            $('#billing_client_cnpj_result').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(function(){
    $("#billing_client_cpf_cpnj").change(function(){
      var client_id = "cpf_cnpj="+$(this).val();
      console.log(client_id);
      $.getJSON('/get_stretch_routes_from_client_cnpj', client_id, function(data){
        var options = '<option value="">SELECIONE O TRECHO</option>';
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#input_control_stretch_route_id").html(options);
      });
    });
  });
</script>

<script type="text/javascript">
  $(function(){
    $("#input_control_stretch_route_id").change(function(){
      var cpf_cnpj = $("#billing_client_cpf_cpnj").val();
      var stretch_route_id = $(this).val();
      var client_and_stretch_route = {'cpf_cnpj': cpf_cnpj, 'stretch_route_id': stretch_route_id}
      console.log(client_and_stretch_route);
      $.getJSON('/get_client_table_price_of_by_client_cnpj_and_stretch_route', client_and_stretch_route, function(data){
        var options = '<option value="">SELECIONE O TIPO DE SERVICO</option>';
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#input_control_type_service_id").html(options);
      });
    });
  });
</script>
