<div class="panel panel-default">
  <div class="panel-heading">Listing Devolutions</div>
  <div class="panel-body">
    <%= link_to 'New Devolution', new_devolution_path, class: "btn btn-blue btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Dev</th>
            <th>Transportadora</th>
            <th>Motorista</th>
            <th>Data Program</th>
            <th>Data Rec.</th>
            <th>Palletizing</th>
            <th>Palletized</th>
            <th>Qtde </th>
            <th>Status</th>
            <th colspan="4">Options</th>
         </tr>
        </thead>

        <tbody>
          <% @devolutions.each do |devolution| %>
            <tr>
              <tr>
                <td><%= input_control.id %></td>
                <td><%= link_to devolution.carrier.nome, devolution.carrier if devolution.carrier.present? %></td>
                <td><%= link_to devolution.driver.nome, devolution.driver if devolution.driver.present? %></td>
                <td><%= date_br devolution.date_scheduled %>&nbsp<%= time_br devolution.time_scheduled %></td>
                <td><%= date_br devolution.date_receipt %></td>
                <td><%= devolution.palletizing.status if devolution.palletizing.present? %></td>
                <td><%= devolution.palletized_status %></td>
                <td><%= devolution.quantity_pallets %></td>
                <td><%= truncate(devolution.status_name, length: 12) %></td>
                <td><%= link_to 'Show', devolution, class: "btn btn-info btn-xs" %></td>
                <td><%= link_to 'Edit', edit_devolution_path(devolution), class: "btn btn-blue btn-xs"  %></td>
              </tr>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
