<tr>
  <% image_avatar = driver.avatar.present? ? driver.avatar.url(:mini) : ""  %>
  <td><%= avatar driver.nome, image_avatar %> </td>
  <td><%= driver.cpf %></td>
  <td><%= driver.nome %></td>
  <td><%= driver.cnh %></td>
  <td><%= driver.categoria_nome %></td>
  <td><%= date_br driver.validade_cnh %></td>
  <td><%= link_to 'Show', driver, class: "btn btn-info btn-sm" %></td>
  <td><%= link_to 'Edit', edit_driver_path(driver), class: "btn btn-blue btn-sm" %></td>
</tr>
