<%= form_for(@driver) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <label for="exampleInputFile">Escolha uma imagem 3x4 </label>
    <%= f.file_field :avatar, accept: "image/*" %>
  </div>

  <div class="form-group">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf, class: "form-control cpf" %>
  </div>

  <div id="driver_result">

  </div>

  <div class="form-group">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fantasia, "Apelido" %><br>
    <%= f.text_field :fantasia, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cep %><br>
    <%= f.text_field :cep, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :numero %><br>
    <%= f.text_field :numero, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :complemento %><br>
    <%= f.text_field :complemento, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cidade %><br>
    <%= f.text_field :cidade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado  %>
    <%= f.select( :estado, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :rg %><br>
    <%= f.text_field :rg , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :orgao_expeditor %>
    <%= f.text_field :orgao_expeditor , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :data_emissao_rg %><br>
    <%#= f.date_select :data_emissao_rg, start_year: 1920, class: "form-control"  %>
    <%= f.text_field :data_emissao_rg , value: date_br(@driver.data_emissao_rg), class: "form-control data" %>
  </div>
  <div class="form-group">
    <%= f.label :data_nascimento %><br>
    <%#= f.date_select :data_nascimento, class: "form-control", start_year: 1920  %>
    <%= f.text_field :data_nascimento , value: date_br(@driver.data_nascimento), class: "form-control data" %>
  </div>
  <div class="form-group">
    <%= f.label :municipio_nascimento %><br>
    <%= f.text_field :municipio_nascimento , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado  %>
    <%= f.select( :estado_nascimento, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :estado_civil  %>
    <%= f.select( :estado_civil, select_estado_civil, {include_blank: "Selecione o Estado Civil"}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :cor_da_pele  %>
    <%= f.select( :cor_da_pele, select_cor_da_pele, {include_blank: "Selecione a cor da pele"}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :tipo_contrato  %>
    <%= f.select( :tipo_contrato, select_tipo_contrato, {include_blank: "Selecione a tipo de contrato"}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :cnh %><br>
    <%= f.text_field :cnh, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :registro_cnh %><br>
    <%= f.text_field :registro_cnh, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :categoria  %>
    <%= f.select( :categoria, select_categoria, {include_blank: :false}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.label :validade_cnh %><br>
    <%= f.text_field :validade_cnh , value: date_br(@driver.validade_cnh), class: "form-control data" %>
  </div>
  <div class="form-group">
    <%= f.label :inss %><br>
    <%= f.text_field :inss, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nome_do_pai %><br>
    <%= f.text_field :nome_do_pai, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nome_da_mae %><br>
    <%= f.text_field :nome_da_mae, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date_expiration_medical, "Data validade exame médico" %><br>
    <%= f.text_field :date_expiration_medical , value: date_br(@driver.date_expiration_medical), class: "form-control data" %>
  </div>
  <div class="form-group">
    <%= f.label :date_query_secure, "Data consulta seguro" %><br>
    <%= f.text_field :date_query_secure , value: date_br(@driver.date_query_secure), class: "form-control data" %>
  </div>
  <div class="form-group">
    <%= f.label :date_expiration_secure, "Data validade seguro" %><br>
    <%= f.text_field :date_expiration_secure , value: date_br(@driver.date_expiration_secure), class: "form-control data" %>
  </div>
  <div class="form-group">
    <%= f.label :number_secure, "No Liberação Seguradora" %><br>
    <%= f.text_field :number_secure, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :number_mopp, "No M.O.P.P" %><br>
    <%= f.text_field :number_mopp, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date_expiration_mopp, "Data validade M.O.P.P" %><br>
    <%= f.text_field :date_expiration_mopp , value: date_br(@driver.date_expiration_mopp), class: "form-control data" %>
  </div>
  <div class="form-group">
    <%= label_tag :owner_id, "Agregado/Proprietário" %><br>
    <% if @driver.new_record? %>
      <%= text_field_tag :owner_cpf, nil, class: "form-control" %>
    <% else %>
      <%#= text_field_tag :owner_cpf, @driver.owner.cpf_cnpj, class: "form-control cpf", disabled: true if @driver.owner.present? %>
      <% if @driver.owner.present? %>
        <%= text_field_tag :owner_cpf, @driver.owner.cpf_cnpj, class: "form-control", disabled: true %>
      <% else %>
        <%= text_field_tag :owner_cpf, nil, class: "form-control" %>
      <% end %>
      <%= render partial: "owners/result_owner", locals: { owner: @driver.owner } if @driver.owner.present? %>
    <% end %>
  </div>

  <div id="owner_cpf_result">

  </div>

  <div class="form-group">
    <%= f.label :obs, "Observação" %>
    <%= f.text_area :obs, class: "form-control"  %>
  </div>

  <div id="phones">
    <fieldset>
      <legend>Contatos</legend>
        <div class="items">
          <%= f.nested_fields_for :contacts do |f|
            render 'shared/contact', f: f
          end -%>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <br /> <a href="#" class="btn btn-success btn-sm add">[+] Contato</a>
          </div>
        </div>
    </fieldset>
  </div>

  <div id="phones">
    <fieldset>
      <legend>Restrições</legend>
        <div class="items">
          <%= f.nested_fields_for :driver_restrictions do |f|
            render 'driver_restriction_fields', f: f
          end -%>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <br /> <a href="#" class="btn btn-success btn-sm add">[+] Restrição</a>
          </div>
        </div>
    </fieldset>
  </div>

  <div id="emails">
    <fieldset>
      <legend>E-Mail</legend>

      <div class="items">
        <%= f.nested_fields_for :emails do |f|
          render 'shared/email', f: f
        end -%>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <br /> <a href="#" class="btn btn-success btn-sm add">[+] E-Mail</a>
        </div>
      </div>

    </fieldset>

  </div>


  <div id="accounts">
    <fieldset>
      <legend>Contas Bancarias</legend>
      <div class="items">
        <%= f.nested_fields_for :account_banks do |f| %>
          <%= render "shared/form_account_bank", f: f %>
        <% end %>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <a href="#" class="btn btn-success btn-sm add">[+] Conta</a>
        </div>
      </div>

    </fieldset>
  </div>

  <div id="prices">
    <fieldset>
      <legend>Tabela de Preços</legend>
      <div class="items">
        <%= f.nested_fields_for :table_prices do |f| %>
          <%= render "form_table_price", f: f %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <a href="#" class="btn btn-success btn-sm add">[+] Tab. Preço</a>
        </div>
      </div>
    </fieldset>
  </div>

  <h2>Documentos</h2>
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f|
        render 'shared/asset', f: f
      end  -%>
    </div>
      <br /> <a href="#" class="btn btn-success btn-sm add">[+] Documento</a>
  </div>

  <div id="drivers">
    <fieldset>
      <legend>Veículos</legend>
      <div class="items">
        <%= f.nested_fields_for :drivings do |f|
          render 'vehicle', f: f
        end  -%>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <br /> <a href="#" class="btn btn-success btn-sm add">[+] Veiculo</a>
        </div>
      </div>
  </div>

  <hr />

  <div class="form-actions">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  driver_path(@driver), class: "btn btn-info" if !@driver.new_record? %>
    <%= link_to "Listar Todos", drivers_path, class: "btn btn-default" %>
  </div>

<% end %>

<script type="text/javascript">
$(function(){
   $("#driver_cep").change(function(){
     var cep     = $(this).val().replace(/[^0-9]/, '');
     var boxes   = $("#boxCampos");
     var msgErro = $("#mensagemErro");
     console.log('CEP: ' + cep)
     boxes.addClass('ocultar');
     msgErro.addClass('ocultar');

    if(cep !== ""){
        $.getJSON('/get_address_by_cep', 'cep=' + cep, function(data){
           console.log(data)
           $("#driver_endereco").val(data.logradouro);
           $("#driver_bairro").val(data.bairro);
           $("#driver_cidade").val(data.localidade);
           $("#driver_estado").val(data.uf);
           $("#driver_numero").focus();
           boxes.removeClass('ocultar');
          }).fail(function(){
            //Não retornando um valor válido, ele mostra a mensagem
          msgErro.removeClass('ocultar').html('CEP inexistente')
       });
       }
   });
});
</script>


<script type="text/javascript">
  $(document).ready(function() {
   $("#owner_cpf").focusout(function() {
      var cpf = $('#owner_cpf').val();
      console.log(cpf);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cpf},
        dataType : 'html',
        url: '/owners/get_owner_by_cpf_cnpj',
        success: function(data){
            $('#owner_cpf_result').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#driver_cpf").focusout(function() {
      var cpf = $('#driver_cpf').val();
      console.log(cpf);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cpf},
        dataType : 'html',
        url: '/drivers/get_driver_by_cpf_exist',
        success: function(data){
            $('#driver_result').html(data);
        },
      });
    });
  });
</script>
