<%= form_for(@driver) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fantasia, "Apelido" %><br>
    <%= f.text_field :fantasia, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :numero %><br>
    <%= f.text_field :numero, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :complemento %><br>
    <%= f.text_field :complemento, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cidade %><br>
    <%= f.text_field :cidade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado  %>
    <%= f.select( :estado, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :cep %><br>
    <%= f.text_field :cep, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rg %><br>
    <%= f.text_field :rg , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :orgao_expeditor %>
    <%= f.text_field :orgao_expeditor , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :data_emissao_rg %><br>
    <%= f.date_select :data_emissao_rg, class: "form-control", start_year: 1920  %>
  </div>
  <div class="form-group">
    <%= f.label :data_nascimento %><br>
    <%= f.date_select :data_nascimento, class: "form-control", start_year: 1920  %>
  </div>
  <div class="form-group">
    <%= f.label :municipio_nascimento %><br>
    <%= f.text_field :municipio_nascimento , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado  %>
    <%= f.select( :estado_nascimento, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :cnh %><br>
    <%= f.text_field :cnh, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :registro_cnh %><br>
    <%= f.text_field :registro_cnh, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :categoria  %>
    <%= f.select( :categoria, select_categoria, {include_blank: :false}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :validade_cnh %><br>
    <%= f.date_select :validade_cnh, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :inss %><br>
    <%= f.text_field :inss, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nome_do_pai %><br>
    <%= f.text_field :nome_do_pai, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nome_da_mae %><br>
    <%= f.text_field :nome_da_mae, class: "form-control" %>
  </div>

  <h2>Contatos</h2>
  <div id="phones">
    <div class="items">
      <%= f.nested_fields_for :contacts do |f| %>
        <%= render "form_contact", f: f %> 
      <% end %>
    </div>
    <a href="#" class="add">add contact</a>
  </div>


  <h2>Contas Bancarias</h2>
  <div id="accounts">
    <div class="items">
      <%= f.nested_fields_for :account_banks do |f| %>
        <%= render "form_account_bank", f: f %> 
      <% end %>
    </div>
    <a href="#" class="add">add account bank</a>
  </div>

  <h2>Tabela de Preços</h2>
  <div id="prices">
    <div class="items">
      <%= f.nested_fields_for :table_prices do |f| %>
        <%= render "form_table_price", f: f %> 
      <% end %>
    </div>
    <a href="#" class="add">add price</a>
  </div>

  <h2>Documentos</h2> 
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f| %>
        <% if f.object.new_record? %>
          <fieldset class="item">
           
            <%= f.file_field :asset %>

            <a href="#" class="remove">remove</a>

            <%= f.hidden_field :id %>
            <%= f.hidden_field :_destroy %>
          </fieldset>
        <% end %>
      <% end  %>

      <%= f.nested_fields_for :assets do |f| %>
        <% unless f.object.new_record? %>
          <fieldset class="item">
             
             <%= link_to image_tag(f.object.asset.url(:thumb)), "#modalcar", data: {:toggle=>"modal"} %> 
             
             <a href="#" class="remove">remove</a>

             <%= f.hidden_field :id %>
             <%= f.hidden_field :_destroy %>
             
             <%#= f.check_box :_destroy, :label => "Delete"  %>
          </fieldset>

        <% end %>
      <% end %>
    </div>
    <a href="#" class="add">add document</a>
  </div>


  <div class="form-actions">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Exibir",  drivers_path(@driver), class: "btn btn-info" if !@driver.new_record? %>
    <%= link_to "Listar Todos", drivers_path, class: "btn btn-default" %>
  </div>

<% end %>
