<fieldset class="item">
  <%#= f.label :banco %>
  <%#= f.text_field :banco, size: 10 %>
  <%= f.label :banco, "Banco" %>
  <%= f.collection_select :banco, Bank.order('banco'), :id, :banco, {include_blank: "Selecione o Banco"} %>

  <%#= f.label :nome_banco, "Nome Banco" %>
  <%#= f.collection_select :nome_banco, Bank.order('banco'), :nome, :nome, {include_blank: "Selecione o Banco", size: 5} %>
  <%= f.label :nome_banco %>
  <%= f.text_field :nome_banco, size: 30, disabled: true %>

  <%= f.label :agencia %>
  <%= f.text_field :agencia, size: 10 %>

  <%= f.label :conta_corrente %>
  <%= f.text_field :conta_corrente, size: 10 %>

  <%= f.label :favorecido %>
  <%= f.text_field :favorecido %>

  <%= f.label :cpf_cnpj %>
  <%= f.text_field :cpf_cnpj %>

  <a href="#" class="remove">remove</a>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
</fieldset>

<script type="text/javascript">    
  $(document).ready(function() {
   $("#driver_account_banks_attributes_0_banco").change(function() {
      getNomeBanco("id="+$("#driver_account_banks_attributes_0_banco").val());
    });
 });

  function getNomeBanco(id) {
    $.getJSON("/nome_banco", id, function(j) {
//      var options = '<option value="">SELECT A CITY</option>';
      var options = '';
//      $.each(j.bnk, function(i, item) {
//        options += '<option value="' + item.id + '">' + item.n + '</option>';
        options += 'value="' + item.nome;
//      });
//      $("#driver_account_banks_attributes_0_nome_banco").html(options);
     $("#driver_account_banks_attributes_0_nome_banco").val(options);
    });
  }

</script>