<fieldset class="item">
  <%= f.label :banco %>
  <%= f.text_field :banco, size: 10 %>

  <%= f.label :agencia %>
  <%= f.text_field :agencia, size: 10 %>

  <%= f.label :conta_corrente %>
  <%= f.text_field :conta_corrente, size: 10 %>

  <%= f.label :favorecido %>
  <%= f.text_field :favorecido %>

  <%= f.label :cpf_cnpj %>
  <%= f.text_field :cpf_cnpj %>

  <a href="#" class="remove">remove</a>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
</fieldset>
