<p>
  <% image_avatar = @driver.avatar.present? ? @driver.avatar.url(:mini) : "image_not_found.jpg"  %>
  <%= image_tag image_avatar, size: "144x90"  %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @driver.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @driver.nome %>
</p>

<p>
  <strong>Fantasia:</strong>
  <%= @driver.fantasia %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @driver.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @driver.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @driver.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @driver.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @driver.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @driver.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @driver.cep %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @driver.rg %>
</p>

<p>
  <strong>Orgão Expeditor:</strong>
  <%= @driver.orgao_expeditor %>
</p>

<p>
  <strong>Data de Emissão:</strong>
  <%= date_br @driver.data_emissao_rg %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= date_br @driver.data_nascimento %>
</p> 

<p>
  <strong>Municipio Nascimento:</strong>
  <%= @driver.municipio_nascimento %> - <strong>Estado:</strong> <%= @driver.estado_nascimento %>
</p> 

<p>
  <strong>Estado Civil:</strong>
  <%= @driver.estado_civil_nome if @driver.estado_civil.present? %>
</p> 

<p>
  <strong>Cor da pele:</strong>
  <%= @driver.cor_da_pele_nome if @driver.cor_da_pele.present? %> 
</p> 

<p>
  <strong>Tipo de Contrato:</strong>
  <%= @driver.tipo_de_contrato_nome if @driver.tipo_contrato.present? %> 
</p> 

<p>
  <strong>Inss:</strong>
  <%= @driver.inss %>
</p> 

<p>
  <strong>Cnh:</strong>
  <%= @driver.cnh %>
</p>

<p>
  <strong>Registro Cnh:</strong>
  <%= @driver.registro_cnh %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @driver.categoria_nome %>
</p>

<p>
  <strong>Validade cnh:</strong>
  <%= date_br @driver.validade_cnh %>
</p>

<p>
  <strong>Nome do Pai:</strong>
  <%= @driver.nome_do_pai %>
</p>

<p>
  <strong>Nome da Mãe:</strong>
  <%= @driver.nome_da_mae %>
</p>

<p>
  <strong>Data validade exame médico:</strong>
  <%= date_br @driver.date_expiration_medical %>
</p>

<p>
  <strong>Data consulta seguro:</strong>
  <%= date_br  @driver.date_query_secure %>
</p>

<p>
  <strong>No Liberação Seguradora:</strong>
  <%= @driver.number_secure %>
</p>

<p>
  <strong>No M.O.P.P:</strong>
  <%= @driver.number_mopp %>
</p>

<p>
  <strong>Data validade M.O.P.P:</strong>
  <%= date_br @driver.date_expiration_mopp %>
</p>

<p>
  <strong>Criado em:</strong> <%= date_br @driver.created_at %> as <%= time_br @driver.created_at %> 
  <strong>por</strong> <%= @driver.user_created.email if @driver.user_created.present? %>
</p>

<p>
  <strong>Última atualização:</strong> <%= date_br @driver.updated_at %> as <%= time_br @driver.updated_at %> 
  <strong>por</strong> <%= @driver.user_updated.email if @driver.user_updated.present? %>
</p>

<p>
  <strong>Observação:</strong>
  <pre><%= @driver.obs %></pre>
</p>

<%= render 'shared/show_contacts', object: @driver %>

<%= render 'shared/show_emails', object: @driver %>

<h2>Restrições</h2>
<% if @driver.driver_restrictions.any? %>
  <table class="table table-striped">
    <thead>
      <th>Cliente</th>
      <th>Tipo Restricao</th>
      <th>Observacao</th>
    </thead>
    <tbody>
      <% @driver.driver_restrictions.each do |restriction| %>
        <tr>
          <td><%= restriction.client.nome %></td>
          <td><%= restriction.restriction_name %></td>
          <td><%= restriction.observation %></td>
        </tr>
      <% end %>

    </tbody>

  </table>
<% else %>
  <p>This person has no restriction yet.</p>
<% end %>


<%= render 'shared/show_account_bank', object: @driver %>

<h2>Tabela de Preços</h2>
<% if @driver.table_prices.any? %>
  <table class="table table-striped">
    <tbody>
      <% @driver.table_prices.each do |price| %>
        <tr>
          <td><%= price.uf_tipo_nome %></td>
          <td><%= price.tipo_nome %></td>
          <td><%= price.valor.to_f %></td>
      
        </tr>
      <% end %>

    </tbody>

  </table>
<% else %>
  <p>This person has no table price yet.</p>
<% end %>

<h2>Documentos</h2>

<div id="gallery-car" data-toggle="modal-gallery" data-target="#modal-gallery">
  <% @driver.assets.each do |asset| %>
  <p>
    <%= link_to image_tag( asset.asset.url(:thumb)), "#" ,  data: {:toggle=>"modal", :target=> "#myModal"} %> 
  </p>
  <% end %>
</div>    
    
<%= render 'shared/document', object: @driver %>

<%= render 'shared/show_vehicle_compact', object: @driver %>

  
<div class="form-actions">
  <%= link_to 'Editar', edit_driver_path(@driver), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', drivers_path, class: "btn btn-default" %>
</div>
