<%= form_for(@vehicle) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :placa %><br>
    <%= f.text_field :placa, class: "form-control placa " %>
  </div>
  <div class="form-group">
    <%= f.label :renavan %><br>
    <%= f.text_field :renavan, class: "form-control " %>
  </div>

  <div id="vehicle_placa_result">

  </div>  
  
  <div class="form-group">
    <% if @vehicle.owners.present? %>
      <%= render(:partial => '/owners/result_owner', locals: {owner: @vehicle.owners.first}) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :marca %><br>
    <%= f.text_field :marca, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ano %><br>
    <%= f.number_field :ano, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cor %><br>
    <%= f.text_field :cor, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tipo %><br>
    <%= f.select( :tipo, select_tipo, {include_blank: :true}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :tipo_veiculo %><br>
    <%= f.select( :tipo_veiculo, select_tipo_veiculo, {include_blank: :true}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :tipo_carroceria %><br>
    <%= f.select( :tipo_carroceria, select_tipo_carroceria, {include_blank: :true}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :tipo_piso_assoalho %><br>
    <%= f.select( :tipo_piso_assoalho, select_tipo_piso_assoalho, {include_blank: true}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :tracked, "Rastreado" %><br>
    <%= f.select( :tracked, select_sim_nao, {include_blank: false}, {class: "form-control"} ) %>      
  </div>

  <div class="form-group">
    <%= f.label :municipio_emplacamento %><br>
    <%= f.text_field :municipio_emplacamento, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estado  %>
    <%= f.select( :estado, select_uf, {include_blank: "Selecione o Estado"}, {class: "form-control"} ) %>      
  </div>
  <div class="form-group">
    <%= f.label :chassi %><br>
    <%= f.text_field :chassi, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :qtde_paletes %><br>
    <%= f.text_field :qtde_paletes, class: "form-control numericOnly" %>
  </div>
  <div class="form-group">
    <%= f.label :capacity, "Capacidade em KG" %><br>
    <%= f.text_field :capacity, class: "form-control money2", placeholder: "Peso igual ao da NF-e 27.500,30" %>
  </div>

  <div class="form-group">
    <%= f.label :especie %><br>
    <%= f.text_field :especie, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :numero_eixos %><br>
    <%= f.text_field :numero_eixos, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :numero_loks %><br>
    <%= f.text_field :numero_loks, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :grade %><br>
    <%= f.select( :grade, select_sim_nao, {include_blank: false}, {class: "form-control"} ) %>      
  </div>

  <div class="form-group">
    <%= f.label :cordas %><br>
    <%= f.select( :cordas, select_sim_nao, {include_blank: false}, {class: "form-control"} ) %>      
  </div>

  <div class="form-group">
    <%= f.label :lonas %><br>
    <%= f.select( :lonas, select_sim_nao, {include_blank: false}, {class: "form-control"} ) %>      
  </div>

  <div class="form-group">
    <%= f.label :kit_quimico %><br>
    <%= f.select( :kit_quimico, select_sim_nao, {include_blank: false}, {class: "form-control"} ) %>      
  </div>

  <div class="form-group">
    <%= f.label :capcacitacao %><br>
    <%= f.select( :capacitacao, select_sim_nao, {include_blank: false}, {class: "form-control"} ) %>      
  </div>

  <div class="form-group">
    <%= f.label :largura %><br>
    <%= f.text_field :largura, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :comprimento %><br>
    <%= f.text_field :comprimento, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :altura %><br>
    <%= f.text_field :altura, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :obs, "Observação" %>
    <%= f.text_area :obs, class: "form-control"  %>
  </div>

  <h2>Tabela de Preços</h2>
  <div id="prices">
    <div class="items">
      <%= f.nested_fields_for :table_prices do |f| %>
        <fieldset class="item">
          <%= f.label :uf_tipo %>
          <%= f.select :uf_tipo, [['Dentro Do Estado', '0'], ['Fora do Estado', '1']]  %>

          <%= f.label :tipo %>
          <%= f.select :tipo, [['p/ KM', '0'], ['p/ Hora', '1'], ['p/ Diária', '2']] %>

          <%= f.label :valor %>
          <%= f.text_field :valor %>

          <a href="#" class="remove">remove</a>

          <%= f.hidden_field :id %>
          <%= f.hidden_field :_destroy %>
        </fieldset>
      <% end %>
    </div>
    <a href="#" class="btn btn-success btn-sm add">Add Price</a>
  </div>
  
  <h2>Documentos</h2> 
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f| 
        render 'shared/asset', f: f
      end  -%>
    </div>
    <a href="#" class="btn btn-success btn-sm add">Add Documento</a>
  </div>

  <h2>Motoristas</h2> 
  <div id="drivers">
    <div class="items">
      <%= f.nested_fields_for :drivings do |f| 
        render 'driver', f: f
      end  -%>
    </div>
    <a href="#" class="btn btn-success btn-sm add">Add Motorista</a>
  </div>
  
  <h2>Proprietários</h2> 
  <div id="owners">
    <div class="items">
      <%= f.nested_fields_for :ownerships do |f| 
        render 'owner', f: f
      end  -%>
    </div>
    <a href="#" class="btn btn-success btn-sm add">Add Proprietario</a>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  vehicle_path(@vehicle), class: "btn btn-info" if !@vehicle.new_record? %>
    <%= link_to "Listar Todos", vehicles_path, class: "btn btn-default" %>
  </div>


<% end %>


<script type="text/javascript">
  $(document).ready(function() {
   $("#vehicle_placa").focusout(function() {
      var place = $('#vehicle_placa').val();
      console.log(place);
      $.ajax({
        type: "GET",
        data: {place: place},
        dataType : 'html',
        url: '/vehicles/get_vehicle_by_place',
        success: function(data){
            $('#vehicle_placa_result').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#vehicle_renavan").focusout(function() {
      var renavan = $('#vehicle_renavan').val();
      console.log(renavan);
      $.ajax({
        type: "GET",
        data: {renavan: renavan},
        dataType : 'html',
        url: '/vehicles/get_vehicle_by_renavan',
        success: function(data){
            $('#vehicle_placa_result').html(data);
        },
      });
    });
  });
</script>
