<%#= @vehicle.inspect %>
<p>Placa: <%= @vehicle.place_state %></p>
<p>Tipo: <%= @vehicle.tipo_nome %></p>
<p>Tipo de veículo: <%= @vehicle.tipo_veiculo_nome %></p>
<p>Capacidade: <%= @vehicle.capacity %></p>
<p>Tipo de piso: <%= @vehicle.tipo_piso_assoalho_nome %></p>
