<p>
  <strong>Marca:</strong>
  <%= @vehicle.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @vehicle.modelo %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @vehicle.ano %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @vehicle.cor %>
</p>

<p>
  <strong>Tipo veiculo:</strong>
  <%= @vehicle.tipo_veiculo_nome %>
</p>

<p>
  <strong>Municipio emplacamento:</strong>
  <%= @vehicle.municipio_emplacamento %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @vehicle.estado %>
</p>

<p>
  <strong>Renavan:</strong>
  <%= @vehicle.renavan %>
</p>

<p>
  <strong>Chassi:</strong>
  <%= @vehicle.chassi %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @vehicle.capacidade %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @vehicle.placa %>
</p>

<p>
  <strong>Espécie:</strong>
  <%= @vehicle.especie %>
</p>

<p>
  <strong>Numero de Eixos:</strong>
  <%= @vehicle.numero_eixos %>
</p>

<p>
  <strong>Numero de Loks:</strong>
  <%= @vehicle.numero_loks %>
</p>

<p>
  <strong>Grade:</strong>
  <%= extenso_boolean(@vehicle.grade) %>
</p>

<p>
  <strong>Cordas:</strong>
  <%= extenso_boolean(@vehicle.cordas) %>
</p>

<p>
  <strong>Lonas:</strong>
  <%= extenso_boolean(@vehicle.lonas) %>
</p>

<p>
  <strong>Capacitação:</strong>
  <%= extenso_boolean(@vehicle.capacitacao) %>
</p>

<p>
  <strong>Kit Quimico</strong>
  <%= extenso_boolean(@vehicle.kit_quimico) %>
</p>


<h2>Tabela de Preços</h2>
<% if @vehicle.table_prices.any? %>
  <table class="table table-striped">
    <tbody>
      <% @vehicle.table_prices.each do |price| %>
        <tr>
          <td><%= price.uf_tipo_nome %></td>
          <td><%= price.tipo_nome %></td>
          <td><%= price.valor.to_f %></td>
      
        </tr>
      <% end %>

    </tbody>

  </table>
<% else %>
  <p>This person has no table price yet.</p>
<% end %>

<h2>Documentos</h2>
      <% @vehicle.assets.each do |asset| %>
    <p> <%= image_tag asset.asset.url(:thumb) if asset.present? %> </p>
  <% end %>


<div class="form-group">
  <%= link_to 'Editar', edit_vehicle_path(@vehicle), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', vehicles_path, class: "btn btn-default" %>
</div>
