<div class="form-group">
  <% if @vehicle.owners.present? %>
    <%= render(:partial => '/owners/result_owner', locals: {owner: @vehicle.owners.first}) %>
  <% end %>
</div>

<p>
  <strong>Placa:</strong>
  <%= @vehicle.placa %>
</p>

<p>
  <strong>Renavan:</strong>
  <%= @vehicle.renavan %>
</p>


<p>
  <strong>Marca:</strong>
  <%= @vehicle.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @vehicle.modelo %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @vehicle.ano %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @vehicle.cor %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @vehicle.tipo_nome %>
</p>

<p>
  <strong>Tipo veiculo:</strong>
  <%= @vehicle.tipo_veiculo_nome %>
</p>

<p>
  <strong>Tipo Carreta:</strong>
  <%= @vehicle.tipo_carroceria_name %>
</p>

<p>
  <strong>Tipo Piso Assoalho:</strong>
  <%= @vehicle.tipo_piso_assoalho_nome %>
</p>

<p>
  <strong>Rastreado:</strong>
  <%= extenso_boolean(@vehicle.tracked) %>
</p>

<p>
  <strong>Municipio emplacamento:</strong>
  <%= @vehicle.municipio_emplacamento %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @vehicle.estado %>
</p>


<p>
  <strong>Chassi:</strong>
  <%= @vehicle.chassi %>
</p>

<p>
  <strong>Qtde Paletes:</strong>
  <%= @vehicle.qtde_paletes %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= number_to_currency( @vehicle.capacity, unit: "", separator: ",", delimiter: ".", precision: 3)  %>
</p>

<p>
  <strong>ANTT:</strong>
  <%= @vehicle.antt %>
</p>

<p>
  <strong>Espécie:</strong>
  <%= @vehicle.especie %>
</p>

<p>
  <strong>Numero de Eixos:</strong>
  <%= @vehicle.numero_eixos %>
</p>

<p>
  <strong>Numero de Loks:</strong>
  <%= @vehicle.numero_loks %>
</p>

<p>
  <strong>Grade:</strong>
  <%= extenso_boolean(@vehicle.grade) %>
</p>

<p>
  <strong>Cordas:</strong>
  <%= extenso_boolean(@vehicle.cordas) %>
</p>

<p>
  <strong>Lonas:</strong>
  <%= extenso_boolean(@vehicle.lonas) %>
</p>

<p>
  <strong>Capacitação:</strong>
  <%= extenso_boolean(@vehicle.capacitacao) %>
</p>

<p>
  <strong>Kit Quimico:</strong>
  <%= extenso_boolean(@vehicle.kit_quimico) %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @vehicle.altura %>
  <strong>Largura:</strong>
  <%= @vehicle.largura %>
  <strong>Comprimento:</strong>
  <%= @vehicle.comprimento %>
</p>

<p>
  <strong>Cubagem:</strong>
  <%= @vehicle.cubagem %>
</p>
<p>
  <strong>Criado por :</strong>
  <%= @vehicle.user.email if @vehicle.user.present? %>
</p>

<p>
  <strong>Observação:</strong>
  <pre><%= @vehicle.obs %></pre>
</p>


<h2>Tabela de Preços</h2>
<% if @vehicle.table_prices.any? %>
  <table class="table table-striped">
    <tbody>
      <% @vehicle.table_prices.each do |price| %>
        <tr>
          <td><%= price.uf_tipo_nome %></td>
          <td><%= price.tipo_nome %></td>
          <td><%= price.valor.to_f %></td>
      
        </tr>
      <% end %>

    </tbody>

  </table>
<% else %>
  <p>This person has no table price yet.</p>
<% end %>

<%= render 'shared/document', object: @vehicle %>

<h2>Motoristas</h2>
<% if @vehicle.drivers.any? %>
  <table class="table table-striped">
    <tbody>
      <% @vehicle.drivers.each do |driver| %>
        <tr>
          <td><%= link_to "#{driver.nome}", driver  %></td>
          <td><%= driver.fantasia %></td>
          <td><%= driver.cpf %></td>
      
        </tr>
      <% end %>

    </tbody>

  </table>
<% else %>
  <p>This person has no driver yet.</p>
<% end %>

<h2>Proprietários</h2>
<% if @vehicle.ownerships.any? %>
  <table class="table table-striped">
    <tbody>
      <% @vehicle.owners.each do |owner| %>
        <tr>
          <td><%= link_to "#{owner.nome}", owner  %></td>
          <td><%= owner.fantasia %></td>
          <td><%= owner.cpf_cnpj %></td>
        </tr>
      <% end %>

    </tbody>

  </table>
<% else %>
  <p>This person has no owner yet.</p>
<% end %>

<div class="form-group">
  <%= link_to 'Editar', edit_vehicle_path(@vehicle), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', vehicles_path, class: "btn btn-default" %>
</div>
