<p>
  <strong><%= @account_payable.type_account_name %> :</strong>
  <%= link_to @account_payable.supplier.nome, @account_payable.supplier %>
</p>

<p>
  <strong>Centro de Custo:</strong>
  <%= @account_payable.cost_center.descricao %>
</p>

<p>
  <strong>Sub Centro de Custo:</strong>
  <%= @account_payable.sub_cost_center.descricao %>
</p>

<p>
  <strong>Sub Centro de Custo Nivel 3:</strong>
  <%= @account_payable.sub_cost_center_three.descricao if @account_payable.sub_cost_center_three.present?%>
</p>

<p>
  <strong>Historico:</strong>
  <%= @account_payable.historic.descricao %>
</p>

<p>
  <strong>Data vencimento:</strong>
  <%= date_br(@account_payable.data_vencimento) %>
</p>

<p>
  <strong>Forma de Pgto:</strong>
  <%= @account_payable.payment_method.descricao %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @account_payable.documento %>
</p>

<p>
  <strong>Valor:</strong>
  <%= number_to_currency(@account_payable.valor, unit: "R$ ", separator: ",", delimiter: ".")  %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= number_to_currency(@account_payable.saldo, unit: "R$ ", separator: ",", delimiter: ".")  %>
</p>

<p>
  <strong>Total Pago:</strong>
  <%= number_to_currency(@account_payable.total_pago, unit: "R$ ", separator: ",", delimiter: ".")  %>
</p>


<% if @account_payable.ordem_service.present? %>
  <p>
    <strong>OS. No:</strong>
    <%= link_to @account_payable.ordem_service.id, @account_payable.ordem_service %>
  </p>
  <p>
    <strong>Status da OS:</strong>
    <%= @account_payable.ordem_service.status_name %>
  </p>
  <p>
    <strong>Cte:</strong>
    <%= @account_payable.ordem_service.cte %> -
    <strong>Chave Cte:</strong>
    <%= @account_payable.ordem_service.danfe_cte %>
  </p>
<% end %>

<% if @account_payable.boarding.present? %>
  <p>
    <strong>Embarque No:</strong>
    <%= link_to @account_payable.boarding.id, @account_payable.boarding %>
  </p>
<% end %>

<p>
  <strong>Status:</strong>
  <%= @account_payable.status_name %>
</p>

<p>
  <strong>Criado em:</strong> <%= date_br @account_payable.created_at %> as <%= time_br @account_payable.created_at %>
  <strong>por</strong> <%= @account_payable.user_created.email if @account_payable.user_created.present? %>
</p>

<p>
  <strong>Última atualização:</strong> <%= date_br @account_payable.updated_at %> as <%= time_br @account_payable.updated_at %>
  <strong>por</strong> <%= @account_payable.user_updated.email if @account_payable.user_updated.present? %>
</p>

<p>
  <strong>Observacao:</strong>
  <pre>
    <%#= @account_payable.observacao %>
    <%= @account_payable.boarding.observation_discharge_payment.compact.join("<br>").html_safe %>
  </pre>
</p>
