<div class="panel-group accordion" id="accordion1" role="tablist" aria-multiselectable="true">
  <% CostCenter.order('descricao').each do |cost_center| %>
 
  <div class="panel panel-default accordion-group">
    <div class="panel-heading accordion-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_cost_center_<%= cost_center.id %>">
          <%= cost_center.descricao %>
        </a>
      </h4>
    </div>
    <div id="collapse_cost_center_<%= cost_center.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class=" panel-group accordion" id="accordion2" role="tablist" aria-multiselectable="true">
          <ul>
          <% cost_center.sub_cost_centers.each do |sub_cost_center| %>
            <div class="panel panel-default accordion-group" >
              <div class="panel-heading accordion-heading" >
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseInner_sub_cost_center_<%= sub_cost_center.id %>">
                    <%#= sub_cost_center.descricao %>
                    <table class="table">
                    <tr>
                       <th>Descrição</th>
                       <th>Total Pago</th>
                       <th>Total Aberto</th>
                       <th>Total</th>
                    </tr>   
                    <tr>
                      <td><%= sub_cost_center.descricao %></td>
                      <td><%= sub_cost_center.total_pago %></td>
                      <td><%= sub_cost_center.total_aberto %></td>
                      <td><%= sub_cost_center.account_payables.sum(:valor) %></td>
                    </tr>
                      
                    </table>
                  </a>
                </h4>
              </div>
              <div id="collapseInner_sub_cost_center_<%= sub_cost_center.id %>" class="accordion-body collapse">
                <div class="accordion-inner">
                  <%# tabela de contas a pagar %>
                <div class="panel panel-default">
                  <div class="panel-heading"></div>
                  <div class="panel-body">
                    
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Tipo</th>
                            <th>Fornecedor</th>
                            <th>Data vencimento</th>
                            <th>Fgto</th>
                            <th>Documento</th>
                            <th>Valor</th>
                            <th>Observacao</th>
                            <th>Status</th>
                            <th colspan="1">Opções</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% AccountPayable.where(cost_center_id: cost_center.id, 
                                         sub_cost_center_id: sub_cost_center.id)
                                         .order('data_vencimento desc').each do |account_payable| %>
                            <tr>
                              <td><%= truncate(account_payable.type_account_name ) if account_payable.type_account.present? %></td>
                              <td><%= truncate(account_payable.supplier.nome, length: 20 ) %></td>
                              <td><%= date_br(account_payable.data_vencimento )%></td>
                              <td><%= account_payable.payment_method.descricao if account_payable.payment_method.present? %></td>
                              <td><%= account_payable.documento %></td>
                              <td><%= number_to_currency(account_payable.valor, unit: "R$ ", separator: ",", delimiter: ".")  %></td>
                              <td><%= truncate(account_payable.observacao, length: 20) %></td>
                              <td><%= account_payable.status_name %></td>
                              <td><%= link_to 'Show', account_payable, class: "btn btn-info btn-xs" %></td>
                           </tr>
                         <% end %>
                        </tbody>
                      </table>
                    </div>    
                  </div>
                </div>




                </div>
              </div>
            </div>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>

