<div class="panel panel-default">
  <div class="panel-heading">Listagem de Contas a Pagar</div>
  <div class="panel-body">
    <%= link_to 'Novo Pagamento', new_account_payable_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Fornecedor</th>
            <th>Data vencimento</th>
            <th>Documento</th>
            <th>Valor</th>
            <th>Observacao</th>
            <th>Status</th>
            <th colspan="3">Opções</th>

          </tr>
        </thead>

        <tbody>
          <% @account_payables.each do |account_payable| %>
            <tr>
              <td><%= truncate(account_payable.supplier.nome, length: 25 ) %></td>
              <td><%= date_br(account_payable.data_vencimento )%></td>
              <td><%= account_payable.documento %></td>
              <td><%= number_to_currency(account_payable.valor, unit: "R$ ", separator: ",", delimiter: ".")  %></td>
              <td><%= truncate(account_payable.observacao, length: 20) %></td>
              <td><%= account_payable.status_name %></td>
              <td><%= link_to 'Show', account_payable, class: "btn btn-info btn-xs" %></td>
              <td><%= link_to 'Edit', edit_account_payable_path(account_payable), class: "btn btn-primary btn-xs" %></td>
              <td><%= link_to 'Destroy', account_payable, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
            </tr>
         <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
