<%= render "data_account" %>

<%= form_tag({:controller => "account_payables", action: :pay}, :method => "post", :name => "make_pay") do |f| %>
<fieldset>
 
  <legend></legend>

  <div class="form-group">
    <%= label_tag :data_pagamento %><br>
    <%= text_field_tag "lower_payables[data_pagamento]", "", class: "form-control data" %>
  </div>

  <div class="form-group">
    <%= label_tag :valor_pago, "Valor Pago" %><br>
    <%= text_field_tag "lower_payables[valor_pago]", "", value: number_to_currency(@account_payable.saldo, unit: "R$ ", separator: ",", delimiter: "."),  class: "form-control input-sm money2" %>
  </div>

  <div class="form-group">
    <%= label_tag :juros %><br>
    <%= text_field_tag "lower_payables[juros]", nil, class: "form-control input-sm money2" %>
  </div>

  <div class="form-group">
    <%= label_tag :desconto %><br>
    <%= text_field_tag "lower_payables[desconto]", nil, class: "form-control input-sm money2" %>
  </div>

  <hr />
	
  <div class="form-group">
  	<%= submit_tag("Efetuar Baixar", class: "btn btn-primary") %> 
    <%= link_to "Voltar", @account_payable, class: "btn btn-default" %> 
    <%= link_to "Listar Todos", account_payables_path, class: "btn btn-default" %> 
	</div>
	
</fieldset>


<% end %>

<%= render "payments" %>
