<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Dados contas a pagar</h2>
  </div>

  <div class="panel-body">

  <%= render "data_account" %>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingEleven">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
	          Dados do Cancelamento
	        </a>
	      </h4>
	    </div>
	    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
	      <div class="panel-body">


	      <%= render 'cancellations/feed', cancellations: @account_payable.feed_cancellations %>

	      <%= render 'cancellations/form_cancellation_account_payable' %>
	      
	      </div>
	    </div>
	  </div>
	</div>

	<%= render 'shared/document', object: @account_payable %>

<div class="form-group">
  <%= link_to 'Editar',edit_account_payable_path(@account_payable), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', account_payables_path, class: "btn btn-default" %>
  <%= link_to 'Baixar', lower_account_payable_path(@account_payable), class: "btn btn-default" %>
  <%= link_to 'Enviar E-mail', send_mail_account_payable_path(@account_payable), class: "btn btn-success" %>
</div>

<%= render "payments" %>

</div>

