<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Dados contas a pagar</h2>
  </div>

  <div class="panel-body">


<%= render "data_account" %>

<%= render 'shared/document', object: @account_payable %>

<div class="form-group">
  <%= link_to 'Editar',edit_account_payable_path(@account_payable), class: "btn btn-primary" %>
  <%= link_to 'Listar Todos', account_payables_path, class: "btn btn-default" %>
  <%= link_to 'Baixar', lower_account_payable_path(@account_payable), class: "btn btn-default" %>
</div>

<%= render "payments" %>

</div>

