
  <%= show_line_build @input_control.place, "Placa" %>
  <div class="row">
    <div class="col-md-4">
      <%= show_line_build @input_control.place_horse, "Placa Cavalo", 6 %>
    </div>
    <div class="col-md-4">
      <%= show_line_build @input_control.place_cart, "Placa Carreta", 6 %>
    </div>
    <div class="col-md-4">
      <%= show_line_build @input_control.place_cart_2, "Placa Carreta 2", 6 %>
    </div>
  </div>
  <%= show_line_build @input_control.action_inspector.number, "No Ação Fiscal" if @input_control.action_inspector.present? %>
  <%= show_line_build @input_control.shipment, "No Remessa do Cliente" %>
  <%= show_line_build @input_control.container, "No Container" %>
  <%= show_line_build link_to(@input_control.scheduling_search.first.id, @input_control.scheduling_search.first), "Agenda Container" if @input_control.scheduling_search.present? %>

  <%= show_line_build "#{date_br(@input_control.date_entry)} | #{time_br(@input_control.time_entry)}", "Date Entrada NF-e" %>
  <%= show_line_build "#{date_br(@input_control.date_scheduled)} | #{time_br(@input_control.time_scheduled)}", "Date Programada Descarga" %>
  <%= show_line_build date_br(@input_control.date_receipt), "Date Recebimento" %>
  <%= show_line_build date_br(@input_control.strecht_route.stretch_source_and_target_long ), "Rota" if @input_control.strecht_route.present? %>
  <%= show_line_build @input_control.type_service.descricao, "Tipo Servico" if @input_control.type_service.present? %>
  <%= show_line_build @input_control.team_name, "Equipe" %>
  <%= show_line_build @input_control.hangar, "Galpao" %>
  <%= show_line_build @input_control.dock, "Doca" %>
  <%= show_line_build @input_control.charge_discharge_status, "Cobrar Descarga" %>
  <%= show_line_build @input_control.palletized_status, "Carga Peletizada" %>
  <%= show_line_build  extenso_integer(@input_control.charge_type_delivery), "Entrega é Paletizada" %>
  <%= show_line_build @input_control.quantity_pallets, "Qtde paletes informado" %>
  <%= show_line_build @input_control.nfe_xmls.sum(:qtde_pallet_calc), "Qtde paletes calculada" %>

  <%= show_line_build number_to_currency(@input_control.weight, precision: 3, unit: "", separator: ",", delimiter: "."), "Peso" %>
  <%= show_line_build number_to_currency(@input_control.volume, precision: 3, unit: "", separator: ",", delimiter: "."), "Volume" %>
  <%= show_line_build number_to_currency(@input_control.value_ton, unit: "R$ ", separator: ",", delimiter: "."), "Valor Tonelada" %>
  <%= show_line_build number_to_currency(@input_control.value_kg, precision: 3, unit: "R$ ", separator: ",", delimiter: "."), "Value p/ kg:" %>
  <%= show_line_build number_to_currency(@input_control.value_total, unit: "R$ ", separator: ",", delimiter: "."), "Valor Descarga" %>


  <%= show_line_build link_to( @input_control.account_receivable.id, @input_control.account_receivable), "Contas a Receber" if @input_control.account_receivable.present? %>
  <%= show_line_build @input_control.user.email, "Criado por" if @input_control.user.present? %>
  <%= show_line_build "#{date_br(@input_control.created_at)} #{time_br(@input_control.created_at)}", "Criado em (data e hora)" if @input_control.user.present? %>

  <%= show_line_build @input_control.user_received.email, "Recebimento confirmado por" if @input_control.user_received.present? %>
  <%= show_line_build @input_control.account_receivable.status_name, "Status" if @input_control.account_receivable.present? %>
  <%= show_line_build @input_control.observation, "Observation" %>
