<%= form_for(@input_control) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<!--   <div class="form-group">
    <%#= f.label :carrier_id, "Transportadora" %>
    <%#= f.select(:carrier_id, Carrier.order(:nome).collect {|c| [c.name_state, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>
 -->
  <div class="form-group">
    <%= label_tag :carrier_id, "Transportadora" %><br>
    <% if @input_control.new_record? %>
      <%= text_field_tag :carrier_cnpj, nil, class: "form-control cnpj" %>
    <% else %>
      <%= text_field_tag :carrier_cnpj, @input_control.carrier.cnpj, class: "form-control cnpj", disabled: true %>
      <%= render partial: "carriers/result_carrier", locals: { carrier: @input_control.carrier } %>
    <% end %>
  </div>
  
  <div id="carrier_cnpj_result">

  </div>  

  
<!--   <div class="form-group">
    <%#= f.label :driver_id, "Motorista" %>
    <%#= f.select(:driver_id, Driver.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>
 -->  
  <div class="form-group">
    <%= label_tag :driver_id, "Motorista" %><br>
    <% if @input_control.new_record? %>
      <%= text_field_tag :driver_cpf, nil, class: "form-control cpf" %>
    <% else %>
      <%= text_field_tag :driver_cpf, @input_control.driver.cpf, class: "form-control cpf", disabled: true %>
      <%= render partial: "drivers/result_driver", locals: { driver: @input_control.driver } %>
    <% end %>
  </div>

  <div id="driver_cpf_result">

  </div>  

  <div class="form-group">
    <%= label_tag :billing_client_cpf_cpnj, "CPF/CNPJ Tomador do Serviço" %><br>
    <% if @input_control.new_record? %>
      <%= text_field_tag :billing_client_cpf_cpnj, nil, class: "form-control cnpj" %>
    <% else %>
      <%= text_field_tag :billing_client_cpf_cpnj, @input_control.billing_client.cpf_cnpj, class: "form-control cnpj", disabled: true %>
      <%= render partial: "clients/result_client", locals: { client: @input_control.billing_client } %>
    <% end %>
  </div>
  
  <div id="billing_client_cnpj_result">

  </div>  


  <div class="form-group">
    <%= f.label :place, "Placa" %>
    <%= f.text_field :place, class: "form-control placa" %>
  </div>

  <div class="form-group">
    <%= f.label :place_cart, "Placa Carreta" %>
    <%= f.text_field :place_cart, class: "form-control placa" %>
  </div>

  <div class="form-group">
    <%= f.label :place_cart_2, "Placa Carreta 2" %>
    <%= f.text_field :place_cart_2, class: "form-control placa" %>
  </div>

  <div class="form-group">
    <%= f.label :shipment, "No Remessa do Cliente" %>
    <%= f.text_field :shipment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date_entry, "Data Entrada NF-e" %>
    <%= f.text_field :date_entry, class: "form-control data", value: date_br(@input_control.date_entry) %>
    
  </div>

  <div class="form-group">
    <%= f.label :time_entry, "Hora Entrada NF-e" %>
    <%= f.text_field :time_entry, class: "form-control time" %>
  </div>

  <div class="form-group">
    <%= f.label :date_receipt, "Data Recebimento" %>
    <%= f.text_field :date_receipt, class: "form-control data", value: date_br(@input_control.date_receipt) %>
  </div>

  <div class="form-group">
    <% if @input_control.new_record? %>
      <%= f.check_box :charge_discharge, checked: true %> Cobrar descarga?
    <% else %>
      <%= f.check_box :charge_discharge %> Cobrar descarga?
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.check_box :palletized %> Carga Paletizada?
  </div>

  <div class="form-group">
    <%= f.label :quantity_pallets, "Qtde Paletes" %>
    <%= f.text_field :quantity_pallets, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :team, "Equipe" %>
    <%= f.select( :team, select_team, {include_blank: "Selecione uma Equipe"}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :hangar, "Galpao" %>
    <%= f.select( :hangar, select_hangar, {include_blank: "Selecione um Hangar"}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :dock, "Doca" %>
    <%= f.select( :dock, select_dock, {include_blank: "Selecione uma doca"}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :observation, "Observação" %>
    <%= f.text_area :observation, class: "form-control" %>
  </div>

  <h3>NF-e</h3> 
  <div class="documents_itens">
    <%= f.nested_fields_for :nfe_xmls do |f| 
      render 'nfe_xml_fields', f: f
    end -%> <br />
    <%= link_to_add_association 'Add NF-e', f, :nfe_xmls, class: "btn btn-success btn-sm" if @input_control.status == InputControl::TypeStatus::OPEN %> <br />
  </div> <br />
  
  <h3>Documentos</h3> 
  <div id="documents">
    <div class="items">
      <%= f.nested_fields_for :assets do |f| 
        render 'shared/asset', f: f
      end  -%>
    </div>
      <br /> <a href="#" class="btn btn-success btn-sm add">[+] Documento</a>  
  </div>

  <hr />

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Exibir",  input_control_path(@input_control), class: "btn btn-info" if !@input_control.new_record? %>
    <%= link_to "Listar Todos", input_controls_path, class: "btn btn-default" %>
  </div>

<% end %>


<script type="text/javascript">
  $(document).ready(function() {
   $("#carrier_cnpj").focusout(function() {
      var cnpj = $('#carrier_cnpj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cnpj: cnpj},
        dataType : 'html',
        url: '/carriers/get_carrier_by_cnpj',
        success: function(data){
            $('#carrier_cnpj_result').html(data);
        },
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#driver_cpf").focusout(function() {
      var cpf = $('#driver_cpf').val();
      console.log(cpf);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cpf},
        dataType : 'html',
        url: '/drivers/get_driver_by_cpf',
        success: function(data){
            $('#driver_cpf_result').html(data);
        },
      });
    });
  });
</script>


<script type="text/javascript">
  $(document).ready(function() {
   $("#billing_client_cpf_cpnj").focusout(function() {
      var cnpj = $('#billing_client_cpf_cpnj').val();
      console.log(cnpj);
      $.ajax({
        type: "GET",
        data: {cpf_cpnj: cnpj},
        dataType : 'html',
        url: '/clients/get_client_by_cnpj',
        success: function(data){
            $('#billing_client_cnpj_result').html(data);
        },
      });
    });
  });
</script>
