<td><%= input_control.id %></td>
<td><%= link_to input_control.carrier.nome, input_control.carrier if input_control.carrier.present? %></td>
<td><%= link_to input_control.driver.nome, input_control.driver if input_control.driver.present? %></td>
<td><%= date_br input_control.date_scheduled %>&nbsp<%= time_br input_control.time_scheduled %></td>
<td><%= date_br input_control.date_receipt %></td>
<td><%= input_control.palletized_status %></td>
<td><%= input_control.quantity_pallets %></td>
<td><%= truncate(input_control.status_name, length: 12) %></td>
<td><%= link_to 'Show', input_control, class: "btn btn-info btn-xs" %></td>
<td><%= link_to 'Edit', edit_input_control_path(input_control), class: "btn btn-primary btn-xs"  %></td>
<% if input_control.pending_all? %>
	<td><i class="fa fa-times fa-2x" style="color: red" aria-hidden="true"></i></td>
<% else %>
	<td><i class="fa fa-check fa-2x" style="color: LimeGreen" aria-hidden="true"></i></td>
<% end %>