<% if f.object.new_record? %>

	<div class='nested-fields'>
    <div class="form-group">
      <%= f.select( :equipamento, select_equipamento, {include_blank: "Selecione o Equipamento"}, {class: "form-control"} ) %>      
    </div>
    <div class="form-group">
	    <%= f.file_field :asset %>
    </div>
    <br />
    <%= link_to_remove_association "[-] Apagar", f, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
  </div>

<% end %>
       
<% unless f.object.new_record? %>
  <div class='nested-fields'>
    
    <div class="form-group">
      <%= link_to image_tag("image_pdf.png", size: "90x70"), f.object.asset.url(:thumb, false) %>
      <%= f.object.equipamento_name %> 
    </div>
    <div class="form-group">
      <%= link_to_remove_association "[-] Apagar", f, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>     
    </div>
  </div>

<% end %>
<br />
  
