<% input_controls.each do |input_control| %>
  <li class="<%= input_control.status_name %>">

    <% if input_control.check_nfe_xmls_have_qtde_pallets_total? %>
      <span style="float: right;"><i class="fa fa-check fa-2x" style="color: LimeGreen" aria-hidden="true"></i></span>
    <% else %>
      <span style="float: right;"><i class="fa fa-times fa-2x" style="color: red" aria-hidden="true"></i></span>
    <% end %>

    <%= render 'static_pages/sup_input_control', input_control: input_control %>

    <% if input_control.conferences.present?  %>
      <% if input_control.conferences.last.approved == "waiting" %>
      <%= link_to "verificar conferencia", review_conference_input_control_path(input_control), {class: "btn btn-primary btn-xs"} %>
      <%= link_to "Aprovar conferência", analize_input_control_path(input_control), {class: "btn btn-info btn-xs"} if input_control.conferences.count == 1 %>
      <% end %>
      <%= link_to "historico da conferência", review_conference_input_control_path(input_control), {class: "btn btn-default btn-xs"} if input_control.conferences.last.approved == "yes" %>

      <% if input_control.conferences.last.approved == "yes" %>
        <% if !input_control.check_nfe_xmls_have_qtde_pallets_total? %>
          <%= link_to 'Informar Qtde Palletes', list_nfe_xmls_input_control_path(input_control), class: "btn btn-blue btn-xs" if input_control.status == InputControl::TypeStatus::RECEIVED %>
        <% end %>
      <% end %>
    <% end %>

    <% if input_control.team.blank? %>
      <%= link_to "Informar Equipe", report_team_input_control_path(input_control), {class: "btn btn-info btn-xs"} %>
    <% end %>

  </li>
<% end %>
