<h1>Adicionar avaria</h1>

<div class="row">
  <div class="col-md-12">
        <%= render 'static_pages/oper_input_control', input_control: @input_control %>
    <br>
  </div>
</div>
<%= render 'input_barcode' %>
<%#= render 'barcode_field', action: conference_breakdowns_path %>


<% if @product.present? %>
<script type="text/javascript">
  $(function(){
    $('#myModal').modal();
  });
</script>
<%= form_tag conference_breakdowns_path, multipart: true do %>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= @product.cod_prod %> - <%= @product.descricao %></h4>
      </div>
      <div class="modal-body">
        <strong>Cod.Prod</strong>: <%= @product.cod_prod %> <br>
        <strong>Descricao</strong>: <%= @product.descricao %> <br>
        <strong>EAN</strong>: <%= @product.ean_box %> <br>
          <input type="hidden" name="input_control_id" value="<%= @input_control.id %>">
          <input type="hidden" name="product_id" value="<%= @product.id %>">
          <a href="#" class="btn btn-primary add_foto">Add foto</a>
          <div class="row">
            <div class="col-md-12 images_space">

            </div>
          </div>

          <div class="form-group">
            <label for="qtde">Quantidade</label>
            <input id="qtde" name="qtde_oper" type="number" class="form-control" placeholder="Quantidade" value="0">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <input type="submit" class="btn btn-primary" value="Salvar">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>
<% end %>



<% if @breakdown.present? %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>CodProd</th>
          <th>EAN</th>
          <th>Descrição</th>
          <th>Avarias</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @breakdown.each do |breakdown| %>
        <tr>
          <td><%= breakdown.product.cod_prod %></td>
          <td><%= breakdown.product.ean_box %></td>
          <td><%= breakdown.product.descricao %></td>
          <td><%= breakdown.qtde %></td>
          <td><%= link_to("x", conference_breakdown_path(breakdown), {class: "btn btn-danger", 'data-confirm': "Deseja deletar o item #{breakdown.product.descricao} ?", 'data-method': "delete"}) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-5">
    <%= link_to("Finalizar avaria", finish_conference_breakdown_path(@input_control), {class: "btn btn-primary", 'data-confirm': "Deseja Finalizar esta avaria?"}) %>
  </div>
</div>


<div class="copy" style="display: none">
  <div class="images_group">
    <a href="#" class="btn btn-danger remove_foto"><i class="fas fa-times"></i></a>
    <label for="">
      <%= image_tag "upload-image.png", {class: "img-default"} %>
    </label>
    <%= file_field_tag :"image", class: "images", style: "display:none" %>
  </div>
</div>

<style>
.thumb-image{
  height:100px;
}
.images_group {
    display: inline-block;
    margin: 5px;
    position: relative;
}
.remove_foto{
  position: absolute;
  right: 0;
}
</style>
<script>
$(document).ready(function(){
  i = 0
  $(document).on("click", ".add_foto", function(){
    $(".copy .images_group").attr("data-group", i)
    $(".copy .images_group label").attr("for", "image_"+i)
    $(".copy .images_group .images").attr("name", "image["+i+"]").attr("id", "image_"+i)
    $(".copy .images_group").clone().prependTo(".images_space")

    $(".images_space #image_"+i).imagePreview(".images_space label[for=image_"+i+"]")

    $(".images_space #image_"+i).trigger("click")

    i++
    return false
  });

  $(document).on("click", ".remove_foto", function(){
    $(this).parent().remove()
    return false
  });


});
</script>
