<h1>Adicionar avaria</h1>

<div class="row">
  <div class="col-md-12">
        <%= render 'static_pages/oper_input_control', input_control: @input_control %>
    <br>
  </div>
</div>

<%= render 'barcode_field', action: conference_breakdowns_path %>



<% if @breakdown.present? %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>CodProd</th>
          <th>EAN</th>
          <th>Descrição</th>
          <th>Avarias</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @breakdown.each do |breakdown| %>
        <tr>
          <td><%= breakdown.product.cod_prod %></td>
          <td><%= breakdown.product.ean_box %></td>
          <td><%= breakdown.product.descricao %></td>
          <td><%= breakdown.qtde %></td>
          <td><%= link_to("x", conference_breakdown_path(breakdown), {class: "btn btn-danger", 'data-confirm': "Deseja deletar o item #{breakdown.product.descricao} ?", 'data-method': "delete"}) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-5">
    <%= link_to("Finalizar avaria", finish_avaria_conference_path(@input_control), {class: "btn btn-primary", 'data-confirm': "Deseja Finalizar esta avaria?"}) %>
  </div>
</div>
