<%= breadcrumbs({"Dashboard": dashboard_oper_path, "Entradas": ""}) %>
<h2>Entradas</h2>

<ul class="list-group dashlist">
  <% @input_controls.each do |input_control| %>
    <li class="<%= input_control.status_name %>">


    <span class="badge"><%= input_control.quantity_pallets %></span>

    <p style="margin-bottom: 20px;"><i><%= date_br (input_control.date_scheduled) %> <%= time_br (input_control.time_scheduled) %> - <small><%= input_control.status_name %></small></i></p>
    <%= render 'static_pages/oper_input_control', input_control: input_control %>
    <p><strong>Container: </strong><span><%= input_control.container %></span></p>
    <p><strong>Palletizada: </strong><span><%= input_control.palletized_status %></span></p>
    <p><strong>Pgto Descarga: </strong><span><%= input_control.account_receivable.status_name if input_control.account_receivable.present? %></span></p>
    <p><strong>numero de conferencias: </strong><span><%= input_control.conferences.count %></span></p>


    <%= link_to 'Ver mais', admin_show_input_control_path(input_control), class: "btn btn-blue btn-xs" %>


  </li>
  <% end %>
</ul>
