<h1>Detalhes de input control</h1>

<span class="badge"><%= @input_control.quantity_pallets %></span>

<p style="margin-bottom: 20px;"><i><%= date_br (@input_control.date_scheduled) %> <%= time_br (@input_control.time_scheduled) %> - <small><%= @input_control.status_name %></small></i></p>
<%= render 'static_pages/oper_input_control', input_control: @input_control %>
<p><strong>Container: </strong><span><%= @input_control.container %></span></p>
<p><strong>Palletizada: </strong><span><%= @input_control.palletized_status %></span></p>
<p><strong>Pgto Descarga: </strong><span><%= @input_control.account_receivable.status_name if @input_control.account_receivable.present? %></span></p>
<p><strong>número de conferencias: </strong><span><%= @input_control.conferences.count %></span></p>

<% @input_control.conferences.each do |conference| %>

<% end %>



<%= input_items_button(@input_control) %>
<br>
<hr>
<h4>outros botões</h4>
<p>
  <%= link_to 'Iniciar Recebimento', start_input_control_path(@input_control), class: "btn btn-blue btn-xs" %> <br>
  <%= link_to 'Iniciar Conferencia', start_conference_input_control_path(@input_control), class: "btn btn-blue btn-xs" %>
</p>
<p>
  <% if @input_control.conferences.present? %>
    <%= link_to 'Iniciar nova conferencia', start_conference_input_control_path(@input_control), class: "btn btn-warning btn-xs" if @input_control.conferences.last.status == "finish" %> <br>
    <%= link_to 'Items da última Conferencia', items_input_control_path(@input_control), class: "btn btn-blue btn-xs" %>
  <% end %>
</p>
<p>
  <% if @input_control.conferences.present? %>
  <%= link_to "verificar conferencias", review_conference_input_control_path(@input_control), {class: "btn btn-primary btn-xs"} %> <br>
  <%= link_to "Analizar e aprovar conferência", analize_and_finish_input_control_path(@input_control), {class: "btn btn-info btn-xs"}  %>
  <% end %>
</p>
<p>
  <%#= link_to 'Tem avaria?', has_avaria_input_control_path(@input_control), class: "btn btn-blue btn-xs" if @input_control.avaria.nil? %> <br>
  <%= link_to 'Informar Avaria', add_avaria_input_control_path(@input_control), class: "btn btn-blue btn-xs" if @input_control.avaria %>
</p>
<p>
  <%= link_to 'Confirmar Recebimento', received_input_control_path(@input_control), class: "btn btn-blue btn-xs"  %>
</p>
