<div class="panel panel-default">
  <div class="panel-heading">Listing input_controls</div>
  <div class="panel-body">
    <%= link_to 'New Input control', new_input_control_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Transportadora</th>
            <th>Motorista</th>
            <th>Data Ent.</th>
            <th>Time</th>
            <th>Data Rec.</th>
            <th>Palletized</th>
            <th>Qtde </th>
            <th>Status</th>
            <th colspan="3">Options</th>
         </tr>
        </thead>

        <tbody>
          <% @input_controls.each do |input_control| %>
            <tr>
              <td><%= input_control.carrier.nome %></td>
              <td><%= input_control.driver.nome %></td>
              <td><%= date_br input_control.date_entry %></td>
              <td><%= time_br input_control.time_entry %></td>
              <td><%= date_br input_control.date_receipt %></td>
              <td><%= input_control.palletized_status %></td>
              <td><%= input_control.quantity_pallets %></td>
              <td><%= input_control.status_name %></td>
              <td><%= link_to 'Show', input_control, class: "btn btn-info btn-xs" %></td>
              <td><%= link_to 'Edit', edit_input_control_path(input_control), class: "btn btn-primary btn-xs"  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>