

<div class="row">
  <div class="col-md-12">
        <%= render 'static_pages/oper_input_control', input_control: @input_control %>
    <br>
  </div>
</div>

<%= render 'barcode_field', action: add_item_conference_path %>




<% if(@conference_items.present?) %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>CodProd</th>
          <th>EAN</th>
          <th>Descrição</th>
          <th>Qtde</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @conference_items.each do |conference_item| %>
        <tr>
          <td><%= conference_item.product.cod_prod %></td>
          <td><%= conference_item.product.ean_box %></td>
          <td><%= conference_item.product.descricao %></td>
          <td><%= conference_item.qtde_oper %></td>
          <td><%= link_to("x", destroy_item_conference_path(conference_item), {class: "btn btn-danger", 'data-confirm': "Deseja deletar o item #{conference_item.product.descricao} ?", 'data-method': "delete"}) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% end %>

<div class="row">
  <div class="col-md-5">
    <% if (current_user.has_role? :oper) && @conference_items.count > 0  %>
      <%= link_to("Finalizar conferência", finish_conference_conference_path(@conference.id), {class: "btn btn-primary", 'data-confirm': "Deseja Finalizar esta conferência?"}) if @input_control.conferences.where(conferences: {status: :start}).present?  %>
    <% end %>
    <% if current_user.has_role? :sup %>
      <%= link_to("Voltar", review_conference_input_control_path(@input_control.id), {class: "btn btn-default"}) if @input_control.conferences.count >= 3 %>
    <% end %>

  </div>
</div>
