
<script type="text/javascript">
  $(function(){
    $("#barcode").focus();
  })
</script>

<!-- comment -->
<div class="row">
  <form id="search" action="" method="get">
    <div class="form-group col-md-5 has-feedback <%= feedback_conference(@ean, 'css') %>">
      <label for="qtde">Ler codigo de barras</label>
      <div class="input-group">
        <a href="http://zxing.appspot.com/scan?ret=<%= @request_items %>?ean={CODE}" class="input-group-addon">
          <i class="fas fa-barcode"></i>
        </a>
        <input type="text" id="barcode" name="ean" class="form-control" value="<%= params["ean"] %>">
        <a href="#" onClick="document.getElementById('search').submit();"botton class="btn btn-primary input-group-addon"><i class="fas fa-search"></i></a>
      </div>
      <% if feedback_conference(@ean) %>
      <small class="text-danger"><%= feedback_conference(@ean, 'msg') %></small>
      <% end %>
    </div>
  </form>
</div>


<% if @product.present? %>
<script type="text/javascript">
  $(function(){
    $('#myModal').modal();
  });
</script>
<%= form_tag add_item_conference_path do %>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= @product.descricao %></h4>
      </div>
      <div class="modal-body">
        <strong>ID</strong>: <%= @product.id %> <br>
        <strong>Ean box</strong>: <%= @product.ean_box %> <br>
          <input type="hidden" name="product_id" value="<%= @product.id %>">
          <div class="form-group">
            <label for="qtde">Quantidade</label>
            <input id="qtde" name="qtde_oper" type="number" class="form-control" placeholder="Quantidade" value="0">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <input type="submit" class="btn btn-primary" value="Salvar">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>
<% end %>

<% if(@conference_items.present?) %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Ean box</th>
          <th>Descrição</th>
          <th>Qtde</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @conference_items.each do |conference_item| %>
        <tr>
          <td><%= conference_item.product.ean_box %></td>
          <td><%= conference_item.product.descricao %></td>
          <td><%= conference_item.qtde_oper %></td>
          <td><%= link_to("x", destroy_item_conference_path(conference_item), {class: "btn btn-danger", 'data-confirm': "Deseja deletar o item #{conference_item.product.descricao} ?", 'data-method': "delete"}) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% end %>
<div class="row">
  <div class="col-md-5">
    <%= link_to("Finalizar conferência", finish_conference_conference_path(@conference.id), {class: "btn btn-primary", 'data-confirm': "Deseja Finalizar esta conferência?", 'data-method': "delete"}) %>
  </div>
</div>
