<div class="alert alert-danger" role="alert">
	Sr(a) <%= current_user.email %> <br />
	<h3> <strong>Você confirma que a mercadoria foi conferida e armazenada no CD da L7?</strong> </h3> <br />
	Caso a empresa inicie um embarque e essa mercadoria não esteja devidamente <br />
	armazenada o usuário que confirmou esse recebimento se responsabiliza por
	qualquer custo que venha a ter.
</div>

<%= link_to "Inicio", dashboard_sup_path, class: "btn btn-blue btn-block" %>

<div class="panel panel-default">
  <div class="panel-heading">Listing NF-e: Informar Qtde Paletes</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NF-e</th>
            <th>Qtde</th>
            <th colspan="2">Options</th>
         </tr>
        </thead>

        <tbody>
          <% @input_control.nfe_xmls.each do |nfe_xml| %>
            <tr>
              <td><%= nfe_xml.numero %></td>
              <td><%= nfe_xml.qtde_pallet %></td>
              <td><%= link_to "Edit", edit_qtde_pallet_nfe_xml_path(nfe_xml), class: "btn btn-info btn-xs" %></td>
              <% if nfe_xml.qtde_pallet.blank? %>
                <td><i class="fa fa-times fa-2x" style="color: red" aria-hidden="true"></i></td>
              <% else %>
                <td><i class="fa fa-check fa-2x" style="color: LimeGreen" aria-hidden="true"></i></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
