<div class="alert alert-danger" role="alert">
	Sr(a) <%= current_user.email %> <br />
	<h3> <strong>Você confirma que a mercadoria foi conferida e armazenada no CD da L7?</strong> </h3> <br />
	Caso a empresa inicie um embarque e essa mercadoria não esteja devidamente <br />
	armazenada o usuário que confirmou esse recebimento se responsabiliza por
	qualquer custo que venha a ter.
</div>

<%= link_to "Inicio", dashboard_sup_path, class: "btn btn-blue" %>
<%#= link_to "Auto associar avarias, sobras e faltas", nfe_assoc_to_breakdown_input_control_breakdown_nfe_xmls_path(@input_control), class: "btn btn-blue" %>

<div class="panel panel-default">
  <div class="panel-heading">Listing NF-e: Informar Qtde Paletes</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NF-e</th>
            <th>Qtde paletes</th>
            <th></th>
						<th></th>
         </tr>
        </thead>

        <tbody>
          <% @input_control.nfe_xmls.each do |nfe_xml| %>
            <tr>
              <td><%#= link_to nfe_xml.numero, new_input_control_breakdown_nfe_xml_path(@input_control.id, nfe_xml_numero: nfe_xml.numero) %>
								<%= nfe_xml.numero %>
							</td>
              <td><%= nfe_xml.qtde_pallet %></td>
							<td>
	              <% if nfe_xml.qtde_pallet.blank? %>
									<%= link_to "Qtde paletes", edit_qtde_pallet_nfe_xml_path(nfe_xml), class: "btn btn-info btn-xs" %>
	              <% else %>
	                <i class="fa fa-check fa-2x" style="color: LimeGreen" aria-hidden="true"></i>
	              <% end %>
							</td>
							<td><%= link_to "Adicionar à esta nota", new_input_control_breakdown_nfe_xml_path(@input_control.id, nfe_xml_numero: nfe_xml.numero), class: "btn btn-primary btn-xs" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
