<%= breadcrumbs({"Dashboard": dashboard_oper_path, "Entradas": ""}) %>
<h2>Entradas</h2>

<ul class="list-group dashlist">
  <% @input_controls.each do |input_control| %>
    <li class="<%= input_control.status_name %>">

    <span class="badge"><%= input_control.quantity_pallets %></span>

    <p style="margin-bottom: 20px;"><%= icon_status_input_control(input_control.status) %> <i><%= date_br (input_control.date_scheduled) %> <%= time_br (input_control.time_scheduled) %> - <small><%= input_control.status_name %></small></i></p>
    <%= render 'static_pages/oper_input_control', input_control: input_control %>
    <p><strong>Container: </strong><span><%= input_control.container %></span></p>
    <p><strong>Palletizada: </strong><span><%= input_control.palletized_status %></span></p>
    <% if input_control.charge_discharge? %>
      <% if input_control.account_receivable.present? %>
        <p><strong>Pgto Descarga: <%= input_control.account_receivable.status_name %> <big style="font-size:2em"><%= icon_account_receivable(input_control.account_receivable) %></big></strong> </p>
      <% else %>
        <p><strong>Pgto Descarga: Não pago  <big style="font-size:2em"><i class="fas fa-times text-danger"></i></big> </strong></p>
      <% end %>
    <% else %>
      <p><strong>Pgto Descarga: Não Cobrar </strong></p>
    <% end %>
    <%= input_items_button(input_control) %>


  </li>
  <% end %>
</ul>

<script type="text/javascript">
  // $(document).ready(function(){
  //   $(".btn").click(function(){
  //     href = $(this).attr("href")
  //     $(this).attr("href", "#")
  //     window.location.href = href
  //   })
  // })
</script>
