<div class="alert alert-danger" role="alert">
	Sr(a) <%= current_user.email %> <br />
	<h3> <strong>Você confirma que a mercadoria foi conferida e armazenada no CD da L7?</strong> </h3> <br />	 
	Caso a empresa inicie um embarque e essa mercadoria não esteja devidamente <br />
	armazenada o usuário que confirmou esse recebimento se responsabiliza por 
	qualquer custo que venha a ter.
</div>

<%= form_for @input_control, url: confirm_received_input_control_path, method: :patch, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="panel panel-default">
    <div class="panel-heading">Dados da Entrada - No: <%= @input_control.id %></div>
    <div class="panel-body">
    
    <%= render 'static_pages/oper_input_control', input_control: @input_control %>
    
    </div>
  </div>


  <div class="form-group">
    <%= f.label :quantity_pallets, "Qtde Pallets" %><br>
    <%= f.number_field :quantity_pallets, class: "form-control" %>
  </div>    

  <div class="form-group">
		<%= f.submit "Informar Recebimento", class: "btn btn-primary" if @input_control.status == InputControl::TypeStatus::DISCHARGE %>
		<%= link_to 'Voltar', oper_input_controls_path, class: "btn btn-default" %>
  </div>

<% end %>

