<style>
.bg-red{
  background-color: #990000;
}
</style>
<h1>Revisão conferencias</h1>
<%= render 'static_pages/oper_input_control', input_control: @input_control %>
<%= link_to "Voltar", sup_input_controls_path, class: "btn btn-default " %>
<%= link_to "Fazer correção", duplicate_conference_input_control_path, class: "btn btn-primary " if @input_control.conferences.count == 2 %>
<% if @input_control.conferences.last.approved == "waiting" %>
  <%= link_to "Aprovar conferência", analize_input_control_path, class: "btn btn-primary " if @total_qtde_3 == @total_qtde %>
<% end %>

<br><br>
<table class="table">
  <thead>
    <tr style="background:#666; color:white">
      <td colspan="3" class="text-center">Itens: </td>
      <td><%= @count_items %></td>
      <td class="<%= @count_items_1 != @count_items ? "bg-red" : "" %>">
        <%= @count_items_1 %>
      </td>
      <% if @conference_item_2.present? %>
        <td class="<%= @count_items_2 != @count_items ? "bg-red" : "" %>">
          <%= @count_items_2 %>
        </td>
      <% end %>

      <% if @conference_item_3.present? %>
        <td class="<%= @count_items_3 != @count_items ? "bg-red" : "" %>">
          <%= @count_items_3 %>
        </td>
        <td></td>
      <% end %>
    </tr>
    <tr style="background:#888; color:white">
      <td colspan="3" class="text-center">Total: </td>
      <td><%= @total_qtde %></td>
      <td class="<%= @total_qtde_1 != @total_qtde ? "bg-red" : "" %>">
        <%= @total_qtde_1 %>
      </td>
      <% if @conference_item_2.present? %>
        <td class="<%= @total_qtde_2 != @total_qtde ? "bg-red" : "" %>">
          <%= @total_qtde_2 %>
        </td>
      <% end %>

      <% if @conference_item_3.present? %>
        <td class="<%= @total_qtde_3 != @total_qtde ? "bg-red" : "" %>">
          <%= @total_qtde_3 %>
        </td>
        <td></td>
      <% end %>
    </tr>

    <tr>
      <th>Cod Produto</th>
      <th>Produto</th>
      <th>Avaria</th>
      <th>QTDE NFE</th>
      <th>QTDE oper</th>
      <% if @conference_item_2.present? %>
        <td>QTDE oper</td>
      <% end %>
      <% if @conference_item_3.present? %>
        <td>QTDE sup</td>
        <td></td>
      <% end %>
    </tr>

  </thead>

  <tbody>
    <% @item_input_controls.each do |cod, qtde| %>
      <% product = Product.where(id: cod).first %>
      <tr>
        <td><%= product.cod_prod %></td>
        <td><%= product.descricao %></td>
        <td class="text-danger"><%= @avaria[cod] %></td>
        <td><%= qtde.to_f %></td>
        <td class="<%= qtde.to_f != @conference_item_1[cod].to_f ? "text-danger" : "text-primary" %>"><%= @conference_item_1[cod].to_f %></td>
        <% if @conference_item_2.present? %>
          <td class="<%= qtde.to_f != @conference_item_2[cod].to_f ? "text-danger" : "text-primary" %>"><%= @conference_item_2[cod].to_f %></td>
        <% end %>

        <% if @conference_item_3.present? %>
          <td class="<%= qtde.to_f != @conference_item_3[cod].to_f ? "text-danger" : "text-primary" %>"><%= @conference_item_3[cod].to_f %></td>
          <td>
            <%= link_to "corrigir", edit_input_control_conference_conference_item_path(@input_control.id, @conference_3.id, ConferenceItem.where(conference_id: @conference_3.id, product_id: cod).first.id),  class: "btn btn-warning btn-xs" if qtde.to_f != @conference_item_3[cod].to_f %>

          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
