<h1>Revisão conferencias</h1>
<%= render 'static_pages/oper_input_control', input_control: @input_control %>

<table class="table">
  <thead>
    <tr style="background:#666; color:white">
      <td colspan="3" class="text-center">Itens: </td>
      <td><%= @item_input_controls.count %></td>
      <td><%= @conference_item_1.count %></td>
      <% if @conference_item_2.present? %>
        <td><%= @conference_item_2.count %></td>
      <% end %>
    </tr>
    <tr style="background:#888; color:white">
      <td colspan="3" class="text-center">Total: </td>
      <td><%= @total_qtde %></td>
      <td><%= @total_qtde_1 %></td>
      <% if @conference_item_2.present? %>
        <td><%= @total_qtde_2 %></td>
      <% end %>
    </tr>

    <tr>
      <th>Cod Produto</th>
      <th>Produto</th>
      <th>Avaria</th>
      <th>QTDE NFE</th>
      <th>QTDE oper</th>
      <% if @conference_item_2.present? %>
        <td>QTDE oper</td>
      <% end %>
    </tr>

  </thead>

  <tbody>
    <% @item_input_controls.each do |cod, qtde| %>
      <% product = Product.where(id: cod).first %>
      <tr>
        <td><%= product.cod_prod %></td>
        <td><%= product.descricao %></td>
        <td class="text-danger"><%= @avaria[cod] %></td>
        <td><%= qtde.to_f %></td>
        <td class="<%= qtde.to_f != @conference_item_1[cod].to_f ? "text-danger" : "text-primary" %>"><%= @conference_item_1[cod].to_f %></td>
        <% if @conference_item_2.present? %>
          <td class="<%= qtde.to_f != @conference_item_2[cod].to_f ? "text-danger" : "text-primary" %>"><%= @conference_item_2[cod].to_f %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
