<div id="ordem_service_type_service_id">
	<%= form_tag({:controller => "input_controls", :action => "create_ordem_service"}, :method => "post", :name => "selectNfeForm") do %>
	<%= hidden_field_tag "id", @input_control.id %>
		<div class="panel panel-default">
		  <div class="panel-heading">Selecionar notas para geraração da Ordem de Serviço.</div>
		  <div class="panel-body">
		    <div class="table-responsive">
		      <table class="table table-striped">
		        <thead>
		          <tr>
		          	<th></th>
		            <th>OS.Criada</th>
								<%= render 'nfe_xmls/nfe_header' %>
		            <th>Remetente</th>
		            <th>Destinatario</th>
		          </tr>
		        </thead>

		        <tbody>
		          <% @input_control.nfe_xmls.nfe.each do |nfe_xml| %>
		            <tr>
		            	<td><%= check_box_tag "nfe[ids][#{nfe_xml.id}]", nfe_xml.id, false, onchange:"checkTotal()", class: "escolha" if nfe_xml.create_os == NfeXml::TipoOsCriada::NAO %></td>
		              <td><%= truncate(nfe_xml.status_os_create, length: 20) %></td>
		              <%= render nfe_xml %>
		              <td><%= truncate(nfe_xml.source_client.nome, length: 50) %></td>
		              <td><%= truncate(nfe_xml.target_client.nome, length: 50) %></td>
		            </tr>
		          <% end %>
		        </tbody>
		      </table>
		    </div>    
		  </div>
		</div>
  <%= link_to 'Show', input_control_path(@input_control), class: "btn btn-primary btn-xs" %> 
	<%= submit_tag("Criar Ordem de Serviço", class: "btn btn-success") %> 

	<% end %>

</div>


<script type="text/javascript">
  function checkTotal() {
    var elements = document.getElementsByClassName('escolha');
    var label = document.getElementById('valor_total');
    var sum = 0;
    // console.log(elements[i].value);
    for (i=0;i< elements.length;i++) {
      if (elements[i].checked) {
        sum = sum + parseFloat(elements[i].value);
        console.log(elements[i].value);
      }
    }
    document.getElementById('valor_total').value = 'R$ ' + sum.formatMoney(2, ',', '.');
  }
</script