<%= render 'notices' %>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne" style="cursor:pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      <h3 class="panel-title">
          Dados da Remessa de Entrada No:
          <%= @input_control.id %> - <%= @input_control.status_name %>
      </h3>
    </div>
    <div id="collapseOne" class="panel-collapse collapse list" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= render 'data_input' %>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine" style="cursor:pointer" data-toggle="collapse" style="cursor:pointer" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
      <h4 class="panel-title">
          Dados da Confirmação de Recebimento
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">
        <%= render 'data_received' %>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo" style="cursor:pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h4 class="panel-title"> Dados da Transportadora </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= render 'carriers/carrier_data', object: @input_control.carrier if @input_control.carrier.present? %>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree" style="cursor:pointer"  data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h4 class="panel-title"> Dados do motorista </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <%= render 'drivers/driver_data', object: @input_control.driver if @input_control.driver.present? %>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour" style="cursor:pointer"  data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      <h4 class="panel-title"> Dados do tomador do servico </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <%= render 'clients/client_data', object: @input_control.billing_client if @input_control.billing_client.present? %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive" style="cursor:pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
      <h4 class="panel-title">  Documentos </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          <%= link_to "Visualizar documentos", documents_input_control_path(@input_control), class: "btn btn-warning" %>
          <%#= render 'shared/document', object: @input_control %>
        </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix" style="cursor:pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
      <h4 class="panel-title">
          Ocorrencias
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        <%= render 'comments/feed', comments: @input_control.feed %>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven" style="cursor:pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
      <h4 class="panel-title">
          Dados do Cancelamento
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        <%= render 'cancellations/feed', cancellations: @input_control.feed_cancellations %>
        <%= render 'cancellations/form_cancellation_input_control' %>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight" style="cursor:pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
      <h4 class="panel-title">
          Listagem de XML de NF-e Paletes
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        <%= link_to '[+] NF-e XML', add_nfe_xml_input_control_path(@input_control), class: "btn btn-success btn-sm" %>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <%= render 'nfe_xmls/nfe_header' %>
              </tr>
            </thead>

            <tbody>
              <% @input_control.nfe_xmls.each do |nfe_xml| %>
                <tr>
                  <%= render nfe_xml %>
                </tr>
              <% end %>
              <tr>
                <td><strong>Qtde NF-e: </strong> <%= @input_control.nfe_xmls.count %></td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
<!-- Fim collapse  -->
</div>

<div class="form-group">
  <%= link_to 'Editar', edit_input_control_path(@input_control), class: "btn btn-blue" %>
  <%= link_to 'Listar Todos', input_controls_path, class: "btn btn-default" %>
  <%= link_to 'Finalizar Digitação', finish_typing_input_control_path(@input_control), class: "btn btn-info" if @input_control.status == InputControl::TypeStatus::OPEN %>
  <%#= link_to 'Informar Recebimento', received_input_control_path(@input_control), class: "btn btn-blue" if @input_control.status == InputControl::TypeStatus::FINISH_TYPING %>
  <%= link_to 'Reagendar Recebimento', reschedule_input_control_path(@input_control), class: "btn btn-purple" if @input_control.status == InputControl::TypeStatus::FINISH_TYPING %>
  <%= link_to 'Gerar Ordem Servico', select_nfe_input_control_path, class: "btn btn-success"%>
  <%= link_to 'Armazenar Paletes', select_pallets_input_control_path, class: "btn btn-yellow"%>
  <%= link_to 'Gerar Ocorrência', comments_input_control_path(@input_control), class: "btn btn-warning" %>
  <%= link_to 'Informar Avarias', question_input_control_path(@input_control), class: "btn btn-blue" %>
  <%#= link_to 'Etiqueta', tag_input_control_path(@input_control, format: 'pdf'), class: "btn btn-default" %>
  <%#= link_to 'Print', input_control_path(@input_control, format: 'pdf'), class: "btn btn-default" %>
  <%= link_to 'Imprimir', printing_input_control_path(@input_control), class: "btn btn-default" %>
</div>
