<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      Dados da Remessa de Entrada No:
      <%= @input_control.id %> -
      <%= @input_control.status_name %>
    </h2>
  </div>

  <div class="panel-body"> 
    <p>
      <strong>Placa:</strong>
      <%= @input_control.place %> |
      <strong>Placa Carreta:</strong>
      <%= @input_control.place_cart %> |
      <strong>Placa Carreta 2:</strong>
      <%= @input_control.place_cart_2 %>
    </p>

    <p>
      <strong>Date Entrada NF-e:</strong>
      <%= date_br @input_control.date_entry %> | <%= time_br @input_control.time_entry %>
    </p>

    <p>
      <strong>Date Recebimento:</strong>
      <%= date_br @input_control.date_receipt %>
    </p>

    <p>
      <strong>Carga Peletizada:</strong>
      <%= @input_control.palletized_status %>
    </p>

    <p>
      <strong>Qtde Paletes:</strong>
      <%= @input_control.quantity_pallets %>
    </p>

    <p>
      <strong>Peso:</strong>
      <%= number_to_currency(@input_control.weight, precision: 3, unit: "", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Volume:</strong>
      <%= number_to_currency(@input_control.volume, precision: 3, unit: "", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Valor Tonelada:</strong>
      <%= number_to_currency(@input_control.value_ton, unit: "R$ ", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Value p/ kg:</strong>
      <%= number_to_currency(@input_control.value_kg, precision: 3, unit: "R$ ", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Valor Descarga:</strong>
      <%= number_to_currency(@input_control.value_total, unit: "R$ ", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Observation:</strong>
      <pre><%= @input_control.observation %></pre>
    </p>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Transportadora</h2>
  </div>

  <div class="panel-body"> 
    <%= render 'carriers/carrier_data', object: @input_control.carrier if @input_control.carrier.present? %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Dados do Motorista</h2>
  </div>

  <div class="panel-body"> 
    <%= render 'drivers/driver_data', object: @input_control.driver if @input_control.driver.present? %>
  </div>
</div>


<div class="form-group">
  <%= link_to 'Editar', edit_input_control_path(@input_control), class: "btn btn-primary" %> 
  <%= link_to 'Listar Todos', input_controls_path, class: "btn btn-default" %>
  <%= link_to 'Informar Recebimento', received_input_control_path(@input_control), class: "btn btn-primary" if @input_control == InputControl::TypeStatus::OPEN %>
  <%= link_to 'Gerar Ordem Servico', select_nfe_input_control_path, class: "btn btn-success"%>
  <%= link_to 'Armazenar Paletes', select_pallets_input_control_path, class: "btn btn-yellow"%>
</div>                             

<div class="panel panel-default">
  <div class="panel-heading">Listagem de XML de NF-e Paletes</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <%= render 'nfe_xmls/nfe_header' %>
          </tr>
        </thead>

        <tbody>
          <% @input_control.nfe_xmls.each do |nfe_xml| %>
            <tr>
              <%= render nfe_xml %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Documentos</h2>
  </div>

  <div class="panel-body"> 
    <%= render 'shared/document', object: @input_control %>
  </div>
</div>
