<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Dados da Remessa de Entrada No:
          <%= @input_control.id %> -
          <%= @input_control.status_name %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="panel panel-default">

          <div class="panel panel-default">

            <div class="panel-body"> 
              <%= render 'data_input' %>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dados da Transportadora
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%#= render 'clients/client_data', object: @ordem_service.client %>

        <div class="panel-body">
          <div class="panel panel-default">

            <div class="panel panel-default">

              <div class="panel-body"> 
                <%= render 'carriers/carrier_data', object: @input_control.carrier if @input_control.carrier.present? %>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Dados do motorista
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="panel panel-default">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Dados do Motorista</h2>
            </div>

            <div class="panel-body"> 
              <%= render 'drivers/driver_data', object: @input_control.driver if @input_control.driver.present? %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Documentos
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">

        <div class="panel-body"> 
          <%= render 'shared/document', object: @input_control %>
        </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse">
          Ocorrencias
        </a>
      </h4>
    </div>
    <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">

      <%= render 'comments/feed', comments: @input_control.feed %>

      <%#= render 'comments/form_comment_ordem_service' %>
      
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Dados do Cancelamento
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">

      <%= render 'cancellations/feed', cancellations: @input_control.feed_cancellations %>

      <%= render 'cancellations/form_cancellation_input_control' %>
      
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Listagem de XML de NF-e Paletes
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <%= render 'nfe_xmls/nfe_header' %>
              </tr>
            </thead>

            <tbody>
              <% @input_control.nfe_xmls.each do |nfe_xml| %>
                <tr>
                  <%= render nfe_xml %>
                </tr>
              <% end %>
              <tr>
                <td><strong>Qtde NF-e: </strong> <%= @input_control.nfe_xmls.count %></td>
              </tr>
              
            </tbody>
          </table>
        </div>    

      </div>
    </div>
  </div>
<!-- Fim collapse  --> 
</div>

<div class="form-group">
  <%= link_to 'Editar', edit_input_control_path(@input_control), class: "btn btn-primary" %> 
  <%= link_to 'Listar Todos', input_controls_path, class: "btn btn-default" %>
  <%= link_to 'Finalizar Digitação', finish_typing_input_control_path(@input_control), class: "btn btn-info" if @input_control.status == InputControl::TypeStatus::OPEN %>
  <%= link_to 'Informar Recebimento', received_input_control_path(@input_control), class: "btn btn-primary" if @input_control.status == InputControl::TypeStatus::FINISH_TYPING %>
  <%= link_to 'Gerar Ordem Servico', select_nfe_input_control_path, class: "btn btn-success"%>
  <%= link_to 'Armazenar Paletes', select_pallets_input_control_path, class: "btn btn-yellow"%>
  <%= link_to 'Gerar Ocorrência', comments_input_control_path(@input_control), class: "btn btn-warning" %>
  <%= link_to 'Print', input_control_path(@input_control, format: 'pdf'), class: "btn btn-default" %> 
  <%= link_to 'Informar Avarias', question_input_control_path(@input_control), class: "btn btn-primary" %>
</div>