<div class="panel panel-default">

  <div class="panel-body"> 
    <p>
      <strong>Categoria:</strong>
      <%= @product.category.descricao if @product.category.present? %>
    </p>

    <p>
      <strong>Cod. Prod.:</strong>
      <%= @product.cod_prod %>
    </p>

    <p>
      <strong>Descricao:</strong>
      <%= @product.descricao %>
    </p>

    <p>
      <strong>Unidade Medida:</strong>
      <%= @product.unid_medida %>
    </p>

    <p>
      <strong>EAN da Caixa:</strong>
      <%= @product.ean_box %>
    </p>

    <p>
      <strong>EAN:</strong>
      <%= @product.ean %>
    </p>

    <p>
      <strong>Unidade medida tributado:</strong>
      <%= @product.unid_medida_trib %>
    </p>

    <p>
      <strong>Ean Tributado:</strong>
      <%= @product.ean_trib %>
    </p>


  </div>
</div>
        
<div class="panel panel-default">

  <div class="panel-body"> 
    <p>
      <strong>Peso Liquido:</strong>
      <%= @product.weight_liquid %>
    </p>

    <p>
      <strong>Peso Bruto:</strong>
      <%= @product.weight_gross %>
    </p>

    <p>
      <strong>Largura:</strong>
      <%= @product.width %>
    </p>

    <p>
      <strong>Comprimento:</strong>
      <%= @product.length %>
    </p>

    <p>
      <strong>Altura:</strong>
      <%= @product.height %>
    </p>

    <p>
      <strong>Unidades na Caixa:</strong>
      <%= @product.factor %>
    </p>

    <p>
      <strong>Cubagem:</strong>
      <%= @product.cubagem %> |
      <strong>Cubagem calculada:</strong>
      <%= @product.calculation_cubing %> 
    </p>

  </div>
</div>

<div class="panel panel-default">

  <div class="panel-body"> 

    <p>
      <strong>Latro do Pallet:</strong>
      <%= @product.ballast %>
    </p>

    <p>
      <strong>Camada do Pallet:</strong>
      <%= @product.layer_pallet %>
    </p>

    <p>
      <strong>Caixas por Pallet:</strong>
      <%= @product.box_by_pallet %>
    </p>

  </div>
</div>


<div class="panel panel-default">

  <div class="panel-body"> 

    <p>
      <strong>Volume:</strong>
      <%= @product.volume %>
    </p>

    <p>
      <strong>Valor Unitario:</strong>
      <%= @product.valor_unitario %>
    </p>

    <p>
      <strong>NCM:</strong>
      <%= @product.ncm %>
    </p>

    <p>
      <strong>CFOP:</strong>
      <%= @product.cfop %>
    </p>

  </div>
</div>


