<%= form_for(@product) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category_id, "Categoria" %>
    <%= f.collection_select :category_id, Category.order('descricao'), :id, :descricao, {include_blank: "Selecione a Categoria"}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :cubagem %><br>
    <%= f.text_field :cubagem, value: number_to_currency(@product.cubagem, unit: "", separator: ".", delimiter: "", precision: 3),  class: "form-control size"  %>
  </div>

  <div class="form-group">
    <%= f.label :cod_prod %><br>
    <%= f.text_field :cod_prod, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :ncm %><br>
    <%= f.text_field :ncm, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :cfop %><br>
    <%= f.text_field :cfop, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :ean %><br>
    <%= f.text_field :ean, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :ean_box %><br>
    <%= f.text_field :ean_box, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :unid_medida %><br>
    <%= f.text_field :unid_medida, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :ean_trib %><br>
    <%= f.text_field :ean_trib, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :unid_medida_trib %><br>
    <%= f.text_field :unid_medida_trib, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :valor_unitario %><br>
    <%= f.text_field :valor_unitario, value: number_to_currency(@product.width, unit: "", separator: ".", delimiter: "", precision: 3),  class: "form-control size" %>
    <%#= f.text_field :valor_unitario, value: number_to_currency(@product.width, unit: "", separator: ",", delimiter: "."),  class: "form-control "  %>
  </div>

  <div class="form-group">
    <%= f.label :width, "Largura" %><br>
    <%= f.text_field :width, value: number_to_currency(@product.width, unit: "", separator: ".", delimiter: "", precision: 3), class: "form-control size"  %>
  </div>

  <div class="form-group">
    <%= f.label :length, "Comprimento" %><br>
    <%= f.text_field :length,  value: number_to_currency(@product.length, unit: "", separator: ".", delimiter: "", precision: 3), class: "form-control size"  %>
  </div>

  <div class="form-group">
    <%= f.label :height, "Altura" %><br>
    <%= f.text_field :height,  value: number_to_currency(@product.height, unit: "", separator: ".", delimiter: "", precision: 3),  class: "form-control size"  %>
  </div>

  <div class="form-group">
    <%= f.label :volume, "Unidades na Caixa" %><br>
    <%= f.text_field :volume, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :weight_liquid, "Peso Liquido" %><br>
    <%= f.text_field :weight_liquid,  value: number_to_currency(@product.weight_liquid, unit: "", separator: ".", delimiter: "", precision: 3), class: "form-control size"  %>
  </div>

  <div class="form-group">
    <%= f.label :weight_gross, "Peso Bruto" %><br>
    <%= f.text_field :weight_gross,  value: number_to_currency(@product.weight_gross, unit: "", separator: ".", delimiter: "", precision: 3), class: "form-control size"  %>
  </div>

  <div class="form-group">
    <%= f.label :ballast, "Lastro do Pallet" %><br>
    <%= f.text_field :ballast, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :layer_pallet, "Camada do Pallet" %><br>
    <%= f.text_field :layer_pallet, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%= link_to "Exibir",  product_path(@product), class: "btn btn-info" if !@product.new_record? %>
    <%= link_to "Listar Todos", products_path, class: "btn btn-default" %>
  </div>

<% end %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    $('.size').maskMoney({precision:3, thousands: ''});
  })
</script>
