<div class="panel-body">
  <%= search_form_for @q, remote: true, url: search_products_path, :method => :get do |f| %>
    <div class="form-group">
      <%= f.label :cod_prod_eq, "Cod.Prod." %>
      <%= f.search_field :cod_prod_eq, class: "form-control" %>  
    </div>
    
    <div class="form-group">
      <%= f.label :ean_eq, "Cod.Prod." %>
      <%= f.search_field :ean_eq, class: "form-control" %>  
    </div>

    <div class="form-group">
      <%= f.label :descricao_cont, "Descricao" %>
      <%= f.search_field :descricao_cont, class: "form-control", placeholder: "" %>  
    </div>

    <div class="form-group">
      <%= f.label :category_id_eq, "Categoria" %>
      <%= f.select(:category_id_eq, Category.order(:descricao).collect {|g| [g.descricao, g.id]}, {include_blank: "Informe o Grupo"}, {class: "form-control"} ) %>
    </div>

    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>
