<ul class="list-info">
  <% boardings.each do |boarding| %>
    <li>
      <% driver = Driver.where(cpf: boarding[:driver_cpf]).first %>
      <% if driver.present? %>
        <%= avatar boarding.driver.nome, driver.avatar.url(:mini) %>
      <% else %>
        <%= avatar boarding.driver.nome, "" %>
      <% end %>
      <div class="informations">
        <p>
        <strong class="name"><%= boarding.driver.nome %></strong><br>
        <span class="num_embarque" title="Nº emb"><strong>Embarque:</strong> <%= boarding.id %></span>
        <span class="start" title="Iniciado às"><strong>Dt. Emb:</strong> <%= date_br (boarding.date_boarding) %></span>
        <!-- <span class="valor" title="valor"><strong>Valor:</strong> <%= number_to_currency(boarding.value_boarding, unit: "R$ ", separator: ",", delimiter: ".") %></span> -->
        <span class="peso" title="Peso"><strong>Peso:</strong> <%= number_with_precision(boarding.peso_bruto, precision: 3, separator: ',', delimiter: '.') %></span>
        <br>
        <span class="status" title="status"><strong>Status: </strong> <%= boarding.status_name %></span>
         </p>
        <%# if boarding.operation_id.present? %>
          <p>
            <span class="remessa" title="Número de remessa">Emb. Nº: <strong><%#= boarding.operation_id %></strong></span>
            <span class="status" title="Status"><strong>Status: </strong><%#= icon_status_boarding(boarding.boarding.status) %></span>
          <br>
            <% #if boarding.boarding.start_time_boarding.present?  %>
              <% #if boarding.boarding.status == Boarding::TipoStatus::EMBARCADO %>
                <span class="descarregando" title="Tempo que esta descarregando">Tempo do carregamento:
                  <strong><%#= difference_as_time(boarding.boarding.start_time_boarding, boarding.boarding.finish_time_boarding) %></strong>
                </span>
              <% #else %>
                <span class="descarregando" title="Tempo de descarga">carregando à
                  <strong><%#= difference_as_time(boarding.boarding.start_time_boarding, Time.now) %></strong>
                </span>
              <%# end %>
            <%# end %>
          </p>
        <%# end %>
      </div>
    </li>
  <% end %>
</ul>
