<%= form_with(model: checkin, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <h1><%= translate 'activerecord.attributes.enums.checkin.type' %></h1>

  <div class="form-group">
    <%= f.label :driver_cpf %>
    <%= f.text_field :driver_cpf, class: "form-control cpf", id: "driver_cpf" %>
  </div>

  <div class="form-group">
    <%= f.label :driver_name %>
    <%= f.text_field :driver_name, class: "form-control", id: "driver_name" %>
  </div>

  <%#= f.hidden_field :operation, value: 'input_control' %>

  <%#= f.hidden_field :operation, value: 'boarding' %>

  <%#= f.select :operation, options_for_select(select_checkin_operation.map {|k, v| [v, k]}), {include_blank: true}, {class: "form-control" }  %>

  <%#= f.text_field :operation, value: 'input_control', class: "form-control", disabled: true %>

  <%# if params[:operation] == 'input_control' %>


  <div class="form-group">
    <% if !params[:operation].blank? %>
      <%= f.hidden_field :operation, value: params[:operation] %>
    <% else %>
      <%= f.label :operation %>
      <%= f.select :operation, options_for_select(select_checkin_operation.map {|k, v| [v, k]}), {include_blank: true}, {class: "form-control" }  %>
    <% end %>
  </div>

  <div class="form-group">
    <% if !params[:operation].blank? %>
      <%#= f.text_field :status, value: 'input', class: "form-control", disabled: true %>
      <%= f.hidden_field :status, value: 'input' %>
    <% else %>
      <%= f.label :status %>
      <%= f.select :status, options_for_select(Checkin.statuses.keys.to_a.map{ |w| [w.humanize, w] }), {include_blank: true}, {class: "form-control" }  %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :place_horse %>
    <%= f.text_field :place_horse, class: "form-control placa", id: "place_horse", style: 'text-transform:uppercase' %>
  </div>

  <div class="form-group">
    <%= f.label :place_cart_1 %>
    <%= f.text_field :place_cart_1, class: "form-control placa", id: "place_cart_1", style: 'text-transform:uppercase' %>
  </div>

  <div class="form-group">
    <%= f.label :place_cart_2 %>
    <%= f.text_field :place_cart_2, class: "form-control placa", id: "place_cart_2", style: 'text-transform:uppercase' %>
  </div>

  <div class="actioform-groupns">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
   $("#driver_cpf").focusout(function() {
      var cpf = $('#driver_cpf').val();
      var state_params = {cpf: cpf}

      $.getJSON('/get_driver_name_by_cpf', state_params, function(data){
         console.log(data.nome)
         $("#driver_name").val(data.nome);
        })
      });
    });
  //});
</script>
