<%= form_with(model: checkin, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <h1><%= translate 'activerecord.attributes.enums.checkin.type' %></h1>

  <div class="form-group">
    <%= f.label :driver_cpf %>
    <%= f.text_field :driver_cpf, class: "form-control cpf" %>
  </div>

  <div class="form-group">
    <%= f.label :driver_name %>
    <%= f.text_field :driver_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :operation %>
    <%= f.select :operation, options_for_select(select_checkin_operation.map {|k, v| [v, k]}), {include_blank: true}, {class: "form-control" }  %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%#= f.select :type, options_for_select(select_checkin_type.map {|k, v| [v, k]}), {include_blank: true}, {class: "form-control" }  %>
    <%= f.select :status, options_for_select(Checkin.statuses.keys.to_a.map{ |w| [w.humanize, w] }), {include_blank: true}, {class: "form-control" }  %>
  </div>

  <div class="actioform-groupns">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
  </div>

<% end %>
