<div class="panel panel-default">
  <div class="panel-heading">Listagem de Motoristas no Patio</div>
  <div class="panel-body">
    <%#= link_to 'Novo Veículos', new_vehicle_path, class: "btn btn-blue btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>CPF</th>
            <th>Motorista</th>
            <th>Operacao</th>
            <th>Status</th>
            <th>Data</th>
            <th>Hora</th>
            <th colspan="3">Opções</th>
          </tr>
        </thead>

        <tbody>
          <% checkins.each do |checkin| %>
            <tr>
              <td><%= checkin.driver_cpf %></td>
              <td><%= checkin.driver_name %></td>
              <td><%= checkin.operation %></td>
              <td><%= checkin.status %></td>
              <td><%= date_br checkin.created_at %></td>
              <td><%= time_br checkin.created_at %></td>
              <td>
                <%= link_to '#' do %>
                  <i class="fas fa-truck notification"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
