<ul class="list-info">
  <% checkins.each do |checkin| %>
    <li>
      <figure style="background-image:url('https://p2.trrsf.com/image/fget/cf/1200/1200/filters:quality(85)/images.terra.com/2019/07/14/3083873-luciano-huck-surge-mais-velho-em-foto-e-650x488-2.jpg')"></figure>
      <div class="informations">
        <p>
        <strong class="name"><%= checkin.driver_name %></strong><br>
        <span class="placa" title="placa"><%= checkin.place_horse %></span>
        <span class="start" title="Iniciado às"><%= time_br(checkin.created_at) %></span>
        </p>
        <% if checkin.operation_id.present? %>
          <p>
            <span class="remessa" title="Número de remessa">Emb. Nº: <strong><%= checkin.operation_id %></strong></span>
            <span class="status" title="Status"><strong>Status: </strong><%= icon_status_boarding(checkin.boarding.status) %></span>
          <br>
            <% if checkin.boarding.start_time_boarding.present?  %>
              <% checkin.boarding.status == Boarding::TipoStatus::EMBARCADO %>
                <span class="descarregando" title="Tempo que esta descarregando">Tempo do carregamento:
                  <strong><%= difference_as_time(checkin.boarding.start_time_boarding, checkin.boarding.finish_time_boarding) %></strong>
                </span>
              <% else %>
                <span class="descarregando" title="Tempo de descarga">carregando à
                  <strong><%= difference_as_time(checkin.boarding.start_time_boarding, Time.now) %></strong>
                </span>
              <% end %>
            <% end %>
          </p>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
