<ul class="list-info">
  <% checkins.each do |checkin| %>
    <li>
      <% driver = Driver.where(cpf: checkin[:driver_cpf]).first %>
      <% if driver.present? %>
        <% image_avatar = driver.avatar.present? ? driver.avatar.url(:mini) : ""  %>
        <%= avatar checkin.driver_name, image_avatar %>
        <% else %>
          <%= avatar checkin.driver_name, "" %>
        <% end %>

      <div class="informations">
        <p>
        <strong class="name"><%= checkin.driver_name %></strong><br>
        <span class="placa" title="placa"><%= checkin.place_horse %></span>
        <span class="start" title="Iniciado às"><%= time_br(checkin.created_at) %></span>
        </p>
        <% if checkin.operation_id.present? %>
          <p>
            <span class="remessa" title="Número de remessa">Rem. Nº: <strong><%= checkin.operation_id %></strong></span>
            <span class="status" title="Status"><strong>Status:</strong><%= icon_status_input_control(checkin.input_control.status) %></span>
          <br>
            <% if checkin.input_control.start_time_discharge.present?  %>
            <span class="descarregando" title="Tempo que esta descarregando">descarregando à:
              <strong><%= difference_as_time(checkin.input_control.start_time_discharge, Time.now) %></strong>
            </span>
            <% end %>
          </p>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
