<p>
  <strong><%= translate "activerecord.attributes.enums.checkin.operation_type.#{@checkin.operation_type}"%>:</strong>
  <%= @checkin.operation_id %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @checkin.driver_cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @checkin.driver_name %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @checkin.places %>
</p>

<p>
  <strong>Portas:</strong>
  <%= @checkin.door %>
</p>


<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
      </tr>
    </thead>

    <tbody>
      <% Checkin.where(driver_cpf: @checkin.driver_cpf).where("DATE(created_at) = ?", @checkin.created_at.to_date).each do |checkin| %>
        <tr>
          <td><%= translate "activerecord.attributes.enums.checkin.status.#{checkin.status}" %></td>
          <td><%= time_br checkin.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
      </tr>
    </thead>

    <tbody>

        <tr>
          <td>Tempo da chegada até o carregamento</td>
          <% if Checkin.day(@checkin.created_at.to_date).input.where(driver_cpf: @checkin.driver_cpf).last.present? && Checkin.day(@checkin.created_at.to_date).start.where(driver_cpf: @checkin.driver_cpf).last.present? %>
            <td><%= raw_date = TimeDifference.between(Checkin.day(@checkin.created_at.to_date).start.where(driver_cpf: @checkin.driver_cpf).last.created_at, Checkin.day(@checkin.created_at.to_date).input.where(driver_cpf: @checkin.driver_cpf).last.created_at).humanize %></td>
          <% else %>
            <td>00:00</td>
          <% end %>
        </tr>

        <tr>
          <td>Tempo do inicio do carregamento até o fim</td>
          <% if Checkin.day(@checkin.created_at.to_date).start.where(driver_cpf: @checkin.driver_cpf).last && Checkin.day(@checkin.created_at.to_date).finish.where(driver_cpf: @checkin.driver_cpf).last.present? %>
            <td><%= raw_date = TimeDifference.between(Checkin.day(@checkin.created_at.to_date).finish.where(driver_cpf: @checkin.driver_cpf).last.created_at, Checkin.day(@checkin.created_at.to_date).start.where(driver_cpf: @checkin.driver_cpf).last.created_at).humanize %></td>
          <% else %>
            <td>00:00</td>
          <% end %>
        </tr>

        <tr>
          <td>Tempo do fim do carregamento até a saída do veículo</td>
          <% if Checkin.day(@checkin.created_at.to_date).finish.where(driver_cpf: @checkin.driver_cpf).last.present? && Checkin.day(@checkin.created_at.to_date).checkout.where(driver_cpf: @checkin.driver_cpf).last.present?  %>
          <td><%= raw_date = TimeDifference.between(Checkin.day(@checkin.created_at.to_date).checkout.where(driver_cpf: @checkin.driver_cpf).last.created_at, Checkin.day(@checkin.created_at.to_date).finish.where(driver_cpf: @checkin.driver_cpf).last.created_at).humanize %></td>
          <% else %>
            <td>00:00</td>
          <% end %>
        </tr>

        <tr>
          <td>Tempo total da entrada até a saída</td>
          <% if Checkin.day(@checkin.created_at.to_date).input.where(driver_cpf: @checkin.driver_cpf).last.present? && Checkin.day(@checkin.created_at.to_date).checkout.where(driver_cpf: @checkin.driver_cpf).last.present?  %>
          <td><%= raw_date = TimeDifference.between(Checkin.day(@checkin.created_at.to_date).checkout.where(driver_cpf: @checkin.driver_cpf).last.created_at, Checkin.day(@checkin.created_at.to_date).input.where(driver_cpf: @checkin.driver_cpf).last.created_at).humanize %></td>
          <% else %>
            <td>00:00</td>
          <% end %>
        </tr>

    </tbody>
  </table>
</div>





<%#= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%#= link_to 'Back', checkins_path %>
