<%= form_for(@vehicle_restriction) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= hidden_field_tag "vehicle_id", @vehicle.id %>

  <div class="form-group">
    <%= label_tag :place, "Placa" %><br>
    <%= text_field_tag :place, @vehicle.placa, class: "form-control placa" %>
  </div>

  <div class="form-group">
    <%= f.label :motive_id, "Motivo" %><br>
    <%= f.select(:motive_id, options_for_select(VehicleRestriction.motive_ids.keys.to_a.map{ |w| [w.humanize, w] }), {include_blank: false}, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label :motive_observation, "Observacao" %><br>
    <%= f.text_area :motive_observation, class: "form-control" %>
  </div>

  <div id="vehicle_placa_result">

  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-blue" %>
    <%#= link_to "Exibir",  vehicle_path(@vehicle), class: "btn btn-info" if !@vehicle.new_record? %>
    <%#= link_to "Listar Todos", vehicles_path, class: "btn btn-default" %>
  </div>

<% end  %>
