<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>L7 Logistica | Dashboard v2</title>

</head>
<body>
  <div class="overlay"></div>
  <div class="header">
    <div class="left-side">
      <i class="fa fa-bars btn-open-sidebar-mobile yellow-icon"></i>
      <input type="checkbox" id="check-profile-modal">
      <label for="check-profile-modal">
        <div class="left-side">
          <div class="profile-pic"></div>
          <p class="profile-name"><%= current_user.name %></p>
        </div>
        
        <div class="profile-modal">
          <!--<a href="#">Alterar senha</a> -->
          <%= link_to "Alterar Senha", edit_user_path %>
        </div>
      </label>
    </div>

    <div class="right-side" data-behavior="notifications">
      <a class="dropdown-toggle nav-link" type="button" data-behavior='notifications-link' id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-bell notification" aria-hidden="true"></i>
        <span data-behavior="unread-count" ></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">

      </div>

      <%= link_to phones_path do %>
        <i class="fas fa-phone notification"></i>
      <% end %>

      <% if current_user.has_role? :admin %>
        <%= link_to company_path(Company.first) do %>
          <i class="far fa-building notification"></i>
        <% end %>
      <% end %>

      <%= link_to destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: "delete" do %>
        <i class="fas fa-sign-out-alt signout"></i>
      <% end %>

<!--
        <%#= link_to phones_path do %>
          <i class="fas fa-phone notification" data-behavior="notifications"></i>
        <%# end %>

        <%#= link_to company_path(Company.first) do %>
          <i class="far fa-building notification"></i>
        <%# end %>
        <i class="far fa-bell notification"></i>

        <%#= link_to destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: "delete" do %>
          <i class="fas fa-sign-out-alt signout"></i>

        <%# end %>
-->
    </div>

    <!-- <li class="nav-item btn-group" data-behavior="notifications">
      <a class="dropdown-toggle nav-link" type="button" data-behavior='notifications-link' id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell" aria-hidden="true"></i>
        <span data-behavior="unread-count" ></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">


      </div>
    </li> -->


  </div>

  <div class="sidebar">
    <div class="sidebar-logo" >
      <%= Company.first.fantasia%>
      <i class="fa fa-times yellow-icon btn-close-sidebar-mobile"></i>
      <input type="checkbox" id="check-toggle-sidebar">
      <label for="check-toggle-sidebar">
        <div class="btn-toggle-sidebar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </label>
    </div>
      <div class="sidebar-container">

        	<% if current_user.has_role? :admin %>
        	  <%= render 'layouts/sidebar_admin' %>
        	<% end %>

        	<%# if current_user.has_role? :visit %>
        	  <%#= render 'layouts/sidebar_visit' %>
        	<%# end %>

        	<%# if current_user.has_role? :agent %>
        	  <%#= render 'layouts/sidebar_agent' %>
        	<%# end %>

        	<%# if current_user.has_role? :oper %>
        	  <%#= render 'layouts/sidebar_oper' %>
        	<%# end %>

        	<%# if current_user.has_role? :port %>
        	  <%#= render 'layouts/sidebar_port' %>
        	<%# end %>

          <% if current_user.has_role? :sup %>
        	  <%= render 'layouts/sidebar_sup' %>
        	<% end %>


    </div>
  </div>

  <div class="content">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>


<script type="text/javascript">

const checkToggleSidebar = document.getElementById('check-toggle-sidebar');
const sidebar = document.querySelector('.sidebar');
const menuTexts = document.querySelectorAll('.menu-text');
const profileName = document.querySelector('.profile-name');
const header = document.querySelector('.header');
const hasLevels = document.querySelectorAll('.has-level');
const isActives = document.querySelectorAll('.-is-active');
const btnOpenSidebar = document.querySelector('.btn-open-sidebar-mobile');
const btnCloseSidebar = document.querySelector('.btn-close-sidebar-mobile');
const content = document.querySelector('.content');
const overlay = document.querySelector('.overlay');

checkToggleSidebar.addEventListener('change', function() {
    if (this.checked) {
        sidebar.classList.add('-is-collapsed');
        menuTexts.forEach(menuText => {
            menuText.classList.add('-w-sidebar-collapsed');
        });
        header.classList.add('-w-sidebar-collapsed');
        hasLevels.forEach(hasLevel => {
            hasLevel.classList.add('-w-sidebar-collapsed');
        });
        isActives.forEach(isActive => {
            isActive.classList.add('-w-sidebar-collapsed');
        });
        content.classList.add('-w-sidebar-collapsed');
    }
    else {
        sidebar.classList.remove('-is-collapsed');
        menuTexts.forEach(menuText => {
            menuText.classList.remove('-w-sidebar-collapsed');
        });
        header.classList.remove('-w-sidebar-collapsed');
        hasLevels.forEach(hasLevel => {
            hasLevel.classList.remove('-w-sidebar-collapsed');
        });
        isActives.forEach(isActive => {
            isActive.classList.remove('-w-sidebar-collapsed');
        });
        content.classList.remove('-w-sidebar-collapsed');
    }
});

hasLevels.forEach(hasLevel => {
    hasLevel.addEventListener('click', function() {
        const level = this.nextElementSibling;
        level.classList.toggle('-is-expanded');
        this.classList.toggle('-is-active');
    });
});

btnOpenSidebar.addEventListener('click', function() {
    sidebar.classList.add('-is-open-on-mobile');
    overlay.classList.add('-w-sidebar-open-on-mobile');
});

btnCloseSidebar.addEventListener('click', function() {
    sidebar.classList.remove('-is-open-on-mobile');
    overlay.classList.remove('-w-sidebar-open-on-mobile');
});

</script>



</body>
</html>
