<div class="sidebar-menu">
  <%= link_to dashboard_oper_path do %>
    <i class="fas fa-chart-pie"></i>
    <p class="menu-text">Dashboard</p>
  <% end %>

  <%= link_to oper_input_controls_path do %>
    <i class="fas fa-file-signature menu-icon"></i>
    <p class="menu-text">Entradas</p>
  <% end %>

  <%= link_to palletizings_path do %>
    <i class="fas fa-pallet"></i>
    <p class="menu-text">Paletização</p>
  <% end %>

  <%= link_to new_output_box_palletizing_pallets_path do %>
    <i class="fas fa-boxes"></i>>
    <p class="menu-text">Armazenar</p>
  <% end %>
  
  <%= link_to query_pallet_palletizing_pallets_path do %>
    <i class="fas fa-search"></i>
    <p class="menu-text">Consultar Palete</p>
  <% end %>


  <%= link_to oper_boardings_path do %>
    <i class="fas fa-truck menu-icon"></i>
    <p class="menu-text">Embarques</p>
  <% end %>

  <%= link_to destroy_user_session_path, method: "delete" do %>
    <i class="fas fa-sign-out-alt"></i>
    <p class="menu-text">Sair</p>
  <% end %>
</div>
