<!DOCTYPE html>
<html>
<head>
  <title><%= fantasy_title(yield(:title)) %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "sidebar" %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <%= favicon_link_tag 'favicon.ico' %>

  <%= csrf_meta_tags %>
</head>

<body>

<!--
  <div class="container">
     <%#= render 'layouts/menu' %>
     <%#=  %>
  </div>
-->

  <% if signed_in? %>
<div class="main-conteiner">
  <%= render 'layouts/sidebar' %>
  <div class="right-container">
    <%= render 'layouts/header' %>
    <%= render 'layouts/content' %>
  </div>
</div>

  <%= render 'layouts/footer' %>




  <% else %>

    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>

      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>

  <% end %>


</body>
</html>
